@model List<QolaMVC.Models.ActivityModel>


@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")

<style>

    .home-box {
        height: 250px;
        background: center center no-repeat;
        background-size: cover;
    }
</style>
<!-- START PAGE-CONTAINER -->
<div class="page-container">

    @RenderPage("~/Views/Shared/_NavBar.cshtml")
    <!-- START PAGE CONTENT WRAPPER -->
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <!-- START JUMBOTRON -->
            <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                <div class="container-fluid container-fixed-lg">
                    <!-- <div class="inner"> -->
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h3>Activity</h3>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <!-- END JUMBOTRON -->

            <div style="height: 60px;"></div>

            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg">
                <!-- BEGIN PlACE PAGE CONTENT HERE -->

                <div class="card">
                    <div class="card-block">

                        <div class="form-tabs mt-4">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    @*<a class="nav-link active" id="pills-active-tab" data-toggle="pill" href="#pills-active" role="tab" aria-controls="pills-active" aria-selected="true">Active User</a>*@
                                </li>


                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-active" role="tabpanel" aria-labelledby="pills-active-tab">

                                    <div class="row">
                                        <div class="col-md-6 py-4 text-left">
                                            <form class="form-inline">
                                                <div class="form-group pr-1">
                                                    <div class="input-group">
                                                        <select class="form-control">
                                                            <option>All fields</option>
                                                            <option>First Name</option>
                                                            <option>Last Name</option>
                                                            <option>Suite No</option>
                                                            <option>Emergency Contact</option>
                                                            <option>Physician</option>
                                                        </select>
                                                    </div>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="Search for">
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-danger">Search</button>
                                            </form>
                                        </div>
                                        <div class="col-md-6 py-4 text-right">
                                            <a class="btn btn-lg btn-primary" href="~/Master/AddActivity">Add New</a>
                                        </div>
                                    </div>

                                    @if (ViewBag.Message != null && ViewBag.Message != string.Empty)
                                    {
                                        <div class="alert alert-success" role="alert">
                                            <button class="close" data-dismiss="alert"></button>
                                            @ViewBag.Message
                                        </div>
                                    }

                                    <table class="table table-bordered">
                                        <thead class="bg-primary">
                                            <tr>
                                                <th class="text-white">S/N</th>
                                                <th class="text-white">Category</th>
                                                <th class="text-white">Activity</th>
                                                <th class="text-white">Activity (French)</th>
                                                <th class="text-white">Province</th>
                                                <th class="text-white">Edit</th>
                                                <th class="text-white">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{ int i = 1; }
                                            @{ foreach (var l_AC in Model)
                                                {
                                                    <tr>
                                                        <td class="align-middle">@i</td>
                                                        <td class="align-middle">@l_AC.Category.EnglishName</td>
                                                        <td class="align-middle">@l_AC.EnglishName</td>
                                                        <td class="align-middle">@l_AC.FrenchName</td>
                                                        <td class="align-middle">@l_AC.Province</td>
                                                        <td class="align-middle">
                                                            <a class="btn btn-success btn-xs" href="~/Master/EditActivity/?ActivityId=@l_AC.Id">
                                                                <i class="fa fa-pencil"></i>
                                                            </a>
                                                        </td>
                                                        <td class="align-middle">

                                                            <a class="btn btn-danger btn-xs" href="~/Master/DeleteActivity/?ActivityId=@l_AC.Id">
                                                                <i class="fa fa-trash-o"></i>
                                                            </a>
                                                        </td>
                                                    </tr>

                                                    i = i + 1;
                                                }
                                            }
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>


                <!-- END PLACE PAGE CONTENT HERE -->
            </div>
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->
