@model QolaMVC.Models.UserModel

@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")

<style>
    .form-tabs .nav-link {
        font-size: 1rem;
    }

    .modal-xlg {
        width: 900px !important;
        max-width: 1000px !important;
    }

    .required_sign {
        color: red;
    }
</style>
<style>
    .multiselect {
        width: 200px;
    }

    .selectBox {
        position: relative;
        height:5vh;
    }

    .selectBox select {
        width: 100%;

    }

    .overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        
    }

    #checkboxes {
        display: none;
        border: 1px #dadada solid;
        position: absolute;
        background-color: white;
        z-index: 100;
    }

    #checkboxes label {
        display: block;
        margin-bottom:0 !important;
    }

    #checkboxes label:hover {
        background-color: #1e90ff;
    }
</style>

<!-- START PAGE-CONTAINER -->
<div class="page-container">

    @RenderPage("~/Views/Shared/_NavBar.cshtml")

    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <!-- START JUMBOTRON -->
            <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                <div class="container-fluid container-fixed-lg">
                    <!-- <div class="inner"> -->
                    <div class="row align-items-center">
                        <div class="col-md-10">
                            @{
                                if (TempData["EDIT"].ToString() == "true")
                                {
                                    <h3>@QolaMVC.Resources.Text.EditUser</h3>
                                }
                                else
                                {
                                    <h3>@QolaMVC.Resources.Text.AddUser</h3>
                                }
                            }

                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-primary" onclick="location.href='@Url.Action("Users", "Master")'"><i class="fa fa-backward"></i> @QolaMVC.Resources.Text.Back_small</button>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <!-- END JUMBOTRON -->

            <div style="height: 60px;"></div>

            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg">
                <!-- BEGIN PlACE PAGE CONTENT HERE -->


                <div class="card">
                    <div class="card-block">

                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <form action="~/Master/AddUser" method="post">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="" class="col-form-label">@QolaMVC.Resources.Text.UserType<span class="required_sign">&nbsp;*</span></label>
                                                <select class="form-control" name="UserType" onchange="UserTypeChange(this.value)">
                                                    <option value="0">-- @QolaMVC.Resources.Text.UserType --</option>
                                                    @{
                                                        if (ViewBag.User.UserType == 1)
                                                        {
                                                            <option value="1">Head Office</option>
                                                        }
                                                    }

                                                    <option value="2">Regional Manager</option>
                                                    <option value="3">Executive Director</option>
                                                    <option value="13">Marketing Director</option>
                                                    <option value="9">Director of Care</option>
                                                    <option value="4">RN</option>
                                                    <option value="11">UCP</option>
                                                    <option value="12">HCA</option>
                                                    <option value="20">PSW</option>
                                                    <option value="15">LPN</option>
                                                    <option value="16">IAA</option>
                                                    <option value="17">IA</option>
                                                    <option value="18">RPN</option>
                                                    <option value="5">Doctor</option>
                                                    <option value="6">Activity Director</option>
                                                    <option value="14">Activity Aide</option>
                                                    <option value="7">Chef</option>
                                                    <option value="21">Regional Director of H&amp;W</option>
                                                    <option value="8">Pharmacy</option>
                                                    <option value="10">Study</option>
                                                    <option value="19">Service</option>
                                                    <option value="22">Reception</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="" class="col-form-label">@QolaMVC.Resources.Text.Home<span class="required_sign">&nbsp;*</span></label>
                                                <div class="multiselect" style="width:99%;">
                                                    <div class="selectBox" onclick="">
                                                        <select style="height: 5vh;">
                                                            <option>&nbsp;&nbsp;&nbsp;-- @QolaMVC.Resources.Text.Select --</option>
                                                        </select>
                                                        <div class="overSelect"></div>
                                                    </div>
                                                    <div id="checkboxes" style="min-width:50%;">
                                                        <label for="0"><input type="checkbox" id="0" value="0" class="ALL_check" />ALL</label>
                                                        <label for="15"><input type="checkbox" id="15" value="15" />Auburn Heights Retirement Residence</label>
                                                        <label for="5"><input type="checkbox" id="5" value="5" /> Laurel Heights Retirement Residence </label>
                                                        <label for="26"><input type="checkbox" id="26" value="26" />Lewis Estates</label>
                                                        <label for="35"><input type="checkbox" id="35" value="35" />Mactaggart Place Retirement Residence</label>
                                                        <label for="1"><input type="checkbox" id="1" value="1" /> Rutherford Heights Retirement Residence </label>
                                                        <label for="33"><input type="checkbox" id="33" value="33" />Sage Hill Retirement Residence</label>
                                                        <label for="31"><input type="checkbox" id="31" value="31" />St. Albert Retirement Residence</label>
                                                        <label for="3"><input type="checkbox" id="3" value="3" /> Summerwood Village Retirement Residence </label>
                                                        <label for="30"><input type="checkbox" id="30" value="30" />River Ridge 2 Retirement Residence</label>
                                                        <label for="4"><input type="checkbox" id="4" value="4" /> River Ridge Retirement Residence </label>
                                                        <label for="17"><input type="checkbox" id="17" value="17" />Seine River Retirement Residence</label>
                                                        <label for="6"><input type="checkbox" id="6" value="6" /> Shaftesbury Park Retirement Residence </label>
                                                        <label for="18"><input type="checkbox" id="18" value="18" />Sturgeon Creek I Retirement Residence</label>
                                                        <label for="13"><input type="checkbox" id="13" value="13" />Sturgeon Creek II Retirement Residence</label>
                                                        <label for="12"><input type="checkbox" id="12" value="12" />Victoria Landing Retirement Residence</label>
                                                        <label for="2"><input type="checkbox" id="2" value="2" /> Beacon Heights Retirement Residence </label>
                                                        <label for="7"><input type="checkbox" id="7" value="7" /> Cedarcroft Place Retirement Residence </label>
                                                        <label for="27"><input type="checkbox" id="27" value="27" />Chapel Hill Retirement Residence</label>
                                                        <label for="32"><input type="checkbox" id="32" value="32" />Cit&#233; Parkway Retirement Residence</label>
                                                        <label for="34"><input type="checkbox" id="34" value="34" />Eagleson Retirement Residence</label>
                                                        <label for="28"><input type="checkbox" id="28" value="28" />Mccarthy Place</label>
                                                        <label for="29"><input type="checkbox" id="29" value="29" />Sample</label>
                                                        <label for="16"><input type="checkbox" id="16" value="16" />College Park II Retirement Residence</label>
                                                        <label for="8"><input type="checkbox" id="8" value="8" /> College Park Retirement Residence </label>
                                                        <label for="14"><input type="checkbox" id="14" value="14" />Preston Park II Retirement Residence</label>
                                                        <label for="11"><input type="checkbox" id="11" value="11" />Preston Park Retirement Residence</label>
                                                        <label for="20"><input type="checkbox" id="20" value="20" />465, Boulevard De La Gappe</label>
                                                        <label for="21"><input type="checkbox" id="21" value="21" />475 Boulevard De La Gappe</label>
                                                        <label for="22"><input type="checkbox" id="22" value="22" />485 Boulevard De La Gappe</label>
                                                        <label for="23"><input type="checkbox" id="23" value="23" />495 Boulevard De La Gappe</label>
                                                        <label for="19"><input type="checkbox" id="19" value="19" />Chateau Symmes Retirement Residence</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="" class="col-form-label">@QolaMVC.Resources.Text.FirstName<span class="required_sign">&nbsp;*</span></label>
                                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="" class="col-form-label">@QolaMVC.Resources.Text.LastName<span class="required_sign">&nbsp;*</span></label>
                                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="" class="col-form-label">@QolaMVC.Resources.Text.UserName</label>
                                                <input class="form-control" id="username_fake" name="UserName" style="color:black;display:none;" type="text" value="">
                                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", style = "color:black;" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="" class="col-form-label">@QolaMVC.Resources.Text.Password<span class="required_sign">&nbsp;*</span></label>
                                                <input class="form-control" id="password_fake" name="Password" type="password" style="display:none;">
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="" class="col-form-label">@QolaMVC.Resources.Text.Address</label>
                                                @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="" class="col-form-label">@QolaMVC.Resources.Text.City</label>
                                                @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="" class="col-form-label">@QolaMVC.Resources.Text.PostalCode</label>
                                                @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="" class="col-form-label">@QolaMVC.Resources.Text.Province</label>
                                                <select class="form-control" name="Province">
                                                    <option value="0">-- @QolaMVC.Resources.Text.Select --</option>
                                                    <option value="Alberta">Alberta</option>
                                                    <option value="British Columbia">British Columbia</option>
                                                    <option value="Manitoba">Manitoba</option>
                                                    <option value="New Brunswick">New Brunswick</option>
                                                    <option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
                                                    <option value="Northwest Territories">Northwest Territories</option>
                                                    <option value="Nova Scotia">Nova Scotia</option>
                                                    <option value="Nunavut">Nunavut</option>
                                                    <option value="Ontario">Ontario</option>
                                                    <option value="Prince Edward Island">Prince Edward Island</option>
                                                    <option value="Saskatchewan">Saskatchewan</option>
                                                    <option value="Yukon">Yukon</option>
                                                    <option value="Quebec">Quebec</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="" class="col-form-label">@QolaMVC.Resources.Text.Country</label>
                                                @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label for="" class="col-form-label">@QolaMVC.Resources.Text.Phone_work</label>
                                                        @Html.TextBoxFor(m => m.WorkPhone, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="" class="col-form-label">@QolaMVC.Resources.Text.Ext</label>
                                                        @Html.TextBoxFor(m => m.Ext, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="" class="col-form-label">@QolaMVC.Resources.Text.Phone_home</label>
                                                @Html.TextBoxFor(m => m.HomePhone, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="" class="col-form-label">@QolaMVC.Resources.Text.Phone_mobile</label>
                                                @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="" class="col-form-label">@QolaMVC.Resources.Text.EMail</label>
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-check form-check-inline" style="margin-left: 20px;">
                                                <input class="form-check-input" type="checkbox" checked="checked" name="Status" value="true">
                                                <label class="form-check-label" for="inlineCheckbox1">@QolaMVC.Resources.Text.Active</label>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            @{
                                                if (TempData["EDIT"].ToString() == "true")
                                                {
                                                    <input type="submit" value="@QolaMVC.Resources.Text.Update_big" class="btn btn-danger btn-lg" />
                                                }
                                                else
                                                {
                                                    <input type="submit" value="@QolaMVC.Resources.Text.Save_big" class="btn btn-danger btn-lg" />
                                                }
                                            }
                                            <input type="reset" value="@QolaMVC.Resources.Text.Clear_big" class="btn btn-danger btn-lg" />

                                        </div>
                                    </div>

                                    <input type="hidden" name="Home" id="model_home" value="@Model.Home" />
                                    <input type="hidden" id="model_status" value="@Model.Status" />
                                    <input type="hidden" id="model_UserType" value="@Model.UserType" />
                                    <input type="hidden" id="model_province" value="@Model.Province" />
                                    <input type="hidden" name="ID" id="model_id" value="@Model.ID" />
                                    <input type="hidden" id="EDIT_INDEX" value="@TempData["EDIT"]" />
                                    <input type="hidden" id="sameuname" value="@TempData["sameuname"]" />
                                    <input type="hidden" id="userhome" value="@ViewBag.User.Home" />
                                </form>
                            </div>
                        </div>

                    </div>
                </div>


                <!-- END PLACE PAGE CONTENT HERE -->
            </div>
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->
        @RenderPage("~/Views/Shared/_Footer.cshtml")

<script>

    var home = $('#model_home').val();
    if (home.trim().substring(0,1)=="0") {
        var first = $('#checkboxes label input:first');
        first[0].checked = true;
    }
    else {
        var homesep = home.split(",");
        for (var ind = 0; ind < homesep.length; ind++) {
            if (homesep[ind].trim() != "") {
                var qq = $('input[value=' + homesep[ind] + ']');
                qq[0].checked = true;
            }
        }
    }
    var status = $('#model_status').val();
    if (status == "I") {
        var statusinput = $('input[name="Status"]');
        statusinput[0].checked = false;
    }
    var usertype = $('#model_UserType').val();    
    var choose = $('select[name="UserType"] option[value="' + usertype + '"]')
    if (choose[0] != undefined) {
        choose[0].selected = true;
    }
    var province = $('#model_province').val();
    var choose = $('select[name="Province"] option[value="' + province + '"]')
    if (choose[0] != undefined) {
        choose[0].selected = true;
    }
    

    var EDIT_INDEX = $('#EDIT_INDEX').val();
    if (EDIT_INDEX == "true") {
        var pass = $('input[name="Password"]');
        pass[0].disabled = true;
    }

    if ($('#sameuname').val() == "true") {
        tempAlert("UserName Duplicate",2000)
    }

    $('#FirstName').change(function () {
        var first = $('#FirstName').val();
        var last = $('#LastName').val();
        if (last != "") {
            $('#UserName').val(first.toLowerCase().substring(0, 1) + last.toLowerCase());
        }
    });
    $('#LastName').change(function () {
        var first = $('#FirstName').val();
        var last = $('#LastName').val();
        if (first != "") {
            $('#UserName').val(first.toLowerCase().substring(0, 1) + last.toLowerCase());
        }
    });

    var homesplit = $('#userhome').val().split(',');
    if (homesplit[0] != "0") {
        $('#checkboxes label').hide();
        for (var li = 0; li < homesplit.length; li++) {
            if (homesplit[li].trim() != "") {
                $('#checkboxes label[for="' + homesplit[li].trim()+'"]').show();
            }
        }
    }


    $('form').submit(function (event) {
        if (check_Alert() == true) {
            $('#username_fake').attr("name", "username2");
            $('#password_fake').attr("name", "password2");

            var homestring = "";
            $('#checkboxes label input').each(function () {
                if (this.checked == true) {
                    homestring = homestring + this.value + ",";
                }
            });
            if (homestring.substring(0, 1) == "0") {
                homestring="0"
            }
            $('#model_home').val(homestring);
            form = this;
            form.submit();
        }
        else {
            check_Alert();
            return false;
        }
    });

    function check_Alert() {
        var EDIT_INDEX = $('#EDIT_INDEX').val();
        var indicator = 0;
        var checks = $('#checkboxes label input');
        for (var gg = 0; gg < checks.length; gg++) {
            if (checks[gg].checked == true) {
                indicator = 1;
            }
        }
        if ($('select[name="UserType"]').val() == "0") {
            tempAlert("UserType Needed", 2000);
            return false;
        }
        else if ($('input[name="FirstName"]').val() == "") {
            tempAlert("FirstName Needed", 2000);
            return false;
        }
        else if ($('input[name="LastName"]').val() == "") {
            tempAlert("LastName Needed", 2000);
            return false;
        }
        else if ($('#UserName').val() == "") {
            tempAlert("UserName Needed", 2000);
            return false;
        }
        else if ($('input[name="Password"]:eq(1)').val() == "" && EDIT_INDEX != "true") {
            tempAlert("Password Needed", 2000);
            return false;

        }
        else if ($('input[name="Password"]:eq(1)').val().length < 5 && EDIT_INDEX != "true") {
            tempAlert("Password Too Short", 2000);
            return false;
        }
        else if (indicator == 0) {
            tempAlert("Home Needed", 2000);
            return false;
        }
        else {
            return true;
        }
    }

    var expanded = false;

    //function showCheckboxes() {
    //    var checkboxes = document.getElementById("checkboxes");
    //    if (!expanded) {
    //        checkboxes.style.display = "block";
    //        expanded = true;
    //    } else {
    //        checkboxes.style.display = "none";
    //        expanded = false;
    //    }
    //}

    function getoptionString() {
        var selectString = "";
        var moreStringNumber = 0;
        var boolString = 'true';
        $('#checkboxes label input').each(function () {
            if (this.checked == true) {
                if (boolString == 'true') {
                    var string = this.parentElement.innerText;
                    var index = string.indexOf(' ', string.indexOf(' ') + 1);
                    if (index > 0) {
                        selectString = string.substring(0, index);
                    }
                    else {
                        selectString = string;
                    }
                    boolString = 'false';

                }
                else {
                    moreStringNumber++;
                }
            }
        })
        if (selectString.trim() != '') {
            $('.selectBox select option:first').html('\xa0\xa0\xa0' + selectString.trim() + '\xa0\xa0\xa0\xa0\xa0 +' + moreStringNumber + ' more');
        }
        else {
            $('.selectBox select option:first').html('\xa0\xa0\xa0-- Select --');
        }
    }

    $(window).load(function () {

        getoptionString();
       
        var except = document.getElementsByClassName('selectBox');
        var except2 = document.getElementById('checkboxes');
        document.body.addEventListener("click", function () {
            if ($('#checkboxes').is(":visible") == true) {
                checkboxes.style.display = "none";
                getoptionString();
            } 
        }, false);
        except[0].addEventListener("click", function (ev) {
            
            if ($('#checkboxes').is(":visible")==false) {
                checkboxes.style.display = "block";
            } else {
                checkboxes.style.display = "none";
                getoptionString();
            }
            ev.stopPropagation(); 
            
        }, false);
        except2.addEventListener("click", function (ev) {

            ev.stopPropagation();

        }, false);

    });




    $('#checkboxes label input:first').change(function () {
        var checks = $('#checkboxes label input');
        if (checks[0].checked == true) {
            $('#checkboxes label input').each(function () {
                if (this.value != "0") {
                    this.checked = false;
                }
            });
        }
    });
    $('#checkboxes label input').change(function () {
        var checks = $('#checkboxes label input');
        for (var gg = 1; gg < checks.length; gg++) {
            if (checks[gg].checked == true) {
                checks[0].checked = false;
            }
        }
    });





    function UserTypeChange(ee) {
        if (ee == '1') {
            $('#checkboxes label:not(:first)').hide();
            $('#checkboxes label input:first').prop('checked', true);
            getoptionString();
        }
        else {
            var homesplit = $('#userhome').val().split(',');
            if (homesplit[0] != "0") {
                $('#checkboxes label').hide();
                for (var li = 0; li < homesplit.length; li++) {
                    if (homesplit[li].trim() != "") {
                        $('#checkboxes label[for="' + homesplit[li].trim() + '"]').show();
                    }
                }
            }
            else {
                $('#checkboxes label:not(:first)').show();
            }
            $('#checkboxes label input:first').prop('checked', false);
            getoptionString();
        }
    }


</script>