@model List<QolaMVC.Models.HomeModel>

@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")

<style>
    .form-tabs .nav-link {
        font-size: 1rem;
    }

    .modal-xlg {
        width: 900px !important;
        max-width: 1000px !important;
    }
</style>

<!-- START PAGE-CONTAINER -->
<div class="page-container">

    @RenderPage("~/Views/Shared/_NavBar.cshtml")
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <!-- START JUMBOTRON -->
            <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                <div class="container-fluid container-fixed-lg">
                    <!-- <div class="inner"> -->
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h3>Buildings</h3>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <!-- END JUMBOTRON -->

            <div style="height: 60px;"></div>

            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg">
                <!-- BEGIN PlACE PAGE CONTENT HERE -->

                <div class="card">
                    <div class="card-block">

                        <div class="form-tabs mt-4">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-active" role="tabpanel" aria-labelledby="pills-active-tab">

                                    <div class="row">
                                        <div class="col-md-10 py-4 text-left">
                                            <form class="form-inline">
                                                <div class="form-group pr-1">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="exampleInputAmount1" placeholder="Search for">
                                                    </div>
                                                </div>
                                                <button type="button" class="btn btn-danger" onclick="search_func()">Search</button>
                                            </form>
                                        </div>
                                        <div class="col-md-2 py-4 text-right">
                                            <a class="btn btn-lg btn-primary" href="~/Master/AddBuildings">Add New</a>
                                        </div>
                                    </div>

                                    <table class="table table-bordered">
                                        <thead class="bg-primary">
                                            <tr>
                                                <th class="text-white">Province</th>
                                                <th class="text-white">Name</th>
                                                <th class="text-white">Code</th>
                                                <th class="text-white">Address</th>
                                                <th class="text-white">City</th>
                                                <th class="text-white"># of Suites</th>
                                                <th class="text-white">Edit</th>
                                                <th class="text-white">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                for (var ind = 0; ind < Model.Count(); ind++)
                                                {     
                                                    <tr>
                                                        <td class="align-middle">@Model[ind].Province.Name</td>
                                                        <td class="align-middle">@Model[ind].Name</td>
                                                        <td class="align-middle">@Model[ind].Code</td>
                                                        <td class="align-middle">@Model[ind].Address</td>
                                                        <td class="align-middle">@Model[ind].City</td>
                                                        <td class="align-middle">@Model[ind].NumberOfSuites</td>
                                                        <td class="align-middle">
                                                            <button class="btn btn-default btn-xs" onclick="location.href='@Url.Action("EditBuildings", "Master",new { homeid = Model[ind].Id  })'">
                                                                <i class="fa fa-pencil"></i>
                                                            </button>
                                                        </td>
                                                        <td class="align-middle">
                                                            <button class="btn btn-danger btn-xs" onclick="delete_home(@Model[ind].Id,'@Model[ind].Name')">
                                                                <i class="fa fa-trash-o"></i>
                                                            </button>
                                                        </td>
                                                    </tr>       
                                                }
                                            }
                                        </tbody>
                                    </table>

                                </div>
                                
                            </div>
                        </div>









                    </div>
                </div>


                <!-- END PLACE PAGE CONTENT HERE -->
            </div>
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->
        @RenderPage("~/Views/Shared/_Footer.cshtml")


        <script>

            function delete_home(ee,qq) {
                if (confirm("Are You Sure About Delete Home: \n\n" + qq) == true) {
                    $.get("/Master/DeleteBuildings", { homeid: ee }, function (data) {
                        if (data == 1) {
                            tempAlert("Home Delete", 2000);
                            setTimeout(function () { location.reload(); }, 2000);
                        }
                        else {
                            tempAlert("Home Delete Failed", 2000);
                        }

                    });
                }
            }

            function search_func() {
                var str = $('#exampleInputAmount1').val();
                window.location.href = "/Master/Buildings?str=" + str;
            }

        </script>


