
@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")
<style>

    .form-tabs .nav-link {
        font-size: 1rem;
    }

    .modal-xlg {
        width: 900px !important;
        max-width: 1000px !important;
    }
</style>
<!-- START PAGE-CONTAINER -->
<div class="page-container">

    @RenderPage("~/Views/Shared/_NavBar.cshtml")

    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <!-- START JUMBOTRON -->
            <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                <div class="container-fluid container-fixed-lg">
                    <!-- <div class="inner"> -->
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h3>@QolaMVC.Resources.Text.ChangePassword</h3>
                        </div>


                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <!-- END JUMBOTRON -->

            <div style="height: 60px;"></div>

            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg">
                <!-- BEGIN PlACE PAGE CONTENT HERE -->


                <div class="card">
                    <div class="card-block">

                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                @*@using (Html.BeginForm("ChangePassword_Save", "Master", new { p_ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "p-t-15", @role = "form" }))*@
                                
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    <div class="row">

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="staticEmail" class="col-form-label" style="font-size:1.2vw;">@QolaMVC.Resources.Text.UserName :</label>
                                                <label style="font-size:1.2vw;">@ViewBag.user.UserName</label>
                                                @*@Html.ValidationMessageFor(m => m.Home, null, new { @style = "color: red; font-style: italic;" })*@
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="staticEmail" class="col-form-label">@QolaMVC.Resources.Text.OldPassword*</label>
                                                <input type="password" name="OldPassword" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="staticEmail" class="col-form-label">@QolaMVC.Resources.Text.NewPassword*</label>
                                                <input type="password" name="Password1" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="staticEmail" class="col-form-label">@QolaMVC.Resources.Text.ConfirmNewPassword*</label>
                                                <input type="password" name="Password2" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-danger btn-lg" onclick="ChangePassword_Save()">@QolaMVC.Resources.Text.Save_big</button>
                                            <input type="reset" class="btn btn-primary btn-lg" value="@QolaMVC.Resources.Text.Clear_big">
                                            <input type="hidden" id="hiddenid"  value="@ViewBag.user.ID">
                                        </div>
                                    </div>
                                
                            </div>
                        </div>

                    </div>
                </div>


                <!-- END PLACE PAGE CONTENT HERE -->
            </div>
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->




        @RenderPage("~/Views/Shared/_Footer.cshtml")
        <script>
            function ChangePassword_Save() {
                var OldPassword = $('input[name="OldPassword"]').val();
                var Password1 = $('input[name="Password1"]').val();
                var Password2 = $('input[name="Password2"]').val();
                var hiddenid = $('#hiddenid').val();
                if (OldPassword == "") {
                    tempAlert("Old Password Needed", 2000);
                }
                else if (Password1 != Password2) {
                    tempAlert("New Password not Match", 2000);
                }
                else if (Password1.length < 5 || Password2.length < 5) {
                    tempAlert("Password too short", 2000);
                }
                else {
                    $.get("/Master/ChangePassword_Save/", { userid: hiddenid, old: OldPassword, new1: Password1, new2: Password2 }, function (data) {
                        if (data == 1) {
                            tempAlert("PassWord Update", 2000);
                            setTimeout(function () { window.location.href = "/Home/Index"; }, 2000);
                        }
                        else {
                            tempAlert("Wrong PassWord", 2000);
                        }

                    });
                }

                

            }

        </script>