@model IEnumerable<QolaMVC.Models.BowelMovementModel>
@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")

<style>
    .form-tabs .nav-link {
        font-size: 1rem;
    }

    .modal-xlg {
        width: 900px !important;
        max-width: 1000px !important;
    }
    #bigtable tbody tr td{
        padding:10px 20px 10px 20px !important;
    }
</style>

<!-- START PAGE-CONTAINER -->
<div class="page-container">

    @RenderPage("~/Views/Shared/_NavBar.cshtml")

    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <!-- START JUMBOTRON -->
            <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                <div class="container-fluid container-fixed-lg">
                    <!-- <div class="inner"> -->
                    <div class="row align-items-center">
                        <div class="col-md-9">
                            <h3>Bowel Movement Tracking Report</h3>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary" onclick="location.href='/Assessments/BowelMovement'">BACK</button>
                            <button class="btn btn-danger print" id="BM_PRINT">PRINT</button>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <!-- END JUMBOTRON -->

            <div style="height: 60px;"></div>


            <br>
            <input type="hidden" value="bowelmovementreport" name="" class="filename">

            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg" id="fromHTMLtestdiv">
                <!-- BEGIN PlACE PAGE CONTENT HERE -->

                <div class="card">
                    <div class="card-block">

                        <br>
                        <div class="row" id="BM_firstrow">
                            <div class="col-md-4">
                                <img src="/Content/assets/img/QOLA_Support_rgb.png" style="width: 80px; margin-right: 40px">
                                <img src="/Content/assets/img/logo (2).png" style="width: 120px;">
                            </div>
                            <div class="col-md-8 tableBorder">

                                <div class="row">
                                    <h5 style="font-weight:bold;padding-left:20px;margin-top:18px;">Building Name:  @ViewBag.Home.Name</h5>
                                </div>

                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-md-5 col-form-label">Residents's Name</label>
                                    <div class="col-md-7">
                                        <label class="form-control" id="staticEmail">@ViewBag.Resident.FirstName @ViewBag.Resident.LastName </label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-md-5 col-form-label">Month <span id="toselect">to Select</span></label>
                                    <div class="col-md-7">
                                        <select class="form-control" name="AssessmentDate" id="selectdate" onchange="formsubmit(this)">

                                            @if (ViewBag.DatetimeList != null)
                                            {
                                                for (var ind = 0; ind < ViewBag.DatetimeList.Count; ind++)
                                                {
                                                    <option value=@(ViewBag.DatetimeList[ind])>@(ViewBag.DatetimeList[ind])</option>
                                                }
                                            }
                                            else
                                            {
                                                <option value=""></option>
                                            }

                                        </select>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-md-5 col-form-label text-center">Suite</label>
                                    <div class="col-md-7">
                                        <label class="form-control" id="staticEmail">@ViewBag.Resident.SuiteNo </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <h3><b>Bowel Movement Tracking</b></h3>
                            </div>

                        </div>

                        <table class="table table-bordered" id="bigtable">
                            <thead class="">
                                <tr>
                                    <th class="text-center colorBlack">DATE</th>
                                    <th class="text-center colorBlack" colspan="3">Days</th>
                                    <th class="text-center colorBlack" colspan="3">EVENING</th>
                                    <th class="text-center colorBlack" colspan="3">NIGHT</th>
                                    <th class="text-center colorBlack">FOLLOW UP</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="align-middle"></td>
                                    <td class="align-middle colorBlack">Type</td>
                                    <td class="align-middle colorBlack">Observe by</td>
                                    <td class="align-middle colorBlack">Initails</td>
                                    <td class="align-middle colorBlack">Type</td>
                                    <td class="align-middle colorBlack">Observe by</td>
                                    <td class="align-middle colorBlack">Initails</td>
                                    <td class="align-middle colorBlack">Type</td>
                                    <td class="align-middle colorBlack">Observe by</td>
                                    <td class="align-middle colorBlack">Initails</td>
                                    <td class="align-middle"></td>
                                </tr>
                                @{
                                    List<string> _Done = new List<string>();
                                }




                                @{
                                    if (TempData["index"] != null && TempData["index"].ToString() != "")
                                    {
                                        var a = TempData["index"].ToString();
                                        DateTime YearMonth = DateTime.Parse(a);
                                        var firstDayOfMonth = new DateTime(YearMonth.Year, YearMonth.Month, 1);
                                        var lastDayOfMonth = firstDayOfMonth.AddMonths(1).AddDays(-1);
                                        for (var li = firstDayOfMonth; firstDayOfMonth <= lastDayOfMonth; firstDayOfMonth = firstDayOfMonth.AddDays(1))
                                        {
                                            <tr>
                                                <td class="align-middle">@firstDayOfMonth.ToString("yyyy-MM-dd")</td>
                                                @{
                                                    var yearstr = firstDayOfMonth.Year.ToString();
                                                    var monthstr = firstDayOfMonth.Month.ToString();
                                                    var daystr = firstDayOfMonth.Day.ToString();
                                                    if (@Model.Where(c => c.Period == "Days" && c.TimeStamp.Year.ToString() == yearstr && c.TimeStamp.Month.ToString() == monthstr && c.TimeStamp.Day.ToString() == daystr).Count() >= 1)
                                                    {
                                                        <td class="align-middle colorBlack">@Model.Where(c => c.Period == "Days" && c.TimeStamp.Year.ToString() == yearstr && c.TimeStamp.Month.ToString() == monthstr && c.TimeStamp.Day.ToString() == daystr).FirstOrDefault().Type</td>
                                                        <td class="align-middle colorBlack">@Model.Where(c => c.Period == "Days" && c.TimeStamp.Year.ToString() == yearstr && c.TimeStamp.Month.ToString() == monthstr && c.TimeStamp.Day.ToString() == daystr).FirstOrDefault().ObservedBy</td>
                                                        <td class="align-middle colorBlack">@Model.Where(c => c.Period == "Days" && c.TimeStamp.Year.ToString() == yearstr && c.TimeStamp.Month.ToString() == monthstr && c.TimeStamp.Day.ToString() == daystr).FirstOrDefault().Initials</td>
                                                    }

                                                    else
                                                    {
                                                        <td class="align-middle"></td>
                                                        <td class="align-middle"></td>
                                                        <td class="align-middle"></td>
                                                    }


                                                    if (@Model.Where(c => c.Period == "Evening" && c.TimeStamp.Year.ToString() == yearstr && c.TimeStamp.Month.ToString() == monthstr && c.TimeStamp.Day.ToString() == daystr).Count() >= 1)
                                                    {
                                                        <td class="align-middle colorBlack">@Model.Where(c => c.Period == "Evening" && c.TimeStamp.Year.ToString() == yearstr && c.TimeStamp.Month.ToString() == monthstr && c.TimeStamp.Day.ToString() == daystr).FirstOrDefault().Type</td>
                                                        <td class="align-middle colorBlack">@Model.Where(c => c.Period == "Evening" && c.TimeStamp.Year.ToString() == yearstr && c.TimeStamp.Month.ToString() == monthstr && c.TimeStamp.Day.ToString() == daystr).FirstOrDefault().ObservedBy</td>
                                                        <td class="align-middle colorBlack">@Model.Where(c => c.Period == "Evening" && c.TimeStamp.Year.ToString() == yearstr && c.TimeStamp.Month.ToString() == monthstr && c.TimeStamp.Day.ToString() == daystr).FirstOrDefault().Initials</td>
                                                    }
                                                    else
                                                    {
                                                        <td class="align-middle"></td>
                                                        <td class="align-middle"></td>
                                                        <td class="align-middle"></td>
                                                    }


                                                    if (@Model.Where(c => c.Period == "Night" && c.TimeStamp.Year.ToString() == yearstr && c.TimeStamp.Month.ToString() == monthstr && c.TimeStamp.Day.ToString() == daystr).Count() >= 1)
                                                    {
                                                        <td class="align-middle colorBlack">@Model.Where(c => c.Period == "Night" && c.TimeStamp.Year.ToString() == yearstr && c.TimeStamp.Month.ToString() == monthstr && c.TimeStamp.Day.ToString() == daystr).FirstOrDefault().Type</td>
                                                        <td class="align-middle colorBlack">@Model.Where(c => c.Period == "Night" && c.TimeStamp.Year.ToString() == yearstr && c.TimeStamp.Month.ToString() == monthstr && c.TimeStamp.Day.ToString() == daystr).FirstOrDefault().ObservedBy</td>
                                                        <td class="align-middle colorBlack">@Model.Where(c => c.Period == "Night" && c.TimeStamp.Year.ToString() == yearstr && c.TimeStamp.Month.ToString() == monthstr && c.TimeStamp.Day.ToString() == daystr).FirstOrDefault().Initials</td>
                                                    }
                                                    else
                                                    {
                                                        <td class="align-middle"></td>
                                                        <td class="align-middle"></td>
                                                        <td class="align-middle"></td>
                                                    }
                                                }
                                                <td class="align-middle"></td>
                                            </tr>
                                        }
                                    }



                                }
                            </tbody>
                        </table>
                        <br>
                        <table class="table table-bordered">
                            <thead class="">
                                <tr>
                                    <th class="text-center colorBlack">NAME</th>
                                    <th class="text-center colorBlack">Signature</th>
                                    <th class="text-center colorBlack">Initials</th>
                                    <th class="text-center colorBlack">Designation</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < 4; i++)
                                {
                                    int j = i + 1;

                                    <tr>
                                        <td class="align-middle"></td>
                                        <td class="align-middle"></td>
                                        <td class="align-middle"></td>
                                        <td class="align-middle"></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @{
                            if (TempData["index"] != null){
                                <input id="hiddeninput1" type="hidden" value="@TempData["index"]" />
                            }
                            else{
                                <input id="hiddeninput1" type="hidden" value="" />
                            }
                        }

                    </div>
                </div>


                <!-- END PLACE PAGE CONTENT HERE -->
            </div>
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->

        @RenderPage("~/Views/Shared/_Footer.cshtml")


        <script>
            var index_date = $('#hiddeninput1').val();
            $('#selectdate').val(index_date);

            function formsubmit(ee) {
                var index = $('#selectdate').val();
                if (window.location.href.includes("?")) {
                    var question_location = window.location.href.indexOf('?');
                    window.location.href = window.location.href.substring(0, question_location) + '?index=' + index;
                }
                else {
                    window.location.href = window.location.href + "?index=" + index;
                }

            }

        </script>
