@model List<QolaMVC.Models.DietaryAllergyReportModel>

@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")
<style>

    .form-tabs .nav-link {
        font-size: 1rem;
    }

    .modal-xlg {
        width: 900px !important;
        max-width: 1000px !important;
    }
</style>
<!-- START PAGE-CONTAINER -->
<div class="page-container">

    @RenderPage("~/Views/Shared/_NavBar.cshtml")

    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <!-- START JUMBOTRON -->
            <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                <div class="container-fluid container-fixed-lg">
                    <!-- <div class="inner"> -->
                    <div class="row align-items-center">
                        <div class="col-md-9">
                            <h3>Allergy</h3>
                        </div>
                        <div class="col-md-3">
                            <a href="/HomeReports/" class="btn btn-primary"><i class="fa fa-backward"></i> Back</a>
                            <button class="btn btn-danger" onclick="Print_PDF_Click()"><i class="fa fa-file-pdf-o"></i> Print</button>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <!-- END JUMBOTRON -->

            <div style="height: 60px;"></div>

            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg">
                <!-- BEGIN PlACE PAGE CONTENT HERE -->
                <div class="row">
                    <div class="col-md-8 py-4 text-left">
                        <div class="form-inline">
                            <div class="input-group">
                                <label>&nbsp;Sort By:&nbsp;</label>
                                <select id="SortById" class="form-control">
                                    <option value="1">Suite No</option>
                                    <option value="2">Name</option>
                                    <option value="3">Assessed Date</option>
                                </select>
                            </div>
                            <div class="input-group">
                                <label>&nbsp;HighLight:&nbsp;</label>
                                <input id="HighLightId" class="form-control" value="" />
                            </div>
                            <div class="input-group">
                                <label>&nbsp;Search By:&nbsp;</label>
                                <input id="SearchById" class="form-control" value="" />
                            </div>
                            <button id="View_Button" type="button" class="btn btn-primary" style="margin-left:1%;" onclick="View_Button_Click()">View</button>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-block">
                        <table class="table table-bordered">
                            <thead class="bg-primary">
                                <tr>
                                    <th class="text-white" style="width:10%;">Suite</th>
                                    <th class="text-white" style="width:20%;">Resident Name</th>
                                    <th class="text-white" style="width:10%;">Assessed Date</th>
                                    <th class="text-white" style="width:20%;">Allergy Name</th>
                                    <th class="text-white">Notes</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyID">
                                @for (int m = 0; m < Model.Count(); m++)
                                {

                                    if (m >= 1 && Model[m].ResidentId == Model[m - 1].ResidentId)
                                    {
                                        <tr>
                                            <td class="align-middle"></td>
                                            <td class="align-middle"></td>
                                            <td class="align-middle"></td>
                                            <td class="align-middle">@Model[m].Allergy</td>
                                            <td class="align-middle">@Model[m].Note</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        if (m + 1 < Model.Count() && Model[m].ResidentId == Model[m + 1].ResidentId)
                                        {
                                            <tr>
                                                <td class="align-middle" style="border-bottom:none">@Model[m].SuiteNo</td>
                                                <td class="align-middle" style="border-bottom:none">@Model[m].ResidentName</td>
                                                <td class="align-middle" style="border-bottom:none">@Model[m].DateEntered.ToString("yyyy-MM-dd")</td>
                                                <td class="align-middle">@Model[m].Allergy</td>
                                                <td class="align-middle">@Model[m].Note</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td class="align-middle">@Model[m].SuiteNo</td>
                                                <td class="align-middle">@Model[m].ResidentName</td>
                                                <td class="align-middle">@Model[m].DateEntered.ToString("yyyy-MM-dd")</td>
                                                <td class="align-middle">@Model[m].Allergy</td>
                                                <td class="align-middle">@Model[m].Note</td>
                                            </tr>
                                        }

                                    }



                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <input type="hidden" id="SortHidden" value="1" />
                <input type="hidden" id="HighLightHidden" value="" />
                <input type="hidden" id="SearchHidden" value="" />
                <input type="hidden" id="HomeIDHidden" value="@ViewBag.Home.Id" />

                <!-- END PLACE PAGE CONTENT HERE -->
            </div>
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->


        @RenderPage("~/Views/Shared/_Footer.cshtml")

<script>

    function View_Button_Click() {
        var SortById = $('#SortById').val();
        var HighLightId = $('#HighLightId').val();
        var SearchById = $('#SearchById').val();
        $.ajax({
            type: "GET",
            url: "/Reports/DietAllergyReport_RefreshPage",
            data: { SortBy: SortById, HighLight: HighLightId, SearchBy: SearchById },
            success: function (data) {
                $('#SortHidden').val(SortById);
                $('#SearchHidden').val(SearchById);
                $('#tbodyID').empty();
                for (var i = 0; i < data.length; i++) {
                    if (i >= 1 && data[i][6].Value == data[i - 1][6].Value) {
                        $('#tbodyID').append('<tr>' +
                            '<td class="align-middle"></td>' +
                            '<td class="align-middle"></td>' +
                            '<td class="align-middle"></td>' +
                            '<td class="align-middle">' + data[i][3].Value + '</td>' +
                            '<td class="align-middle">' + data[i][4].Value + '</td>' +
                            '</tr>');
                    }
                    else {
                        if (i + 1 < data.length && data[i][6].Value == data[i + 1][6].Value) {
                            $('#tbodyID').append('<tr>' +
                                '<td class="align-middle" style="border-bottom:none">' + data[i][0].Value + '</td>' +
                                '<td class="align-middle" style="border-bottom:none">' + data[i][1].Value + '</td>' +
                                '<td class="align-middle" style="border-bottom:none">' + data[i][2].Value + '</td>' +
                                '<td class="align-middle">' + data[i][3].Value + '</td>' +
                                '<td class="align-middle">' + data[i][4].Value + '</td>' +
                                '</tr>');
                        }
                        else {
                            $('#tbodyID').append('<tr>' +
                                '<td class="align-middle">' + data[i][0].Value + '</td>' +
                                '<td class="align-middle">' + data[i][1].Value + '</td>' +
                                '<td class="align-middle">' + data[i][2].Value + '</td>' +
                                '<td class="align-middle">' + data[i][3].Value + '</td>' +
                                '<td class="align-middle">' + data[i][4].Value + '</td>' +
                                '</tr>');
                        }
                    }




                }
            },
            error: function (error) {
                tempAlert('failed', 2000);
            }
        })
    }

    function Print_PDF_Click() {
        var HomeIDHidden = $('#HomeIDHidden').val();
        var SortHidden = $('#SortHidden').val();
        var SearchHidden = $('#SearchHidden').val();
        location.href = "/PDF/DietAllergyReport/?p_HomeId=" + HomeIDHidden + "&sortby=" + SortHidden + "&searchby=" + SearchHidden;
    }
</script>