@model IEnumerable<QolaMVC.Models.BowelMovementModel>
@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")

<style>
    .form-tabs .nav-link {
        font-size: 1rem;
    }

    .modal-xlg {
        width: 900px !important;
        max-width: 1000px !important;
    }
</style>

<!-- START PAGE-CONTAINER -->
<div class="page-container">

    @RenderPage("~/Views/Shared/_NavBar.cshtml")
    
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <!-- START JUMBOTRON -->
            <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                <div class="container-fluid container-fixed-lg">
                    <!-- <div class="inner"> -->
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h3>Exercise Activity Report</h3>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <!-- END JUMBOTRON -->

            <div style="height: 60px;"></div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-default print">PRINT</button>
                    </div>
                </div>
            </div>
            <br>
            <input type="hidden" value="exerciseactivityreport" name="" class="filename">

            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg" id="fromHTMLtestdiv">
                <!-- BEGIN PlACE PAGE CONTENT HERE -->

                <div class="card">
                    <div class="card-block">

                        <div class="row">
                            <div class="col-md-12">
                                <img src="~/Content/assets/img/ahs.png" class="img-responsive">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <table class="table table-bordered">
                                    <thead class="">
                                        <tr>
                                            <th class="colorBlack text-center"></th>
                                            <th class="colorBlack text-center">Baseline</td>
                                            <th class="colorBlack text-center">3 Month</td>
                                            <th class="colorBlack text-center">6 Month</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Date</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>TUG</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>VPS</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h5><b>Using a check mark, indicate the exercises the client completes for each day</b></h5>
                            </div>

                        </div>
                        <table class="table table-bordered">
                            <thead class="">
                                <tr>
                                    <th class="colorBlack text-center">Exercise</th>
                                    <th class="colorBlack text-center">Sunday</th>
                                    <th class="colorBlack text-center">Monday</th>
                                    <th class="colorBlack text-center">Tuesday</th>
                                    <th class="colorBlack text-center">Wednessday</th>
                                    <th class="colorBlack text-center">Thursday</th>
                                    <th class="colorBlack text-center">Friday</th>
                                    <th class="colorBlack text-center">Saturday</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{

                                var exercises = new string[] { "Walking", "Wall Push-ups", "Rise Up on toes", "Toe Taps", "Seat Walk", "Get up from chair", "Leg Lift", "Reaching", "Standing Stretch", "Seated Stretch" };
                                int i = 0;
                                foreach (var excercise in exercises)
                                {
                                    i = i + 1;


                                    <tr>
                                        <td class="align-middle">@i . @excercise</td>
                                        <td class="align-middle"></td>
                                        <td class="align-middle"></td>
                                        <td class="align-middle"></td>
                                        <td class="align-middle"></td>
                                        <td class="align-middle"></td>
                                        <td class="align-middle"></td>
                                        <td class="align-middle"></td>
                                    </tr>

                            }
                                }
                            </tbody>
                            <thead class="">
                                <tr>
                                    <th class="colorBlack text-center">Exercise</th>
                                    <th class="colorBlack text-center">Sunday</th>
                                    <th class="colorBlack text-center">Monday</th>
                                    <th class="colorBlack text-center">Tuesday</th>
                                    <th class="colorBlack text-center">Wednessday</th>
                                    <th class="colorBlack text-center">Thursday</th>
                                    <th class="colorBlack text-center">Friday</th>
                                    <th class="colorBlack text-center">Saturday</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                i = 0;
                                foreach (var excercise in exercises)
                                {
                                    i = i + 1;


                                    <tr>
                                        <td class="align-middle">@i . @excercise</td>
                                        <td class="align-middle"></td>
                                        <td class="align-middle"></td>
                                        <td class="align-middle"></td>
                                        <td class="align-middle"></td>
                                        <td class="align-middle"></td>
                                        <td class="align-middle"></td>
                                        <td class="align-middle"></td>
                                    </tr>

                            }
                                }
                            </tbody>
                        </table>
                        <br><br><br><br><br><br>
                        <table class="table table-bordered">
                            <tr>
                                <td>
                                    Include client's time or repetition for each exercise completed in the box provided
                                </td>
                                <td>
                                    If Client decline indicate in the box with "D"= Declined
                                </td>
                                <td>
                                    Document in Client's Chart why client did not complete the exercise
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>


                <!-- END PLACE PAGE CONTENT HERE -->
            </div>
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->


        @RenderPage("~/Views/Shared/_Footer.cshtml")
