@model QolaMVC.Models.FamilyConfrenceNoteModel
@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")
<style>

    .form-tabs .nav-link {
        font-size: 1rem;
    }

    .modal-xlg {
        width: 900px !important;
        max-width: 1000px !important;
    }
</style>
<!-- START PAGE-CONTAINER -->
<div class="page-container">
    @RenderPage("~/Views/Shared/_NavBar.cshtml")
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <!-- START JUMBOTRON -->
            <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                <div class="container-fluid container-fixed-lg">
                    <!-- <div class="inner"> -->
                    <div class="row align-items-center">
                        <div class="col-md-9">
                            <h3>Family Conference Notes</h3>
                        </div>
                        <div class="col-md-2">
                            <a href="#" class="btn btn-primary" onclick="location.href='@Url.Action("BACK_Click_FCN", "Assessments")'"><i class="fa fa-backward"></i> Back</a>
                            <button class="btn btn-primary print" id="FCN_PRINT"><i class="fa fa-file-pdf-o"></i> Print</button>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <!-- END JUMBOTRON -->
            <div style="height: 60px;"></div>
            <div class="container">
                <div class="row">
                </div>
            </div>
            <br>
            <input type="hidden" value="familyconferencereport" name="" class="filename">
            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg" id="fromHTMLtestdiv">
                <!-- BEGIN PlACE PAGE CONTENT HERE -->
                <div class="card">
                    <div class="card-block">
                        <br>
                        <div class="row" id="FCN_firstrow">
                            <div class="col-md-12">
                                <img src="~/Content/assets/img/logo (2).png" class="img-responsive">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-md-2 col-form-label">Date</label>
                                    <div class="col-md-7">
                                        <label type="text" class="form-control" id="">@Model.Date</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-md-2 col-form-label">Name</label>
                                    <div class="col-md-7">
                                        <label type="text" class="form-control" id="">@ViewBag.Resident.FirstName @ViewBag.Resident.LastName</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-md-2 col-form-label">Health Card Number</label>
                                    <div class="col-md-7">
                                        <label type="text" class="form-control" id="">@Model.PHN</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-md-5 col-form-label text-right">Suite Number</label>
                                    <div class="col-md-7">
                                        <label type="text" class="form-control" id="">@ViewBag.Resident.SuiteNo</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-md-5 col-form-label text-right">DOB</label>
                                    <div class="col-md-7">
                                        <label type="text" class="form-control" id="">@ViewBag.Resident.BirthDate.ToShortDateString()</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="" class="col-md-2 col-form-label">CARE and GCD/ACP</label>
                                    <div class="col-md-10">
                                        <textarea class="textarea" name="CareAndGCD" rows="5" style="width: 95% !important; margin-left: 47px" disabled>@Model.CareandGCD</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="" class="col-md-2 col-form-label">MEDICATION</label>
                                    <div class="col-md-10">
                                        <textarea class="textarea" name="Medication" rows="5" style="width: 95% !important; margin-left: 47px" disabled>@Model.Medication</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="" class="col-md-2 col-form-label">RECREATION</label>
                                    <div class="col-md-10">
                                        <textarea class="textarea" name="Recreation" rows="5" style="width: 95% !important; margin-left: 47px" disabled>@Model.Recreation</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="" class="col-md-2 col-form-label">DIET</label>
                                    <div class="col-md-10">
                                        <textarea class="textarea" name="Diet" rows="5" style="width: 95% !important; margin-left: 47px" disabled>@Model.Diet</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="" class="col-md-2 col-form-label">COMMENTS</label>
                                    <div class="col-md-10">
                                        <textarea class="textarea" name="Comments" rows="5" style="width: 95% !important; margin-left: 47px" disabled>@Model.Comments</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="" class="col-md-2 col-form-label">GOALS</label>
                                    <div class="col-md-10">
                                        <textarea class="textarea" name="Goals" rows="5" style="width: 95% !important; margin-left: 47px" disabled>@Model.Goals</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Presents</h5>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3"> 
                                        <label type="text" class="form-control" id="">@Model.Presents1</label>
                                    </div>
                                    <div class="col-md-3">
                                        <label type="text" class="form-control" id="">@Model.Presents2</label>
                                    </div>
                                    <div class="col-md-3">
                                        <label type="text" class="form-control" id="">@Model.Presents3</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- END PLACE PAGE CONTENT HERE -->
            </div>
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->
        @RenderPage("~/Views/Shared/_Footer.cshtml")
