@model QolaMVC.Models.FamilyConfrenceNoteModel
@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")
<style>

    .form-tabs .nav-link {
        font-size: 1rem;
    }

    .modal-xlg {
        width: 900px !important;
        max-width: 1000px !important;
    }

    .texttop {
        max-width: 50% !important;
        width: 50% !important;
        margin-left: 47px;
    }

    .textbottom {
        max-width: 95% !important;
        width: 95% !important;
    }

    table, th, td {
        border: 1px solid black;
    }

    th, td {
        padding: 3px 10px 3px 10px;
    }

    th {
        font-size: 1.3em;
    }

    label {
        color: black;
    }

    .pagebreak {
        page-break-before: always;
    }
</style>
<!-- START PAGE-CONTAINER -->
<div class="page-container">
    @RenderPage("~/Views/Shared/_NavBar.cshtml")
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <!-- START JUMBOTRON -->
            <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                <div class="container-fluid container-fixed-lg">
                    <!-- <div class="inner"> -->
                    <div class="row align-items-center">
                        <div class="col-md-9">
                            <h3>Family Conference Notes</h3>
                        </div>
                        <div class="col-md-2">
                            <a href="#" class="btn btn-primary" onclick="location.href='@Url.Action("BACK_Click_FCN", "Assessments")'"><i class="fa fa-backward"></i> Back</a>
                            <button class="btn btn-primary print" id="FCN_PRINT"><i class="fa fa-file-pdf-o"></i> Print</button>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <!-- END JUMBOTRON -->
            <div style="height: 60px;"></div>
            <div class="container">
                <div class="row">
                </div>
            </div>
            <br>
            <input type="hidden" value="familyconferencereport" name="" class="filename">
            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg" id="fromHTMLtestdiv">
                <!-- BEGIN PlACE PAGE CONTENT HERE -->
                <div class="card">
                    <div class="card-block">


                        <div style="width:90%;margin-left:5%;">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="/Content/assets/img/logo (2).png" style="width: 120px;">
                                </div>
                                <div class="col-md-4"><p style="color:black;font-weight:bold;font-size:1.5em;">CARE CONFERENCE FORM</p></div>
                                <div class="col-md-4"><p id="dateforreport" style="color:black;font-size:1.2em;"></p></div>
                            </div>
                            <br><br>

                            <form action="/Assessments/SaveFamilyConferenceNote" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="" class="col-md-4 col-form-label">Name</label>
                                            <div class="col-md-7">
                                                <label class="form-control">@ViewBag.Resident.FirstName @ViewBag.Resident.LastName </label>
                                                <input type="hidden" value="@ViewBag.Resident.ID" name="ResidentId" class="form-control" id="">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="" class="col-md-4 col-form-label">PHN</label>
                                            <div class="col-md-7">
                                                <label for="" class="form-control">@ViewBag.Resident.MBhealthNumber</label>
                                                @*<input type="hidden" name="PHN" value="@Model.PHN" class="form-control" id="">*@

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="" class="col-md-4 col-form-label">Suite Number</label>
                                            <div class="col-md-7">
                                                <label class="form-control" id="" name="SuiteNumber">@ViewBag.Resident.SuiteNo </label>
                                                <input type="hidden" name="SuiteNumber" value="@ViewBag.Resident.SuiteNo">

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="" class="col-md-4 col-form-label">DOB</label>
                                            <div class="col-md-7">
                                                <label class="form-control" id="" name="DOB">@ViewBag.Resident.BirthDate.ToShortDateString() </label>
                                                <input type="hidden" name="DOB" value="@ViewBag.Resident.BirthDate.ToShortDateString()">
                                            </div>
                                        </div>
                                    </div>
                                </div>




                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label for="" class="col-md-2 col-form-label">GOALS OF CARE and ADVANCE CARE PLANNING REVIEW</label>
                                            <div class="col-md-10">
                                                <textarea class="textarea texttop" name="CareAndGCD" rows="5">@Model.CareandGCD</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label for="" class="col-md-2 col-form-label">CARE</label>
                                            <div class="col-md-10">
                                                <textarea class="textarea texttop" name="onlyCare" rows="5">@Model.onlyCare</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label for="" class="col-md-2 col-form-label">MEDICATION REVIEW</label>
                                            <div class="col-md-10">
                                                <textarea class="textarea texttop" name="Medication" rows="5">@Model.Medication</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label for="" class="col-md-2 col-form-label">DIET</label>
                                            <div class="col-md-10">
                                                <textarea class="textarea texttop" name="Diet" rows="5">@Model.Diet</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label for="" class="col-md-2 col-form-label">RECREATION</label>
                                            <div class="col-md-10">
                                                <textarea class="textarea texttop" name="Recreation" rows="5">@Model.Recreation</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>

                                <div class="pagebreak"> </div>

                                <hr>

                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="/Content/assets/img/logo (2).png" style="width: 120px;">
                                    </div>
                                    <div class="col-md-4"><p style="color:black;font-weight:bold;font-size:1.5em;">CARE CONFERENCE FORM</p></div>
                                    <div class="col-md-4"><p id="dateforreport2" style="color:black;font-size:1.2em;"></p></div>
                                </div>
                                <br>
                                <table style="width:90%;">
                                    <thead>
                                        <tr>
                                            <th style="width:50% !important;">Resident/Family/LegalRepresentative Care Plan involvement:</th>
                                            <th class="text-center" style="width:10% !important;">Yes/No</th>
                                            <th class="text-center">Comment</th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        <tr><td>1. Resident’s contact/Legal representative reviewed and updated as required</td><td>@Html.DropDownListFor(x => x.droprow1, Model.dropYesorNo, new { @class = "form-control" })</td><td><textarea class="textbottom" name="row1" rows="2">@Model.row1</textarea></td></tr>
                                        <tr><td>2. Participated in thedevelopment of the care plan</td><td>@Html.DropDownListFor(x => x.droprow2, Model.dropYesorNo, new { @class = "form-control" })</td><td><textarea class="textbottom" name="row2" rows="2">@Model.row2</textarea></td></tr>
                                        <tr><td>3. Care Plan was reviewed andupdated as required</td><td>@Html.DropDownListFor(x => x.droprow3, Model.dropYesorNo, new { @class = "form-control" })</td><td><textarea class="textbottom" name="row3" rows="2">@Model.row3</textarea></td></tr>
                                        <tr><td>4. Bath Preference andfrequency reviewed &amp; updated as required</td><td>@Html.DropDownListFor(x => x.droprow4, Model.dropYesorNo, new { @class = "form-control" })</td><td><textarea class="textbottom" name="row4" rows="2">@Model.row4</textarea></td></tr>
                                        <tr><td>5. Managed Risk Agreementreviewed, copy offered toresident/family</td><td>@Html.DropDownListFor(x => x.droprow5, Model.dropYesorNo, new { @class = "form-control" })</td><td><textarea class="textbottom" name="row5" rows="2">@Model.row5</textarea></td></tr>
                                        <tr><td>6. Secured Living environmentreviewed</td><td>@Html.DropDownListFor(x => x.droprow6, Model.dropYesorNo, new { @class = "form-control" })</td><td><textarea class="textbottom" name="row6" rows="2">@Model.row6</textarea></td></tr>
                                        <tr><td>7. Copy of Care plan was provided/copy offered toresident/family</td><td>@Html.DropDownListFor(x => x.droprow7, Model.dropYesorNo, new { @class = "form-control" })</td><td><textarea class="textbottom" name="row7" rows="2">@Model.row7</textarea></td></tr>
                                        <tr><td>8. Reminded how to fileRequest/ Complaint /Concern</td><td>@Html.DropDownListFor(x => x.droprow8, Model.dropYesorNo, new { @class = "form-control" })</td><td><textarea class="textbottom" name="row8" rows="2">@Model.row8</textarea></td></tr>
                                        <tr><td>9. Reminded who is the AHSCase Manager</td><td>@Html.DropDownListFor(x => x.droprow9, Model.dropYesorNo, new { @class = "form-control" })</td><td><textarea class="textbottom" name="row9" rows="2">@Model.row9</textarea></td></tr>
                                        <tr><td>10. Reminded how to contact AHSCase Manager</td><td>@Html.DropDownListFor(x => x.droprow10, Model.dropYesorNo, new { @class = "form-control" })</td><td><textarea class="textbottom" name="row10" rows="2">@Model.row10</textarea></td></tr>
                                        <tr><td>11. Reviewed Restraint Use</td><td>@Html.DropDownListFor(x => x.droprow11, Model.dropYesorNo, new { @class = "form-control" })</td><td><textarea class="textbottom" name="row11" rows="2">@Model.row11</textarea></td></tr>
                                    </tbody>
                                </table>





                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label for="" class="col-md-2 col-form-label">GOALS</label>
                                            <div class="col-md-10">
                                                <textarea class="textarea texttop" name="Goals" rows="4">@Model.Goals</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label for="" class="col-md-2 col-form-label">Was previous Goals met? (Yes or No. If no, indicate the reason)</label>
                                            <div class="col-md-10">
                                                <textarea class="textarea texttop" name="Goalsmet" rows="3">@Model.Goalsmet</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label for="" class="col-md-2 col-form-label">Additional Comments</label>
                                            <div class="col-md-10">
                                                <textarea class="textarea texttop" name="Comments" rows="5">@Model.Comments</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="pagebreak"> </div>

                                <hr>

                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="/Content/assets/img/logo (2).png" style="width: 120px;">
                                    </div>
                                    <div class="col-md-4"><p style="color:black;font-weight:bold;font-size:1.5em;">CARE CONFERENCE FORM</p></div>
                                    <div class="col-md-4"><p id="dateforreport3" style="color:black;font-size:1.2em;"></p></div>
                                </div>
                                <br>
                                <div class="row">
                                    <label for="" class="col-md-2 col-form-label">Attendees: </label>
                                    <div class="col-md-10">


                                        <table style="margin-left:47px;width:60%;">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Relationship to resident</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr><td>@Html.TextBoxFor(x => x.Attendees1, new { @class = "form-control" })</td><td>@Html.TextBoxFor(x => x.Attendees1rela, new { @class = "form-control" })</td></tr>
                                                <tr><td>@Html.TextBoxFor(x => x.Attendees2, new { @class = "form-control" })</td><td>@Html.TextBoxFor(x => x.Attendees2rela, new { @class = "form-control" })</td></tr>
                                                <tr><td>@Html.TextBoxFor(x => x.Attendees3, new { @class = "form-control" })</td><td>@Html.TextBoxFor(x => x.Attendees3rela, new { @class = "form-control" })</td></tr>
                                                <tr><td>@Html.TextBoxFor(x => x.Attendees4, new { @class = "form-control" })</td><td>@Html.TextBoxFor(x => x.Attendees4rela, new { @class = "form-control" })</td></tr>
                                                <tr><td>@Html.TextBoxFor(x => x.Attendees5, new { @class = "form-control" })</td><td>@Html.TextBoxFor(x => x.Attendees5rela, new { @class = "form-control" })</td></tr>
                                                <tr><td>@Html.TextBoxFor(x => x.Attendees6, new { @class = "form-control" })</td><td>@Html.TextBoxFor(x => x.Attendees6rela, new { @class = "form-control" })</td></tr>
                                                <tr><td>@Html.TextBoxFor(x => x.Attendees7, new { @class = "form-control" })</td><td>@Html.TextBoxFor(x => x.Attendees7rela, new { @class = "form-control" })</td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                                <br>
                                @*<div class="row">
                    <div class="col-md-12">
                        <h5>Presents</h5>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" name="Presents1" value="@Model.Presents1" class="form-control" id="" placeholder="Name">

                            </div>
                            <div class="col-md-4">
                                <input type="text" name="Presents2" value="@Model.Presents2" class="form-control" id="" placeholder="Name">
                            </div>
                            <div class="col-md-4">
                                <input type="text" name="Presents3" class="form-control" value="@Model.Presents3" id="" placeholder="Name">
                            </div>
                        </div>
                    </div>

                </div>*@
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label for="" class="col-md-2 col-form-label">Care Conference Notes completed by:</label>
                                            <div class="col-md-8" style="margin-left:47px;">
                                                @Html.TextBoxFor(x => x.completeName, new { @class = "form-control" })
                                                <p>Name</p>
                                                @Html.TextBoxFor(x => x.completeSign, new { @class = "form-control" })
                                                <p>Signature and Designation</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <br>
                                        <button type="submit" class="btn btn-danger btn-lg">SAVE</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

                <!-- END PLACE PAGE CONTENT HERE -->
            </div>
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->
        @RenderPage("~/Views/Shared/_Footer.cshtml")
