@model QolaMVC.Models.NEW_VenueModel
@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")
<style>

    .form-tabs .nav-link {
        font-size: 1rem;
    }

    .modal-xlg {
        width: 900px !important;
        max-width: 1000px !important;
    }
    .required_sign {
        color: red;
    }
</style>
<!-- START PAGE-CONTAINER -->
<div class="page-container">

    @RenderPage("~/Views/Shared/_NavBar.cshtml")

    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <!-- START JUMBOTRON -->
            <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                <div class="container-fluid container-fixed-lg">
                    <!-- <div class="inner"> -->
                    <div class="row align-items-center">
                        <div class="col-md-9">
                            <h3>@QolaMVC.Resources.Text.EditVenue</h3>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <!-- END JUMBOTRON -->

            <div style="height: 60px;"></div>

            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg">
                <!-- BEGIN PlACE PAGE CONTENT HERE -->


                <div class="card">
                    <div class="card-block">

                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                @using (Html.BeginForm("EditVenue", "Venue", new { p_ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "p-t-15", @role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    <div class="row">

                                        <div class="col-md-6" style="padding-left:7px !important;">
                                            <div class="form-group">
                                                <label for="" class="col-form-label">@QolaMVC.Resources.Text.Home<span class="required_sign">&nbsp;*</span></label>
                                                @*@Html.TextBoxFor(m => m.Home, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Home, null, new { @style = "color: red; font-style: italic;" })*@
                                                <select id="homeselect" name="Home" class="form-control">
                                                    if(@Model.Home!=""){
                                                    <option value="@Model.Home">@Model.HomeName</option>
                                                    }
                                                    <option value="15">Auburn Heights Retirement Residence</option>
                                                    <option value="5"> Laurel Heights Retirement Residence </option>
                                                    <option value="26">Lewis Estates</option>
                                                    <option value="35">Mactaggart Place Retirement Residence</option>
                                                    <option value="1"> Rutherford Heights Retirement Residence </option>
                                                    <option value="33">Sage Hill Retirement Residence</option>
                                                    <option value="31">St. Albert Retirement Residence</option>
                                                    <option value="3"> Summerwood Village Retirement Residence </option>
                                                    <option value="30">River Ridge 2 Retirement Residence</option>
                                                    <option value="4"> River Ridge Retirement Residence </option>
                                                    <option value="17">Seine River Retirement Residence</option>
                                                    <option value="6"> Shaftesbury Park Retirement Residence </option>
                                                    <option value="18">Sturgeon Creek I Retirement Residence</option>
                                                    <option value="13">Sturgeon Creek II Retirement Residence</option>
                                                    <option value="12">Victoria Landing Retirement Residence</option>
                                                    <option value="2"> Beacon Heights Retirement Residence </option>
                                                    <option value="7"> Cedarcroft Place Retirement Residence </option>
                                                    <option value="27">Chapel Hill Retirement Residence</option>
                                                    <option value="32">Cit&#233; Parkway Retirement Residence</option>
                                                    <option value="34">Eagleson Retirement Residence</option>
                                                    <option value="28">Mccarthy Place</option>
                                                    <option value="29">Sample</option>
                                                    <option value="16">College Park II Retirement Residence</option>
                                                    <option value="8"> College Park Retirement Residence </option>
                                                    <option value="14">Preston Park II Retirement Residence</option>
                                                    <option value="11">Preston Park Retirement Residence</option>
                                                    <option value="20">465, Boulevard De La Gappe</option>
                                                    <option value="21">475 Boulevard De La Gappe</option>
                                                    <option value="22">485 Boulevard De La Gappe</option>
                                                    <option value="23">495 Boulevard De La Gappe</option>
                                                    <option value="19">Chateau Symmes Retirement Residence</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="" class="col-form-label">@QolaMVC.Resources.Text.Venue<span class="required_sign">&nbsp;*</span></label>
                                                @Html.TextBoxFor(m => m.Venue, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Venue, null, new { @style = "color: red; font-style: italic;" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="" class="col-form-label">@QolaMVC.Resources.Text.Code<span class="required_sign">&nbsp;*</span></label>
                                                @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Code, null, new { @style = "color: red; font-style: italic;" })
                                            </div>
                                        </div>

                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("List", "Venue")'" value="@QolaMVC.Resources.Text.Back_big">
                                            <button class="btn btn-danger btn-lg">@QolaMVC.Resources.Text.Update_big</button>

                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                </div>


                <!-- END PLACE PAGE CONTENT HERE -->
            </div>
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->




        @RenderPage("~/Views/Shared/_Footer.cshtml")
        <script>
            $('form').submit(function (event) {
                if ($('#Venue').val().trim() == '' || $('#Code').val().trim() == '') {
                    tempAlert("Mandatory Needed", 2000);
                    return false;

                }
                else {
                    form = this;
                    form.submit();
                }
            });
        </script>
