@model List<QolaMVC.Models.NEW_VenueModel>
@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")
<style>
    .form-tabs .nav-link {
        font-size: 1rem;
    }

    .modal-xlg {
        width: 900px !important;
        max-width: 1000px !important;
    }
</style>
<!-- START PAGE-CONTAINER -->
<div class="page-container">

    @RenderPage("~/Views/Shared/_NavBar.cshtml")

    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <!-- START JUMBOTRON -->
            <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                <div class="container-fluid container-fixed-lg">
                    <!-- <div class="inner"> -->
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h3>Venue</h3>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <!-- END JUMBOTRON -->

            <div style="height: 60px;"></div>

            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg">
                <!-- BEGIN PlACE PAGE CONTENT HERE -->

                <div class="card">
                    <div class="card-block">

                        <div class="form-tabs mt-4">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                              


                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-active" role="tabpanel" aria-labelledby="pills-active-tab">

                                    <div class="row">
                                        <div class="py-4 text-left" style="display:inline-block;width:80%;">
                                            <form class="form-inline">
                                @using (Html.BeginForm("List", "Venue", FormMethod.Get))
                                {
                                                <div class="form-group pr-1">
                                                    @*<div class="input-group">
                                                        <select class="form-control" name="column" id="column">
                                                            <option value="*">All fields</option>
                                                            <option value="0">Home</option>
                                                            <option value="1">Code</option>
                                                            <option value="2">Venue</option>
                                                        </select>
                                                    </div>*@
                                                    <div class="input-group">
                                                        <input class="form-control" id="search_value" value=""/>
                                                    </div>
                                                </div>
                                                <button type="button" class="btn btn-danger" onclick="search_Venue()">Search</button>
                                }
                                            </form>
                                        </div>
                                        <div class="py-4 text-right" style="display:inline-block;width:15%;">
                                            <a class="btn btn-lg btn-primary" href="~/Venue/AddVenue">Add New</a>
                                        </div>
                                    </div>

                                    <table class="table table-bordered">
                                        <thead class="bg-primary">
                                            <tr>
                                                <th class="text-white">S/N</th>
                                                <th class="text-white">Home</th>
                                                <th class="text-white">Code</th>
                                                <th class="text-white">Venue</th>
                                                <th class="text-white">Edit</th>
                                                <th class="text-white">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{ int i = 1; }
                                            @{ foreach (var data in Model)
                                                {
                                                    <tr id="@data.Home">
                                                        <td class="align-middle">@i</td>
                                                        <td class="align-middle">@data.HomeName</td>
                                                        <td class="align-middle">@data.Code</td>
                                                        <td class="align-middle">@data.Venue</td>
                                                        <td class="align-middle">
                                                            <a class="btn btn-success btn-xs" href="~/Venue/EditVenue/@data.Id">
                                                                <i class="fa fa-pencil"></i>
                                                            </a>
                                                        </td>
                                                        <td class="align-middle">

                                                            <a class="btn btn-danger btn-xs" onclick="deleteVenue(@data.Id)" style="color:white;">
                                                                <i class="fa fa-trash-o"></i>
                                                            </a>
                                                        </td>
                                                    </tr>

                                                    i = i + 1;
                                                }
                                            }
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>


                <!-- END PLACE PAGE CONTENT HERE -->
            </div>
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->


        @RenderPage("~/Views/Shared/_Footer.cshtml")

<script>
    function tempAlert2(msg, id) {
        var el = document.createElement("div");
        el.setAttribute("style", "position:fixed;top:2%;left:31%;width:35vw;background-color:white;z-index:9999;color:black;padding:2vw 3vw 2vw 3vw;border-radius:1vw;font-size:1.2em;font-weight:bold;border:black solid;");
        el.innerHTML = "<img src=\"\/Content\/assets\/img\/qola_logo3.png\" style=\"width:120px;height:80px;display:inline-block\" \/><div style=\"margin-left:3vw;display:inline-block;width:50%;position:absolute;margin-top:5%;\">" + msg + "<\/div><div style='width:90%;'><button class='btn btn-primary pull-right' style='display:inline-block;' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode);'>No<\/button><button class='btn btn-danger pull-right' style='display:inline-block;margin-right:10px' onclick=\"deleteVenueReturnTrue(this," + id + ")\">Yes<\/button><\/div>";
        document.body.appendChild(el);

    }

    function deleteVenueReturnTrue(ee, venueid) {
        ee.parentNode.parentNode.parentNode.removeChild(ee.parentNode.parentNode);
        var xx = scrollX;
        var yy = scrollY;

        $.get("/Venue/DeleteVenue_mike", { id: venueid }, function () {
            tempAlert("Venue Deleted", 2000);
            setTimeout(function () { location.reload(); }, 2000)
        });



    }


    function deleteVenue(venueid) {
        tempAlert2("Confirm Deleting ?", venueid);

        //if (confirm("Confirm Deleting ?") == true) {
        //    $.get("/Venue/DeleteVenue_mike", { id: venueid }, function () {
        //        tempAlert("Venue Deleted", 2000);
        //        setTimeout(function () { location.reload();},2000)
        //    });
        //}
    }

    function search_Venue() {
        var a = $('#search_value').val();
        window.location.href = "/Venue/List?search=" + a;
    }
</script>