<!-- START PAGE HEADER WRAPPER -->
<!-- START HEADER -->
@using QolaMVC.Models;
<style>

    nav ul li {
        padding-left: 1vw;
        padding-right: 1vw;
        margin-top: 2.5vh;
        background-color: #015093;
        color: white;
        font-weight: bold;
        height: 6vh;
        border-radius: 0.3vw;
    }

        nav ul li:hover .icon-thumbnail {
            background-color: cornflowerblue;
        }

    .dropdown-item:hover {
        background-color: cornflowerblue;
    }

    nav ul li:hover {
        background-color: cornflowerblue;
    }

    nav ul li .nav-link {
        color: white !important;
        height: 2vh !important;
        margin-top: -1vh;
    }

    .icon-thumbnail {
        background-color: #015093;
        color: white;
        margin-right: 5px;
        height: 2vh;
        margin-top: 0.3vh;
    }

        .icon-thumbnail i {
            margin-top: 0;
            position: fixed;
        }

    .content {
        padding-left: 0px !important;
    }

    .full-height {
        padding-left: 0px !important;
    }

    h3 {
        font-weight: 500 !important;
        color: black;
    }

    #supportModal h1 {
        display: flex;
        justify-content: center;
        font-weight: 500 !important;
        color: white;
        font-size: 2.4vw;
    }

    #supportModal div p {
        display: flex;
        justify-content: center;
        font-weight: 500;
        color: white;
        font-size: 1.1vw;
    }

        #supportModal div p a {
            font-weight: 500;
            color: yellowgreen;
            margin-left: 1vw;
        }

    #aLang {
        border-radius: 10%;
        font-size: 10px;
        padding: 4px 10px 4px 10px;
        font-weight: bold;
    }

    .ToDoListNav {
        margin-top: 0px !important;
        color: black;
        padding: 0px 10px 0px 20px !important;
        height: 40px;
    }

    .ToDoListNav2 {
        margin-top: 0px !important;
        color: black;
        padding: 0px 0px 0px 0px !important;
        height: auto !important;
    }

    .badge_nav {
        text-shadow: none;
        font-family: wf_segoe-ui_light, wf_segoe-ui_normal, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 600;
        background-color: #e6e6e6;
        font-size: 11px;
        padding-left: 6px;
        padding-right: 6px;
        padding-bottom: 4px;
        border-radius: 10px;
    }

    .one_nav {
        width: 80% !important;
        padding-left: 0.2vw;
        padding-bottom: 0.4vw;
        padding-top: 0.4vw;
        padding-right: 0.2vw;
        z-index: 0;
        font-size: 1vw;
    }

    .noBOLDandSMALL {
        font-weight: normal !important;
        font-size: 0.8vw !important;
    }

    .secondlayerinNAV {
        width: 100%;
    }

    div[id="ToDoList_Nav_Modal"] tbody tr {
        cursor: pointer;
    }

        div[id="ToDoList_Nav_Modal"] tbody tr:hover {
            background-color: grey;
        }

    .miketable {
        width: 100%;
        color: black;
    }

        .miketable thead th {
            padding: 1vw;
        }

        .miketable tbody tr {
            height: 3vw;
        }

            .miketable tbody tr td {
                padding: 1vw;
            }

    #ToDoList_Nav_Modal div[class="modal-body"] {
        overflow: auto;
        overflow-x: hidden;
        max-height: 30vw;
    }
</style>


<script src="~/Content/calendar/plugins/html2canvas/html2canvas.min.js"></script>
<script src="~/Content/calendar/plugins/jspdf/jspdf.min.js"></script>

<div class="header " style="padding:0px !important;">
    <!-- START MOBILE SIDEBAR TOGGLE -->
    <a href="#" class="btn-link toggle-sidebar hidden-lg-up pg pg-menu" data-toggle="sidebar">
    </a>
    <!-- END MOBILE SIDEBAR TOGGLE -->
    <div class="">
        <div class="brand inline">
            <img src="/Content/assets/img/qola_logo3.png" alt="qola_logo" data-src="/Content/assets/img/qola_logo3.png" data-src-retina="/Content/assets/img/qola_logo3.png" width="90" height="66">
            <span>
                <!-- <h2 class="d-inline-block mt-1">Qola</h2> -->
            </span>
        </div>
        <!-- START NOTIFICATION LIST -->
        <ul class="hidden-md-down notification-list no-margin hidden-sm-down b-grey b-l b-r no-style p-l-30 p-r-20">
            <li class="p-r-10 inline">
                <a href="#" class="header-icon pg pg-link"></a>
            </li>
            <li class="p-r-10 inline">
                <a href="#" class="header-icon pg pg-thumbs"></a>
            </li>
            @*<li class="p-r-10 inline">
                    @{
                        if (Session["Language"] == null || Session["Language"].ToString() == "" || Session["Language"].ToString() == "en")
                        {
                            <button class="btn btn-sm btn-primary" id="aLang" data-value="en">@Html.ActionLink("English", "ChangeLanguage", "Login", new { LanguageAbbrevation = "en" }, new { style = "color:white;" })</button>
                            <button class="btn btn-sm btn-primary" id="aLang" data-value="fr" onclick="aLang_click(this)">French</button>
                        }
                        else if (Session["Language"].ToString() == "fr")
                        {
                            <button class="btn btn-sm btn-primary" id="aLang" data-value="en" onclick="aLang_click(this)">English</button>
                        }
                    }
                </li>*@

        </ul>


        <!-- END NOTIFICATIONS LIST -->
        <!-- <a href="#" class="search-link hidden-md-down" data-toggle="search"><i class="pg-search"></i>Type anywhere to <span class="bold">search</span></a> -->
    </div>


    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding:0px !important;">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- BEGIN SIDEBAR MENU ITEMS-->
            <ul class="navbar-nav mr-auto" style="display:inline-block">
                <li class="nav-item">
                    <a class="nav-link" href="/Home/" style="display:inline-block;">
                        <span style="display:inline-block;">@QolaMVC.Resources.Text.Homes</span>
                        <span class="icon-thumbnail" style="display:inline-block;"><i class="pg-home"></i></span>
                    </a>

                </li>
                @{
                    if (ViewBag.Home != null)
                    {
                        <li class="nav-item">
                            <a href="/Home/Menu/?p_HomeId=@ViewBag.Home.Id" class="nav-link" style="display:inline-block;">
                                <span style="display:inline-block;">@QolaMVC.Resources.Text.Dashboard</span>
                                <span class="icon-thumbnail" style="display:inline-block;"><i class="fa fa-dashboard"></i></span>
                            </a>
                        </li>
                    }
                }

                @{
                    if (ViewBag.Resident != null)
                    {
                        if (TempData["archive"] != null && TempData["archive"].ToString() == "YES")
                        {
                            TempData.Keep("archive");
                            TempData.Keep("pass");
                        }
                        else
                        {
                            <li class="nav-item">
                                <a href="/Home/ResidentMenu/?p_ResidentId=@ViewBag.Resident.ID" class="nav-link" style="display:inline-block;">
                                    <span style="display:inline-block;">@QolaMVC.Resources.Text.Profile</span>
                                    <span class="icon-thumbnail" style="display:inline-block;"><i class="fa fa-user"></i></span>
                                </a>
                            </li>
                        }

                    }
                }

                @*<li class="">
                        <a href="#">
                            <span class="title">Todo List</span>
                        </a>
                        <span class="icon-thumbnail "><i class="pg-social"></i></span>
                    </li>*@

                <li class="nav-item dropdown" id="dropdown_li">

                    @*property inside <a>: data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"*@

                    <a class="nav-link" id="navbarDropdown" role="button" style="display:inline-block;" onclick="mike_dropdown()">
                        <span style="display:inline-block;">@QolaMVC.Resources.Text.Masters</span>
                        <span class="icon-thumbnail" style="display:inline-block;"><i class="pg-grid"></i></span>
                    </a>
                    <div class="dropdown-menu" id="master_dropdown" aria-labelledby="navbarDropdown">
                        @{
                            var tevar = TempData["User"] as UserModel;
                            TempData.Keep("User");
                            if (tevar.UserType == 1)
                            {
                                <a class="dropdown-item" href="~/Master/Buildings">@QolaMVC.Resources.Text.Buildings</a>
                                <a class="dropdown-item" href="~/Master/Users">@QolaMVC.Resources.Text.Users</a>
                                <a class="dropdown-item" href="~/Allergy/List">@QolaMVC.Resources.Text.Allergy</a>
                                <a class="dropdown-item" href="~/Master/ActivityCategory">@QolaMVC.Resources.Text.ActivityCategory</a>
                                <a class="dropdown-item" href="~/Master/Activity">@QolaMVC.Resources.Text.Activity</a>
                                <a class="dropdown-item" href="~/DineTime/List">@QolaMVC.Resources.Text.DineTime</a>
                                <a class="dropdown-item" href="~/SpecialDiet/List">@QolaMVC.Resources.Text.SpecialDiet</a>
                                <a class="dropdown-item" href="~/Suite/List">@QolaMVC.Resources.Text.Suite</a>
                                <a class="dropdown-item" href="~/Venue/List">@QolaMVC.Resources.Text.Venue</a>
                            }
                            else if (tevar.UserType == 3 || tevar.UserType == 21 || tevar.UserType == 2)
                            {
                                <a class="dropdown-item" href="~/Master/Users">@QolaMVC.Resources.Text.Users</a>
                            }
                        }
                        <a class="dropdown-item" href="~/Master/ChangePassword">@QolaMVC.Resources.Text.ChangePassword</a>
                        @*<a class="dropdown-item" href="#" data-toggle="modal" data-target="#supportModal">Support</a>*@
                    </div>
                </li>
                @{
                    var ControllerName = ViewContext.RouteData.Values["controller"].ToString();
                    var ActioneName = ViewContext.RouteData.Values["action"].ToString();
                    var combine = ControllerName + "," + ActioneName;
                    if (TempData["ToDoListinNav"] != null && combine != "Home,Menu" && combine != "Home,Index")
                    {

                        <li class="nav-item dropdown" id="dropdown_li_todolist">

                            @*property inside <a>: data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"*@

                            <a class="nav-link" id="navbarDropdown_todolist" role="button" style="display:inline-block;" onclick="mike_dropdown_todolist()">
                                <span style="display:inline-block;">ToDoList</span>
                                <span class="icon-thumbnail" style="display:inline-block;"><i class="pg-grid"></i></span>
                            </a>
                            <div class="dropdown-menu" id="master_dropdown_todolist" aria-labelledby="navbarDropdown_todolist" style="min-width:240px !important">
                                <div class="float_box" id="ggg_nav">
                                    <ul class="list-group" id="to_do_list_1_nav">
                                        <li class="list-group-item ToDoListNav" id="DU_nav"><a class="one_nav" style="cursor:pointer;" onclick="nextlayer_nav(this)">Dietary Update</a><span class="badge_nav">0</span></li>
                                        <li class="list-group-item ToDoListNav2" id="DU_nav_nextlayer" style="display:none;">
                                            <ul class="list-group secondlayerinNAV" id="DU_ul_nav">
                                                <li class="list-group-item ToDoListNav" type="Dietary Update">
                                                    <a class="one_nav noBOLDandSMALL" href="#" data-toggle="modal" data-target="#ToDoList_Nav_Modal" style="color:black" onclick="DU_click_nav(this)"> Dietary Update</a>
                                                    <span class="badge_nav">0</span>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="list-group-item ToDoListNav" id="HO_nav"><a class="one_nav" style="cursor:pointer;" onclick="nextlayer_nav(this)">Hospitalization</a><span class="badge_nav">0</span></li>
                                        <li class="list-group-item ToDoListNav2" id="HO_nav_nextlayer" style="display:none;">
                                            <ul class="list-group secondlayerinNAV" id="HO_ul_nav">
                                                <li class="list-group-item ToDoListNav" type="Resident Away">
                                                    <a class="one_nav noBOLDandSMALL" href="#" data-toggle="modal" data-target="#ToDoList_Nav_Modal" style="color:black" onclick="HO_click_nav(this)"> Resident Away</a>
                                                    <span class="badge_nav">0</span>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="list-group-item ToDoListNav" id="IA_nav"><a class="one_nav" style="cursor:pointer;" onclick="nextlayer_nav(this)">Initial Assessments</a><span class="badge_nav">0</span></li>
                                        <li class="list-group-item ToDoListNav2" id="IA_nav_nextlayer" style="display:none;">
                                            <ul class="list-group secondlayerinNAV" id="IA_ul_nav">
                                                <li class="list-group-item ToDoListNav" type="Initial Activity Assessment" id="IAA_nav"><a class="one_nav noBOLDandSMALL" href="#" data-toggle="modal" data-target="#ToDoList_Nav_Modal" style="color:black" onclick="IAA_click_nav(this)"> Activity Assessment</a><span class="badge_nav">0</span></li>
                                                <li class="list-group-item ToDoListNav" type="Initial Dietary Assessment" id="IDA_nav"><a class="one_nav noBOLDandSMALL" href="#" data-toggle="modal" data-target="#ToDoList_Nav_Modal" style="color:black" onclick="IDA_click_nav(this)"> Dietary Assessment</a><span class="badge_nav">0</span></li>
                                                <li class="list-group-item ToDoListNav" type="Initial Fall Risk Assessment" id="IFRA_nav"><a class="one_nav noBOLDandSMALL" href="#" data-toggle="modal" data-target="#ToDoList_Nav_Modal" style="color:black" onclick="IFRA_click_nav(this)"> Fall Risk Assessment</a><span class="badge_nav">0</span></li>
                                                <li class="list-group-item ToDoListNav" type="Initial Resident Care Assessment" id="IRCA_nav"><a class="one_nav noBOLDandSMALL" href="#" data-toggle="modal" data-target="#ToDoList_Nav_Modal" style="color:black" onclick="IRCA_click_nav(this)"> Resident Care Assessment</a><span class="badge_nav">0</span></li>
                                            </ul>
                                        </li>
                                        <li class="list-group-item ToDoListNav" id="PN_nav"><a class="one_nav" style="cursor:pointer;" onclick="nextlayer_nav(this)">Progress Notes</a><span class="badge_nav">0</span></li>
                                        <li class="list-group-item ToDoListNav2" id="PN_nav_nextlayer" style="display:none;">
                                            <ul class="list-group secondlayerinNAV" id="PN_ul_nav">
                                                <li class="list-group-item ToDoListNav" type="Progress Notes" id="PN_nav">
                                                    <a class="one_nav noBOLDandSMALL" href="#" data-toggle="modal" data-target="#ToDoList_Nav_Modal" style="color:black" onclick="PN_click_nav(this)"> Progress Notes</a><span class="badge_nav">0</span>
                                                </li>
                                                @*<li type="Acknowledge Notes" id="AN"><a href="#" data-toggle="modal" data-target="#Acknowledge_Notes" style="color:black" onclick="AN_click_nav(this)"><span class="badge_nav">0</span> Acknowledge Notes</a></li>*@
                                            </ul>
                                        </li>
                                        <li class="list-group-item ToDoListNav" id="RA_nav"><a class="one_nav" style="cursor:pointer;" onclick="nextlayer_nav(this)">Reassessments</a><span class="badge_nav">0</span></li>
                                        <li class="list-group-item ToDoListNav2" id="RA_nav_nextlayer" style="display:none;">

                                            <ul class="list-group secondlayerinNAV" id="RA_ul_nav">
                                                <li class="list-group-item ToDoListNav" type="Activity Assessment" id="RAA_nav"><a class="one_nav noBOLDandSMALL" href="#" data-toggle="modal" data-target="#ToDoList_Nav_Modal" style="color:black" onclick="RAA_click_nav(this)"> Activity Assessment</a><span class="badge_nav">0</span></li>
                                                <li class="list-group-item ToDoListNav" type="Dietary Assessment" id="RDA_nav"><a class="one_nav noBOLDandSMALL" href="#" data-toggle="modal" data-target="#ToDoList_Nav_Modal" style="color:black" onclick="RDA_click_nav(this)"> Dietary Assessment</a><span class="badge_nav">0</span></li>
                                                <li class="list-group-item ToDoListNav" type="Fall Risk Assessment" id="RFRA_nav"><a class="one_nav noBOLDandSMALL" href="#" data-toggle="modal" data-target="#ToDoList_Nav_Modal" style="color:black" onclick="RFRA_click_nav(this)"> Fall Risk Assessment</a><span class="badge_nav">0</span></li>
                                                <li class="list-group-item ToDoListNav" type="Resident Care Assessment" id="RRCA_nav"><a class="one_nav noBOLDandSMALL" href="#" data-toggle="modal" data-target="#ToDoList_Nav_Modal" style="color:black" onclick="RRCA_click_nav(this)"> Resident Care Assessment</a><span class="badge_nav">0</span></li>
                                            </ul>

                                        </li>
                                        <li class="list-group-item ToDoListNav" id="RI_nav"><a class="one_nav" style="cursor:pointer;" onclick="nextlayer_nav(this)">Resident Incidents</a><span class="badge_nav">0</span></li>
                                        <li class="list-group-item ToDoListNav2" id="RI_nav_nextlayer" style="display:none;">
                                            <ul class="list-group secondlayerinNAV" id="RI_ul_nav">
                                                <li class="list-group-item ToDoListNav" type="Resident Fall"><a class="one_nav noBOLDandSMALL" href="#" data-toggle="modal" data-target="#ToDoList_Nav_Modal2" style="color:black" onclick="RI_click_nav(this)"> Resident Fall</a><span class="badge_nav">0</span></li>
                                            </ul>
                                        </li>
                                        <li class="list-group-item ToDoListNav" id="RB_nav"><a class="one_nav" style="cursor:pointer;" onclick="nextlayer_nav(this)">Residents Birthday</a><span class="badge_nav">0</span></li>
                                        <li class="list-group-item ToDoListNav2" id="RB_nav_nextlayer" style="display:none;">
                                            <ul class="list-group secondlayerinNAV" id="RB_ul_nav">
                                                <li class="list-group-item ToDoListNav" type="Birthday"><a class="one_nav noBOLDandSMALL" href="#" data-toggle="modal" data-target="#ToDoList_Nav_Modal" style="color:black" onclick="RB_click_nav(this)"> Birthday</a><span class="badge_nav">0</span></li>
                                            </ul>
                                        </li>
                                        <li class="list-group-item ToDoListNav" id="RP_nav"><a class="one_nav" style="cursor:pointer;" onclick="nextlayer_nav(this)">Residents Profile</a><span class="badge_nav">0</span></li>
                                        <li class="list-group-item ToDoListNav2" id="RP_nav_nextlayer" style="display:none;">
                                            <ul class="list-group secondlayerinNAV" id="RP_ul_nav">
                                                <li class="list-group-item ToDoListNav" type="Profile Image"><a class="one_nav noBOLDandSMALL" href="#" data-toggle="modal" data-target="#ToDoList_Nav_Modal" style="color:black" onclick="RP_click_nav(this)"> Profile Image</a><span class="badge_nav">0</span></li>
                                            </ul>
                                        </li>
                                        <li class="list-group-item ToDoListNav" id="NR_nav"><a class="one_nav" style="cursor:pointer;" onclick="nextlayer_nav(this)">New Resident</a><span class="badge_nav">0</span></li>
                                        <li class="list-group-item ToDoListNav2" id="NR_nav_nextlayer" style="display:none;">
                                            <ul class="list-group secondlayerinNAV" id="NR_ul_nav">
                                                <li class="list-group-item ToDoListNav" type="New Resident"><a class="one_nav noBOLDandSMALL" href="#" data-toggle="modal" data-target="#ToDoList_Nav_Modal" style="color:black" onclick="NR_click_nav(this)"> New Resident</a><span class="badge_nav">0</span></li>
                                            </ul>
                                        </li>
                                        <li class="list-group-item ToDoListNav" id="SAE_nav"><a class="one_nav" style="cursor:pointer;" onclick="nextlayer_nav(this)">Suggested Activity Event</a><span class="badge_nav">0</span></li>
                                        <li class="list-group-item ToDoListNav2" id="SAE_nav_nextlayer" style="display:none;">
                                            <ul class="list-group secondlayerinNAV" id="SA_ul_nav">
                                                <li class="list-group-item ToDoListNav" type="Suggested Activity Event"><a class="one_nav noBOLDandSMALL" href="#" data-toggle="modal" data-target="#ToDoList_Nav_Modal" style="color:black" onclick="SA_click_nav(this)"> Suggested Activity Event</a><span class="badge_nav">0</span></li>
                                            </ul>
                                        </li>
                                        <li class="list-group-item ToDoListNav" id="NoteR_nav"><a class="one_nav" style="cursor:pointer;" onclick="nextlayer_nav(this)">Progress Note Reminder</a><span class="badge_nav">0</span></li>
                                        <li class="list-group-item ToDoListNav2" id="NoteR_nav_nextlayer" style="display:none;">
                                            <ul class="list-group secondlayerinNAV" id="NoteR_ul_nav">
                                                <li class="list-group-item ToDoListNav" type="Progress Note Reminder"><a class="one_nav noBOLDandSMALL" href="#" data-toggle="modal" data-target="#ToDoList_Nav_Modal2" style="color:black" onclick="NoteR_click_nav(this)"> Note Reminder</a><span class="badge_nav">0</span></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    }
                    TempData.Keep("ToDoListinNav");
                }

            </ul>

            <div class="clearfix"></div>
        </div>
    </nav>





    <div class="d-flex align-items-center">
        <!-- START User Info-->
        <div class="dropdown pull-right hidden-md-down">

            <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="pull-left p-r-10 fs-14 font-heading hidden-md-down" style="font-weight:bold !important;color:black !important;font-size:1vw !important;">
                    @QolaMVC.Resources.Text.Welcome
                    @{
                        if (ViewBag.User != null)
                        {
                            <span class="semi-bold" style="font-weight:bold !important;color:black !important;font-size:1vw !important;">@ViewBag.User.FirstName </span>
                            <span class="text-master" style="font-weight:bold !important;color:black !important;font-size:1vw !important;">@ViewBag.User.LastName</span>
                        }
                    }
                </div>
                @*<span class="thumbnail-wrapper d32 circular inline">

                        <img src="/Content/assets/img/profiles/avatar.jpg" alt="" data-src="/Content/assets/img/profiles/avatar.jpg" data-src-retina="/Content/assets/img/profiles/avatar.jpg" width="32" height="32">
                    </span>*@
            </button>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown" role="menu">
                @*<a href="#" class="dropdown-item"><i class="pg-settings_small"></i> Settings</a>*@
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#supportModal">@QolaMVC.Resources.Text.Support</a>
                @*<a href="#" class="dropdown-item"><i class="pg-outdent"></i> Feedback</a>
                    <a href="#" class="dropdown-item"><i class="pg-signals"></i> Help</a>*@
                <a href="~/Login" class="clearfix bg-master-lighter dropdown-item">
                    <span class="pull-left">@QolaMVC.Resources.Text.Logout</span>
                    <span class="pull-right"><i class="pg-power"></i></span>
                </a>
            </div>
        </div>
        <!-- END User Info-->
        <!-- <a href="#" class="header-icon pg pg-alt_menu btn-link m-l-10 sm-no-margin d-inline-block" data-toggle="quickview" data-toggle-element="#quickview"></a> -->
    </div>
</div>
<!-- END HEADER -->
<!-- END PAGE HEADER WRAPPER -->
<div class="modal fade" id="supportModal" role="dialog">
    <div class="modal-dialog" style="left:0%;top:10%;">

        <!-- Modal content-->
        <div class="modal-content" style="background-color:#015093;border-color:black;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="color:white;">&times;</button>
                <br>
                <div class="text-center" style="width:100%;">
                    <h1 class="modal-title">@QolaMVC.Resources.Text.ContactInformation</h1>
                </div>
                <hr>
            </div>
            <div class="modal-body">
                <address>
                    <p>@QolaMVC.Resources.Text.MasterSupport1</p>
                    <p>@QolaMVC.Resources.Text.MasterSupport2</p>
                    <p>@QolaMVC.Resources.Text.MasterSupport3</p>
                    <p>
                        <abbr title="Phone" style="padding-right:0.6vw;">P : </abbr>
                        @QolaMVC.Resources.Text.MasterSupport4
                    </p>
                </address>
                <br>
                <address>
                    <p>
                        <strong>@QolaMVC.Resources.Text.Support:</strong><a href="mailto:QOLAhelp@allseniorscare.com">QOLAhelp@allseniorscare.com</a><br />
                    </p>
                </address>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@QolaMVC.Resources.Text.Close_big</button>
            </div>
            <input type="hidden" id="UserTypeinMaster" value="@ViewBag.User.UserType" />
        </div>

    </div>
</div>


<div class="modal fade" id="ToDoList_Nav_Modal" role="dialog" style="right:0">
    <div class="modal-dialog" style="left:0;right:0;max-width:100%;width:60vw;">

        <!-- Modal content-->
        <div class="modal-content" style="">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
                <br>
            </div>
            <div class="modal-body">
                <table class="miketable table-bordered">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <br>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ToDoList_Nav_Modal2" role="dialog" style="right:0">
    <div class="modal-dialog" style="left:0;right:0;max-width:100%;width:90vw;">

        <!-- Modal content-->
        <div class="modal-content" style="">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
                <br>
            </div>
            <div class="modal-body">
                <table class="miketable table-bordered">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <br>
            </div>
        </div>
    </div>
</div>


<script>
    function mike_dropdown() {
        if (document.getElementById('dropdown_li').className != 'nav-item dropdown show') {
            document.getElementById('dropdown_li').className = 'nav-item dropdown show';
        }
        else {
            document.getElementById('dropdown_li').className = 'nav-item dropdown';
        }
    }
    function mike_dropdown_todolist() {
        if (document.getElementById('dropdown_li_todolist').className != 'nav-item dropdown show') {
            document.getElementById('dropdown_li_todolist').className = 'nav-item dropdown show';
        }
        else {
            document.getElementById('dropdown_li_todolist').className = 'nav-item dropdown';
        }
        var someValueMaster = $('#UserTypeinMaster').val();
        var someValueIntMaster = parseInt(someValueMaster);

        var UserTypePart1 = [8];//Pharmacy
        var UserTypePart2 = [10, 22];//Study,Reception
        var UserTypePart3 = [19];//Service
        var UserTypePart4 = [5];//Doctor
        var UserTypePart5 = [7];//Chef
        var UserTypePart6 = [6, 14, 21];//Activity D,Activity Aide,Regional D of HW
        var UserTypePart7 = [11, 12, 20];//UCP,HCA,PSW
        var UserTypePart8 = [4, 15, 16, 17, 18];//RN,LPN,IA,IAA,RPN
        var UserTypePart9 = [1, 2, 3, 13, 9];//Head Office Group

        var DUList = UserTypePart5.concat(UserTypePart9);
        var HOListnot = UserTypePart2;
        var IAList = UserTypePart6.concat(UserTypePart5.concat(UserTypePart8.concat(UserTypePart9)));
        var IAAList = UserTypePart6.concat(UserTypePart9);
        var IDAList = UserTypePart5.concat(UserTypePart9);
        var IFRAList = UserTypePart8.concat(UserTypePart9);
        var IRCAList = UserTypePart8.concat(UserTypePart9);
        var RAList = UserTypePart6.concat(UserTypePart5.concat(UserTypePart8.concat(UserTypePart9)));
        var RAAList = UserTypePart6.concat(UserTypePart9);
        var RDAList = UserTypePart5.concat(UserTypePart9);
        var RFRAList = UserTypePart8.concat(UserTypePart9);
        var RRCAList = UserTypePart8.concat(UserTypePart9);
        var PNListnot = UserTypePart1.concat(UserTypePart2.concat(UserTypePart3.concat(UserTypePart4)));
        var RIList = UserTypePart7.concat(UserTypePart8.concat(UserTypePart9));
        var RBListnot = UserTypePart1.concat(UserTypePart2);
        var RPList = UserTypePart6.concat(UserTypePart3.concat(UserTypePart9));
        var NRList = UserTypePart9;
        var SAEList = UserTypePart6.concat(UserTypePart9)

        var number = $('span[class="badge_nav"]');
        for (a = 0; a < 28; a++) {
            number[a].parentElement.style.display = "none";
        }
        $.get("/Home/Number_FAST", {}, function (data) {
            if (data[0].Value != 0 && DUList.includes(someValueIntMaster)) { number[0].innerHTML = data[0].Value; $(number[0].parentElement).show() }
            if (data[1].Value != 0 && DUList.includes(someValueIntMaster)) { number[1].innerHTML = data[1].Value; $(number[1].parentElement).show() }
            if (data[2].Value != 0 && !HOListnot.includes(someValueIntMaster)) { number[2].innerHTML = data[2].Value; $(number[2].parentElement).show() }
            if (data[3].Value != 0 && !HOListnot.includes(someValueIntMaster)) { number[3].innerHTML = data[3].Value; $(number[3].parentElement).show() }
            if (data[4].Value != 0 && IAList.includes(someValueIntMaster)) { number[4].innerHTML = data[4].Value; $(number[4].parentElement).show() }
            if (data[5].Value != 0 && IAAList.includes(someValueIntMaster)) { number[5].innerHTML = data[5].Value; $(number[5].parentElement).show() }
            if (data[6].Value != 0 && IDAList.includes(someValueIntMaster)) { number[6].innerHTML = data[6].Value; $(number[6].parentElement).show() }
            if (data[7].Value != 0 && IFRAList.includes(someValueIntMaster)) { number[7].innerHTML = data[7].Value; $(number[7].parentElement).show() }
            if (data[8].Value != 0 && IRCAList.includes(someValueIntMaster)) { number[8].innerHTML = data[8].Value; $(number[8].parentElement).show() }
            if (data[9].Value != 0 && !PNListnot.includes(someValueIntMaster)) { number[9].innerHTML = data[9].Value; $(number[9].parentElement).show() }
            if (data[10].Value != 0 && !PNListnot.includes(someValueIntMaster)) { number[10].innerHTML = data[10].Value; $(number[10].parentElement).show() }
            if (data[11].Value != 0 && RAList.includes(someValueIntMaster)) { number[11].innerHTML = data[11].Value; $(number[11].parentElement).show() }
            if (data[12].Value != 0 && RAAList.includes(someValueIntMaster)) { number[12].innerHTML = data[12].Value; $(number[12].parentElement).show() }
            if (data[13].Value != 0 && RDAList.includes(someValueIntMaster)) { number[13].innerHTML = data[13].Value; $(number[13].parentElement).show() }
            if (data[14].Value != 0 && RFRAList.includes(someValueIntMaster)) { number[14].innerHTML = data[14].Value; $(number[14].parentElement).show() }
            if (data[15].Value != 0 && RRCAList.includes(someValueIntMaster)) { number[15].innerHTML = data[15].Value; $(number[15].parentElement).show() }
            if (data[16].Value != 0 && RIList.includes(someValueIntMaster)) { number[16].innerHTML = data[16].Value; $(number[16].parentElement).show() }
            if (data[17].Value != 0 && RIList.includes(someValueIntMaster)) { number[17].innerHTML = data[17].Value; $(number[17].parentElement).show() }
            if (data[18].Value != 0 && !RBListnot.includes(someValueIntMaster)) { number[18].innerHTML = data[18].Value; $(number[18].parentElement).show() }
            if (data[19].Value != 0 && !RBListnot.includes(someValueIntMaster)) { number[19].innerHTML = data[19].Value; $(number[19].parentElement).show() }
            if (data[20].Value != 0 && RPList.includes(someValueIntMaster)) { number[20].innerHTML = data[20].Value; $(number[20].parentElement).show() }
            if (data[21].Value != 0 && RPList.includes(someValueIntMaster)) { number[21].innerHTML = data[21].Value; $(number[21].parentElement).show() }
            if (data[22].Value != 0 && NRList.includes(someValueIntMaster)) { number[22].innerHTML = data[22].Value; $(number[22].parentElement).show() }
            if (data[23].Value != 0 && NRList.includes(someValueIntMaster)) { number[23].innerHTML = data[23].Value; $(number[23].parentElement).show() }
            if (data[24].Value != 0 && SAEList.includes(someValueIntMaster)) { number[24].innerHTML = data[24].Value; $(number[24].parentElement).show() }
            if (data[25].Value != 0 && SAEList.includes(someValueIntMaster)) { number[25].innerHTML = data[25].Value; $(number[25].parentElement).show() }
            if (data[26].Value != 0) { number[26].innerHTML = data[26].Value; $(number[26].parentElement).show() }
            if (data[27].Value != 0) { number[27].innerHTML = data[27].Value; $(number[27].parentElement).show() }
            
        });
    }
    function nextlayer_nav(ee) {

        if (ee.parentElement.nextElementSibling.style.display != 'block') {
            $('.ToDoListNav2').hide()
            ee.parentElement.nextElementSibling.style.display = 'block';
        }
        else {
            ee.parentElement.nextElementSibling.style.display = 'none';
        }


    }
</script>

<script>
    //function nav_profile_button(ee) {
    //    var id = document.getElementById("tempdata_residentid").innerHTML;
    //    var archive = document.getElementById("tempdata_archive").innerHTML;
    //    var pass = document.getElementById("tempdata_pass").innerHTML;
    //    if (archive == "YES") {
    //        ee.href = "/Home/ResidentMenu3/?p_ResidentId=" + id + "&pass=" + pass;
    //    }
    //    else
    //        ee.href = "/Home/ResidentMenu/?p_ResidentId=" + id;
    //}
</script>

<script>
    document.body.addEventListener("click", function (evt) {
        if ($(evt.target).closest('#navbarDropdown').length)
            return;

        else {
            if (document.getElementById('dropdown_li').className == 'nav-item dropdown show') {
                document.getElementById('dropdown_li').className = 'nav-item dropdown';
            }
        }
    });
</script>

<script>
    function aLang_click(ee) {
        var value = $(ee).data("value");
        $.ajax({
            type: "POST",
            url: "/Login/ChangeLanguage2",
            data: { LanguageAbbrevation: value },
            dataType: "html",
            success: function () {
                var url = window.location.toString();
                $(location).attr('href', url);
            },
            error: function () {
                alert("error");
            }
        });
    }


    function DU_click_nav(ee) {
        ee.parentElement.parentElement.parentElement.style.display = "none";
        $('#dropdown_li_todolist').removeClass('show');
        $('div[id="ToDoList_Nav_Modal"] tbody').empty();
        $('div[id="ToDoList_Nav_Modal"] thead').empty();
        $('div[id="ToDoList_Nav_Modal"] .modal-title').html('Dietary Update');
        $('div[id="ToDoList_Nav_Modal"] thead').append('<tr><th>S.No</th><th>Suite No</th><th>Name</th><th>Assessed Date</th><th></th></tr>');

        $.get("/Home/DU_CLICK", {}, function (data) {
            var view = $('div[id="ToDoList_Nav_Modal"] tbody');
            for (var i = 0; i < data.length; i++) {
                view.append(
                    "<tr name='" + data[i][1].Value + "' da='" + data[i][2].Value + "'>" +
                    "<td>" + data[i][0].Value + " <\/td>" +
                    "<td>" + data[i][3].Value + " <\/td>" +
                    "<td>" + data[i][4].Value + " " + data[i][5].Value + " <\/td>" +
                    "<td>" + data[i][6].Value + " <\/td>" +
                    "<td>" +
                    "<button type=\"button\" class=\"btn btn-primary\" onclick=\"window.location.href='\/Assessments\/DietaryHistory3\/?p_ResidentId=" + data[i][1].Value + "&da=" + data[i][2].Value + "'\">View<\/button>" +
                    "<\/td>" +
                    "<\/tr>");
            }
        });
    }

    function HO_click_nav(ee) {
        ee.parentElement.parentElement.parentElement.style.display = "none";
        $('#dropdown_li_todolist').removeClass('show');
        $('div[id="ToDoList_Nav_Modal"] tbody').empty();
        $('div[id="ToDoList_Nav_Modal"] thead').empty();
        $('div[id="ToDoList_Nav_Modal"] .modal-title').html('Resident Away');
        $('div[id="ToDoList_Nav_Modal"] thead').append('<tr><th>S.No</th><th>Suite No</th><th>Name</th><th>Gender</th><th>Leaving Date</th><th>Expected Return Date</th></tr>');

        $.get("/Home/HO_CLICK", {}, function (data) {
            var view = $('div[id="ToDoList_Nav_Modal"] tbody');
            for (var i = 0; i < data.length; i++) {
                view.append(
                    "<tr onclick=\"window.location.href='\/Residents\/SuiteHandler2\/?p_ResidentId=" + data[i][1].Value + "'\" name='" + data[i][1].Value + "'>" +
                    "<td>" + data[i][0].Value + " <\/td>" +
                    "<td>" + data[i][2].Value + " <\/td>" +
                    "<td>" + data[i][3].Value + " " + data[i][4].Value + " <\/td>" +
                    "<td>" + data[i][5].Value + " <\/td>" +
                    "<td>" + data[i][6].Value + " <\/td>" +
                    "<td>" + data[i][7].Value + " <\/td>" +
                    "<\/tr>");
            }
        });
    }

    function IAA_click_nav(ee) {
        ee.parentElement.parentElement.parentElement.style.display = "none";
        $('#dropdown_li_todolist').removeClass('show');
        $('div[id="ToDoList_Nav_Modal"] tbody').empty();
        $('div[id="ToDoList_Nav_Modal"] thead').empty();
        $('div[id="ToDoList_Nav_Modal"] .modal-title').html('Initial Activity Assessment');
        $('div[id="ToDoList_Nav_Modal"] thead').append('<tr><th>S.No</th><th>Suite No</th><th>Name</th><th>Move In Date</th><th>Assessed Date</th><th>Due Date</th></tr>');

        $.get("/Home/IAA_CLICK", {}, function (data) {
            var view = $('div[id="ToDoList_Nav_Modal"] tbody');
            for (var i = 0; i < data.length; i++) {
                view.append(
                    "<tr onclick=\"window.location.href='\/Assessments\/Activity2\/?p_ResidentId=" + data[i][1].Value + "'\" name='" + data[i][1].Value + "'>" +
                    "<td>" + data[i][0].Value + " <\/td>" +
                    "<td>" + data[i][2].Value + " <\/td>" +
                    "<td>" + data[i][3].Value + " " + data[i][4].Value + " <\/td>" +
                    "<td>" + data[i][5].Value + " <\/td>" +
                    "<td><\/td>" +
                    "<td><\/td>" +
                    "<\/tr>");
            }
        });
    }

    function IDA_click_nav(ee) {
        ee.parentElement.parentElement.parentElement.style.display = "none";
        $('#dropdown_li_todolist').removeClass('show');
        $('div[id="ToDoList_Nav_Modal"] tbody').empty();
        $('div[id="ToDoList_Nav_Modal"] thead').empty();
        $('div[id="ToDoList_Nav_Modal"] .modal-title').html('Initial Dietary Assessment');
        $('div[id="ToDoList_Nav_Modal"] thead').append('<tr><th>S.No</th><th>Suite No</th><th>Name</th><th>Move In Date</th><th>Assessed Date</th><th>Due Date</th></tr>');

        $.get("/Home/IDA_CLICK", {}, function (data) {
            var view = $('div[id="ToDoList_Nav_Modal"] tbody');
            for (var i = 0; i < data.length; i++) {
                view.append(
                    "<tr onclick=\"window.location.href='\/Assessments\/DietaryHistory2\/?p_ResidentId=" + data[i][1].Value + "'\"  name='" + data[i][1].Value + "'>" +
                    "<td>" + data[i][0].Value + " <\/td>" +
                    "<td>" + data[i][2].Value + " <\/td>" +
                    "<td>" + data[i][3].Value + " " + data[i][4].Value + " <\/td>" +
                    "<td>" + data[i][5].Value + " <\/td>" +
                    "<td><\/td>" +
                    "<td><\/td>" +
                    "<\/tr>");
            }
        });
    }

    function IFRA_click_nav(ee) {
        ee.parentElement.parentElement.parentElement.style.display = "none";
        $('#dropdown_li_todolist').removeClass('show');
        $('div[id="ToDoList_Nav_Modal"] tbody').empty();
        $('div[id="ToDoList_Nav_Modal"] thead').empty();
        $('div[id="ToDoList_Nav_Modal"] .modal-title').html('Initial Fall Risk Assessment');
        $('div[id="ToDoList_Nav_Modal"] thead').append('<tr><th>S.No</th><th>Suite No</th><th>Name</th><th>Move In Date</th><th>Assessed Date</th><th>Due Date</th></tr>');

        $.get("/Home/IFRA_CLICK", {}, function (data) {
            var view = $('div[id="ToDoList_Nav_Modal"] tbody');
            for (var i = 0; i < data.length; i++) {
                view.append(
                    "<tr onclick=\"window.location.href='\/Assessments\/FallRisk2\/?p_ResidentId=" + data[i][1].Value + "'\" name='" + data[i][1].Value + "'>" +
                    "<td>" + data[i][0].Value + " <\/td>" +
                    "<td>" + data[i][2].Value + " <\/td>" +
                    "<td>" + data[i][3].Value + " " + data[i][4].Value + " <\/td>" +
                    "<td>" + data[i][5].Value + " <\/td>" +
                    "<td><\/td>" +
                    "<td><\/td>" +
                    "<\/tr>");
            }
        });
    }

    function IRCA_click_nav(ee) {
        ee.parentElement.parentElement.parentElement.style.display = "none";
        $('#dropdown_li_todolist').removeClass('show');
        $('div[id="ToDoList_Nav_Modal"] tbody').empty();
        $('div[id="ToDoList_Nav_Modal"] thead').empty();
        $('div[id="ToDoList_Nav_Modal"] .modal-title').html('Initial Resident Care Assessment');
        $('div[id="ToDoList_Nav_Modal"] thead').append('<tr><th>S.No</th><th>Suite No</th><th>Name</th><th>Move In Date</th><th>Assessed Date</th><th>Due Date</th></tr>');

        $.get("/Home/IRCA_CLICK", {}, function (data) {
            var view = $('div[id="ToDoList_Nav_Modal"] tbody');
            for (var i = 0; i < data.length; i++) {
                view.append(
                    "<tr onclick=\"window.location.href='\/Assessments\/CarePlan2\/?p_ResidentId=" + data[i][1].Value + "'\" name='" + data[i][1].Value + "'>" +
                    "<td>" + data[i][0].Value + " <\/td>" +
                    "<td>" + data[i][2].Value + " <\/td>" +
                    "<td>" + data[i][3].Value + " " + data[i][4].Value + " <\/td>" +
                    "<td>" + data[i][5].Value + " <\/td>" +
                    "<td><\/td>" +
                    "<td><\/td>" +
                    "<\/tr>");
            }
        });
    }

    function PN_click_nav(ee) {
        ee.parentElement.parentElement.parentElement.style.display = "none";
        $('#dropdown_li_todolist').removeClass('show');
        $('div[id="ToDoList_Nav_Modal"] tbody').empty();
        $('div[id="ToDoList_Nav_Modal"] thead').empty();
        $('div[id="ToDoList_Nav_Modal"] .modal-title').html('Progress Note');
        $('div[id="ToDoList_Nav_Modal"] thead').append('<tr><th>S.No</th><th> Suite No</th><th>Name</th><th>Move In Date</th><th>Assessed Date</th><th>Due Date</th></tr>');

        $.get("/Home/PN_CLICK", {}, function (data) {
            var view = $('div[id="ToDoList_Nav_Modal"] tbody');
            for (var i = 0; i < data.length; i++) {
                view.append(
                    //"<tr onclick=\"window.location.href='\/Assessments\/ProgressNotes\/?p_ResidentId=" + data[i][1].Value + "'\"   name='" + data[i][1].Value + "'>" +
                    "<tr onclick=\"window.location.href='\/Home\/ResidentMenu2\/?p_ResidentId=" + data[i][1].Value + "'\"   name='" + data[i][1].Value + "'>" +
                    "<td>" + data[i][0].Value + " <\/td>" +
                    "<td>" + data[i][2].Value + " <\/td>" +
                    "<td>" + data[i][3].Value + " " + data[i][4].Value + " <\/td>" +
                    "<td>" + data[i][5].Value + " <\/td>" +
                    "<td>" + data[i][6].Value + "<\/td>" +
                    "<td>" + data[i][7].Value + "<\/td>" +
                    "<\/tr>");
            }
        });
    }

    function AN_click_nav(ee) {

        ee.parentElement.parentElement.parentElement.style.display = "none";
        $('#dropdown_li_todolist').removeClass('show');
        $('div[id="ToDoList_Nav_Modal"] tbody').empty();
        $('div[id="ToDoList_Nav_Modal"] thead').empty();
        $('div[id="ToDoList_Nav_Modal"] .modal-title').html('Acknowledge Note');
        $('div[id="ToDoList_Nav_Modal"] thead').append('<tr><th>S.No</th><th> Suite No</th><th>Name</th><th>Move In Date</th><th>Progress Note Date</th><th style="width:11vw">Progress Note Tile</th><th></th></tr>');

        $.get("/Home/AN_CLICK", {}, function (data) {
            var view = $('div[id="ToDoList_Nav_Modal"] tbody');
            for (var i = 0; i < data.length; i++) {
                view.append(
                    "<tr name='" + data[i][2].Value + "' PNid='" + data[i][1].Value + "'>" +
                    "<td>" + data[i][0].Value + " <\/td>" +
                    "<td>" + data[i][3].Value + " <\/td>" +
                    "<td>" + data[i][4].Value + " " + data[i][5].Value + " <\/td>" +
                    "<td>" + data[i][6].Value + " <\/td>" +
                    "<td>" + data[i][7].Value + "<\/td>" +
                    "<td>" + data[i][8].Value + "<\/td>" +
                    "<td>" +
                    "<button type=\"button\" class=\"btn btn-primary\" onclick=\"AN_view_click(this)\">View<\/button>" +
                    "<\/td>" +
                    "<\/tr>");
            }
        });
    }

    function RAA_click_nav(ee) {
        ee.parentElement.parentElement.parentElement.style.display = "none";
        $('#dropdown_li_todolist').removeClass('show');
        $('div[id="ToDoList_Nav_Modal"] tbody').empty();
        $('div[id="ToDoList_Nav_Modal"] thead').empty();
        $('div[id="ToDoList_Nav_Modal"] .modal-title').html('Re-Activity Assessment');
        $('div[id="ToDoList_Nav_Modal"] thead').append('<tr><th>S.No</th><th> Suite No</th><th>Name</th><th>Assessed Date</th><th>Due Date</th><th>Due Days</th></tr>');

        $.get("/Home/RAA_CLICK", {}, function (data) {
            var view = $('div[id="ToDoList_Nav_Modal"] tbody');
            for (var i = 0; i < data.length; i++) {
                view.append(
                    "<tr onclick=\"window.location.href='\/Assessments\/Activity2\/?p_ResidentId=" + data[i][1].Value + "'\" name='" + data[i][1].Value + "'>" +
                    "<td>" + data[i][0].Value + " <\/td>" +
                    "<td>" + data[i][2].Value + " <\/td>" +
                    "<td>" + data[i][3].Value + " " + data[i][4].Value + " <\/td>" +
                    //"<td>" + data[i][5].Value + " <\/td>" +
                    "<td>" + data[i][6].Value + "<\/td>" +
                    "<td>" + data[i][7].Value + "<\/td>" +
                    "<td>" + data[i][8].Value + "<\/td>" +
                    "<\/tr>");
            }
        });
    }

    function RDA_click_nav(ee) {
        ee.parentElement.parentElement.parentElement.style.display = "none";
        $('#dropdown_li_todolist').removeClass('show');
        $('div[id="ToDoList_Nav_Modal"] tbody').empty();
        $('div[id="ToDoList_Nav_Modal"] thead').empty();
        $('div[id="ToDoList_Nav_Modal"] .modal-title').html('Re-Dietary Assessment');
        $('div[id="ToDoList_Nav_Modal"] thead').append('<tr><th>S.No</th><th> Suite No</th><th>Name</th><th>Assessed Date</th><th>Due Date</th><th>Due Days</th></tr>');


        $.get("/Home/RDA_CLICK", {}, function (data) {
            var view = $('div[id="ToDoList_Nav_Modal"] tbody');
            for (var i = 0; i < data.length; i++) {
                view.append(
                    "<tr onclick=\"window.location.href='\/Assessments\/DietaryHistory2\/?p_ResidentId=" + data[i][1].Value + "'\"  name='" + data[i][1].Value + "'>" +
                    "<td>" + data[i][0].Value + " <\/td>" +
                    "<td>" + data[i][2].Value + " <\/td>" +
                    "<td>" + data[i][3].Value + " " + data[i][4].Value + " <\/td>" +
                    //"<td>" + data[i][5].Value + " <\/td>" +
                    "<td>" + data[i][6].Value + "<\/td>" +
                    "<td>" + data[i][7].Value + "<\/td>" +
                    "<td>" + data[i][8].Value + "<\/td>" +
                    "<\/tr>");
            }
        });
    }

    function RFRA_click_nav(ee) {
        ee.parentElement.parentElement.parentElement.style.display = "none";
        $('#dropdown_li_todolist').removeClass('show');
        $('div[id="ToDoList_Nav_Modal"] tbody').empty();
        $('div[id="ToDoList_Nav_Modal"] thead').empty();
        $('div[id="ToDoList_Nav_Modal"] .modal-title').html('Re-Fall Risk Assessment');
        $('div[id="ToDoList_Nav_Modal"] thead').append('<tr><th>S.No</th><th> Suite No</th><th>Name</th><th>Assessed Date</th><th>Due Date</th><th>Due Days</th></tr>');

        $.get("/Home/RFRA_CLICK", {}, function (data) {
            var view = $('div[id="ToDoList_Nav_Modal"] tbody');
            for (var i = 0; i < data.length; i++) {
                view.append(
                    "<tr onclick=\"window.location.href='\/Assessments\/FallRisk2\/?p_ResidentId=" + data[i][1].Value + "'\" name='" + data[i][1].Value + "'>" +
                    "<td>" + data[i][0].Value + " <\/td>" +
                    "<td>" + data[i][2].Value + " <\/td>" +
                    "<td>" + data[i][3].Value + " " + data[i][4].Value + " <\/td>" +
                    //"<td>" + data[i][5].Value + " <\/td>" +
                    "<td>" + data[i][6].Value + "<\/td>" +
                    "<td>" + data[i][7].Value + "<\/td>" +
                    "<td>" + data[i][8].Value + "<\/td>" +
                    "<\/tr>");
            }
        });
    }

    function RRCA_click_nav(ee) {
        ee.parentElement.parentElement.parentElement.style.display = "none";
        $('#dropdown_li_todolist').removeClass('show');
        $('div[id="ToDoList_Nav_Modal"] tbody').empty();
        $('div[id="ToDoList_Nav_Modal"] thead').empty();
        $('div[id="ToDoList_Nav_Modal"] .modal-title').html('Re-Resident Care Assessment');
        $('div[id="ToDoList_Nav_Modal"] thead').append('<tr><th>S.No</th><th> Suite No</th><th>Name</th><th>Assessed Date</th><th>Due Date</th><th>Due Days</th></tr>');

        $.get("/Home/RRCA_CLICK", {}, function (data) {
            var view = $('div[id="ToDoList_Nav_Modal"] tbody');
            for (var i = 0; i < data.length; i++) {
                view.append(
                    "<tr onclick=\"window.location.href='\/Assessments\/CarePlan2\/?p_ResidentId=" + data[i][1].Value + "'\" name='" + data[i][1].Value + "'>" +
                    "<td>" + data[i][0].Value + " <\/td>" +
                    "<td>" + data[i][2].Value + " <\/td>" +
                    "<td>" + data[i][3].Value + " " + data[i][4].Value + " <\/td>" +
                    //"<td>" + data[i][5].Value + " <\/td>" +
                    "<td>" + data[i][6].Value + "<\/td>" +
                    "<td>" + data[i][7].Value + "<\/td>" +
                    "<td>" + data[i][8].Value + "<\/td>" +
                    "<\/tr>");
            }
        });
    }

    function RI_click_nav(ee) {
        ee.parentElement.parentElement.parentElement.style.display = "none";
        $('#dropdown_li_todolist').removeClass('show');
        $('div[id="ToDoList_Nav_Modal2"] tbody').empty();
        $('div[id="ToDoList_Nav_Modal2"] thead').empty();
        $('div[id="ToDoList_Nav_Modal2"] .modal-title').html('Resident Fall');
        $('div[id="ToDoList_Nav_Modal2"] thead').append('<tr><th style="width:5vw;">Suite No</th><th style="width:5vw;"> Name</th><th style="width:12vw;">Detail</th><th style="width:40vw">Note</th><th>Action Note</th><th style="width:10vw;">Acknowledge</th></tr>');

        $.get("/Home/RI_CLICK", {}, function (data) {
            var view = $('div[id="ToDoList_Nav_Modal2"] tbody');
            for (var i = 0; i < data.length; i++) {
                view.append(
                    "<tr name='" + data[i][2].Value + "' PNid='" + data[i][1].Value + "'>" +
                    "<td>" + data[i][3].Value + " <\/td>" +
                    "<td>" + data[i][4].Value + " " + data[i][5].Value + " <\/td>" +
                    "<td>Time: " + data[i][6].Value + "<br>Date: " + data[i][7].Value + "<br>" + data[i][8].Value + "<br>" + data[i][11].Value + " " + data[i][12].Value + " <\/td>" +
                    "<td>" + data[i][9].Value + "<\/td>" +
                    "<td><textarea class=\"formtext2\">" + data[i][10].Value + "<\/textarea><\/td>" +
                    "<td>" +
                    "<button type=\"button\" class=\"btn btn-primary\" style=\"font-size:0.7vw;\" onclick=\"RI_Acknowledge_click_nav(this)\">Acknowledge<\/button>" +
                    "<\/td>" +
                    "<\/tr>");
            }
        });
    }

    function RI_Acknowledge_click_nav(ee) {
        var re_id = ee.parentElement.parentElement.getAttribute("name");
        var PN_id = ee.parentElement.parentElement.getAttribute("pnid");
        var act_note = ee.parentElement.previousSibling.firstElementChild.value;
        $.post("/Home/RI_Acknowledge_CLICK", { pnid: PN_id, residentid: re_id, action: act_note }, function () {
            var p = ee.parentNode.parentNode;
            p.parentNode.removeChild(p);
        });
    }

    function RB_click_nav(ee) {
        ee.parentElement.parentElement.parentElement.style.display = "none";
        $('#dropdown_li_todolist').removeClass('show');
        $('div[id="ToDoList_Nav_Modal"] tbody').empty();
        $('div[id="ToDoList_Nav_Modal"] thead').empty();
        $('div[id="ToDoList_Nav_Modal"] .modal-title').html('Resident Birthday');
        $('div[id="ToDoList_Nav_Modal"] thead').append('<tr><th>S.No</th><th> Suite No</th><th>Name</th><th>Gender</th><th>Age</th><th>Birthday Date</th></tr>');

        $.get("/Home/RB_CLICK", {}, function (data) {
            var view = $('div[id="ToDoList_Nav_Modal"] tbody');
            for (var i = 0; i < data.length; i++) {
                view.append(
                    "<tr onclick=\"window.location.href='/Home/ResidentMenu/?p_ResidentId=" + data[i][1].Value + "'\" name='" + data[i][1].Value + "'>" +
                    "<td>" + data[i][0].Value + " <\/td>" +
                    "<td>" + data[i][2].Value + " <\/td>" +
                    "<td>" + data[i][3].Value + " " + data[i][4].Value + " <\/td>" +
                    "<td>" + data[i][5].Value + " <\/td>" +
                    "<td>" + data[i][6].Value + "<\/td>" +
                    "<td>" + data[i][7].Value + "<\/td>" +
                    "<\/tr>");
            }
        });
    }

    function RP_click_nav(ee) {
        ee.parentElement.parentElement.parentElement.style.display = "none";
        $('#dropdown_li_todolist').removeClass('show');
        $('div[id="ToDoList_Nav_Modal"] tbody').empty();
        $('div[id="ToDoList_Nav_Modal"] thead').empty();
        $('div[id="ToDoList_Nav_Modal"] .modal-title').html('Resident Birthday');
        $('div[id="ToDoList_Nav_Modal"] thead').append('<tr><th>S.No</th><th> Suite No</th><th>Name</th><th>Gender</th><th>Birthday Date</th></tr>');

        $.get("/Home/RP_CLICK", {}, function (data) {
            var view = $('div[id="ToDoList_Nav_Modal"] tbody');
            for (var i = 0; i < data.length; i++) {
                view.append(
                    "<tr onclick=\"window.location.href='/Home/ResidentMenu/?p_ResidentId=" + data[i][1].Value + "'\" name='" + data[i][1].Value + "'>" +
                    "<td>" + data[i][0].Value + " <\/td>" +
                    "<td>" + data[i][2].Value + " <\/td>" +
                    "<td>" + data[i][3].Value + " " + data[i][4].Value + " <\/td>" +
                    "<td>" + data[i][5].Value + " <\/td>" +
                    "<td>" + data[i][6].Value + "<\/td>" +
                    "<\/tr>");
            }
        });
    }

    function NR_click_nav(ee) {
        ee.parentElement.parentElement.parentElement.style.display = "none";
        $('#dropdown_li_todolist').removeClass('show');
        $('div[id="ToDoList_Nav_Modal"] tbody').empty();
        $('div[id="ToDoList_Nav_Modal"] thead').empty();
        $('div[id="ToDoList_Nav_Modal"] .modal-title').html('New Resident');
        $('div[id="ToDoList_Nav_Modal"] thead').append('<tr><th>S.No</th><th> Suite No</th><th>Name</th><th>Gender</th><th>Birthday Date</th></tr>');

        $.get("/Home/NR_CLICK", {}, function (data) {
            var view = $('div[id="ToDoList_Nav_Modal"] tbody');
            for (var i = 0; i < data.length; i++) {
                view.append(
                    "<tr onclick=\"window.location.href='/Home/ResidentMenu/?p_ResidentId=" + data[i][1].Value + "'\" name='" + data[i][1].Value + "'>" +
                    "<td>" + data[i][0].Value + " <\/td>" +
                    "<td>" + data[i][2].Value + " <\/td>" +
                    "<td>" + data[i][3].Value + " " + data[i][4].Value + " <\/td>" +
                    "<td>" + data[i][5].Value + " <\/td>" +
                    "<td>" + data[i][6].Value + "<\/td>" +
                    "<\/tr>");
            }
        });
    }

    function SA_click_nav(ee) {
        ee.parentElement.parentElement.parentElement.style.display = "none";
        $('#dropdown_li_todolist').removeClass('show');
        $('div[id="ToDoList_Nav_Modal"] tbody').empty();
        $('div[id="ToDoList_Nav_Modal"] thead').empty();
        $('div[id="ToDoList_Nav_Modal"] .modal-title').html('Suggested Activity Event');
        $('div[id="ToDoList_Nav_Modal"] thead').append('<tr><th>S.No</th><th> Suite No</th><th>Name</th><th>Suggested Event</th><th>Modified Date</th></tr>');

        $.get("/Home/SA_CLICK", {}, function (data) {
            var view = $('div[id="ToDoList_Nav_Modal"] tbody');
            for (var i = 0; i < data.length; i++) {
                view.append(
                    "<tr name='" + data[i][1].Value + "'>" +
                    "<td>" + data[i][0].Value + " <\/td>" +
                    "<td>" + data[i][2].Value + " <\/td>" +
                    "<td>" + data[i][3].Value + " " + data[i][4].Value + " <\/td>" +
                    "<td>" + data[i][5].Value + " <\/td>" +
                    "<td>" + data[i][6].Value + "<\/td>" +
                    "<\/tr>");
            }
        });
    }

    function NoteR_click_nav(ee) {
        ee.parentElement.parentElement.parentElement.style.display = "none";
        $('#dropdown_li_todolist').removeClass('show');
        $('div[id="ToDoList_Nav_Modal2"] tbody').empty();
        $('div[id="ToDoList_Nav_Modal2"] thead').empty();
        $('div[id="ToDoList_Nav_Modal2"] .modal-title').html('Progress Note Reminder');
        $('div[id="ToDoList_Nav_Modal2"] thead').append('<tr><th>S.No</th><th> Suite No</th><th>Name</th><th>Title</th><th>Notes</th><th>Action</th></tr>');

        $.get("/Home/Progress_Note_Reminder", {}, function (data) {
            var view = $('div[id="ToDoList_Nav_Modal2"] tbody');
            for (var i = 0; i < data.length; i++) {
                view.append(
                    "<tr name='" + data[i][7].Value + "'>" +
                    "<td>" + data[i][0].Value + " <\/td>" +
                    "<td>" + data[i][2].Value + " <\/td>" +
                    "<td>" + data[i][3].Value + " " + data[i][4].Value + " <\/td>" +
                    "<td>" + data[i][5].Value + " <\/td>" +
                    "<td>" + data[i][6].Value + "<\/td>" +
                    "<td><button class='btn btn-primary' onclick='Progress_Note_Reminder_Dismiss_Click()'>Dismiss</button><\/td>" +
                    "<\/tr>");
            }
        });
    }
    

    document.body.addEventListener("click", function (e) {
        if ($(e.target).closest('#dropdown_li_todolist').length)
            return;
        else {
            if ($('#dropdown_li_todolist').length > 0) {
                if (document.getElementById('dropdown_li_todolist').className == 'nav-item dropdown show') {
                    $('.ToDoListNav2').hide()
                    document.getElementById('dropdown_li_todolist').className = 'nav-item dropdown';
                }
            }

        }


    })

</script>