@model QolaMVC.EF_DAL.tbl_PostfallClinicalMonitoringDetails
<td><input type="text" name="firstcheck" value="@Model.firstcheck" class="form-control" id="staticEmail"></td>
<td><input type="text" name="onehourfirstcheck" value="@Model.onehourfirstcheck" class="form-control" id="staticEmail"></td>
<td><input type="text" name="onehoursecondcheck" value="@Model.onehoursecondcheck" class="form-control" id="staticEmail"></td>
<td><input type="text" name="threehoursfirstcheck" value="@Model.threehoursfirstcheck" class="form-control" id="staticEmail"></td>
<td><input type="text" name="threehourssecondcheck" value="@Model.threehourssecondcheck" class="form-control" id="staticEmail"></td>
<td><input type="text" name="threehoursthirdcheck" value="@Model.threehoursthirdcheck" class="form-control" id="staticEmail"></td>
<td><input type="text" name="fourtyeighthoursfirstcheck" value="@Model.fourtyeighthoursfirstcheck" class="form-control" id="staticEmail"></td>
<td><input type="text" name="fourtyeighthourssecondcheck" value="@Model.fourtyeighthourssecondcheck" class="form-control" id="staticEmail"></td>
<td><input type="text" name="fourtyeighthoursthirdcheck" value="@Model.fourtyeighthoursthirdcheck" class="form-control" id="staticEmail"></td>
<td><input type="text" name="fourtyeighthoursfourthcheck" value="@Model.fourtyeighthoursfourthcheck" class="form-control" id="staticEmail"></td>
<td><input type="text" name="fourtyeighthoursfifthcheck" value="@Model.fourtyeighthoursfifthcheck" class="form-control" id="staticEmail"></td>
