<style>
    .zoom:hover {
        transform: scale(2.5);
    }
</style>
@model QolaMVC.Models.NEW_Postfall_Clinial_Monitoring_Part_Details_A1Model 
 <td><input type="text"  value="@Model.Firstcheck" class="form-control zoom" id="staticEmail"></td>
 <td><input type="text"  value="@Model.Onehourfirstcheck" class="form-control zoom" id="staticEmail"></td>
  <td><input type="text"  value="@Model.Onehoursecondcheck" class="form-control zoom" id="staticEmail"></td>
   <td><input type="text"  value="@Model.Threehoursfirstcheck" class="form-control zoom" id="staticEmail"></td>
  <td><input type="text" value="@Model.Threehourssecondcheck" class="form-control zoom" id="staticEmail"></td>
 <td><input type="text"  value="@Model.Threehoursthirdcheck" class="form-control zoom" id="staticEmail"></td>
   <td><input type="text"  value="@Model.Fourtyeighthoursfirstcheck" class="form-control zoom" id="staticEmail"></td>
  <td><input type="text"  value="@Model.Fourtyeighthourssecondcheck" class="form-control zoom" id="staticEmail"></td>
  <td><input type="text"  value="@Model.Fourtyeighthoursthirdcheck" class="form-control zoom" id="staticEmail"></td>
  <td><input type="text" value="@Model.Fourtyeighthoursfourthcheck" class="form-control zoom" id="staticEmail"></td>
<td><input type="text"  value="@Model.Fourtyeighthoursfifthcheck" class="form-control zoom" id="staticEmail"></td>
