
@model QolaMVC.Models.ResidentModel
@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")

<style>
    .form-tabs .nav-link {
        font-size: 1rem;
    }

    .modal-xlg {
        width: 900px !important;
        max-width: 1000px !important;
    }
</style>
<script>

    function Hospitalization_button_click()
    {
        if (document.getElementById("Hospitalization").className == "nav-link")
        {
            var nodes = document.getElementsByClassName("nav-link active");
            for (var a = nodes.length-1; a >=0;a--)
            {
                nodes[a].className = "nav-link";
            }
        }
    }

    function moveoutbuttonclick() {

        if (document.getElementById("Hospitalization").className == "nav-link active") {
            document.getElementById("Hospitalization").className = "nav-link";
        }
        if (document.getElementById("Hospitalization").className == "nav-link") {
            document.getElementById("ApplicationSuite").className = "nav-link";
            document.getElementById("ChangeOccupancy").className = "nav-link";
            document.getElementById("InternalTransfer").className = "nav-link";
            document.getElementById("TransfertoASCHOME").className = "nav-link";
        }
    }

    function ModificationsorTransferbuttonfunction() {

        if (document.getElementById("Hospitalization").className == "nav-link active") {
            document.getElementById("Hospitalization").className = "nav-link";
        }
        if (document.getElementById("Hospitalization").className == "nav-link") {
            document.getElementById("EndofLease").className = "nav-link";
            document.getElementById("Palliative").className = "nav-link";
            document.getElementById("LTC").className = "nav-link";
            document.getElementById("OtherRetirement").className = "nav-link";
            document.getElementById("PassedAway").className = "nav-link";
            document.getElementById("Other").className = "nav-link";
        }
    }

    function option_button_click(click_id) {
        var nodes = document.getElementsByClassName("nav-link active");
        for (var a = nodes.length - 1; a >= 0; a--) {
            nodes[a].className = "nav-link";
        }
        var nodes2 = document.getElementsByClassName("tab-pane fade show active");
        for (var a = nodes2.length - 1; a >= 0; a--) {
            nodes2[a].className = "tab-pane fade";
        }

        document.getElementById("pills-" + click_id).className = "tab-pane fade show active";
    }



</script>




<!-- START PAGE-CONTAINER -->
<div class="page-container">

    @RenderPage("~/Views/Shared/_NavBar.cshtml")

    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <!-- START JUMBOTRON -->
            <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                <div class="container-fluid container-fixed-lg">
                    <!-- <div class="inner"> -->
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h3>Suite Handler</h3>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <!-- END JUMBOTRON -->

            <div style="height: 60px;"></div>

            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg">
                <!-- BEGIN PlACE PAGE CONTENT HERE -->


                <div class="card">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-7">
                                        <img src="~/Content/assets/@Model.ResidentImage"
                                             style="width: 120px"
                                             alt="">
                                    </div>
                                    <div class="col-md-5">
                                        <h6>@Model.FirstName   @Model.LastName</h6>
                                        <h6>@Model.Gendar</h6>
                                        <h6>@Model.BirthDate.ToShortDateString()</h6>
                                    </div>
                                </div>
                                @*<div class="row">
                                    <div class="col-md-12">
                                        <h6 style="color: red">Sample</h6>
                                    </div>
                                </div>*@
                            </div>



                            <div class="col-md-9_changebymike">
                                <div class="form-tabs mt-4">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <h6><b>Modifications or Transfer</b> </h6>
                                        </div>
                                        
                                    </div>
                                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="ApplicationSuite" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true" onclick="option_button_click(this.id)">Application Suite</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="ChangeOccupancy" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false" onclick="option_button_click(this.id)">Change Occupancy</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="InternalTransfer" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false" onclick="option_button_click(this.id)">Internal Transfer</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="TransfertoASCHOME" data-toggle="pill" href="#pills-other" role="tab" aria-controls="pills-contact" aria-selected="false" onclick="option_button_click(this.id)">Transfer to ASC HOME</a>
                                        </li>
                                    </ul>
                                    <h6><b>Move Out</b> </h6>
                                    
                                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link" id="EndofLease" data-toggle="pill" href="#pills-home2" role="tab" aria-controls="pills-home" aria-selected="true" onclick="option_button_click(this.id)">End of Lease</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="Palliative" data-toggle="pill" href="#pills-profile2" role="tab" aria-controls="pills-profile" aria-selected="false" onclick="option_button_click(this.id)">Palliative</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="LTC" data-toggle="pill" href="#pills-contact2" role="tab" aria-controls="pills-contact" aria-selected="false" onclick="option_button_click(this.id)">LTC</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="OtherRetirement" data-toggle="pill" href="#pills-other2" role="tab" aria-controls="pills-contact" aria-selected="false" onclick="option_button_click(this.id)">Other Retirement</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" id="PassedAway" data-toggle="pill" href="#pills-passed" role="tab" aria-controls="pills1" aria-selected="false" onclick="option_button_click(this.id)">Passed Away</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" id="Other" data-toggle="pill" href="#pills-other3" role="tab" aria-controls="pills2" aria-selected="false" onclick="option_button_click(this.id)">Other</a>
                                        </li>
                                    </ul>

                                    <h6><b>Hospital</b> </h6>

                                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link" id="Hospitalization" data-toggle="pill" href="#pills-home2" role="tab" aria-controls="pills-home" aria-selected="true" onclick="option_button_click(this.id)">Hospitalization</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content" id="pills-tabContent">

                                        <div class="tab-pane fade show active" id="pills-ApplicationSuite" role="tabpanel" aria-labelledby="pills-home-tab">
                                            <div class="row">
                                                <table class="table table-bordered" style="margin-left:1vw">
                                                    <thead class="bg-primary">
                                                        <tr>
                                                            <th class="text-white text-center">Home</th>
                                                            <th class="text-white text-center">Suite No</th>
                                                            <th class="text-white text-center">Move In Date</th>
                                                            <th class="text-white text-center">Move Out Date</th>
                                                            <th class="text-white text-center">Occupancy</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>@Model.Home.Name</td>
                                                            <td>@Model.SuiteNo</td>
                                                            <td>@Model.MoveInDate</td>
                                                            <td>@Model.MoveOutDate</td>
                                                            <td>@Model.Occupancy</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Move In Date</label>
                                                        <div class="col-md-5">
                                                            <input type ="date" class="form-control" id="dateinputApplicationSuite">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(MM/DD/YYYY)</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Suite #</label>
                                                        <div class="col-md-7">
                                                            <select name="" id="available_SuiteApplicationSuite" class="form-control" onfocus="suitenumber()">
                                                                <option value="">--Suite--</option>
                                                            </select>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 text-right col-form-label">Occupancy</label>
                                                        <div class="col-md-7">
                                                            <select name="occupancyselectname" id="occupancyselectidApplicationSuite" class="form-control">
                                                                <option value="0">--Select--</option>
                                                                <option value="1">Single</option>
                                                                <option value="2">Double</option>
                                                                <option value="3">Triple</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-1 col-form-label">Notes</label>
                                                        <div class="col-md-11">
                                                            <textarea class="textarea" rows="5" style="width: 95% !important; margin-left: 47px"></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-danger">
                                                        BACK
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        SAVE
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        CLEAR
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-ChangeOccupancy" role="tabpanel" aria-labelledby="pills-profile-tab">
                                            <div class="row">
                                                <table class="table table-bordered" style="margin-left:1vw">
                                                    <thead class="bg-primary">
                                                        <tr>
                                                            <th class="text-white text-center">Home</th>
                                                            <th class="text-white text-center">Suite No</th>
                                                            <th class="text-white text-center">Move In Date</th>
                                                            <th class="text-white text-center">Move Out Date</th>
                                                            <th class="text-white text-center">Occupancy</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>@Model.Home.Name</td>
                                                            <td>@Model.SuiteNo</td>
                                                            <td>@Model.MoveInDate</td>
                                                            <td>@Model.MoveOutDate</td>
                                                            <td>@Model.Occupancy</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Transfer Date</label>
                                                        <div class="col-md-5">
                                                            <input type="date" class="form-control" id="dateinputChangeOccupancy">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(MM/DD/YYYY)</p>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 text-right col-form-label">Occupancy</label>
                                                        <div class="col-md-7">
                                                            <select name="occupancyselectname" id="occupancyselectidChangeOccupancy" class="form-control">
                                                                <option value="0">--Select--</option>
                                                                <option value="1">Single</option>
                                                                <option value="2">Double</option>
                                                                <option value="3">Triple</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-1 col-form-label">Notes</label>
                                                        <div class="col-md-11">
                                                            <textarea class="textarea" rows="5" style="width: 95% !important; margin-left: 47px"></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-danger">
                                                        BACK
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        SAVE
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        CLEAR
                                                    </button>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="tab-pane fade" id="pills-InternalTransfer" role="tabpanel" aria-labelledby="pills-contact-tab">
                                            <div class="row">
                                                <table class="table table-bordered" style="margin-left:1vw">
                                                    <thead class="bg-primary">
                                                        <tr>
                                                            <th class="text-white text-center">Home</th>
                                                            <th class="text-white text-center">Suite No</th>
                                                            <th class="text-white text-center">Move In Date</th>
                                                            <th class="text-white text-center">Move Out Date</th>
                                                            <th class="text-white text-center">Occupancy</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>@Model.Home.Name</td>
                                                            <td>@Model.SuiteNo</td>
                                                            <td>@Model.MoveInDate</td>
                                                            <td>@Model.MoveOutDate</td>
                                                            <td>@Model.Occupancy</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Transfer Date</label>
                                                        <div class="col-md-5">
                                                            <input type="date" class="form-control" id="dateinputInternalTransfer">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(MM/DD/YYYY)</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Suite #</label>
                                                        <div class="col-md-7">
                                                            <select name="" id="available_SuiteInternalTransfer" class="form-control" onfocus="suitenumber()">
                                                                <option value="">--Suite--</option>
                                                            </select>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 text-right col-form-label">Occupancy</label>
                                                        <div class="col-md-7">
                                                            <select name="occupancyselectname" id="occupancyselectidInternalTransfer" class="form-control">
                                                                <option value="0">--Select--</option>
                                                                <option value="1">Single</option>
                                                                <option value="2">Double</option>
                                                                <option value="3">Triple</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-1 col-form-label">Notes</label>
                                                        <div class="col-md-11">
                                                            <textarea class="textarea" rows="5" style="width: 95% !important; margin-left: 47px"></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-danger">
                                                        BACK
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        SAVE
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        CLEAR
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-TransfertoASCHOME" role="tabpanel" aria-labelledby="pills-contact-tab">
                                            <div class="row">
                                                <table class="table table-bordered" style="margin-left:1vw">
                                                    <thead class="bg-primary">
                                                        <tr>
                                                            <th class="text-white text-center">Home</th>
                                                            <th class="text-white text-center">Suite No</th>
                                                            <th class="text-white text-center">Move In Date</th>
                                                            <th class="text-white text-center">Move Out Date</th>
                                                            <th class="text-white text-center">Occupancy</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>@Model.Home.Name</td>
                                                            <td>@Model.SuiteNo</td>
                                                            <td>@Model.MoveInDate</td>
                                                            <td>@Model.MoveOutDate</td>
                                                            <td>@Model.Occupancy</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">

                                                        <label for="staticEmail" class="col-md-4 col-form-label">Home</label>
                                                        <select name="ctl00$QOLAContent$ddlHome" id="QOLAContent_ddlHome" class="combo_clr" style="height:27px;">
                                                            <option value="0">--Home--</option>
                                                            <option value="15">Auburn Heights Retirement Residence</option>
                                                            <option value="5">Laurel Heights Retirement Residence</option>
                                                            <option value="26">Lewis Estates</option>
                                                            <option value="35">Mactaggart Place Retirement Residence</option>
                                                            <option value="1">Rutherford Heights Retirement Residence</option>
                                                            <option value="33">Sage Hill Retirement Residence</option>
                                                            <option value="31">St. Albert Retirement Residence</option>
                                                            <option value="3">Summerwood Village Retirement Residence</option>
                                                            <option value="30">River Ridge 2 Retirement Residence</option>
                                                            <option value="4">River Ridge Retirement Residence</option>
                                                            <option value="17">Seine River Retirement Residence</option>
                                                            <option value="6">Shaftesbury Park Retirement Residence</option>
                                                            <option value="18">Sturgeon Creek I Retirement Residence</option>
                                                            <option value="13">Sturgeon Creek II Retirement Residence</option>
                                                            <option value="12">Victoria Landing Retirement Residence</option>
                                                            <option value="2">Beacon Heights Retirement Residence</option>
                                                            <option value="7">Cedarcroft Place Retirement Residence</option>
                                                            <option value="27">Chapel Hill Retirement Residence</option>
                                                            <option value="32">Cit&#233; Parkway Retirement Residence</option>
                                                            <option value="34">Eagleson Retirement Residence</option>
                                                            <option value="28">Mccarthy Place</option>
                                                            <option value="29">Sample</option>
                                                            <option value="16">College Park II Retirement Residence</option>
                                                            <option value="8">College Park Retirement Residence</option>
                                                            <option value="14">Preston Park II Retirement Residence</option>
                                                            <option value="11">Preston Park Retirement Residence</option>
                                                            <option value="20">465, Boulevard De La Gappe</option>
                                                            <option value="21">475 Boulevard De La Gappe</option>
                                                            <option value="22">485 Boulevard De La Gappe</option>
                                                            <option value="23">495 Boulevard De La Gappe</option>
                                                            <option value="19">Chateau Symmes Retirement Residence</option>

                                                        </select>

                                                        <label for="staticEmail" class="col-md-4 col-form-label">Transfer Date</label>
                                                        <div class="col-md-5">
                                                            <input type="date" class="form-control" id="dateinputTransfertoASCHOME">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(MM/DD/YYYY)</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Suite #</label>
                                                        <div class="col-md-7">
                                                            <select name="" id="available_Suite2" class="form-control" onfocus="suitenumber2()">
                                                                <option value="">--Suite--</option>
                                                            </select>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 text-right col-form-label">Occupancy</label>
                                                        <div class="col-md-7">
                                                            <select name="occupancyselectname" id="occupancyselectidTransfertoASCHOME" class="form-control">
                                                                <option value="0">--Select--</option>
                                                                <option value="1">Single</option>
                                                                <option value="2">Double</option>
                                                                <option value="3">Triple</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-1 col-form-label">Notes</label>
                                                        <div class="col-md-11">
                                                            <textarea class="textarea" rows="5" style="width: 95% !important; margin-left: 47px"></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-danger">
                                                        BACK
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        SAVE
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        CLEAR
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-EndofLease" role="tabpanel" aria-labelledby="pills-home-tab">
                                            <div class="row">
                                                <table class="table table-bordered" style="margin-left:1vw">
                                                    <thead class="bg-primary">
                                                        <tr>
                                                            <th class="text-white text-center">Home</th>
                                                            <th class="text-white text-center">Suite No</th>
                                                            <th class="text-white text-center">Move In Date</th>
                                                            <th class="text-white text-center">Move Out Date</th>
                                                            <th class="text-white text-center">Occupancy</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>@Model.Home.Name</td>
                                                            <td>@Model.SuiteNo</td>
                                                            <td>@Model.MoveInDate</td>
                                                            <td>@Model.MoveOutDate</td>
                                                            <td>@Model.Occupancy</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6" style="min-width:50vw">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Move out Date</label>
                                                        <div class="col-md-5">
                                                            <input type="date" class="form-control" id="dateinputEndofLease">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(MM/DD/YYYY)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-1 col-form-label">Notes</label>
                                                        <div class="col-md-11">
                                                            <textarea class="textarea" rows="5" style="width: 95% !important; margin-left: 47px"></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-danger">
                                                        BACK
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        SAVE
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        CLEAR
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-Palliative" role="tabpanel" aria-labelledby="pills-profile-tab">
                                            <div class="row">
                                                <table class="table table-bordered" style="margin-left:1vw">
                                                    <thead class="bg-primary">
                                                        <tr>
                                                            <th class="text-white text-center">Home</th>
                                                            <th class="text-white text-center">Suite No</th>
                                                            <th class="text-white text-center">Move In Date</th>
                                                            <th class="text-white text-center">Move Out Date</th>
                                                            <th class="text-white text-center">Occupancy</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>@Model.Home.Name</td>
                                                            <td>@Model.SuiteNo</td>
                                                            <td>@Model.MoveInDate</td>
                                                            <td>@Model.MoveOutDate</td>
                                                            <td>@Model.Occupancy</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6" style="min-width:50vw">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Move out Date</label>
                                                        <div class="col-md-5">
                                                            <input type="date" class="form-control" id="dateinputPalliative">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(MM/DD/YYYY)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-1 col-form-label">Notes</label>
                                                        <div class="col-md-11">
                                                            <textarea class="textarea" rows="5" style="width: 95% !important; margin-left: 47px"></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-danger">
                                                        BACK
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        SAVE
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        CLEAR
                                                    </button>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="tab-pane fade" id="pills-LTC" role="tabpanel" aria-labelledby="pills-contact-tab">
                                            <div class="row">
                                                <table class="table table-bordered" style="margin-left:1vw">
                                                    <thead class="bg-primary">
                                                        <tr>
                                                            <th class="text-white text-center">Home</th>
                                                            <th class="text-white text-center">Suite No</th>
                                                            <th class="text-white text-center">Move In Date</th>
                                                            <th class="text-white text-center">Move Out Date</th>
                                                            <th class="text-white text-center">Occupancy</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>@Model.Home.Name</td>
                                                            <td>@Model.SuiteNo</td>
                                                            <td>@Model.MoveInDate</td>
                                                            <td>@Model.MoveOutDate</td>
                                                            <td>@Model.Occupancy</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6" style="min-width:50vw">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Move Out Date</label>
                                                        <div class="col-md-5">
                                                            <input type="date" class="form-control" id="dateinputLTC">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(MM/DD/YYYY)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-1 col-form-label">Notes</label>
                                                        <div class="col-md-11">
                                                            <textarea class="textarea" rows="5" style="width: 95% !important; margin-left: 47px"></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-danger">
                                                        BACK
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        SAVE
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        CLEAR
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-OtherRetirement" role="tabpanel" aria-labelledby="pills-contact-tab">
                                            <div class="row">
                                                <table class="table table-bordered" style="margin-left:1vw">
                                                    <thead class="bg-primary">
                                                        <tr>
                                                            <th class="text-white text-center">Home</th>
                                                            <th class="text-white text-center">Suite No</th>
                                                            <th class="text-white text-center">Move In Date</th>
                                                            <th class="text-white text-center">Move Out Date</th>
                                                            <th class="text-white text-center">Occupancy</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>@Model.Home.Name</td>
                                                            <td>@Model.SuiteNo</td>
                                                            <td>@Model.MoveInDate</td>
                                                            <td>@Model.MoveOutDate</td>
                                                            <td>@Model.Occupancy</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6" style="min-width:50vw">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Move Out Date</label>
                                                        <div class="col-md-5">
                                                            <input type="date" class="form-control" id="dateinputOtherRetirement">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(MM/DD/YYYY)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-1 col-form-label">Notes</label>
                                                        <div class="col-md-11">
                                                            <textarea class="textarea" rows="5" style="width: 95% !important; margin-left: 47px"></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-danger">
                                                        BACK
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        SAVE
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        CLEAR
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-PassedAway" role="tabpanel" aria-labelledby="pills-contact-tab">
                                            <div class="row">
                                                <table class="table table-bordered" style="margin-left:1vw">
                                                    <thead class="bg-primary">
                                                        <tr>
                                                            <th class="text-white text-center">Home</th>
                                                            <th class="text-white text-center">Suite No</th>
                                                            <th class="text-white text-center">Move In Date</th>
                                                            <th class="text-white text-center">Move Out Date</th>
                                                            <th class="text-white text-center">Occupancy</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>@Model.Home.Name</td>
                                                            <td>@Model.SuiteNo</td>
                                                            <td>@Model.MoveInDate</td>
                                                            <td>@Model.MoveOutDate</td>
                                                            <td>@Model.Occupancy</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Pass Away Date</label>
                                                        <div class="col-md-5">
                                                            <input type="date" class="form-control" id="passawaydatePassedAway">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(MM/DD/YYYY)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Move Out Date</label>
                                                        <div class="col-md-5">
                                                            <input type="date" class="form-control" id="moveoutdatePassedAway">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(MM/DD/YYYY)</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-1 col-form-label">Notes</label>
                                                        <div class="col-md-11">
                                                            <textarea class="textarea" rows="5" style="width: 95% !important; margin-left: 47px"></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-danger">
                                                        BACK
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        SAVE
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        CLEAR
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-Other" role="tabpanel" aria-labelledby="pills-contact-tab">
                                            <div class="row">
                                                <table class="table table-bordered" style="margin-left:1vw">
                                                    <thead class="bg-primary">
                                                        <tr>
                                                            <th class="text-white text-center">Home</th>
                                                            <th class="text-white text-center">Suite No</th>
                                                            <th class="text-white text-center">Move In Date</th>
                                                            <th class="text-white text-center">Move Out Date</th>
                                                            <th class="text-white text-center">Occupancy</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>@Model.Home.Name</td>
                                                            <td>@Model.SuiteNo</td>
                                                            <td>@Model.MoveInDate</td>
                                                            <td>@Model.MoveOutDate</td>
                                                            <td>@Model.Occupancy</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6" style="min-width:50vw">
                                                    <div class="form-group row" >
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Move Out Date</label>
                                                        <div class="col-md-5">
                                                            <input type="date" class="form-control" id="dateinputOther">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(MM/DD/YYYY)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-1 col-form-label">Notes</label>
                                                        <div class="col-md-11">
                                                            <textarea class="textarea" rows="5" style="width: 95% !important; margin-left: 47px"></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-danger">
                                                        BACK
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        SAVE
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        CLEAR
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-Hospitalization" role="tabpanel" aria-labelledby="pills-contact-tab">
                                            <div class="row">
                                                <table class="table table-bordered" style="margin-left:1vw">
                                                    <thead class="bg-primary">
                                                        <tr>
                                                            <th class="text-white text-center">Home</th>
                                                            <th class="text-white text-center">Suite No</th>
                                                            <th class="text-white text-center">Move In Date</th>
                                                            <th class="text-white text-center">Move Out Date</th>
                                                            <th class="text-white text-center">Occupancy</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>@Model.Home.Name</td>
                                                            <td>@Model.SuiteNo</td>
                                                            <td>@Model.MoveInDate</td>
                                                            <td>@Model.MoveOutDate</td>
                                                            <td>@Model.Occupancy</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Leaving Date</label>
                                                        <div class="col-md-5">
                                                            <input type="date" class="form-control" id="leavingdateHospitalization">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(MM/DD/YYYY)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Expected Return Date</label>
                                                        <div class="col-md-5">
                                                            <input type="date" class="form-control" id="expectedHospitalization">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(MM/DD/YYYY)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Actual Return Date</label>
                                                        <div class="col-md-5">
                                                            <input type="date" class="form-control" id="actualHospitalization">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(MM/DD/YYYY)</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-1 col-form-label">Notes</label>
                                                        <div class="col-md-11">
                                                            <textarea class="textarea" rows="5" style="width: 95% !important; margin-left: 47px"></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-danger">
                                                        BACK
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        SAVE
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        CLEAR
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-content" id="pills-tabContent">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- END PLACE PAGE CONTENT HERE -->
            </div>
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->






        @RenderPage("~/Views/Shared/_Footer.cshtml")





