@model QolaMVC.Models.ResidentModel
@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")
<style>

    .form-tabs .nav-link {
        font-size: 1rem;
    }

    .modal-xlg {
        width: 900px !important;
        max-width: 1000px !important;
    }

    #EDIT_BUTTON {
        background-color: #015093;
        color: white;
        padding: 0.6vw 1vw 0.5vw 1vw;
        border-radius: 0.3vw;
    }

    .nav-link.active {
        background-color: #015093 !important;
    }
    input[type=checkbox] {
        /* Double-sized Checkboxes */
        -ms-transform: scale(1.5); /* IE */
        -moz-transform: scale(1.5); /* FF */
        -webkit-transform: scale(1.5); /* Safari and Chrome */
        -o-transform: scale(1.5); /* Opera */
        padding: 10px;
        margin-top: 10px;
    }
    #edit_table tbody tr td{
        font-size:0.9vw;
    }
    #edit_table tbody tr td select{
        font-size: 0.9vw;
    }
    #edit_table tbody tr input {
        font-size: 0.9vw;
    }

</style>
<script>

    function option_button_click_hos(click_id) {

        var inputs = $('#pills-tabContent .jsdatepicker').each(function () {
            $(this).val("");
        });
        var selects = $("#pills-tabContent select").each(function () {
            $(this).val("");
        });
        var textareas = $("#pills-tabContent textarea").each(function () {
            $(this).val("");
        });
        var nodes = document.getElementsByClassName("nav-link active");
        for (var a = nodes.length - 1; a >= 0; a--) {
            nodes[a].className = "nav-link";
        }
        var nodes2 = document.getElementsByClassName("tab-pane fade show active");
        for (var a = nodes2.length - 1; a >= 0; a--) {
            nodes2[a].className = "tab-pane fade";
        }
        document.getElementById("pills-" + click_id).className = "tab-pane fade show active";

        $('#Hospital_None').attr('class', 'nav-link active');

        $.get("/Residents/get_Leaving_date", {}, function (data) {
            if (data != "") {

                $.get("/Residents/get_Resident_Away_Schedule", {}, function (data2) {
                    if (data2 != "") {
                        $('#Resident_Away_Table_Id').val(data2);
                    }
                });

                var a = $('#leavingDate_Hospitalization');
                a[0].value = data;
            }
        });


    }

    function moveoutbuttonclick() {
        if (document.getElementById("Hospitalization").className == "nav-link active") {
            document.getElementById("Hospitalization").className = "nav-link";
        }
        if (document.getElementById("Hospitalization").className == "nav-link") {
            document.getElementById("ApplicationSuite").className = "nav-link";
            document.getElementById("ChangeOccupancy").className = "nav-link";
            document.getElementById("InternalTransfer").className = "nav-link";
            document.getElementById("TransfertoASCHOME").className = "nav-link";
        }
    }

    function ModificationsorTransferbuttonfunction() {

        if (document.getElementById("Hospitalization").className == "nav-link active") {
            document.getElementById("Hospitalization").className = "nav-link";
        }
        if (document.getElementById("Hospitalization").className == "nav-link") {
            document.getElementById("ReturnedHome").className = "nav-link";
            document.getElementById("Palliative").className = "nav-link";
            document.getElementById("LTC").className = "nav-link";
            document.getElementById("OtherRetirement").className = "nav-link";
            document.getElementById("PassedAway").className = "nav-link";
            document.getElementById("Other").className = "nav-link";
        }
    }

    function option_button_click(click_id) {
        var inputs = $('#pills-tabContent .jsdatepicker').each(function () {
            $(this).val("");
        });
        var selects = $("#pills-tabContent select").each(function () {
            $(this).val("");
        });
        var textareas = $("#pills-tabContent textarea").each(function () {
            $(this).val("");
        });
        var nodes = document.getElementsByClassName("nav-link active");
        for (var a = nodes.length - 1; a >= 0; a--) {
            nodes[a].className = "nav-link";
        }
        var nodes2 = document.getElementsByClassName("tab-pane fade show active");
        for (var a = nodes2.length - 1; a >= 0; a--) {
            nodes2[a].className = "tab-pane fade";
        }
        document.getElementById("pills-" + click_id).className = "tab-pane fade show active";
    }

    function edit_button_click() {
        if (document.getElementById('editform').style.display == 'none') {
            document.getElementById('editform').style.display = 'block';
            document.getElementById('suitehandlerform').style.display = 'none';
        }
    }

    function Back_in_edit_button_click() {
        var inputs = $("#pills-tabContent input[type=date]").each(function () {
            $(this).val("");
        });
        var selects = $("#pills-tabContent select").each(function () {
            $(this).val("");
        });
        var textareas = $("#pills-tabContent textarea").each(function () {
            $(this).val("");
        });
        if (document.getElementById('editform').style.display == 'block') {
            document.getElementById('editform').style.display = 'none';
            document.getElementById('suitehandlerform').style.display = 'block';
        }
    }







</script>


<!-- START PAGE-CONTAINER -->
<div class="page-container">
    @RenderPage("~/Views/Shared/_NavBar.cshtml")
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <!-- START JUMBOTRON -->
            <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                <div class="container-fluid container-fixed-lg">
                    <!-- <div class="inner"> -->
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h3>Suite Handler</h3>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <!-- END JUMBOTRON -->
            <div style="height: 60px;"></div>
            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg">
                <!-- BEGIN PlACE PAGE CONTENT HERE -->

                <div class="card">
                    <div class="card-block">
                        <div class="row">
                            <div class="" style="width:100%;margin-left:2%;">
                                <div class="row" style="width:30%;">
                                    <div class="" style="width:45%;display:inline-block;">
                                        <img src="~/Content/assets/@Model.ResidentImage"
                                             style="width:70%"
                                             alt="">
                                    </div>
                                    <div class="" style="width:50%;display:inline-block;">
                                        <h6>@Model.FirstName   @Model.LastName</h6>
                                        <h6>@Model.Gendar</h6>
                                        <h6>@Model.BirthDate.ToShortDateString()</h6>
                                        @{
                                            if (ViewBag.User.UserType==1)
                                            {
                                                <button class="edit_button" id="EDIT_BUTTON" onclick="edit_button_click()">
                                                    EDIT
                                                </button>
                                            }
                                        }
                                    </div>
                                </div>
                                <div id="editform" style="display:none;min-width:70vw;">
                                    <br />
                                    <div class="row">
                                        @*@(new HtmlString(TempData["table2"].ToString()))*@
                                        <table class="table table-bordered" style="margin-left:1vw" id="edit_table">
                                            <thead class="bg-primary">
                                                <tr>
                                                    <th class="text-white text-center" style="width:5% !important;"></th>
                                                    <th class="text-white text-center" style="width:26% !important;">Home</th>
                                                    <th class="text-white text-center" style="width:7% !important;">Suite No</th>
                                                    <th class="text-white text-center" style="width:12% !important;">Move In Date</th>
                                                    <th class="text-white text-center" style="width:12% !important;">Move Out Date</th>
                                                    <th class="text-white text-center" style="width:9% !important;">Occupancy</th>
                                                    <th class="text-white text-center">Notes</th>
                                                    <th class="text-white text-center" style="width:5% !important;">Hospital</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    if (ViewBag.TableEDIT != null)
                                                    {
                                                        foreach (var rd in ViewBag.TableEDIT)
                                                        {
                                                            <tr id=@rd.SHid>
                                                                <td style="padding:10px !important;"><input type="checkbox" class="checkboxlist" id=@rd.SHid /></td>
                                                                <td style="padding:10px !important;">
                                                                    <select class="edit_home form-control" onchange="edit_selection_onchange_empty_suite(this)" style="min-width:100%;">
                                                                        <option value=@rd.homeid selected>@rd.homename</option>
                                                                        @foreach (var building in ViewBag.UserHome)
                                                                        {
                                                                        <option value="@building.Id">@building.Name</option>
                                                                        }
                                                                    </select>
                                                                </td>
                                                                <td style="padding:10px !important;">
                                                                    <select name=@rd.SHid class="available_Suite_EDIT form-control" onfocus="suitenumber4(this)" value="">
                                                                        <option value="0"></option>
                                                                        <option selected value=@rd.suiteno>@rd.suiteno</option>
                                                                    </select>
                                                                </td>
                                                                <td style="padding:10px !important;"><input class="edit_movein form-control jsdatepicker" value="@rd.movein" onchange="edit_selection_onchange_empty_suite(this)" autocomplete="off"/></td>
                                                                <td style="padding:10px !important;"><input class="form-control jsdatepicker" value="@rd.moveout"   autocomplete="off" /></td>
                                                                <td style="padding:10px !important;">
                                                                    <select class="edit_occu form-control" onchange="edit_selection_onchange_empty_suite(this)">
                                                                        <option value=@rd.occuID selected>@rd.occupancy</option>
                                                                        <option value="1">Single</option>
                                                                        <option value="2">Double</option>
                                                                        <option value="3">Triple</option>
                                                                    </select>

                                                                </td>
                                                                <td style="padding:10px !important;" contenteditable>@rd.notes</td>
                                                                <td style="padding:10px !important;">
                                                                    <select class="form-control">
                                                                        @if (@rd.hospital != "" && @rd.hospital != null)
                                                                        {
                                                                            <option value="Y" selected>@rd.hospital</option>
                                                                            <option value=""></option>
                                                                        }
                                                                        else
                                                                        {

                                                                            <option value="" selected>@rd.hospital</option>
                                                                        }

                                                                    </select>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }

                                                }

                                            </tbody>
                                        </table>



                                    </div>
                                    <br />
                                    @*<select name="" id="select_option_in_edit_form" class="form-control" style="min-width:40vw;">
                                        <option value="">----- Choose the Last Action you want to undo -----</option>
                                        <option value="only_delete">Application Suite</option>
                                        <option value="delete_and_update_move_out">Change Occupancy/Internal Transfer/Transfer to ASC HOME</option>
                                        <option value="update_move_out_and_note_and_pass_away">Passed Away</option>
                                        <option value="only_update_note">Hospitalization</option>
                                        <option value="update_move_out_and_note">ALL Other Move Out</option>
                                    </select>*@
                                    <br>
                                    <button class="btn btn-primary" id="BACK_Button_in_Edit" onclick="Back_in_edit_button_click()">
                                        BACK
                                    </button>
                                    @*<button class="btn btn-danger" id="SAVE_Button_in_Edit" onclick="UNDO_in_edit_button_click()">
                                        UNDO
                                    </button>*@
                                    <button class="btn btn-danger" id="Edit_Button" onclick="Edit_Button_Save()">
                                        UPDATE
                                    </button>
                                    <br>
                                </div>
                            </div>

                            <div class="col-md-9_changebymike" id="suitehandlerform">
                                <div class="form-tabs mt-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 style="font-weight:bolder;">Modifications or Transfer</h4>
                                        </div>
                                    </div>
                                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link" id="ApplicationSuite" data-toggle="pill" href="#"  onclick="option_button_click(this.id)">Additional Suite</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="ChangeOccupancy" data-toggle="pill" href="#" onclick="option_button_click(this.id)">Change Occupancy</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="InternalTransfer" data-toggle="pill" href="#" onclick="option_button_click(this.id)">Internal Transfer</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="TransfertoASCHOME" data-toggle="pill" href="#" onclick="option_button_click(this.id)">Transfer to ASC HOME</a>
                                        </li>
                                    </ul>
                                    <h4 style="font-weight:bolder;">Move Out</h4>
                                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link" id="ReturnedHome" data-toggle="pill" href="#" onclick="option_button_click(this.id)">Returned Home</a>
                                        </li>
                                        @*<li class="nav-item">
                                            <a class="nav-link" id="Palliative" data-toggle="pill" href="#" onclick="option_button_click(this.id)">Palliative</a>
                                        </li>*@
                                        <li class="nav-item">
                                            <a class="nav-link" id="LTC" data-toggle="pill" href="#" onclick="option_button_click(this.id)">LTC</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="OtherRetirement" data-toggle="pill" href="#"  onclick="option_button_click(this.id)">Other Retirement</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="PassedAway" data-toggle="pill" href="#" onclick="option_button_click(this.id)">Passed Away</a>
                                        </li>
                                        @*<li class="nav-item">
                                            <a class="nav-link" id="Other" data-toggle="pill" href="#" onclick="option_button_click(this.id)">Other</a>
                                        </li>*@
                                        <li class="nav-item">
                                            <a class="nav-link" id="Respite" data-toggle="pill" href="#" onclick="option_button_click(this.id)">Respite</a>
                                        </li>
                                    </ul>
                                    <h4 style="font-weight:bolder;">Hospital</h4>
                                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link" id="Hospitalization" data-toggle="pill" href="#" onclick="option_button_click_hos(this.id)">Hospitalization</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="row" style="min-width:75vw">
                                            @(new HtmlString(TempData["table"].ToString()))
                                        </div>

                                        <div class="tab-pane fade" id="pills-ApplicationSuite" role="tabpanel" aria-labelledby="pills-home-tab">
                                            <br>
                                            <br>
                                            <div class="row" style="margin-left:2%;">
                                                <div class="" style="width:49%;display:inline-block;">
                                                    <div class="form-group row">
                                                        <label for="dateinputApplicationSuite" class="col-md-4 col-form-label">Move In Date</label>
                                                        <div class="col-md-5">
                                                            <input class="form-control jsdatepicker" id="dateinputApplicationSuite" onchange="selection_onchange_empty_suite()" autocomplete="off">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(YYYY/MM/DD)</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="available_Suite_ApplicationSuite" class="col-md-4 col-form-label">Suite #</label>
                                                        <div class="col-md-7">
                                                            <select name="" id="available_Suite_ApplicationSuite" class="form-control" onfocus="suitenumber()">
                                                                <option value="">--Suite--</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="" style="width:49%;display:inline-block;">
                                                    <div class="form-group row">
                                                        <label for="occupancyselectidApplicationSuite" class="col-md-4 text-right col-form-label">Occupancy</label>
                                                        <div class="col-md-7">
                                                            <select name="occupancyselectname" id="occupancyselectidApplicationSuite" class="form-control" onchange="selection_onchange_empty_suite()">
                                                                <option value="">--Select--</option>
                                                                <option value="1">Single</option>
                                                                <option value="2">Double</option>
                                                                <option value="3">Triple</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="" style="width:49%;display:inline-block;">
                                                    <div class="form-group row">
                                                        <label for="notes_ApplicationSuite" class="col-md-4 col-form-label">Notes</label>
                                                        <div class="col-md-7">
                                                            <textarea class="textarea" id="notes_ApplicationSuite" rows="5" style="width: 95% !important;"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-primary" onclick="window.history.back()">
                                                        BACK
                                                    </button>
                                                    <button class="btn btn-danger" onclick="saveButton_ApplicationSuite()">
                                                        SAVE
                                                    </button>
                                                    <button class="btn btn-primary" onclick="clearButton()">
                                                        CLEAR
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-ChangeOccupancy" role="tabpanel" aria-labelledby="pills-profile-tab">
                                            <br>
                                            <br>
                                            <div class="row" style="margin-left:2%;">
                                                <div class="" style="width:49%;display:inline-block;">
                                                    <div class="form-group row">
                                                        <label for="dateinputChangeOccupancy" class="col-md-4 col-form-label">Transfer Date</label>
                                                        <div class="col-md-5">
                                                            <input class="form-control jsdatepicker" id="dateinputChangeOccupancy" autocomplete="off">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(YYYY/MM/DD)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="" style="width:49%;display:inline-block;">
                                                    <div class="form-group row">
                                                        <label for="occupancyselectidChangeOccupancy" class="col-md-4 text-right col-form-label">Occupancy</label>
                                                        <div class="col-md-7">
                                                            <select name="occupancyselectname" id="occupancyselectidChangeOccupancy" class="form-control">
                                                                <option value="">--Select--</option>
                                                                <option value="1">Single</option>
                                                                <option value="2">Double</option>
                                                                <option value="3">Triple</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="" style="width:49%;display:inline-block;">
                                                    <div class="form-group row">
                                                        <label for="notes_ChangeOccupancy" class="col-md-4 col-form-label">Notes</label>
                                                        <div class="col-md-7">
                                                            <textarea class="textarea" id="notes_ChangeOccupancy" rows="5" style="width: 95% !important;"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-primary" onclick="window.history.back()">
                                                        BACK
                                                    </button>
                                                    <button class="btn btn-danger" onclick="saveButton_ChangeOccupancy()">
                                                        SAVE
                                                    </button>
                                                    <button class="btn btn-primary" onclick="clearButton()">
                                                        CLEAR
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="tab-pane fade" id="pills-InternalTransfer" role="tabpanel" aria-labelledby="pills-contact-tab">
                                            <br>
                                            <br>
                                            <div class="row" style="margin-left:2%;">
                                                <div class="" style="width:49%;display:inline-block;">
                                                    <div class="form-group row">
                                                        <label for="dateinputInternalTransfer" class="col-md-4 col-form-label">Transfer Date</label>
                                                        <div class="col-md-5">
                                                            <input class="form-control jsdatepicker" id="dateinputInternalTransfer" onchange="selection_onchange_empty_suite()" autocomplete="off">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(YYYY/MM/DD)</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="available_Suite_InternalTransfer" class="col-md-4 col-form-label">Suite #</label>
                                                        <div class="col-md-7">
                                                            <select name="" id="available_Suite_InternalTransfer" class="form-control" onfocus="suitenumber()">
                                                                <option value="">--Suite--</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="" style="width:49%;display:inline-block;">
                                                    <div class="form-group row">
                                                        <label for="occupancyselectidInternalTransfer" class="col-md-4 text-right col-form-label">Occupancy</label>
                                                        <div class="col-md-7">
                                                            <select name="occupancyselectname" id="occupancyselectidInternalTransfer" class="form-control" onchange="selection_onchange_empty_suite()">
                                                                <option value="">--Select--</option>
                                                                <option value="1">Single</option>
                                                                <option value="2">Double</option>
                                                                <option value="3">Triple</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="" style="width:49%;display:inline-block;">
                                                    <div class="form-group row">
                                                        <label for="notes_InternalTransfer" class="col-md-4 col-form-label">Notes</label>
                                                        <div class="col-md-7">
                                                            <textarea class="textarea" id="notes_InternalTransfer" rows="5" style="width: 95% !important;"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-primary" onclick="window.history.back()">
                                                        BACK
                                                    </button>
                                                    <button class="btn btn-danger" onclick="saveButton_InternalTransfer()">
                                                        SAVE
                                                    </button>
                                                    <button class="btn btn-primary" onclick="clearButton()">
                                                        CLEAR
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-TransfertoASCHOME" role="tabpanel" aria-labelledby="pills-contact-tab">
                                            <br>
                                            <br>
                                            <div class="row" style="margin-left:2%;">
                                                <div class="" style="width:49%;display:inline-block;">
                                                    <div class="form-group row">
                                                        <label for="QOLAContent_ddlHome" class="col-md-4 col-form-label">Home</label>
                                                        <div class="col-md-7">
                                                            <select class="form-control" name="ctl00$QOLAContent$ddlHome" id="QOLAContent_ddlHome" style="height:27px;" onchange="selection_onchange_empty_suite()">
                                                                <option value="">--Home--</option>
                                                                @foreach (var building in ViewBag.UserHome)
                                                                {
                                                                    <option value="@building.Id">@building.Name</option>
                                                                }
                                                            </select>
                                                        </div>

                                                        <label for="dateinputTransfertoASCHOME" class="col-md-4 col-form-label">Transfer Date</label>
                                                        <div class="col-md-5">
                                                            <input class="form-control jsdatepicker" id="dateinputTransfertoASCHOME" onchange="selection_onchange_empty_suite()" style="margin-top:4px;" autocomplete="off">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(YYYY/MM/DD)</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="available_Suite_TransfertoASCHOME" class="col-md-4 col-form-label">Suite #</label>
                                                        <div class="col-md-7">
                                                            <select name="" id="available_Suite_TransfertoASCHOME" class="form-control" onfocus="suitenumber2()">
                                                                <option value="">--Suite--</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="" style="width:49%;display:inline-block;">
                                                    <div class="form-group row">
                                                        <label for="occupancyselectidTransfertoASCHOME" class="col-md-4 text-right col-form-label">Occupancy</label>
                                                        <div class="col-md-7">
                                                            <select name="occupancyselectname" id="occupancyselectidTransfertoASCHOME" class="form-control" onchange="selection_onchange_empty_suite()">
                                                                <option value="">--Select--</option>
                                                                <option value="1">Single</option>
                                                                <option value="2">Double</option>
                                                                <option value="3">Triple</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="" style="width:49%;display:inline-block;">
                                                    <div class="form-group row">
                                                        <label for="notes_TransfertoASCHOME" class="col-md-4 col-form-label">Notes</label>
                                                        <div class="col-md-7">
                                                            <textarea class="textarea" id="notes_TransfertoASCHOME" rows="5" style="width: 95% !important;"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-primary" onclick="window.history.back()">
                                                        BACK
                                                    </button>
                                                    <button class="btn btn-danger" onclick="saveButton_TransfertoASCHOME()">
                                                        SAVE
                                                    </button>
                                                    <button class="btn btn-primary" onclick="clearButton()">
                                                        CLEAR
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-ReturnedHome" role="tabpanel" aria-labelledby="pills-home-tab">
                                            <br>
                                            <br>
                                            <div class="row" style="margin-left:2%;">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="dateinputReturnedHome" class="col-md-2 col-form-label">Move out Date</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control jsdatepicker" id="dateinputReturnedHome" autocomplete="off">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(YYYY/MM/DD)</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="notes_ReturnedHome" class="col-md-2 col-form-label">Notes</label>
                                                        <div class="col-md-4">
                                                            <textarea class="textarea" id="notes_ReturnedHome" rows="5" style="width: 95% !important;"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-primary" onclick="window.history.back()">
                                                        BACK
                                                    </button>
                                                    <button class="btn btn-danger" onclick="saveButton_Normal_Move_Out()">
                                                        SAVE
                                                    </button>
                                                    <button class="btn btn-primary" onclick="clearButton()">
                                                        CLEAR
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-Palliative" role="tabpanel" aria-labelledby="pills-profile-tab">
                                            <br>
                                            <br>
                                            <div class="row" style="margin-left:2%;">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="dateinputPalliative" class="col-md-2 col-form-label">Move out Date</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control jsdatepicker" id="dateinputPalliative" autocomplete="off">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(YYYY/MM/DD)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="notes_Palliative" class="col-md-2 col-form-label">Notes</label>
                                                        <div class="col-md-4">
                                                            <textarea class="textarea" id="notes_Palliative" rows="5" style="width: 95% !important;"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-primary" onclick="window.history.back()">
                                                        BACK
                                                    </button>
                                                    <button class="btn btn-danger" onclick="saveButton_Normal_Move_Out()">
                                                        SAVE
                                                    </button>
                                                    <button class="btn btn-primary" onclick="clearButton()">
                                                        CLEAR
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="tab-pane fade" id="pills-LTC" role="tabpanel" aria-labelledby="pills-contact-tab">
                                            <br>
                                            <br>
                                            <div class="row" style="margin-left:2%;">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="dateinputLTC" class="col-md-2 col-form-label">Move Out Date</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control jsdatepicker" id="dateinputLTC" autocomplete="off">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(YYYY/MM/DD)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="notes_LTC" class="col-md-2 col-form-label">Notes</label>
                                                        <div class="col-md-4">
                                                            <textarea class="textarea" id="notes_LTC" rows="5" style="width: 95% !important;"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-primary" onclick="window.history.back()">
                                                        BACK
                                                    </button>
                                                    <button class="btn btn-danger" onclick="saveButton_Normal_Move_Out()">
                                                        SAVE
                                                    </button>
                                                    <button class="btn btn-primary" onclick="clearButton()">
                                                        CLEAR
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-OtherRetirement" role="tabpanel" aria-labelledby="pills-contact-tab">
                                            <br>
                                            <br>
                                            <div class="row" style="margin-left:2%;">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="dateinputOtherRetirement" class="col-md-2 col-form-label">Move Out Date</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control jsdatepicker" id="dateinputOtherRetirement" autocomplete="off">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(YYYY/MM/DD)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="notes_OtherRetirement" class="col-md-2 col-form-label">Notes</label>
                                                        <div class="col-md-4">
                                                            <textarea class="textarea" id="notes_OtherRetirement" rows="5" style="width: 95% !important;"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-primary" onclick="window.history.back()">
                                                        BACK
                                                    </button>
                                                    <button class="btn btn-danger" onclick="saveButton_Normal_Move_Out()">
                                                        SAVE
                                                    </button>
                                                    <button class="btn btn-primary" onclick="clearButton()">
                                                        CLEAR
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-PassedAway" role="tabpanel" aria-labelledby="pills-contact-tab">
                                            <br>
                                            <br>
                                            <div class="row" style="margin-left:2%;">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="passawaydatePassedAway" class="col-md-2 col-form-label">Pass Away Date</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control jsdatepicker" id="passawaydatePassedAway" autocomplete="off">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(YYYY/MM/DD)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="dateinputPassedAway" class="col-md-2 col-form-label">Move Out Date</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control jsdatepicker" id="dateinputPassedAway" autocomplete="off">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(YYYY/MM/DD)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="notes_PassedAway" class="col-md-2 col-form-label">Notes</label>
                                                        <div class="col-md-4">
                                                            <textarea class="textarea" id="notes_PassedAway" rows="5" style="width: 95% !important;"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-primary" onclick="window.history.back()">
                                                        BACK
                                                    </button>
                                                    <button class="btn btn-danger" onclick="saveButton_Passed_Away()">
                                                        SAVE
                                                    </button>
                                                    <button class="btn btn-primary" onclick="clearButton()">
                                                        CLEAR
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-Other" role="tabpanel" aria-labelledby="pills-contact-tab">
                                            <br>
                                            <br>
                                            <div class="row" style="margin-left:2%;">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="dateinputOther" class="col-md-2 col-form-label">Move Out Date</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control jsdatepicker" id="dateinputOther" autocomplete="off">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(YYYY/MM/DD)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="notes_Other" class="col-md-2 col-form-label">Notes</label>
                                                        <div class="col-md-4">
                                                            <textarea class="textarea" id="notes_Other" rows="5" style="width: 95% !important;"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-primary" onclick="window.history.back()">
                                                        BACK
                                                    </button>
                                                    <button class="btn btn-danger" onclick="saveButton_Normal_Move_Out()">
                                                        SAVE
                                                    </button>
                                                    <button class="btn btn-primary" onclick="clearButton()">
                                                        CLEAR
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-Respite" role="tabpanel" aria-labelledby="pills-profile-tab">
                                            <br>
                                            <br>
                                            <div class="row" style="margin-left:2%;">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="dateinputRespite" class="col-md-2 col-form-label">Move out Date</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control jsdatepicker" id="dateinputRespite" autocomplete="off">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(YYYY/MM/DD)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="notes_Respite" class="col-md-2 col-form-label">Notes</label>
                                                        <div class="col-md-4">
                                                            <textarea class="textarea" id="notes_Respite" rows="5" style="width: 95% !important;"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-primary" onclick="window.history.back()">
                                                        BACK
                                                    </button>
                                                    <button class="btn btn-danger" onclick="saveButton_Normal_Move_Out()">
                                                        SAVE
                                                    </button>
                                                    <button class="btn btn-primary" onclick="clearButton()">
                                                        CLEAR
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="tab-pane fade" id="pills-Hospitalization" role="tabpanel" aria-labelledby="pills-contact-tab">
                                            <input type="hidden" id="Resident_Away_Table_Id" value="0" />
                                            <br>
                                            <br>
                                            <div class="row" style="margin-left:2%;">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="leavingDate_Hospitalization" class="col-md-4 col-form-label">Leaving Date</label>
                                                        <div class="col-md-5">
                                                            <input class="form-control jsdatepicker" id="leavingDate_Hospitalization" autocomplete="off">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(YYYY/MM/DD)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-5"></div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="ActualReturnDate_Hospitalization" class="col-md-4 col-form-label">Return Date</label>
                                                        <div class="col-md-5">
                                                            <input class="form-control jsdatepicker" id="ActualReturnDate_Hospitalization" autocomplete="off">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(YYYY/MM/DD)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-5"></div>
                                                
                                                <ul class="nav nav-pills mb-3" id="pills-hos" role="tablist">
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="Hospital_None" data-toggle="pill" href="#" selectvalue="0" onclick="hospital_select(this)">NONE</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="Hospital_MoveOut" data-toggle="pill" href="#" selectvalue="1" onclick="hospital_select(this)">DID NOT RETURN/MOVED OUT</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="Hospital_ReturnHome" data-toggle="pill" href="#" selectvalue="2" onclick="hospital_select(this)">RETURNED HOME</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="Hospital_LTC" data-toggle="pill" href="#" selectvalue="3" onclick="hospital_select(this)">LTC</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="Hospital_OtherRetirement" data-toggle="pill" href="#" selectvalue="4" onclick="hospital_select(this)">OTHER RETIREMENT</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="Hospital_PassAway" data-toggle="pill" href="#" selectvalue="5" onclick="hospital_select(this)">PASSED AWAY</a>
                                                    </li>
                                                </ul>
                                                <div id="hos_moveout" class="col-md-6" style="display:none;">
                                                    <div class="form-group row">
                                                        <label for="Hospitalization_moveoutdate" id="hos_moveout_label" class="col-md-4 col-form-label">Move Out Date</label>
                                                        <div class="col-md-5">
                                                            <input class="form-control jsdatepicker" id="Hospitalization_moveoutdate" autocomplete="off">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(YYYY/MM/DD)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                

                                                
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="notes_Hospitalization" class="col-md-2 col-form-label">Notes</label>
                                                        <div class="col-md-4">
                                                            <textarea class="textarea" id="notes_Hospitalization" rows="5" style="width:95% !important;"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <input id="hos_hidden_select" type="hidden" value="0"/>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-primary" onclick="window.history.back()">
                                                        BACK
                                                    </button>
                                                    <button class="btn btn-danger" onclick="saveButton_Hospitalization()">
                                                        SAVE
                                                    </button>
                                                    <button class="btn btn-primary" onclick="clearButton()">
                                                        CLEAR
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-content" id="pills-tabContent">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- END PLACE PAGE CONTENT HERE -->
            </div>
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->
        <input type="hidden" id="jsNote" value="@TempData["hospital"]" />


        @RenderPage("~/Views/Shared/_Footer.cshtml")

        <script>
            var a = $("#jsNote").val();
            if (a == "YES") {
                $.get("/Residents/get_Leaving_date", {}, function (data) {
                    if (data != "") {

                        $.get("/Residents/get_Resident_Away_Schedule", {}, function (data2) {
                            if (data2 != "") {
                                $('#Resident_Away_Table_Id').val(data2);
                            }
                        });

                        var a = $('#leavingDate_Hospitalization');
                        a[0].value = data;
                    }
                });
                document.getElementById("Hospitalization").className = "nav-link active";
                document.getElementById("pills-Hospitalization").className = "tab-pane fade show active";
            }
            
            $('.checkboxlist').change(function () {
                if (this.checked == true) {
                    var che = $('.checkboxlist');
                    for (var b = 0; b < che.length; b++) {
                        if (che[b]!=this) {
                            che[b].checked = false;
                        }
                    }
                }
            });

            $('.jsdatepicker').datepicker({
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true,
                yearRange: "-110:+30",
                defaultDate: new Date()
            }); 


        </script>

        <script>

            function saveButton_ApplicationSuite() {
                var group = $("a[class='nav-link active']")
                var id = group[0].id;
                var a = $('#occupancyselectid' + id).val();
                var b = $('#dateinput' + id).val();
                var c = $('#available_Suite_' + id).val();
                var d = $('#notes_' + id).val();
                if (a == "" || b == "" || c == "") {
                    tempAlert("No Empty Area except notes", 2000);
                }
                else {
                    $.post("/Residents/saveButton_ApplicationSuite", { term: b, occu: a, suiteno: c, notes: d }, function (data) {
                        if (data == 1) {
                            //location.reload();
                            //alert("Update successfully");
                            tempAlert("Update successfully", 2000);
                            setTimeout(function () { window.location.reload(); }, 2000);
                        }
                        else if (data == 3) {
                            //alert("Cannot choose date two weeks ago");
                            tempAlert("Cannot choose date two weeks ago", 2000);
                        }

                        else if (data == 5) {
                            //alert("Resident was already passed away");
                            tempAlert("Resident was already passed away", 2000);
                        }
                        else {
                            //alert("Update Failed");
                            tempAlert("Update Failed", 2000);
                        }
                    });
                }
            }

            function saveButton_ChangeOccupancy() {
                var group = $("a[class='nav-link active']")
                var id = group[0].id;
                var a = $('#occupancyselectid' + id).val();
                var b = $('#dateinput' + id).val();
                var c = $('#notes_' + id).val();
                var suitenos = $('#showtable tbody tr:last td:eq(1)').html();
                if (a == "" || b == "") {
                    tempAlert("No Empty Area except notes", 2000);
                }
                else {
                    $.post("/Residents/saveButton_ChangeOccupancy", { transferdate: b, occu: a, notes: c, suiteno: suitenos }, function (data) {
                        if (data == 1) {
                            //location.reload();
                            //alert("Update successfully");
                            tempAlert("Update successfully", 2000);
                            setTimeout(function () { window.location.reload(); }, 2000);
                        }
                        else if (data == 2) {
                            //alert("Cannot Select Same Occupancy");
                            tempAlert("Cannot Select Same Occupancy", 2000);
                        }
                        else if (data == 3) {
                            //alert("Cannot choose date two weeks ago");
                            tempAlert("Cannot choose date two weeks ago", 2000);
                        }
                        else if (data == 4) {
                            //alert("Invalid Date Input");
                            tempAlert("Invalid Date Input", 2000);
                        }
                        else if (data == 5) {
                            //alert("Resident was already passed away");
                            tempAlert("Resident was already passed away", 2000);
                        }
                        else if (data == 6) {
                            //alert("Resident was already moved out");
                            tempAlert("Resident was already moved out", 2000);
                        }
                        else {
                            //alert("Update Failed");
                            tempAlert("Update Failed", 2000);
                        }
                    });
                }
            }

            function saveButton_InternalTransfer() {
                var group = $("a[class='nav-link active']")
                var id = group[0].id;
                var a = $('#occupancyselectid' + id).val();
                var b = $('#dateinput' + id).val();
                var c = $('#available_Suite_' + id).val();
                var d = $('#notes_' + id).val();
                if (a == "" || b == "" || c == "") {
                    tempAlert("No Empty Area except notes", 2000);
                }
                else {
                    $.post("/Residents/saveButton_InternalTransfer", { transferdate: b, occu: a, suiteno: c, notes: d }, function (data) {
                        if (data == 1) {
                            //location.reload();
                            //alert("Update successfully");
                            tempAlert("Update successfully", 2000);
                            setTimeout(function () { window.location.reload(); }, 2000);
                        }
                        else if (data == 2) {
                            //alert("Cannot Select Same Suite Number");
                            tempAlert("Cannot Select Same Suite Number", 2000);
                        }
                        else if (data == 3) {
                            //alert("Cannot choose date two weeks ago");
                            tempAlert("Cannot choose date two weeks ago", 2000);
                        }
                        else if (data == 4) {
                            //alert("Invalid Date Input");
                            tempAlert("Invalid Date Input", 2000);
                        }
                        else if (data == 5) {
                            //alert("Resident was already passed away");
                            tempAlert("Resident was already passed away", 2000);
                        }
                        else if (data == 6) {
                            //alert("Resident was already moved out");
                            tempAlert("Resident was already moved out", 2000);
                        }
                        else {
                            //alert("Update Failed");
                            tempAlert("Update Failed", 2000);
                        }
                    });
                }
            }

            function saveButton_TransfertoASCHOME() {
                var group = $("a[class='nav-link active']")
                var id = group[0].id;
                var a = $('#occupancyselectid' + id).val();
                var b = $('#dateinput' + id).val();
                var c = $('#available_Suite_' + id).val();
                var d = $('#notes_' + id).val();
                var e = $('#QOLAContent_ddlHome').val();
                if (a == "" || b == "" || c == "" || e == "") {

                    tempAlert("No Empty Area except notes", 2000);
                }
                else {
                    $.post("/Residents/saveButton_TransfertoASCHOME", { transferdate: b, occu: a, suiteno: c, notes: d, homeid: e }, function (data) {
                        if (data == 1) {
                            //location.reload();
                            //alert("Update successfully");
                            tempAlert("Update successfully", 2000);
                            setTimeout(function () { window.location.reload(); }, 2000);
                        }
                        else if (data == 2) {
                            //alert("Cannot Select Same Home ID");
                            tempAlert("Cannot Select Same Home ID", 2000);
                        }
                        else if (data == 3) {
                            //alert("Cannot choose date two weeks ago");
                            tempAlert("Cannot choose date two weeks ago", 2000);
                        }
                        else if (data == 4) {
                            //alert("Invalid Date Input");
                            tempAlert("Invalid Date Input", 2000);
                        }
                        else if (data == 5) {
                            //alert("Resident was already passed away");
                            tempAlert("Resident was already passed away", 2000);
                        }
                        else if (data == 6) {
                            //alert("Resident was already moved out");
                            tempAlert("Resident was already moved out", 2000);
                        }
                        else {
                            //alert("Update Failed");
                            tempAlert("Update Failed", 2000);
                        }
                    });
                }
            }

            function saveButton_Normal_Move_Out() {
                var group = $("a[class='nav-link active']")
                var id = group[0].id;
                var move_out_reason = group[0].innerHTML;
                var a = $('#dateinput' + id).val();
                var b = $('#notes_' + id).val();
                var suitenos = $('#showtable tbody tr:last td:eq(1)').html();
                if (a == "") {
                    //alert("Date cannot be empty");
                    tempAlert("Date cannot be empty", 2000);
                }
                else {
                    $.post("/Residents/saveButton_Normal_Move_Out", { moveout: a, notes: b, reason: move_out_reason, suiteno: suitenos }, function (data) {
                        if (data == 1) {
                            //location.reload();
                            //alert("Update successfully");
                            tempAlert("Update successfully", 2000);
                            setTimeout(function () { window.location.reload(); }, 2000);
                        }
                        else if (data == 3) {
                            //alert("Cannot choose date two weeks ago");
                            tempAlert("Cannot choose date two weeks ago", 2000);
                        }
                        else if (data == 4) {
                            //alert("Invalid Date Input");
                            tempAlert("Invalid Date Input", 2000);
                        }
                        else if (data == 5) {
                            //alert("Resident was already passed away");
                            tempAlert("Resident was already passed away", 2000);
                        }
                        else if (data == 6) {
                            //alert("Resident was already moved out");
                            tempAlert("Resident was already moved out", 2000);
                        }
                        else {
                            //alert("Update Failed");
                            tempAlert("Update Failed", 2000);
                        }
                    });
                }
            }

            function saveButton_Passed_Away() {
                var group = $("a[class='nav-link active']")
                var id = group[0].id;
                var move_out_reason = group[0].innerHTML;
                var a = $('#dateinput' + id).val();
                var b = $('#notes_' + id).val();
                var c = $('#passawaydate' + id).val();
                var suitenos = $('#showtable tbody tr:last td:eq(1)').html();
                if (a == "" || c == "") {
                    //alert("Date cannot be empty");
                    tempAlert("Date cannot be empty", 2000);
                }
                else {
                    $.post("/Residents/saveButton_Passed_Away", { moveout: a, notes: b, passaway: c, reason: move_out_reason, suiteno: suitenos }, function (data) {
                        if (data == 1) {
                            //location.reload();
                            //alert("Update successfully");
                            tempAlert("Update successfully", 2000);
                            setTimeout(function () { window.location.reload(); }, 2000);
                        }
                        else if (data == 3) {
                            //alert("Cannot choose date two weeks ago");
                            tempAlert("Cannot choose date two weeks ago", 2000);
                        }
                        else if (data == 4) {
                            //alert("Invalid Date Input");
                            tempAlert("Invalid Date Input", 2000);
                        }
                        else if (data == 5) {
                            //alert("Resident was already passed away");
                            tempAlert("Resident was already passed away", 2000);
                        }
                        else {
                            //alert("Update Failed");
                            tempAlert("Update Failed", 2000);
                        }
                    });
                }
            }

            function saveButton_Hospitalization() {
                var selectReason = $('#hos_hidden_select').val();
                var RATable_ID = $('#Resident_Away_Table_Id').val();
                var a = $('#leavingDate_' + id).val().toString();
                var c = $('#ActualReturnDate_' + id).val().toString();
                var d = $('#notes_' + id).val();
                var SHtableID = $('#showtable tbody tr:last').attr('id');
                var hos_moveout = $('#Hospitalization_moveoutdate').val();
                if (a == "") {
                    //alert("Leaving Date cannot be empty");
                    tempAlert("Leaving Date cannot be empty", 2000);
                }
                else {
                    $.post("/Residents/saveButton_Hospitalization", { leaving: a, ActualReturn: c, hos_moveout: hos_moveout, notes: d, reason: selectReason, Resident_Away_Table_ID: RATable_ID, SHtableID: SHtableID }, function (data) {
                        if (data == 1) {
                            //location.reload();
                            //alert("Update successfully");
                            tempAlert("Update successfully", 2000);
                            setTimeout(function () { window.location.reload(); }, 2000);
                        }
                        else if (data == 3) {
                            //alert("Cannot choose date two weeks ago");
                            tempAlert("Cannot choose date two weeks ago", 2000);
                        }
                        else if (data == 5) {
                            //alert("Resident was already passed away");
                            tempAlert("Resident was already passed away", 2000);
                        }
                        else if (data == 6) {
                            //alert("Resident was already moved out");
                            tempAlert("Resident was already moved out", 2000);
                        }
                        else {
                            //alert("Update Failed");
                            tempAlert("Update Failed", 2000);
                        }
                    });
                }
            }

            function UNDO_in_edit_button_click() {
                var reason_for_undo = $("#select_option_in_edit_form").val();
                $.get("/Residents/undo_function", { reason: reason_for_undo }, function (data) {
                    if (data == 1) {
                        //location.reload();
                        //alert("Update successfully");
                        tempAlert("Update successfully", 2000);
                        setTimeout(function () { window.location.reload(); }, 2000);
                    }
                    else {
                        //alert("Update Failed");
                        tempAlert("Update Failed", 2000);
                    }
                });
            }

            function Edit_Button_Save() {
                var checkbox = $('.checkboxlist');
                for (var a = 0; a < checkbox.length; a++) {
                    if (checkbox[a].checked == true) {
                        var main_tr = checkbox[a].parentElement.parentElement;
                        var SHid = main_tr.id;
                        var children = main_tr.getElementsByTagName("td");
                        var homeID = children[1].firstElementChild.value;
                        var suiteno = children[2].firstElementChild.value;
                        var movein = children[3].firstElementChild.value;
                        var moveout = children[4].firstElementChild.value;
                        var occu = children[5].firstElementChild.value;
                        var notes = children[6].innerHTML;
                        var hos = children[7].firstElementChild.value;
                    }
                }
                if (main_tr == undefined) {
                    tempAlert("No Row was choosen", 2000);
                }
                else if (suiteno == "0") {
                    tempAlert("Suite No cannot be empty", 2000);
                }
                else if (movein == "") {
                    tempAlert("Move In cannot be empty", 2000);
                }
                else {
                    $.get("/Residents/EDIT_SAVE_function", { a: SHid, b: homeID, c: suiteno, d: movein, e: moveout, f: occu, g: notes, h: hos }, function (data) {
                        if (data == 1) {
                            //location.reload();
                            //alert("Update successfully");
                            tempAlert("Update successfully", 2000);
                            setTimeout(function () { window.location.reload(); }, 2000);
                        }
                        else {
                            //alert("Update Failed");
                            tempAlert("Update Failed", 2000);
                        }
                    });
                }
            }

            function edit_selection_onchange_empty_suite(ee) {
                var suite_edit = ee.parentElement.parentElement.getElementsByClassName("available_Suite_EDIT");
                suite_edit[0].value = "0";
            }

            function hospital_select(ee) {
                var select = $(ee).attr('selectvalue');
                $('#hos_hidden_select').val(select);
                if (select == 0 || select == 2) {
                    $('#hos_moveout').hide();
                    $('#ActualReturnDate_Hospitalization').prop('disabled', false);
                }
                else {                 
                    $('#ActualReturnDate_Hospitalization').val("");
                    $('#ActualReturnDate_Hospitalization').prop('disabled', true);
                    $('#hos_moveout').show();
                    if (select == 5) {
                        $('#hos_moveout_label').html("Pass Away Date");

                    }
                    else {
                        $('#hos_moveout_label').html("Move Out Date");
                    }
                }

                

            }


        </script>

