@model QolaMVC.Models.NEW_SuiteModel
@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")
<style>

    .form-tabs .nav-link {
        font-size: 1rem;
    }

    .modal-xlg {
        width: 900px !important;
        max-width: 1000px !important;
    }
</style>
<!-- START PAGE-CONTAINER -->
<div class="page-container">

    @RenderPage("~/Views/Shared/_NavBar.cshtml")

    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <!-- START JUMBOTRON -->
            <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                <div class="container-fluid container-fixed-lg">
                    <!-- <div class="inner"> -->
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h3>SUITE</h3>
                        </div>

                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <!-- END JUMBOTRON -->

            <div style="height: 60px;"></div>

            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg">
                <!-- BEGIN PlACE PAGE CONTENT HERE -->


                <div class="card">
                    <div class="card-block">

                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                @using (Html.BeginForm("EditSuite", "Suite", new { p_ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "p-t-15", @role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="staticEmail" class="col-form-label">Home (Name)*</label>
                                            @Html.TextBoxFor(m => m.Home, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Home, null, new { @style = "color: red; font-style: italic;" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="staticEmail" class="col-form-label">Suite No*</label>
                                            @Html.TextBoxFor(m => m.Suite_No, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Suite_No, null, new { @style = "color: red; font-style: italic;" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="staticEmail" class="col-form-label">Floor No*</label>
                                            @Html.TextBoxFor(m => m.Floor_No, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Floor_No, null, new { @style = "color: red; font-style: italic;" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="staticEmail" class="col-form-label"># Of Rooms</label>
                                            @Html.TextBoxFor(m => m.No_Of_Rooms, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.No_Of_Rooms, null, new { @style = "color: red; font-style: italic;" })
                                        </div>
                                    </div>
                                </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-danger btn-lg">SAVE</button>
                                            <input type="reset" class="btn btn-danger btn-lg" value="CLEAR">
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                </div>


                <!-- END PLACE PAGE CONTENT HERE -->
            </div>
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->




        @RenderPage("~/Views/Shared/_Footer.cshtml")
