@model List<QolaMVC.Models.NEW_SuiteModel>
@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")
<style>

    .form-tabs .nav-link {
        font-size: 1rem;
    }

    .modal-xlg {
        width: 900px !important;
        max-width: 1000px !important;
    }
</style>
<!-- START PAGE-CONTAINER -->
<div class="page-container">

    @RenderPage("~/Views/Shared/_NavBar.cshtml")

    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <!-- START JUMBOTRON -->
            <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                <div class="container-fluid container-fixed-lg">
                    <!-- <div class="inner"> -->
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h3>SUITE</h3>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <!-- END JUMBOTRON -->

            <div style="height: 60px;"></div>

            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg">
                <!-- BEGIN PlACE PAGE CONTENT HERE -->

                <div class="card">
                    <div class="card-block">

                        <div class="form-tabs mt-4">
                           

                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-active" role="tabpanel" aria-labelledby="pills-active-tab">

                                    <div class="row">
                                        <div class="py-4 text-left" style="display:inline-block;width:80%;">
                                            <form class="form-inline">
                                    @using (Html.BeginForm("List", "Suite", FormMethod.Get))
                                    {
                                                <div class="form-group pr-1">
                                                    <div class="input-group">
                                                        @*@Html.TextBox("value", null, new { @class = "form-control", @placeholder = "Search for" })*@
                                                        <!--
    <input type="text" class="form-control" id="exampleInputAmount" placeholder="Search for">-->
                                                        <input class="form-control" id="search_value" value="" />
                                                    </div>
                                                </div>
                                                <button type="button" class="btn btn-danger" onclick="search_Suite()">Search</button>
                                    }
                                            </form>
                                        </div>
                                        <div class="py-4 text-right" style="display:inline-block;width:15%;">
                                            <a class="btn btn-lg btn-primary" href="~/Suite/AddSuite">Add New</a>
                                        </div>
                                    </div>


                                    <table class="table table-bordered">
                                        <thead class="bg-primary">
                                            <tr>
                                                <th class="text-white">S/N</th>
                                                <th class="text-white">HOME</th>
                                                <th class="text-white">SUITE NO</th>
                                                <th class="text-white">FLOOR</th>
                                                <th class="text-white"># OF ROOMS</th>
                                                <th class="text-white">Edit</th>
                                                <th class="text-white">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{ int i = 1; }
                                            @{ foreach (var l_SUITE in Model)
                                                {
                                            <tr>
                                                <td class="align-middle">@i</td>
                                                <td class="align-middle">@l_SUITE.Home</td>
                                                <td class="align-middle">@l_SUITE.Suite_No</td>
                                                <td class="align-middle">@l_SUITE.Floor_No</td>
                                                <td class="align-middle">@l_SUITE.No_Of_Rooms</td>
                                                <td class="align-middle">
                                                    <a class="btn btn-success btn-xs" href="~/Suite/EditSuite/@l_SUITE.Id">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    @*@Html.ActionLink("EditSuite", "EditSuite", new { id = l_SUITE.Id })*@
                                                </td>
                                                <td class="align-middle">

                                                    <a class="btn btn-danger btn-xs" href="~/Suite/DeleteSuite/@l_SUITE.Id">
                                                        <i class="fa fa-trash-o"></i>
                                                    </a>
                                                    @*@Html.ActionLink("Delete Suite", "DeleteSuite", new { id = l_SUITE.Id })*@
                                                </td>
                                            </tr>

                                                    i = i + 1;
                                                }
                                            }
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>


                <!-- END PLACE PAGE CONTENT HERE -->
            </div>
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->


        @RenderPage("~/Views/Shared/_Footer.cshtml")

<script>
    function search_Suite() {
        var a = $('#search_value').val();
        window.location.href = "/Suite/List?search=" + a;
    }
</script>