@model QolaMVC.Models.ActivityAssessmentCollectionViewModel
@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")
<style>

    .form-tabs .nav-link {
        font-size: 1rem;
    }

    .modal-xlg {
        width: 900px !important;
        max-width: 1000px !important;
    }
</style>
<!-- START PAGE-CONTAINER -->
<div class="page-container">

    @RenderPage("~/Views/Shared/_NavBar.cshtml")

    <div class="page-content-wrapper">
        <div class="content">
            <!-- START JUMBOTRON -->
            <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                <div class="container-fluid container-fixed-lg">
                    <!-- <div class="inner"> -->
                    <div class="row align-items-center">
                        <div class="col-md-9">
                            <h3>Activity Assessment</h3>
                        </div>
                        <div class="col-md-2">
                            <a href="~/Assessments/" class="btn btn-primary"><i class="fa fa-backward"></i> Back</a>
                            <button class="btn btn-primary print" id="AA_PRINT"><i class="fa fa-file-pdf-o"></i> Print</button>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <!-- END JUMBOTRON -->

            <div style="height: 60px;"></div>
            <input type="hidden" value="Activity_Assessment" name="" class="filename">
            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg" id="fromHTMLtestdiv">
                <!-- BEGIN PlACE PAGE CONTENT HERE -->

                <div class="card">
                    <div class="card-block">
                        <div class="row" id="AA_firstrow">
                            <div class="col-2">
                                <label for="" class="col-form-label"><b>Resident: </b></label>
                                <label>@ViewBag.Resident.FirstName @ViewBag.Resident.LastName </label>
                            </div>
                            <div class="col-2">
                                <label for="" class="col-form-label"><b>Suite No: </b></label>
                                <label>@ViewBag.Resident.SuiteNo</label>
                            </div>                         
                            <div class="">
                                <label for="" class="col-form-label"><b>Assessment History:</b></label>
                                
                            </div>
                            <div class="col-2">
                                <select class="form-control" name="AssessmentDate" id="selectdate" onchange="formsubmit(this)">

                                    @if (ViewBag.AssessmentDates != null && ViewBag.AssessmentDates[0].ToShortDateString() != "1/1/0001")
                                    {
                                        for (var ind = 0; ind < ((List<DateTime>)ViewBag.AssessmentDates).Count(); ind++)
                                        {
                                            <option value=@ind>@(((List<DateTime>)ViewBag.AssessmentDates)[ind].ToString("yyyy-MM-dd"))</option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="0"></option>}

                                </select>
                                <input type="hidden" id="ID_ID" name="Id" value="" />
                                
                            </div>
                            <div style="width:99%"><hr></div>
                            <div class="col-md-8">
                                
                                <p style="font-size:1.1vw;font-weight:bold;color:red">P = Past Interest    C = Current Interest   W = Would Like to Learn/Do</p>

                                @*<input type="reset" form="AssessmentForm" class="btn btn-primary" value="Clear" />*@
                            </div>

                            <hr>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-8"></div>
                            <div class="col-md-3">
                                @*<div class="row">

                                <div class="col-md-12 text-right">
                                    <div class="row">
                                        <form action="~/Assessments/Activity" method="post">
                                            <div class="col-md-6 text-right">
                                                <p class="text-right">Assessment History:</p>
                                            </div>
                                            <div class="col-md-6">
                                                <select name="AssessmentDate" id="" onchange="this.form.submit()">
                                                    @if (ViewBag.AssessmentDates != null)
                                                    {
                                                        <option value="new">New</option>
                                                        foreach (var l_Date in (List<DateTime>)ViewBag.AssessmentDates)
                                                        {

                                                            if (Model.DateEntered == l_Date)
                                                            {
                                                                <option value="@l_Date" selected>@l_Date</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@l_Date">@l_Date</option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>*@

                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div>
                                        <input type="submit" form="AssessmentForm" class="btn btn-primary" value="Save" />
                                        @*<a href="#" class="btn btn-primary">Print PDF</a>*@
                                        @*<button class="btn btn-danger print" id="AA_PRINT" >Print PDF</button>*@
                                    </div>

                                </div>
                            </div>
                        </div>
                        <form action="~/Assessments/SubmitActivityAssessment" id="AssessmentForm" method="post">



                            @{
                                foreach (var l_Category in Model.Category)
                                {
                                    <div class="row">
                                        <div class="col-md-4">
                                            <table class="table table-bordered">
                                                <thead class="bg-primary">
                                                    <tr>
                                                        <th class="text-white text-center" colspan="4"> <!-- Hide the name @l_Category.EnglishName --></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center"><b>P</b></td>
                                                        <td class="text-center"><b>C</b></td>
                                                        <td class="text-center"><b>W</b></td>
                                                        <td class="text-center"></td>
                                                    </tr>
                                                    @for (int index = 0; index < Model.ActivityAssessments.Where(m => m.Activity.Category.Id == l_Category.Id).Count(); index = index + 2)
                                                    {
                                                        var value = Model.ActivityAssessments.Where(s => s.Activity.Category.Id == l_Category.Id).ToList()[index].Value;
                                                        var id = Model.ActivityAssessments.Where(s => s.Activity.Category.Id == l_Category.Id).ToList()[index].Activity.Id;
                                                        var identity = Model.ActivityAssessments.Where(s => s.Activity.Category.Id == l_Category.Id).ToList()[index].Id;
                                                        <tr>
                                                            <td>
                                                                <div class="form-check form-check-inline pads">
                                                                    @if (value == "P")
                                                                    {
                                                                        <input class="form-check-input" type="radio" name="ActivityAssessments[@identity].Value" id="ActivityAssessments[@identity].Value" value="P" checked />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input class="form-check-input" type="radio" name="ActivityAssessments[@identity].Value" id="ActivityAssessments[@identity].Value" value="P" />
                                                                    }

                                                                    @*@Html.RadioButtonFor(m => m.ActivityAssessments.Where(s => s.Activity.Category.Id == l_Category.Id).ToList()[index].Value, "P", new { @class = "form-check-input" })*@
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check form-check-inline pads">
                                                                    @if (value == "C")
                                                                    {
                                                                        <input class="form-check-input" type="radio" name="ActivityAssessments[@identity].Value" id="ActivityAssessments[@identity].Value" value="C" checked />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input class="form-check-input" type="radio" name="ActivityAssessments[@identity].Value" id="ActivityAssessments[@identity].Value" value="C" />
                                                                    }

                                                                    @*@Html.RadioButtonFor(m => m.ActivityAssessments.Where(s => s.Activity.Category.Id == l_Category.Id).ToList()[index].Value, "C", new { @class = "form-check-input" })*@
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check form-check-inline pads">
                                                                    @if (value == "W")
                                                                    {
                                                                        <input class="form-check-input" type="radio" name="ActivityAssessments[@identity].Value" id="ActivityAssessments[@identity].Value" value="W" checked />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input class="form-check-input" type="radio" name="ActivityAssessments[@identity].Value" id="ActivityAssessments[@identity].Value" value="W" />
                                                                    }

                                                                    @*@Html.RadioButtonFor(m => m.ActivityAssessments.Where(s => s.Activity.Category.Id == l_Category.Id).ToList()[index].Value, "W", new { @class = "form-check-input" })*@
                                                                </div>
                                                            </td>
                                                            <td>
                                                                @*@Html.HiddenFor(m => m.ActivityAssessments.Where(s => s.Activity.Category.Id == l_Category.Id).ToList()[index].Activity.Id)*@
                                                                <input class="form-check-input" type="hidden" name="ActivityAssessments[@identity].Id" id="ActivityAssessments[@identity].Id" value="@id" />
                                                                <input class="form-check-input" type="hidden" name="ActivityAssessments[@identity].Activity.Id" id="ActivityAssessments[@identity].Activity.Id" value="@id" />

                                                                @Model.ActivityAssessments.Where(m => m.Activity.Category.Id == l_Category.Id).ToList()[index].Activity.EnglishName

                                                            </td>
                                                        </tr>


                                                    }

                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="col-md-4">
                                            <table class="table table-bordered">
                                                <thead class="bg-primary">
                                                    <tr>
                                                        <th class="text-white text-center" colspan="4"> <!-- Hide the name @l_Category.EnglishName --></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center"><b>P</b></td>
                                                        <td class="text-center"><b>C</b></td>
                                                        <td class="text-center"><b>W</b></td>
                                                        <td class="text-center"></td>
                                                    </tr>
                                                    @for (int index2 = 1; index2 < Model.ActivityAssessments.Where(m => m.Activity.Category.Id == l_Category.Id).Count(); index2 = index2 + 2)
                                                    {
                                                        var value2 = Model.ActivityAssessments.Where(s => s.Activity.Category.Id == l_Category.Id).ToList()[index2].Value;
                                                        var id2 = Model.ActivityAssessments.Where(s => s.Activity.Category.Id == l_Category.Id).ToList()[index2].Activity.Id;
                                                        var identity2 = Model.ActivityAssessments.Where(s => s.Activity.Category.Id == l_Category.Id).ToList()[index2].Id;
                                                        <tr>
                                                            <td>
                                                                <div class="form-check form-check-inline pads">
                                                                    @if (value2 == "P")
                                                                    {
                                                                        <input class="form-check-input" type="radio" name="ActivityAssessments[@identity2].Value" id="ActivityAssessments[@identity2].Value" value="P" checked />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input class="form-check-input" type="radio" name="ActivityAssessments[@identity2].Value" id="ActivityAssessments[@identity2].Value" value="P" />
                                                                    }
                                                                    
                                                                    @*@Html.RadioButtonFor(m => m.ActivityAssessments.Where(s => s.Activity.Category.Id == l_Category.Id).ToList()[index2].Value, "P", new { @class = "form-check-input" })*@
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check form-check-inline pads">
                                                                    @if (value2 == "C")
                                                                    {
                                                                        <input class="form-check-input" type="radio" name="ActivityAssessments[@identity2].Value" id="ActivityAssessments[@identity2].Value" value="C" checked />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input class="form-check-input" type="radio" name="ActivityAssessments[@identity2].Value" id="ActivityAssessments[@identity2].Value" value="C" />
                                                                    }

                                                                    @*@Html.RadioButtonFor(m => m.ActivityAssessments.Where(s => s.Activity.Category.Id == l_Category.Id).ToList()[index2].Value, "C", new { @class = "form-check-input" })*@
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check form-check-inline pads">
                                                                    @if (value2 == "W")
                                                                    {
                                                                        <input class="form-check-input" type="radio" name="ActivityAssessments[@identity2].Value" id="ActivityAssessments[@identity2].Value" value="W" checked />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input class="form-check-input" type="radio" name="ActivityAssessments[@identity2].Value" id="ActivityAssessments[@identity2].Value" value="W" />
                                                                    }

                                                                    @*@Html.RadioButtonFor(m => m.ActivityAssessments.Where(s => s.Activity.Category.Id == l_Category.Id).ToList()[index2].Value, "W", new { @class = "form-check-input" })*@
                                                                </div>
                                                            </td>
                                                            <td>
                                                                @*@Html.HiddenFor(m => m.ActivityAssessments.Where(s => s.Activity.Category.Id == l_Category.Id).ToList()[index2].Activity.Id)*@
                                                                <input class="form-check-input" type="hidden" name="ActivityAssessments[@identity2].Id" id="ActivityAssessments[@identity2].Id" value="@id2" />
                                                                <input class="form-check-input" type="hidden" name="ActivityAssessments[@identity2].Activity.Id" id="ActivityAssessments[@identity2].Activity.Id" value="@id2" />
                                                                @Model.ActivityAssessments.Where(m => m.Activity.Category.Id == l_Category.Id).ToList()[index2].Activity.EnglishName
                                                            </td>
                                                        </tr>


                                                    }

                                                </tbody>
                                            </table>
                                        </div>

                                    </div>




                                    <br><br>
                                }
                            }






                            <br>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="" class="col-form-label">Comments :</label>
                                    @Html.TextAreaFor(m => m.Comment, new { @class = "textarea", name = "Comment", rows = "5", style = "max-width:100% !important" })
                                </div>
                                <div class="col-md-4">
                                    <label for="" class="col-form-label">Suggest Activity Events :</label>
                                    @Html.TextAreaFor(m => m.SAE, new { @class = "textarea", name = "SAE", rows = "5", style = "max-width:100% !important" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8"></div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div><input type="submit" form="AssessmentForm" class="btn btn-primary" value="Save" /></div>
                                        <input id="hiddeninput1" type="hidden" value="@TempData["index"]" />
                                        @*<div><input type="button" onclick="window.location='/Assessments/';"  class="btn btn-primary" value="Back" style="margin-left:6%;"/></div>*@
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


                <!-- END PLACE PAGE CONTENT HERE -->
            </div>
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->


        @RenderPage("~/Views/Shared/_Footer.cshtml")

<script>
    var index_date = $('#hiddeninput1').val();
    $('#selectdate').val(index_date);

    $('input[type="radio"]').mousedown(function (e) {
        var $self = $(this);
        if ($self.is(':checked')) {
            var uncheck = function () {
                setTimeout(function () { $self.removeAttr('checked'); }, 0);
            };
            var unbind = function () {
                $self.unbind('mouseup', up);
            };
            var up = function () {
                uncheck();
                unbind();
            };
            $self.bind('mouseup', up);
            $self.one('mouseout', unbind);
        }
    });


    function formsubmit(ee) {
        var index = $('#selectdate').val();
        if (window.location.href.includes("?")) {
            var question_location = window.location.href.indexOf('?');
            window.location.href = window.location.href.substring(0, question_location) + '?index=' + index;
        }
        else {
            window.location.href = window.location.href + "?index=" + index;
        }

    }
</script>