@model QolaMVC.Models.nDietaryAssessmentModel

@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")
<style>
     
    .form-tabs .nav-link {
        font-size: 1rem;
    }

    .modal-xlg {
        width: 900px !important;
        max-width: 1000px !important;
    }
</style>
<!-- START PAGE-CONTAINER -->
<div class="page-container">

    @RenderPage("~/Views/Shared/_NavBar.cshtml")
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <!-- START JUMBOTRON -->
            <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                <div class="container-fluid container-fixed-lg">
                    <!-- <div class="inner"> -->
                    <div class="row align-items-center">
                        <div class="col-md-9">
                            <h3>Dietary Assessment</h3>
                        </div>
                        <div class="col-md-2">
                            <a href="~/Assessments/" class="btn btn-primary"><i class="fa fa-backward"></i> Back</a>
                            <button class="btn btn-primary print" id="DA_PRINT"><i class="fa fa-file-pdf-o"></i> Print</button>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <!-- END JUMBOTRON -->
            <div style="height: 60px;"></div>
            <input type="hidden" value="Dietary_Assessment" name="" class="filename">
            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg" id="fromHTMLtestdiv">
                <!-- BEGIN PlACE PAGE CONTENT HERE -->
                <div class="card">
                    <div class="card-block">

                        <div class="row" id="DA_firstrow">
                            <div class="col-2">
                                <label for="" class="col-form-label"><b>Resident: </b></label>
                                <label>@ViewBag.Resident.FirstName @ViewBag.Resident.LastName </label>
                            </div>
                            <div class="col-2">
                                <label for="" class="col-form-label"><b>Suite No: </b></label>
                                <label>@ViewBag.Resident.SuiteNo</label>
                            </div>
                            <div class="">
                                <label for="" class="col-form-label"><b>Assessment History:</b></label>     
                            </div>
                            <div class="col-2">
                                <select class="form-control col-12" name="AssessmentDate" id="selectdate" onchange="formsubmit(this)">

                                    @if (ViewBag.AssessmentDates != null && ViewBag.AssessmentDates[0].ToShortDateString() != "1/1/0001")
                                    {
                                        for (var ind = 0; ind < ((List<DateTime>)ViewBag.AssessmentDates).Count(); ind++)
                                        {
                                            <option value=@ind>@(((List<DateTime>)ViewBag.AssessmentDates)[ind].ToString("yyyy-MM-dd"))</option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="0"></option>}

                                </select>
                                <input type="hidden" id="ID_ID" name="Id" value="" />
                            </div>
                        </div>
                        <hr>
                        @*<div class="row">

                        <div class="col-12">
                            Assessment History:
                        </div>
                    </div>
                    <div class="row">
                        <form action="~/Assessments/DietaryHistory" method="post">
                            <div class="col-10">
                                <select class="form-control col-12" name="DateEntered">
                                    @{
                                        if (Model.DateEntered != null)
                                        {
                                            <option selected>@Model.DateEntered</option>
                                        }
                                        else
                                        {
                                            <option>New</option>
                                        }
                                    }

                                    @{
                                        if (ViewBag.AssessmentDates.Count > 0)
                                        {
                                            foreach (var d in ViewBag.AssessmentDates)
                                            {
                                                <option>@d</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-danger">GO</button>
                            </div>
                        </form>
                    </div>*@

                        @using (Html.BeginForm("AddDietaryAssessment", "Assessments", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {

                            <div class="col-md-12">
                                <h5 style="font-weight:bold;color:black;">Nutrition</h5>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-form-label">Appetite</label>
                                        <select name="Apetite" class="form-control">
                                            @{
                                                if (Model.Apetite != null && Model.Apetite != string.Empty)
                                                {
                                                    <option selected value=@Model.Apetite>@Model.Apetite</option>
                                                }
                                            }
                                            <option value="">Select</option>
                                            <option value="Good">Good</option>
                                            <option value="Fair">Fair</option>
                                            <option value="Poor">Poor</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="" class="col-form-label">Nutritional Status</label>
                                        <select name="NutritionalStatus" class="form-control">
                                            @{
                                                if (Model.NutritionalStatus != null && Model.NutritionalStatus != string.Empty)
                                                {
                                                    <option selected>@Model.NutritionalStatus</option>
                                                }
                                            }
                                            <option value="">Select</option>
                                            <option value="Independent">Independent</option>
                                            <option value="Supervised">Supervised</option>
                                            <option value="Assisted">Assisted</option>
                                            <option value="Dependant">Dependant</option>
                                            <option value="SL4">SL4</option>
                                            <option value="SL4D">SL4D</option>
                                            <option value="Private (Supportive)">Private (Supportive)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="" class="col-form-label">Risk</label>
                                        <select name="Risk" class="form-control">
                                            @{
                                                if (Model.Risk != null && Model.Risk != string.Empty)
                                                {
                                                    <option selected>@Model.Risk</option>
                                                }
                                            }
                                            <option value="">Select</option>
                                            <option value="N/A">N/A</option>
                                            <option value="Swallowing">Swallowing</option>
                                            <option value="Choking Risk">Choking risk</option>
                                            <option value="Difficulty in Chewing">Difficulty in Chewing</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="" class="col-form-label">Assistive Devices</label>
                                        @Html.TextBoxFor(m => m.AssistiveDevices, new { @class = "form-control", placeholder = "Assistive Device" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 style="font-weight:bold;color:black;">Diet</h5>
                                </div>

                                <br>
                                <div class="col-md-3 pads">
                                    @{
                                        if (Model.Diet != null && Model.Diet.Count() > 0)
                                        {
                                            for (int i = 0; i < Model.Diet.Count; i++)
                                            {
                                                <div class="form-check">
                                                    <input name="Diet[]" class="form-check-input" type="checkbox" checked value="@Model.Diet[i]" id="defaultCheck1">
                                                    <label class="form-check-label" for="defaultCheck1">
                                                        @Model.Diet[i]
                                                    </label>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="form-check">
                                                <input name="Diet[]" class="form-check-input" type="checkbox" value="Other" id="defaultCheck1">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Other
                                                </label>
                                            </div>
                                        }
                                    }

                                </div>

                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-form-label">Texture</label>
                                        <select name="texture" class="form-control">
                                            @{
                                                if (Model.Texture != null && Model.Texture != string.Empty)
                                                {
                                                    <option selected>@Model.Texture</option>
                                                }
                                            }
                                            <option value="">Select</option>
                                            <option value="N/A">N/A</option>
                                            <option value="Swallowing">Swallowing</option>
                                            <option value="Choking Risk">Choking risk</option>
                                            <option value="Difficulty in Chewing">Difficulty in Chewing</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-form-label">Other</label>
                                        @Html.TextBoxFor(m => m.Other, new { @class = "form-control" })

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 style="font-weight:bold;color:black;">Allergies/Sensitivities</h5>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-check pads">
                                        @*<input class="form-check-input" type="checkbox" value="true" id="defaultCheck1" name="noAllergy">*@
                                        @Html.CheckBoxFor(modelItem => Model.noAllergy, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="defaultCheck1">
                                            No Allergy
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group row">
                                        <label for="" class="col-md-3 col-form-label">Allergies/Sensitivities</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="allergies_TEXT" onchange="onchange_allergies_TEXT()"/>
                                        </div>
                                        <div class="col-md-1">
                                            <a id="AddAllergy" class="btn btn-danger" style="color:white;">ADD</a>
                                        </div>
                                        <div class="col-md-1">
                                            @*<a href="#" id="DeleteAllergy" class="btn btn-danger">DELETE</a>*@
                                        </div>
                                        <div class="col-md-5 offset-md-3">
                                            <div class="searchBox_DA">
                                                <div class="list-group searchBox_DA_result">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="row">
                                <table style="width:80%;">
                                    <thead>
                                        <tr>
                                            <th>Diet Allergy</th>
                                            <th>Notes</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="Allergies">
                                        @for (var a = 0; a < Model.Allergies.Count; a++)
                                        {
                                            if (Model.Allergies[a].Name != null)
                                            {
                                                <tr>
                                                    <td>
                                                        <input type='hidden' name=Allergies[@a].ID value=@Model.Allergies[a].ID />
                                                        <input type='hidden' name=Allergies[@a].Name value="@Model.Allergies[a].Name" />@Model.Allergies[a].Name
                                                    </td>
                                                    <td>
                                                        <input type='text' class='form-control' name=Allergies[@a].Note value="@Model.Allergies[a].Note" />
                                                    </td>
                                                    <td>
                                                        <input type='button' value='delete' class='btn btn-danger'>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 style="font-weight:bold;color:black;">Personal Preferences</h5>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="" class="col-form-label">Likes</label><br>

                                        @Html.TextAreaFor(m => m.Likes, new { @class = "textarea col-md-12", style = "width: 95% !important;", rows = "5" })
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-form-label">Dislikes</label><br>
                                        @Html.TextAreaFor(m => m.DisLikes, new { @class = "textarea col-md-12", style = "width: 95% !important;", rows = "5" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 style="font-weight:bold;color:black;">Notes</h5>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.TextAreaFor(m => m.Notes, new { @class = "textarea col-md-12", style = "width: 95% !important;", rows = "5" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <br>
                                    @{
                                        if (TempData["ack"].ToString() == "true")
                                        {
                                            <button type="button" class="btn btn-danger btn-lg">Acknowledge</button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-danger btn-lg">SAVE</button>
                                        }
                                    }

                                </div>
                                <input id="hiddeninput1" type="hidden" value="@TempData["index"]" />
                            </div>
                        }
                    </div>
                </div>

                <!-- END PLACE PAGE CONTENT HERE -->
            </div>
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->

        @RenderPage("~/Views/Shared/_Footer.cshtml")
        <script type="text/javascript">
            $(document).ready(function () {
                
                $("#AddAllergy").click(function () {
                    var count = $('#Allergies tr').length;
                    var name = $("#allergies_TEXT").val();
                    var id = $("#allergies_TEXT")
                    idreal = id[0].getAttribute('name');
                    if (name.trim() != "") {
                        var markup = "<tr><td><input type='hidden' name='Allergies[" + count + "].ID' value='" + idreal + "'/><input type='hidden' name='Allergies[" + count + "].Name' value='" + name + "'/>" + name + "</td> <td><input type='text' class='form-control' name='Allergies[" + count + "].Note' /></td> <td><input type='button' value='delete' class='btn btn-danger'></td></tr > ";
                        $("#Allergies").append(markup);
                    }

                    $('#allergies_TEXT').val('');
                });

        // Find and remove selected table rows
        $("#DeleteAllergy").click(function(){
            $("#Allergies").find('input[name="record"]').each(function(){
                if($(this).is(":checked")){
                    $(this).parents("tr").remove();
                }
            });
        });

        $('table').on('click', 'input[type="button"]', function (e) {
            $(this).closest('tr').remove()
        })
            });


            $('#allergies_TEXT').keyup(function () {
                val = $(this).val();
                if (val.length > 1) {
                    $('.searchBox_DA_result').empty();
                    $.get("/Assessments/GETALLERGIES_A/", { term: val }, function (data) {
                        console.log(data);
                        for (var i = 0; i < data.length; i++) {
                            $('.searchBox_DA_result').append('<a onclick="click_DA_CHOICE(\'' + data[i][1].Value + '\',\'' + data[i][0].Value + '\')" class=\'list-group-item list-group-item-action\' id=\'' + data[i][0].Value + '\'">' +
                                '<p class="ml-3">' + data[i][1].Value + '<br></p>' +
                                '</a>');
                        }
                        if (data.length == 0) {
                            $('.searchBox_DA_result').append('No Allergies found');
                        }
                    });
                    $('.searchBox_DA').show();
                } else {
                    $('.searchBox_DA').hide();
                }
            })

            function click_DA_CHOICE(aa, bb) {
                document.getElementById("allergies_TEXT").value = aa;
                document.getElementById("allergies_TEXT").name = bb;
                $('.searchBox_DA').hide();
            }

            function onchange_allergies_TEXT() {
                document.getElementById("allergies_TEXT").name = "";
            }

        </script>

        <script>
            var index_date = $('#hiddeninput1').val();
            $('#selectdate').val(index_date);

            function formsubmit(ee) {
                var index = $('#selectdate').val();
                if (window.location.href.includes("?")) {
                    var question_location = window.location.href.indexOf('?');
                    window.location.href = window.location.href.substring(0, question_location) + '?index=' + index;
                }
                else {
                    window.location.href = window.location.href + "?index=" + index;
                }

            }
        </script>

