@model QolaMVC.Models.OCCC

@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")

<style>

    .form-tabs .nav-link {
        font-size: 1rem;
    }

    .modal-xlg {
        width: 900px !important;
        max-width: 1000px !important;
    }

    input[type=checkbox] {
        /* Double-sized Checkboxes */
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
        padding: 10px;
    }

    #checklist_table label {
        margin-bottom: 0px !important;
    }
    #checklist_table td{
        font-size:1.5em;
        color:black;
        padding:15px 20px 15px 20px;
    }
</style>

<script>
    function formsubmit(ee) {
        var index = $('#selectdate').val();
        if (window.location.href.includes("?")) {
            var question_location = window.location.href.indexOf('?');
            window.location.href = window.location.href.substring(0, question_location) + '?index='+index;
        }
        else {
            window.location.href = window.location.href + "?index=" + index;
        }
    }

    function PRINTPDF() {

        scrollTo(0, 0);
        $('#historySpan').hide();

        $('.content').height($('.content').height());
        var srcEl = document.getElementById("fromHTMLtestdiv");
        var scaleFactor = 1.5;

        var originalWidth = srcEl.offsetWidth;
        var originalHeight = srcEl.offsetHeight;
        // Force px size (no %, EMs, etc)
        srcEl.style.width = originalWidth + "px";
        srcEl.style.height = originalHeight + "px";

        // Position the element at the top left of the document because of bugs in html2canvas. The bug exists when supplying a custom canvas, and   //the rendering on the custom canvas based on the offset of the source element on the page; thus the source element MUST be at 0, 0.
        // See html2canvas issues #790, #820, #893, #922
        srcEl.style.position = "absolute";
        srcEl.style.top = "0";
        srcEl.style.left = "0";

        // Create scaled canvas
        var scaledCanvas = document.createElement("canvas");
        scaledCanvas.width = originalWidth * scaleFactor;
        scaledCanvas.height = originalHeight * scaleFactor;
        scaledCanvas.style.width = originalWidth + "px";
        scaledCanvas.style.height = originalHeight + "px";
        var scaledContext = scaledCanvas.getContext("2d");
        scaledContext.scale(scaleFactor, scaleFactor);

        html2canvas(srcEl, { canvas: scaledCanvas })
            .then(function (canvas) {
                var imgData = canvas.toDataURL('image/png');
                var imgWidth = 210;
                var pageHeight = 295;
                var imgHeight = canvas.height * imgWidth / canvas.width;
                var heightLeft = imgHeight;

                var doc = new jsPDF('p', 'mm');
                var position = 0;

                doc.addImage(imgData, 'PNG', 0, position, imgWidth, imgHeight);
                doc.setTextColor('#000');
                var context = canvas.getContext('2d');
                context.scale(2, 2);
                heightLeft -= pageHeight;

                while (heightLeft >= 0) {
                    position = heightLeft - imgHeight;
                    doc.addPage();
                    doc.addImage(imgData, 'JPEG', 0, position, imgWidth, imgHeight);
                    var context = canvas.getContext('2d');
                    context.scale(2, 2);
                    doc.setTextColor('#000');
                    heightLeft -= pageHeight;
                }
                var filename = $('.filename').val();
                doc.save(filename + '.pdf');
            });
        $('#OCCC_PRINT').hide();
        $('#historySpan').show();
        $('#fromHTMLtestdiv').css("margin-left", "20px");


    }

</script>

<!-- START PAGE-CONTAINER -->
<div class="page-container">

    @RenderPage("~/Views/Shared/_NavBar.cshtml")

    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <!-- START JUMBOTRON -->
            <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                <div class="container-fluid container-fixed-lg">
                    <!-- <div class="inner"> -->
                    <div class="row align-items-center">

                        <div class="col-md-9">
                            <h3>ORAL CARE COMPETENCY CHECKLIST</h3>
                        </div>
                        <div class="col-md-3">
                            <a href="~/Assessments/" class="btn btn-primary"><i class="fa fa-backward"></i>Back</a>
                            <a class="btn btn-primary" href="~/Content/PDF/Oral_care_assessment_form.pdf" target="_blank">LEGEND</a>
                            <a class="btn btn-danger text-white" id="OCCC_PRINT" onclick="PRINTPDF()"><i class="fa fa-file-pdf-o"></i>Print</a>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <!-- END JUMBOTRON -->
            <div style="height: 60px;"></div>
            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg">
                <!-- BEGIN PlACE PAGE CONTENT HERE -->
                <div class="card" id="fromHTMLtestdiv">
                    @using (Html.BeginForm("Add_OCCC", "Assessments"))
                    {
                        <input type="hidden" class="filename" value="OCCC" />
                        <div class="card-block" id="OCCC_firstrow">
                            <div class="">
                                <div style="max-width:50%;">
                                    <label style="font-size:1.3vw;display:inline-block;">Assessment <span id="historySpan">History</span>:</label>
                                    <select name="AssessmentDate" id="selectdate" onchange="formsubmit(this)" style="width:12vw;height:30px;font-size:1.3vw;display:inline-block;">
                                        @if (ViewBag.AssessmentDates != null && ViewBag.AssessmentDates[0].ToShortDateString() != "1/1/0001")
                                        {

                                            for (var ind = 0; ind < ((List<DateTime>)ViewBag.AssessmentDates).Count(); ind++)
                                            {
                                                <option value=@ind>@(((List<DateTime>)ViewBag.AssessmentDates)[ind].ToString("yyyy-MM-dd"))</option>
                                            }
                                        }
                                        else
                                        {
                                            <option value="0"></option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="card-block" id="assessment">
                            <div class="row">
                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-md-5">
                                            <img src="~/Content/assets/img/logo (2).png" />
                                        </div>
                                        <div class="col-md-6">
                                            <h2 style="font-weight:bold;">@ViewBag.Home.Name</h2>
                                        </div>
                                    </div>
                                    <br><br><br>
                                    <div class="col-md-12 text-center">
                                        <h2 style="font-weight:bold;">ORAL CARE COMPETENCY CHECKLIST</h2>
                                    </div>
                                    <br><br><br><br>
                                    <div class="col-md-12">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">
                                            <p class="" style="font-size:20px;margin-bottom:0;">Resident's Name:</p>
                                        </div>
                                        <div class="col-md-2" style="border-bottom-style:solid;margin-left:-2vw;">
                                            <p class="text-center" style="font-size:20px;margin-bottom:0;">@ViewBag.Resident.FirstName @ViewBag.Resident.LastName </p>
                                        </div>
                                        <div class="col-md-1">
                                            <p class="text-center" style="font-size:20px;margin-bottom:0;">Suite #:</p>
                                        </div>
                                        <div class="col-md-2" style="border-bottom-style:solid;">
                                            <p class="text-center" style="font-size:20px;margin-bottom:0;">@ViewBag.Resident.SuiteNo</p>
                                        </div>
                                        <div class="col-md-1">
                                            <p class="text-center" style="font-size:20px;margin-bottom:0;">Date:</p>
                                        </div>
                                        <div class="col-md-2" style="border-bottom-style:solid;">
                                            @{
                                                if (((List<DateTime>)ViewBag.AssessmentDates)[0].ToString("yyyy-MM-dd") == "0001-01-01")
                                                {
                                                    <p class="text-center" style="font-size:20px;margin-bottom:0;height:20px;"></p>
                                                }
                                                else
                                                {
                                                    <p class="text-center" style="font-size:20px;margin-bottom:0;">@(((List<DateTime>)ViewBag.AssessmentDates)[0].ToString("yyyy-MM-dd"))</p>
                                                }
                                            }

                                        </div>

                                    </div>
                                    <br><br><br>
                                    <div class="col-md-12">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-3">
                                            <p class="" style="font-size:20px;margin-bottom:0;">Signature of Observer:</p>
                                        </div>
                                        <div class="col-md-3" style="border-bottom-style:solid;margin-left:-2vw;">
                                            <p class="text-center" style="font-size:20px;margin-bottom:0;height:25px;">@(Model.userName + " " + Model.userNameType)</p>
                                        </div>
                                        <div class="col-md-2">
                                            <p class="text-center" style="font-size:20px;margin-bottom:0;">Location:</p>
                                        </div>
                                        <div class="col-md-2" style="border-bottom-style:solid;">
                                            @Html.TextBoxFor(m => m.Location, new { @class = "form-control", style = "margin-top:-5%;" })
                                            <p class="text-center" style="font-size:20px;margin-bottom:0;"></p>
                                        </div>

                                    </div>
                                    <div class="col-md-12"><hr></div>

                                    <table class="table table-bordered" id="checklist_table" style="width:80%;margin-left:10%;">
                                        <thead class="bg-primary">
                                            <tr>
                                                <th class="text-white text-center" style="width:60%;">The employee is deemed competent in performing  Oral Care </th>
                                                <th class="text-white text-center" style="width:10%;">Yes</th>
                                                <th class="text-white text-center" style="width:10%;">No</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr><td>Has read the Oral Care procedure and performed the following :</td><td></td><td></td></tr>
                                            <tr><td>1.	Check the Care Plan indicating resident’s level of assistance for oral care</td><td>@Html.CheckBoxFor(modelItem => Model.checkYes1, new { @class = "form-check-input" })</td><td>@Html.CheckBoxFor(modelItem => Model.checkNo1, new { @class = "form-check-input" })</td></tr>
                                            <tr><td>2.	Hand hygiene prior to performing oral care</td><td>@Html.CheckBoxFor(modelItem => Model.checkYes2, new { @class = "form-check-input" })</td><td>@Html.CheckBoxFor(modelItem => Model.checkNo2, new { @class = "form-check-input" })</td></tr>
                                            <tr><td>3.	Perform Oral Care for resident who is able to brush teeth.</td><td>@Html.CheckBoxFor(modelItem => Model.checkYes3, new { @class = "form-check-input" })</td><td>@Html.CheckBoxFor(modelItem => Model.checkNo3, new { @class = "form-check-input" })</td></tr>
                                            <tr><td>4.	Perform Oral Care for Resident who is unable to brush teeth</td><td>@Html.CheckBoxFor(modelItem => Model.checkYes4, new { @class = "form-check-input" })</td><td>@Html.CheckBoxFor(modelItem => Model.checkNo4, new { @class = "form-check-input" })</td></tr>
                                            <tr><td>5.	Perform Oral care  for resident with dentures</td><td>@Html.CheckBoxFor(modelItem => Model.checkYes5, new { @class = "form-check-input" })</td><td>@Html.CheckBoxFor(modelItem => Model.checkNo5, new { @class = "form-check-input" })</td></tr>
                                            <tr><td>6.	Perform Oral checks. (Staff is able to identify oral health concerns and how to report)</td><td>@Html.CheckBoxFor(modelItem => Model.checkYes6, new { @class = "form-check-input" })</td><td>@Html.CheckBoxFor(modelItem => Model.checkNo6, new { @class = "form-check-input" })</td></tr>
                                            <tr><td>7.	Hand hygiene after oral care</td><td>@Html.CheckBoxFor(modelItem => Model.checkYes7, new { @class = "form-check-input" })</td><td>@Html.CheckBoxFor(modelItem => Model.checkNo7, new { @class = "form-check-input" })</td></tr>
                                            <tr><td>8.	Complete Oral Tracking Form properly</td><td>@Html.CheckBoxFor(modelItem => Model.checkYes8, new { @class = "form-check-input" })</td><td>@Html.CheckBoxFor(modelItem => Model.checkNo8, new { @class = "form-check-input" })</td></tr>
                                            <tr><td>9.	Document identified oral health concerns</td><td>@Html.CheckBoxFor(modelItem => Model.checkYes9, new { @class = "form-check-input" })</td><td>@Html.CheckBoxFor(modelItem => Model.checkNo9, new { @class = "form-check-input" })</td></tr>
                                            <tr><td colspan="3">Comment/s: @Html.TextAreaFor(modelItem => Model.comments, new { style = "max-width:80%;", rows = "3" })</td></tr>



                                        </tbody>
                                    </table>



                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-11 text-right">
                                    <br>
                                    <input type="submit" id="btnFinalSave" class="btn btn-danger btn-lg" name="FORM" value="SAVE" style="display:none;" />
                                </div>
                            </div>
                        </div>
                        <br><br><br><br><br>
                        <input id="hiddeninput1" type="hidden" value="@TempData["index"]" />
                        <input id="hiddeninput2" type="hidden" name="ID" value="@Model.ID" />

                    }


                </div>

                <!-- END PLACE PAGE CONTENT HERE -->
            </div>
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->
        @RenderPage("~/Views/Shared/_Footer.cshtml")


        <script>

    var index_date = $('#hiddeninput1').val();
    $('#selectdate').val(index_date);



            var firstdate = $('#selectdate option:selected').text()
            if (firstdate != "") {
                $('input[type=text]').attr('disabled', 'true');
                $('input[type=checkbox]').attr('disabled', 'true');
                $('textarea').attr('disabled', 'true');
                $('input[type=text]').css('color', 'black');
                $('input[type=checkbox]').css('color', 'black');
                $('textarea').css('color', 'black');
                

            }
            else {
                $('#btnFinalSave').show();
            }

        </script>
