@model QolaMVC.Models.ProgressNotesModel

@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")
@{ 
    var resident = (QolaMVC.Models.ResidentModel)ViewBag.Resident;
    var user = (QolaMVC.Models.UserModel)ViewBag.User;
    var home = (QolaMVC.Models.HomeModel) ViewBag.Home;
}
<style>

    .form-tabs .nav-link {
        font-size: 1rem;
    }

    .modal-xlg {
        width: 900px !important;
        max-width: 1000px !important;
    }

    .required_sign {
        color: red;
    }

</style>
<!-- START PAGE-CONTAINER -->
<div class="page-container">

    @RenderPage("~/Views/Shared/_NavBar.cshtml")

    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="page-content-wrapper">
            <!-- START PAGE CONTENT -->
            <div class="content">
                <!-- START JUMBOTRON -->
                <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                    <div class="container-fluid container-fixed-lg">
                        <!-- <div class="inner"> -->
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <h3>Progress Notes</h3>
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
                <!-- END JUMBOTRON -->
                <div style="height: 60px;"></div>
                <!-- START CONTAINER FLUID -->
                <div class="container-fluid container-fixed-lg">
                    <!-- BEGIN PlACE PAGE CONTENT HERE -->

                    <form action="/Assessments/AddProgressNote/" method="post">
                        <div class="card">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label for="" class="col-md-12 col-form-label"><b>Resident</b></label>
                                            <div class="col-md-12">
                                                <input type="text" disabled class="form-control" value="@resident.SuiteNo, @resident.FirstName @resident.LastName" id="" style="color:black;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label for="" class="col-md-12 col-form-label"><b>Date</b></label>
                                            <div class="col-md-12">
                                                <input type="date" value="@DateTime.Now" name="date" class="form-control" id="">
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                                @*<div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label for="" class="col-md-12 col-form-label"><b>Time</b></label>
                                            <div class="col-md-12">
                                                <input type="datetime-local" name="date" class="form-control" id="">
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label for="" class="col-md-12 col-form-label"><b>Department</b></label>
                                            <div class="col-md-12">
                                                <input type="text" name="department" class="form-control" id="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label for="" class="col-md-12 col-form-label"><b>Category</b><span class="required_sign">&nbsp;*</span></label>
                                            <div class="col-md-12">
                                                <select name="category" class="form-control" onchange="checkResidentFall(this)">
                                                    <option value="0">Select</option>
                                                    <option value="2">Medical Update</option>
                                                    <option value="3">Social/activity update</option>
                                                    <option value="4">Dietary Update</option>
                                                    <option value="5">General Update</option>
                                                    <option value="6">Resident Fall</option>
                                                    <option value="7">Resident Bruised</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" id="ResidentFallDiv" style="display:none;border:2px solid black;width:45%;background-color:lightgrey;padding:10px 0px 10px 10px">
                                    <div class="" style="width:99%;">
                                        <div class="col-md-10 text-center">
                                            <p style="font-weight:bold;font-size:1.2em;">Resident Fall Information</p>
                                        </div>
                                    </div>
                                    <div class="" style="width:99%;">
                                        <div style="width:2%;"></div>
                                        <div class="col-md-5">
                                            <label class="form-control-label" id="RF_date_label">Date/Time<span class="required_sign">&nbsp;*</span></label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="datetime-local" class="form-control" id="RF_date" name="sFallDate" />
                                        </div>
                                    </div>
                                    <div class="" style="width:99%;">
                                        <div style="width:2%;"></div>
                                        <div class="col-md-5">
                                            <label class="form-control-label" id="RF_location_label">Location<span class="required_sign">&nbsp;*</span></label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" id="RF_location" name="Location" />
                                        </div>
                                    </div>
                                    <div class="" style="width:99%;">
                                        <div style="width:2%;"></div>
                                        <div class="col-md-5">
                                            <input type="checkbox" id="RF_WF" style="display:inline-block;" name="WitnessType" value="Y"/>
                                            <label class="form-control-label" id="RF_WF_label" style="display:inline-block;">Witnessed Fall<span class="required_sign">&nbsp;*</span></label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" id="RF_WF_text" name="WitnessFall" disabled/>
                                        </div>
                                    </div>
                                    <div class="" style="width:99%;">
                                        <div style="width:2%;"></div>
                                        <div class="col-md-5">
                                            <input type="checkbox" id="RF_UF" style="display:inline-block;" name="WitnessType" value="N"/>
                                            <label class="form-control-label" id="RF_UF_label" style="display:inline-block;">Unwitnessed Fall<span class="required_sign">&nbsp;*</span></label>
                                        </div>
                                    </div>
                                    <div class="" style="width:99%;">
                                        <div style="width:2%;"></div>
                                        <div class="col-md-7">
                                            <input type="checkbox" id="RF_IROF" style="display:inline-block;" name="IncidentReport" value="Y"/>
                                            <label class="form-control-label" id="RF_IROF_label" style="display:inline-block;">Incident Report on File<span class="required_sign">&nbsp;*</span></label>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label for="" class="col-md-12 col-form-label"><b>Reminder</b></label>
                                            <div class="col-md-12">
                                                <select name="remainin" class="form-control">
                                                    <option value="0">Select</option>
                                                    <option value="6">1 hour</option>
                                                    <option value="7">2 hours</option>
                                                    <option value="1">4 hours</option>
                                                    <option value="2">8 hours</option>
                                                    <option value="3">12 hours</option>
                                                    <option value="4">Tomorrow</option>
                                                    <option value="5">Next Week</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label for="" class="col-md-12 col-form-label"><b>Title</b><span class="required_sign">&nbsp;*</span></label>
                                            <div class="col-md-12">
                                                <input name="title" type="text" class="col-md-12 form-control" id="Title">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <br><br>
                                        <div class="form-group row">
                                            <label for="" class="col-md-12 col-form-label">Multidisciplinary Notes</label>
                                            <div class="col-md-12">
                                                <textarea name="note" class="col-md-12 textarea" rows="5"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <br>
                                        <button class="btn btn-danger btn-lg">SAVE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END PLACE PAGE CONTENT HERE -->
                </div>
                <!-- END CONTAINER FLUID -->
            </div>
            <!-- END PAGE CONTENT -->
            @RenderPage("~/Views/Shared/_Footer.cshtml")


<script>

    $('#RF_WF').click(function () {
        $('#RF_UF').prop('checked', false);
        if ($('#RF_WF').prop('checked') == true) {
            $('#RF_WF_text').prop('disabled', false);
        }
    })
    $('#RF_UF').click(function () {
        $('#RF_WF').prop('checked', false);
        $('#RF_WF_text').val('');
        $('#RF_WF_text').prop('disabled', true);
        
    })

    $('form').submit(function (event) {
        if (check_mandotary() == true) {
            form = this;
            form.submit();
        }
        else {
            check_mandotary();
            return false;
        }
    });

    function check_mandotary() {

        if ($('select[name="category"]').val() == "0") {
            tempAlert("Category Needed", 2000);
            return false;
        }
        else if ($('select[name="category"]').val() == "6") {
            if ($('#RF_date').val() == "") {
                tempAlert("Fall Date Needed", 2000);
                return false;
            }
            else if ($('#RF_location').val().trim() == "") {
                tempAlert("Fall Location Needed", 2000);
                return false;
            }
            else if ($('#RF_WF').prop('checked') == true && $('#RF_WF_text').val().trim()=="") {
                tempAlert("Witness Name Needed", 2000);
                return false;
            }
            else if ($('#RF_WF').prop('checked') == false && $('#RF_UF').prop('checked') == false) {
                tempAlert("Witness Type Needed", 2000);
                return false;
            }
            else if ($('#RF_IROF').prop('checked') == false) {
                tempAlert("IncidentReport Needed", 2000);
                return false;
            }
        }

        if ($('#Title').val().trim() == "") {
            tempAlert("Title Needed", 2000);
            return false;
        }
        else {
            return true;
        }
    }

    function checkResidentFall(ee) {
        if ($('select[name="category"]').val() == '6') {
            $('#ResidentFallDiv').show();
            $('#Title').val("Resident Fall");
        }
        else {
            $('#ResidentFallDiv').hide();
            $('#Title').val("");
        }
    }


</script>