@model QolaMVC.Models.UnusualIncidentModel

@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")
<style>
    .form-tabs .nav-link {
        font-size: 1rem;
    }

    .modal-xlg {
        width: 900px !important;
        max-width: 1000px !important;
    }

    .chklabel {
        padding-left: 20px;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
    }
</style>

<!-- START PAGE-CONTAINER -->
<div class="page-container">

    @RenderPage("~/Views/Shared/_NavBar.cshtml")

    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <!-- START JUMBOTRON -->
            <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                <div class="container-fluid container-fixed-lg">
                    <!-- <div class="inner"> -->
                    <div class="row align-items-center">
                        <div class="col-md-9">
                            <h3>Unusual Incident Report</h3>
                        </div>
                        <div class="col-md-2">
                            <a href="~/Assessments/" class="btn btn-primary"><i class="fa fa-backward"></i> Back</a>
                            <button class="btn btn-primary print" id=""><i class="fa fa-file-pdf-o"></i> Print</button>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <!-- END JUMBOTRON -->

            <div style="height: 60px;"></div>

            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg">
                <!-- BEGIN PlACE PAGE CONTENT HERE -->

                <div class="card p-3">
                    
                    <div class="card-block">
                        <div class="row" id="UI_firstrow">
                            <div class="col-2">
                                Assessment History:
                            </div>
                            <div class="col-2">
                                <select class="form-control col-12" name="AssessmentDate" id="selectdate" onchange="formsubmit(this)">

                                    @if (ViewBag.AssessmentDates != null && ViewBag.AssessmentDates[0].ToShortDateString() != "1/1/0001")
                                    {
                                        for (var ind = 0; ind < ((List<DateTime>)ViewBag.AssessmentDates).Count(); ind++)
                                        {
                                    <option value=@ind>@(((List<DateTime>)ViewBag.AssessmentDates)[ind].ToString("yyyy-MM-dd")) @(((List<DateTime>)ViewBag.AssessmentDates)[ind].ToShortTimeString())</option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="0"></option>}

                                </select>
                                <input type="hidden" id="ID_ID" name="Id" value="" />
                            </div>
                            <div class="col-2">
                                @*<button class="btn btn-danger" type="button" onclick="new_assessment()">NEW</button>*@
                            </div>
                        </div>
                        @*<div class="row">
                            <form action="~/Assessments/FamilyConference" method="post">
                                <div class="col-2">
                                    <select class="form-control col-12" name="DateEntered">
                                        @{
                                            if (Model.DateEntered != null)
                                            {
                                                <option selected>@Model.DateEntered</option>
                                            }
                                            else
                                            {
                                                <option>New</option>
                                            }
                                        }


                                        @{
                                            if (ViewBag.AssessmentDates.Count > 0)
                                            {
                                                foreach (var d in ViewBag.AssessmentDates)
                                                {
                                                    <option>@d</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-danger">GO</button>
                                </div>
                            </form>
                        </div>*@
                        <form action="~/Assessments/AddUnusualIncident" method="Post">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label for="" class="col-md-12 col-form-label">Date</label>
                                        <div class="col-md-12">
                                            @*<input type="date" class="form-control" id="" name="happened_Date" value="happened_Date">*@
                                            @Html.TextBoxFor(m => m.happened_Date, new { @class = "form-control", type = "date", id = "happened_Date" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label for="" class="col-md-12 col-form-label">Time</label>
                                        <div class="col-md-12">
                                            @*<input type="time" class="form-control" id="" name="happened_Time">*@
                                            @Html.TextBoxFor(m => m.happened_Time, new { @class = "form-control",type="time", id = "happened_Time" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label for="" class="col-md-12 col-form-label">Report by (author)</label>
                                        <div class="col-md-12">
                                            @*<input type="text" class="form-control" id="" name="Reportby">*@
                                            @Html.TextBoxFor(m => m.Reportby, new { @class = "form-control", id = "Reportby" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <br><br>
                                            <h4><b>Section A: Details of Incident</b></h4>
                                        </div>
                                    </div>

                                    <hr>
                                </div>
                                <div class="col-md-4 border">
                                    <b>Location:</b>
                                    <br><br>
                                    <div class="form-check margin">
                                        @Html.RadioButtonFor(m => m.Location, "Resident Room", new { @class = "form-check-input" })
                                        <label class="chklabel" for="">
                                            Resident Room
                                        </label>
                                    </div>
                                    <div class="form-check margin">
                                        @Html.RadioButtonFor(m => m.Location, "Bathroom", new { @class = "form-check-input" })
                                        <label class="form-check-label chklabel" for="">
                                            Bathroom
                                        </label>
                                    </div>
                                    <div class="form-check margin">
                                        @Html.RadioButtonFor(m => m.Location, "Cirrudor/Hallway", new { @class = "form-check-input" })
                                        <label class="form-check-label chklabel" for="">
                                            Corridor/Hallway
                                        </label>
                                    </div>
                                    <div class="form-check margin">
                                        @Html.RadioButtonFor(m => m.Location, "Lounge/Common Area", new { @class = "form-check-input" })
                                        <label class="form-check-label chklabel" for="">
                                            Lounge/common area
                                        </label>
                                    </div>
                                    <div class="form-check margin">
                                        @Html.RadioButtonFor(m => m.Location, "Dinning Room", new { @class = "form-check-input" })
                                        <label class="form-check-label chklabel" for="">
                                            Dinning Room
                                        </label>
                                    </div>
                                    <div class="form-check margin">
                                        @Html.RadioButtonFor(m => m.Location, "Facility Grounds", new { @class = "form-check-input" })
                                        <label class="form-check-label chklabel" for="">
                                            Facility Grounds
                                        </label>
                                    </div>
                                    <div class="form-group form-group-default">
                                        <label>Other:</label>
                                        @*<input type="text" class="form-control" name="Location_Other">*@
                                        @Html.TextBoxFor(m => m.Location_Other, new { @class = "form-control", id = "Location_Other" })
                                    </div>
                                </div>
                                <div class="col-md-4 border">
                                    <b>Name of Person involved</b>
                                    <br><br>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group form-group-default">
                                                <label>Resident</label>
                                                @*<input type="text" class="form-control" name="Resident_involved_Name">*@
                                                @Html.TextBoxFor(m => m.Resident_involved_Name, new { @class = "form-control", id = "Resident_involved_Name" })
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group form-group-default">
                                                <label>RM#</label>
                                                @*<input type="text" class="form-control" name="Resident_involved_RM">*@
                                                @Html.TextBoxFor(m => m.Resident_involved_RM, new { @class = "form-control", id = "Resident_involved_RM" })
                                            </div>

                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group form-group-default">
                                                <label>Employee</label>
                                                @Html.TextBoxFor(m => m.Employee, new { @class = "form-control", placeholder = "Employee Name" })
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group form-group-default">
                                                <label>Dept</label>
                                                @Html.TextBoxFor(m => m.Dept, new { @class = "form-control", placeholder = "Dept" })
                                            </div>

                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group form-group-default">
                                                <label>Visitor</label>
                                                @Html.TextBoxFor(m => m.Visitor, new { @class = "form-control", placeholder = "Visitor Name" })
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group form-group-default">
                                                <label>RM#</label>
                                                @Html.TextBoxFor(m => m.Room, new { @class = "form-control", placeholder = "Room#" })
                                            </div>

                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group form-group-default">
                                                <label>Other</label>
                                                @Html.TextBoxFor(m => m.Other, new { @class = "form-control", placeholder = "Other" })
                                            </div>

                                        </div>
                                    </div>
                                    <br>

                                </div>
                                <div class="col-md-4">
                                    <b>Resident Status/Condition prior to incident(check all that apply)</b>
                                    <br><br>
                                        <div class="form-check margin">
                                            @*<input class="form-check-input" type="checkbox" value="" id="" name="Resident_Status_1">*@
                                            @Html.CheckBoxFor(m => m.Resident_Status_1, new { @class = "form-check-input", id = "Resident_Status_1" })
                                            <label class="form-check-label chklabel" for="">
                                                Cognitively impaired
                                            </label>
                                        </div>
                                        <div class="form-check margin">
                                            @*<input class="form-check-input" type="checkbox" value="" id="" name="Resident_Status_2">*@
                                            @Html.CheckBoxFor(m => m.Resident_Status_2, new { @class = "form-check-input", id = "Resident_Status_2" })
                                            <label class="form-check-label chklabel" for="">
                                                Alert
                                            </label>
                                        </div>
                                        <div class="form-check margin">
                                            @*<input class="form-check-input" type="checkbox" value="" id="" name="Resident_Status_3">*@
                                            @Html.CheckBoxFor(m => m.Resident_Status_3, new { @class = "form-check-input", id = "Resident_Status_3" })
                                            <label class="form-check-label chklabel" for="">
                                                Self ambulated
                                            </label>
                                        </div>
                                        <div class="form-check margin">
                                            @*<input class="form-check-input" type="checkbox" value="" id=""  name="Resident_Status_4">*@
                                            @Html.CheckBoxFor(m => m.Resident_Status_4, new { @class = "form-check-input", id = "Resident_Status_4" })
                                            <label class="form-check-label chklabel" for="">
                                                Sedated
                                            </label>
                                        </div>
                                        <div class="form-check margin">
                                            @*<input class="form-check-input" type="checkbox" value="" id=""  name="Resident_Status_5">*@
                                            @Html.CheckBoxFor(m => m.Resident_Status_5, new { @class = "form-check-input", id = "Resident_Status_5" })
                                            <label class="form-check-label chklabel" for="">
                                                Requires assistance
                                            </label>
                                        </div>
                                        <div class="form-check margin">
                                            @*<input class="form-check-input" type="checkbox" value="" id=""  name="Resident_Status_6">*@
                                            @Html.CheckBoxFor(m => m.Resident_Status_6, new { @class = "form-check-input", id = "Resident_Status_6" })
                                            <label class="form-check-label chklabel" for="">
                                                Agitated
                                            </label>
                                        </div>
                                        <div class="form-group form-group-default">
                                            <label>Mobility Aid in use: (specify)</label>
                                            @*<input type="text" class="form-control" name="Resident_Status_text">*@
                                            @Html.TextBoxFor(m => m.Resident_Status_text, new { @class = "form-control", id = "Resident_Status_text" })
                                        </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <br><br><br>
                                    <h4>Section B: Witnessed or Unwitnessed</h4>
                                </div>
                                <div class="col-md-4">

                                    <div class="form-group row">
                                        <div class="col-md-12">

                                            <div class="form-check form-check-inline movesp margin2">
                                                @Html.RadioButtonFor(m => m.WasWitnessed, "Yes", new { @class = "form-check-input" })
                                                <label class="form-check-label chklabel" for="">Yes</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                @Html.RadioButtonFor(m => m.WasWitnessed, "No", new { @class = "form-check-input" })
                                                <label class="form-check-label chklabel" for="">No</label>
                                            </div><br>
                                            <div class="form-group form-group-default">
                                                <label>Name</label>
                                                @Html.TextBoxFor(m => m.WitnessName, new { @class = "form-control", placeholder = "Witnaees Name" })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <br><br><br>
                                            <h4><b>Section C: Type of Incident</b></h4>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                                <div class="col-md-4 border">
                                    <div class="form-check margin">
                                        @Html.CheckBoxFor(m => m.IsFall, new { @class = "form-check-input" })
                                        <label class="form-check-label chklabel" for="">
                                            Fall
                                        </label>
                                    </div>
                                    <p>witnessed / unwitnessed</p>
                                    <div class="form-check margin">
                                        @Html.CheckBoxFor(m => m.IsElopement, new { @class = "form-check-input" })
                                        <label class="form-check-label chklabel" for="">
                                            Elopement
                                        </label>

                                        <div class="form-check margin">
                                            @Html.RadioButtonFor(m => m.Elopement, "Returned by own", new { @class = "form-check-input" })
                                            <label class="form-check-label chklabel" for="">
                                                returned by own
                                            </label>
                                        </div>
                                        <div class="form-check margin">
                                            @Html.RadioButtonFor(m => m.Elopement, "Assisted by police", new { @class = "form-check-input" })
                                            <label class="form-check-label chklabel" for="">
                                                assisted by police
                                            </label>
                                        </div>
                                        <div class="form-group form-group-default">
                                            <label>assisted by Other</label>
                                            @*<input type="text" class="form-control" name="C_Other1">*@
                                            @Html.TextBoxFor(m => m.C_Other1, new { @class = "form-control", id = "C_Other1" })
                                        </div>


                                    </div>
                                    <br>

                                    <div class="form-check margin">
                                        @Html.CheckBoxFor(m => m.IsUnusualBehaviour, new { @class = "form-check-input" })
                                        <label class="form-check-label chklabel" for="">
                                            Unsual Behaviour
                                        </label>

                                        <div class="form-check margin">
                                            @Html.RadioButtonFor(m => m.UnusualBehaviour, "Returned by resident", new { @class = "form-check-input" })
                                            <label class="form-check-label chklabel" for="">
                                                returned by resident
                                            </label>
                                        </div>

                                        <div class="form-check margin">
                                            @Html.RadioButtonFor(m => m.UnusualBehaviour, "Returned by staff", new { @class = "form-check-input" })
                                            <label class="form-check-label chklabel" for="">
                                                returned by staff
                                            </label>
                                        </div>
                                        <div class="form-group form-group-default">
                                            <label>assisted by Other</label>
                                            @*<input type="text" class="form-control" name="C_Other2">*@
                                            @Html.TextBoxFor(m => m.C_Other2, new { @class = "form-control", id = "C_Other2" })
                                        </div>



                                    </div>

                                </div>
                                <div class="col-md-4 border">
                                    <div class="form-check margin">
                                        @Html.CheckBoxFor(m => m.IsPhysicalInjury, new { @class = "form-check-input" })
                                        <label class="form-check-label chklabel" for="">
                                            Physical Injury(must complete section E)
                                        </label>

                                        <div class="form-check margin">
                                            @Html.RadioButtonFor(m => m.PhysicalInjury, "Skin Tear", new { @class = "form-check-input" })
                                            <label class="form-check-label chklabel" for="">
                                                skin tear
                                            </label>
                                        </div>
                                        <div class="form-check margin">
                                            @Html.RadioButtonFor(m => m.PhysicalInjury, "Bruise", new { @class = "form-check-input" })
                                            <label class="form-check-label chklabel" for="">
                                                bruise
                                            </label>
                                        </div>

                                    </div>
                                    <br>
                                    <div class="form-check margin">
                                        @Html.CheckBoxFor(m => m.IsPropertyLoss, new { @class = "form-check-input" })
                                        <label class="form-check-label chklabel" for="">
                                            Property Loss or Damage
                                        </label>

                                        <div class="form-check margin">
                                            @Html.RadioButtonFor(m => m.PropertyLoss, "Resident", new { @class = "form-check-input" })
                                            <label class="form-check-label chklabel" for="">
                                                resident
                                            </label>
                                        </div>
                                        <div class="form-check margin">
                                            @Html.RadioButtonFor(m => m.PropertyLoss, "Staff", new { @class = "form-check-input" })
                                            <label class="form-check-label chklabel" for="">
                                                staff
                                            </label>
                                        </div>
                                        <div class="form-check margin">
                                            @Html.RadioButtonFor(m => m.PropertyLoss, "Facility", new { @class = "form-check-input" })
                                            <label class="form-check-label chklabel" for="">
                                                facility
                                            </label>
                                        </div>
                                        <div class="form-group form-group-default">
                                            <label>Other (specify)</label>
                                            @*<input type="text" class="form-control" name="C_Other3">*@
                                            @Html.TextBoxFor(m => m.C_Other3, new { @class = "form-control", id = "C_Other3" })
                                        </div>

                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="form-check margin">
                                        @Html.CheckBoxFor(m => m.IsTreatment, new { @class = "form-check-input" })
                                        <label class="form-check-label chklabel" for="">
                                            Treatment/Medication (must complete Section D & E)
                                        </label>
                                        <div class="form-check margin">
                                            @Html.RadioButtonFor(m => m.Treatment, "Omission", new { @class = "form-check-input" })
                                            <label class="form-check-label chklabel" for="">
                                                omission
                                            </label>
                                        </div>
                                        <div class="form-check margin">
                                            @Html.RadioButtonFor(m => m.Treatment, "Error", new { @class = "form-check-input" })
                                            <label class="form-check-label chklabel" for="">
                                                error
                                            </label>
                                        </div>
                                        <div class="form-group form-group-default">
                                            <label>Which right was voilated</label>
                                            @*<input type="text" class="form-control" name="C_Other4">*@
                                            @Html.TextBoxFor(m => m.C_Other4, new { @class = "form-control", id = "C_Other4" })
                                        </div>
                                        <br>
                                        <div class="form-check margin">
                                            @Html.RadioButtonFor(m => m.Treatment, "Apparent Result", new { @class = "form-check-input" })
                                            <label class="form-check-label chklabel" for="">
                                                apparent result
                                            </label>
                                        </div>
                                        <div class="form-check margin">
                                            @Html.RadioButtonFor(m => m.Treatment, "No Observed Result", new { @class = "form-check-input" })
                                            <label class="form-check-label chklabel" for="">
                                                no observed result
                                            </label>
                                        </div>
                                        <div class="form-check margin">
                                            @Html.RadioButtonFor(m => m.Treatment, "Near miss", new { @class = "form-check-input" })
                                            <label class="form-check-label chklabel" for="">
                                                near miss: (must complete section D)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-default">
                                        <label>Other: (specify)</label>
                                        @*<input type="text" class="form-control" name="C_Other5">*@
                                        @Html.TextBoxFor(m => m.C_Other5, new { @class = "form-control", id = "C_Other5" })
                                    </div>


                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <br><br><br>
                                            <h4><b>Section D: Description of Incident (include time, witness, surrounding conditions, position of resident, etc)</b></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    @*<textarea class="textarea col-md-12" rows="7" style="width: 100% !important;"></textarea>*@
                                    @Html.TextAreaFor(m => m.SectionD, new { @class = "form-control textarea col-md-12", placeholder = "Description of Incident", style = "width: 100% !important;" })
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label for="" class="col-md-12 col-form-label">Date</label>
                                                <div class="col-md-12">
                                                    @*<input type="date" class="form-control" id="" name="D_Date">*@
                                                    @Html.TextBoxFor(m => m.D_Date, new { @class = "form-control",type="date", id = "D_Date" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label for="" class="col-md-12 col-form-label">Time</label>
                                                <div class="col-md-12">
                                                    @*<input type="time" class="form-control" id="" name="D_Time">*@
                                                    @Html.TextBoxFor(m => m.D_Time, new { @class = "form-control", type = "time", id = "D_Time" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <br><br><br>
                                            <h4><b>Section E: Assessment of Injury and Treatment Required</b></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    @*<textarea class="textarea" rows="7" style="width: 100% !important;"></textarea>*@
                                    @Html.TextAreaFor(m => m.SectionE, new { @class = "form-control textarea col-md-12", placeholder = "Assessment of injury and treatment required", style = "width: 100% !important;" })
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label for="" class="col-md-12 col-form-label">Date</label>
                                                <div class="col-md-12">
                                                    @*<input type="date" class="form-control" id="" name="E_Date">*@
                                                    @Html.TextBoxFor(m => m.E_Date, new { @class = "form-control", type = "date", id = "E_Date" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label for="" class="col-md-12 col-form-label">Time</label>
                                                <div class="col-md-12">
                                                    @*<input type="time" class="form-control" id="" name="E_Time">*@
                                                    @Html.TextBoxFor(m => m.E_Time, new { @class = "form-control", type = "time", id = "E_Time" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <br><br><br>
                                            <h4><b>Section F: Other Notes</b></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    @*<textarea class="textarea" rows="7" style="width: 100% !important;"></textarea>*@
                                    @Html.TextAreaFor(m => m.SectionF, new { @class = "form-control textarea col-md-12", placeholder = "Other Notes", style = "width: 100% !important;" })
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label for="" class="col-md-12 col-form-label">Date</label>
                                                <div class="col-md-12">
                                                    @*<input type="date" class="form-control" id="" name="F_Date">*@
                                                    @Html.TextBoxFor(m => m.F_Date, new { @class = "form-control", type = "date", id = "F_Date" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label for="" class="col-md-12 col-form-label">Time</label>
                                                <div class="col-md-12">
                                                    @*<input type="time" class="form-control" id="" name="F_Time">*@
                                                    @Html.TextBoxFor(m => m.F_Time, new { @class = "form-control", type = "time", id = "F_Time" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <br><br><br>
                                            <h4><b>Section G: Notification</b></h4>
                                        </div>
                                    </div>
                                </div>

                                <table class="table table-bordered table-responsive">
                                    <thead class="bg-primary">
                                        <tr>
                                            <th class="text-white"></th>
                                            <th class="text-center text-white">Name</th>
                                            <th class="text-center text-white">Date</th>
                                            <th class="text-center text-white">Time</th>
                                            <th class="text-center text-white">By Whom</th>
                                            <th class="text-center text-white">Via</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="align-middle">
                                                PHYSICIAN
                                                @Html.HiddenFor(m => m.SectionG[0].Notify)
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[0].Name, new { @class = "form-control" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[0].Date, new { @class = "form-control" })
                                            </td>
                                            <td>
                                                @* @Html.TextBoxFor(m => m.SectionG[0].Time, new { @class = "form-control" })*@
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[0].ByWhom, new { @class = "form-control" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[0].Via, new { @class = "form-control" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">
                                                Family
                                                @Html.HiddenFor(m => m.SectionG[1].Notify)
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[1].Name, new { @class = "form-control" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[1].Date, new { @class = "form-control" })
                                            </td>
                                            <td>
                                                @* @Html.TextBoxFor(m => m.SectionG[1].Time, new { @class = "form-control" })*@
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[1].ByWhom, new { @class = "form-control" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[1].Via, new { @class = "form-control" })
                                        </tr>
                                        <tr>
                                            <td class="align-middle">
                                                Albeerta Health Services
                                                @Html.HiddenFor(m => m.SectionG[2].Notify)
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[2].Name, new { @class = "form-control" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[2].Date, new { @class = "form-control" })
                                            </td>
                                            <td>
                                                @* @Html.TextBoxFor(m => m.SectionG[2].Time, new { @class = "form-control" })*@
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[2].ByWhom, new { @class = "form-control" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[2].Via, new { @class = "form-control" })
                                        </tr>
                                        <tr>
                                            <td class="align-middle">
                                                On Call Manager
                                                @Html.HiddenFor(m => m.SectionG[3].Notify)
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[3].Name, new { @class = "form-control" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[3].Date, new { @class = "form-control" })
                                            </td>
                                            <td>
                                                @* @Html.TextBoxFor(m => m.SectionG[3].Time, new { @class = "form-control" })*@
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[3].ByWhom, new { @class = "form-control" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[3].Via, new { @class = "form-control" })
                                        </tr>
                                        <tr>
                                            <td class="align-middle">
                                                Director of Care
                                                @Html.HiddenFor(m => m.SectionG[4].Notify)
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[4].Name, new { @class = "form-control" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[4].Date, new { @class = "form-control" })
                                            </td>
                                            <td>
                                                @* @Html.TextBoxFor(m => m.SectionG[4].Time, new { @class = "form-control" })*@
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[4].ByWhom, new { @class = "form-control" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[4].Via, new { @class = "form-control" })
                                        </tr>
                                        <tr>
                                            <td class="align-middle">
                                                Maintenance
                                                @Html.HiddenFor(m => m.SectionG[5].Notify)
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[5].Name, new { @class = "form-control" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[5].Date, new { @class = "form-control" })
                                            </td>
                                            <td>
                                                @* @Html.TextBoxFor(m => m.SectionG[5].Time, new { @class = "form-control" })*@
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[5].ByWhom, new { @class = "form-control" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[5].Via, new { @class = "form-control" })
                                        </tr>
                                        <tr>
                                            <td class="align-middle">
                                                General Service Mgr.
                                                @Html.HiddenFor(m => m.SectionG[6].Notify)
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[6].Name, new { @class = "form-control" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[6].Date, new { @class = "form-control" })
                                            </td>
                                            <td>
                                                @* @Html.TextBoxFor(m => m.SectionG[6].Time, new { @class = "form-control" })*@
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[6].ByWhom, new { @class = "form-control" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[6].Via, new { @class = "form-control" })
                                        </tr>
                                        <tr>
                                            <td class="align-middle">
                                                Senior Management
                                                @Html.HiddenFor(m => m.SectionG[7].Notify)
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[7].Name, new { @class = "form-control" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[7].Date, new { @class = "form-control" })
                                            </td>
                                            <td>
                                                @* @Html.TextBoxFor(m => m.SectionG[7].Time, new { @class = "form-control" })*@
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[7].ByWhom, new { @class = "form-control" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[7].Via, new { @class = "form-control" })
                                        </tr>
                                        <tr>
                                            <td class="align-middle">
                                                Other
                                                @Html.HiddenFor(m => m.SectionG[8].Notify)
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[8].Name, new { @class = "form-control" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[8].Date, new { @class = "form-control" })
                                            </td>
                                            <td>
                                                @* @Html.TextBoxFor(m => m.SectionG[8].Time, new { @class = "form-control" })*@
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[8].ByWhom, new { @class = "form-control" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SectionG[8].Via, new { @class = "form-control" })
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                            <br>
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <br><br><br>
                                            <h4><b>Section H: Action taken to prevent similar incident from re-occuring</b></h4>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-12">
                                    @*<textarea class="textarea" rows="7" style="width: 100% !important;"></textarea>*@
                                    @Html.TextAreaFor(m => m.SectionH, new { @class = "form-control textarea col-md-12", placeholder = "Action taken to prevent similar incident from re-occuring", style = "width: 100% !important;" })
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label for="" class="col-md-12 col-form-label">Date</label>
                                                <div class="col-md-12">
                                                    @*<input type="date" class="form-control" id="" name="H_Date">*@
                                                    @Html.TextBoxFor(m => m.H_Date, new { @class = "form-control", type = "date", id = "H_Date" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label for="" class="col-md-12 col-form-label">Time</label>
                                                <div class="col-md-12">
                                                    @*<input type="time" class="form-control" id="" name="H_Time">*@
                                                    @Html.TextBoxFor(m => m.H_Time, new { @class = "form-control", type = "time", id = "H_Time" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <br><br><br>
                                            <h4><b>Section I: Quality Assurance</b></h4>
                                        </div>

                                    </div>

                                </div>
                                <div class="col-md-12">

                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-md-5 col-form-label">Incident documented on Health Record:</label>
                                            <div class="col-md-7 pads">
                                                <div class="form-check form-check-inline movesp" ">
                                                    @Html.RadioButtonFor(m => m.IncidentDocumented, "Yes", new { @class = "form-check-input" })
                                                    <label class="form-check-label chklabel" for="inlineRadio1">YES</label>
                                                </div>
                                                <div class="form-check form-check-inline pad4">
                                                    @Html.RadioButtonFor(m => m.IncidentDocumented, "No", new { @class = "form-check-input" })
                                                    <label class="form-check-label chklabel" for="inlineRadio2">NO</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    @Html.RadioButtonFor(m => m.IncidentDocumented, "N/A", new { @class = "form-check-input" })
                                                    <label class="form-check-label chklabel" for="inlineRadio2">N/A</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-md-5 col-form-label">Changes made to resident care plan (as appropriate):</label>
                                            <div class="col-md-7 pads">
                                                <div class="form-check form-check-inline movesp" ">
                                                    @Html.RadioButtonFor(m => m.ChangesMade, "Yes", new { @class = "form-check-input" })
                                                    <label class="form-check-label chklabel" for="inlineRadio1">YES</label>
                                                </div>
                                                <div class="form-check form-check-inline pad4">
                                                    @Html.RadioButtonFor(m => m.ChangesMade, "No", new { @class = "form-check-input" })
                                                    <label class="form-check-label chklabel" for="inlineRadio2">NO</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    @Html.RadioButtonFor(m => m.ChangesMade, "N/A", new { @class = "form-check-input" })
                                                    <label class="form-check-label chklabel" for="inlineRadio2">N/A</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-md-5 col-form-label">Referral consult to the Interdisciplinary Team was made:</label>
                                            <div class="col-md-7 pads">
                                                <div class="form-check form-check-inline movesp" ">
                                                    @Html.RadioButtonFor(m => m.ReferralConsult, "Yes", new { @class = "form-check-input" })
                                                    <label class="form-check-label chklabel" for="inlineRadio1">YES</label>
                                                </div>
                                                <div class="form-check form-check-inline pad4">
                                                    @Html.RadioButtonFor(m => m.ReferralConsult, "No", new { @class = "form-check-input" })
                                                    <label class="form-check-label chklabel" for="inlineRadio2">NO</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    @Html.RadioButtonFor(m => m.ReferralConsult, "N/A", new { @class = "form-check-input" })
                                                    <label class="form-check-label chklabel" for="inlineRadio2">NA</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-md-5 col-form-label">OHS Committee informed if applicable:</label>
                                            <div class="col-md-7 pads">
                                                <div class="form-check form-check-inline movesp">
                                                    @Html.RadioButtonFor(m => m.OHSCommitteeInformed, "Yes", new { @class = "form-check-input" })
                                                    <label class="form-check-label chklabel" for="inlineRadio1">YES</label>
                                                </div>
                                                <div class="form-check form-check-inline pad4">
                                                    @Html.RadioButtonFor(m => m.OHSCommitteeInformed, "No", new { @class = "form-check-input" })
                                                    <label class="form-check-label chklabel" for="inlineRadio2">NO</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    @Html.RadioButtonFor(m => m.OHSCommitteeInformed, "N/A", new { @class = "form-check-input" })
                                                    <label class="form-check-label chklabel" for="inlineRadio2">NA</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-md-5 col-form-label">Record Tracking Form:</label>
                                            <div class="col-md-7 pads">
                                                <div class="form-check form-check-inline movesp" ">
                                                    @Html.RadioButtonFor(m => m.RecordTrackingForm, "Yes", new { @class = "form-check-input" })
                                                    <label class="form-check-label chklabel" for="inlineRadio1">YES</label>
                                                </div>
                                                <div class="form-check form-check-inline pad4">
                                                    @Html.RadioButtonFor(m => m.RecordTrackingForm, "No", new { @class = "form-check-input" })
                                                    <label class="form-check-label chklabel" for="inlineRadio2">NO</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    @Html.RadioButtonFor(m => m.RecordTrackingForm, "N/A", new { @class = "form-check-input" })
                                                    <label class="form-check-label chklabel" for="inlineRadio2">NA</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-md-5 col-form-label">Incident information discussed in QA Meeting:</label>
                                            <div class="col-md-7 pads">
                                                <div class="form-check form-check-inline movesp" ">
                                                    @Html.RadioButtonFor(m => m.IncidentInformation, "Yes", new { @class = "form-check-input" })
                                                    <label class="form-check-label chklabel" for="inlineRadio1">YES</label>
                                                </div>
                                                <div class="form-check form-check-inline pad4">
                                                    @Html.RadioButtonFor(m => m.IncidentInformation, "No", new { @class = "form-check-input" })
                                                    <label class="form-check-label chklabel" for="inlineRadio2">NO</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    @Html.RadioButtonFor(m => m.IncidentInformation, "N/A", new { @class = "form-check-input" })
                                                    <label class="form-check-label chklabel" for="inlineRadio2">NA</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <br>

                            <br>
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <br><br><br>
                                            <h4><b>Section J: Executive Director or Designate</b></h4>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-12">
                                    @*<textarea class="textarea" rows="7" style="width: 100% !important;"></textarea>*@
                                    @Html.TextAreaFor(m => m.SectionJ, new { @class = "form-control textarea col-md-12", placeholder = "Executive Director or Designate", style = "width: 100% !important;" })
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label for="" class="col-md-12 col-form-label">Date</label>
                                                <div class="col-md-12">
                                                    @*<input type="date" class="form-control" id="" name="J_Date">*@
                                                    @Html.TextBoxFor(m => m.J_Date, new { @class = "form-control", type = "date", id = "J_Date" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label for="" class="col-md-12 col-form-label">Time</label>
                                                <div class="col-md-12">
                                                    @*<input type="time" class="form-control" id="" name="J_Time">*@
                                                    @Html.TextBoxFor(m => m.J_Time, new { @class = "form-control", type = "time", id = "J_Time" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <br>
                                    <button class="btn btn-danger btn-lg">SAVE</button>
                                </div>
                                <input id="hiddeninput1" type="hidden" value="@TempData["index"]" />
                            </div>
                        </form>
                    </div>
                    
                
                </div>


                <!-- END PLACE PAGE CONTENT HERE -->
            </div>
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->
        @RenderPage("~/Views/Shared/_Footer.cshtml")


        <script>
            var index_date = $('#hiddeninput1').val();
            $('#selectdate').val(index_date);

            function formsubmit(ee) {
                var index = $('#selectdate').val();
                if (window.location.href.includes("?")) {
                    var question_location = window.location.href.indexOf('?');
                    window.location.href = window.location.href.substring(0, question_location) + '?index=' + index;
                }
                else {
                    window.location.href = window.location.href + "?index=" + index;
                }

            }
        </script>
