@model QolaMVC.Models.VPS_mike
@{
    ViewBag.Title = "VPS_CLICK";
}

@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")

<style>
    tr b{
        font-size:20px;
        color:black;
    }
    #SuiteNoTop label{
        font-size:1.1vw;
    }
    #NameTop label {
        font-size: 1.1vw;
    }



</style>


<div class="page-container">
    @RenderPage("~/Views/Shared/_NavBar.cshtml")
    <div class="page-content-wrapper">
        <div class="content">
            <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                <div class="container-fluid container-fixed-lg">
                    <div class="row align-items-center">
                        <div style="width:84%;display:inline-block;">
                            <h3>Vitality Plus Scale (VPS)</h3>
                        </div>
                        <div style="width:15%;display:inline-block;">
                            <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("BACK_Click", "Assessments")'"><i class="fa fa-backward"></i> BACK</button>
                            @{
                                if (@TempData["View_Mode"].ToString() == "YES")
                                {
                                    <button class="btn btn-danger print" id="VPS_PRINT"><i class="fa fa-file-pdf-o"></i> PRINT</button>
                                }
                            }



                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" value="VPS_test" name="" class="filename">
            <div style="height: 60px;"></div>

            <div class="container-fluid container-fixed-lg" id="fromHTMLtestdiv">
                <div class="card">
                    
                    <div class="modal fade" id="VPS_legend" role="dialog" style="right: 0px; display: none;">

                        <div class="modal-dialog" style="left:0;right:0;max-width:100%;width:65vw;">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                    <h2 class="modal-title" style="color:black;font-weight:bold;">VPS Legend</h2>
                                    <br>
                                </div>
                                <div class="modal-body">
                                    <p style="font-size:15px;color:black;">This scale asks generally about how you are currently feeling, For each statement, choose an option from 1-5 thast best describes you. For instance, if you usually fall asleep quickly, circle 5. Otherwise, circle a number from 1-4, depending on the extend to which you usually have difficulty falling asleep.</p>
                                    <br>
                                    <h4>Instructions:</h4>
                                    <p style="font-size:15px;color:black;">Remove the scale title prior to administration. The VPS can be either self-administered, or administered via personal or telephone interview. Each respondent should be queried to ensure that they understand the instructions and rating format.</p>
                                    <br>
                                    <h4>Scoring:</h4>
                                    <p style="font-size:15px;color:black;">Each item is scored from 1 to 5. The total VPS score is calculated by summarizing item scores. Total scores can range from 10 to 50, with higher scores indicating positive states. Total scores should not be computed unless the person has answered at least 7 of the items. Individual change can be calculated using the following formula: (follow-ip/baseline score)*100.</p>
                                    <br>
                                    <p style="font-size:15px;color:black;">Reference: Myers,A.M.,Malott,O.W.,Gray,E.,Tudor-Locke,C.,Ecclestone,N.A.,O'Brien Cousins,S.,&Petrella,R. (1999). Measuring accumulated health-related benefits of exercise participation for older adults: The Vitality Plus Scale. Journal of Gerontology: Medical Sciences, 54A, M456-466.</p>
                                </div>
                                <div class="modal-footer">
                                    <br>

                                </div>
                            </div>
                        </div>
                    </div>

                    @using (Html.BeginForm("Submit_VPS_mike", "Assessments"))
                    {
                        @Html.HiddenFor(m => Model.Summary_Table_ID)
                        @Html.HiddenFor(m => Model.Index_in_Summary_Table)
                        <div class="card-block" id="details">
                            <div class="row" id="VPS_firstrow">
                                <div class="col-2" id="NameTop" style="margin-left:0.5%;">
                                    <label for="" class="col-form-label"><b>Resident: </b></label>
                                    <label>@ViewBag.Resident.FirstName @ViewBag.Resident.LastName </label>
                                </div>
                                <div class="col-2" id="SuiteNoTop" >
                                    <label for="" class="col-form-label"><b>Suite No: </b></label>
                                    <label>@ViewBag.Resident.SuiteNo</label>
                                </div>

                                <div class="col-md-10 text-center" id="VPStitle" style="display:none">
                                    <h3>Vitality Plus Scale (VPS)</h3>
                                    <br><br>
                                </div>
                                <div style="width:99%;"><hr></div>
                                <div class="col-md-10" id="title">
                                    <table class="table table-bordered" id="assessment_table">
                                        <thead>
                                            <tr>
                                                <th style="color:red;font-weight:bold;font-size:1vw;">Total Score : @Html.TextBoxFor(m => Model.TotalScore, new { @class = "TotalScore", @style = "font-weight:bold;font-size:2vw;display:inline;margin-left:10px;width:10vw;border:none;color:red;" })</th>
                                                <th class="text-center"><b>1</b></th>
                                                <th class="text-center"><b>2</b></th>
                                                <th class="text-center"><b>3</b></th>
                                                <th class="text-center"><b>4</b></th>
                                                <th class="text-center"><b>5</b></th>
                                                <th class="text-center"><button class="btn btn-primary" type="button" data-toggle="modal" data-target="#VPS_legend" style="color:white">Legend</button></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>

                                                <td><b>1. Takes a long time to fall asleep</b></td>
                                                <td>@Html.RadioButtonFor(m => m.radio1, true, new { Score = "1" })</td>
                                                <td>@Html.RadioButtonFor(m => m.radio2, true, new { Score = "2" })</td>
                                                <td>@Html.RadioButtonFor(m => m.radio3, true, new { Score = "3" })</td>
                                                <td>@Html.RadioButtonFor(m => m.radio4, true, new { Score = "4" })</td>
                                                <td>@Html.RadioButtonFor(m => m.radio5, true, new { Score = "5" })</td>
                                                <td><b>Fall asleep quickly</b></td>
                                            </tr>
                                            <tr>
                                                <td><b>2. Sleep poorly</b></td>
                                                <td>@Html.RadioButtonFor(m => Model.radio6, true, new { Score = "1" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio7, true, new { Score = "2" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio8, true, new { Score = "3" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio9, true, new { Score = "4" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio10, true, new { Score = "5" })</td>
                                                <td><b>Sleep well</b></td>
                                            </tr>
                                            <tr>
                                                <td><b>3. Tired or drowsy during the day</b></td>
                                                <td>@Html.RadioButtonFor(m => Model.radio11, true, new { Score = "1" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio12, true, new { Score = "2" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio13, true, new { Score = "3" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio14, true, new { Score = "4" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio15, true, new { Score = "5" })</td>
                                                <td><b>Well rested</b></td>
                                            </tr>
                                            <tr>
                                                <td><b>4. Rarely hungry</b></td>
                                                <td>@Html.RadioButtonFor(m => Model.radio16, true, new { Score = "1" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio17, true, new { Score = "2" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio18, true, new { Score = "3" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio19, true, new { Score = "4" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio20, true, new { Score = "5" })</td>
                                                <td><b>Excellent appetite</b></td>
                                            </tr>
                                            <tr>
                                                <td><b>5. Often constipated</b></td>
                                                <td>@Html.RadioButtonFor(m => Model.radio21, true, new { Score = "1" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio22, true, new { Score = "2" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio23, true, new { Score = "3" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio24, true, new { Score = "4" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio25, true, new { Score = "5" })</td>
                                                <td><b>Do not get constipated</b></td>
                                            </tr>
                                            <tr>
                                                <td><b>6. Often have aches and pains</b></td>
                                                <td>@Html.RadioButtonFor(m => Model.radio26, true, new { Score = "1" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio27, true, new { Score = "2" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio28, true, new { Score = "3" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio29, true, new { Score = "4" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio30, true, new { Score = "5" })</td>
                                                <td><b>No aches or pains</b></td>
                                            </tr>
                                            <tr>
                                                <td><b>7. Low energy level</b></td>
                                                <td>@Html.RadioButtonFor(m => Model.radio31, true, new { Score = "1" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio32, true, new { Score = "2" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio33, true, new { Score = "3" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio34, true, new { Score = "4" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio35, true, new { Score = "5" })</td>
                                                <td><b>Full of pep and energy</b></td>
                                            </tr>
                                            <tr>
                                                <td><b>8. Often still in the morning</b></td>
                                                <td>@Html.RadioButtonFor(m => Model.radio36, true, new { Score = "1" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio37, true, new { Score = "2" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio38, true, new { Score = "3" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio39, true, new { Score = "4" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio40, true, new { Score = "5" })</td>
                                                <td><b>Not stiff in the morning</b></td>
                                            </tr>
                                            <tr>
                                                <td><b>9. Often restless or agitated</b></td>
                                                <td>@Html.RadioButtonFor(m => Model.radio41, true, new { Score = "1" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio42, true, new { Score = "2" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio43, true, new { Score = "3" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio44, true, new { Score = "4" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio45, true, new { Score = "5" })</td>
                                                <td><b>Feel relaxed</b></td>
                                            </tr>
                                            <tr>
                                                <td><b>10. Often do not feel well</b></td>
                                                <td>@Html.RadioButtonFor(m => Model.radio46, true, new { Score = "1" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio47, true, new { Score = "2" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio48, true, new { Score = "3" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio49, true, new { Score = "4" })</td>
                                                <td>@Html.RadioButtonFor(m => Model.radio50, true, new { Score = "5" })</td>
                                                <td><b>Fell well</b></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br>

                                    @{
                                        if (@TempData["View_Mode"].ToString() == "NO")
                                        {
                                            <button class="btn btn-danger btn-lg" type="submit" style="color:white;float:right;">Submit</button>
                                        }
                                    }


                                </div>
                            </div>

                        </div>
                    }

                    <input id="viewmode" type="hidden" value="@TempData["View_Mode"]" />
                </div>

                <!-- END PLACE PAGE CONTENT HERE -->
            </div>
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->
        @RenderPage("~/Views/Shared/_Footer.cshtml")

<script>
    

    $("input[type='radio']").click(function () {
        var inn = this.parentElement.parentElement.getElementsByTagName('input')
        for (var index = 0; index < inn.length; index++) {
            if (inn[index] != this) {
                inn[index].checked = false;
            }
        }


        var a = $("input[type='radio']");
        var total = 0;
        for (var b = 0; b < a.length; b++) {
            if (a[b].checked == true) {
                total += parseInt(a[b].getAttribute("Score"))
            }
        }
        $(".TotalScore").val(total.toString());

        //$(".TotalScore").val(total);
    });


    var g = $('#viewmode').val();
    if (g == "YES") {
        var textlist = $('input[type="radio"]');
        for (var a = 0; a < textlist.length; a++) {
            textlist[a].disabled = true;
        }
    }


</script>