@model QolaMVC.Models.Dining_Attendance
@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")

<style>
    .form-tabs .nav-link {
        font-size: 1rem;
    }

    .modal-xlg {
        width: 900px !important;
        max-width: 1000px !important;
    }

    table.attend tbody tr td {
        padding: 15px !important;
    }

    table.attend tbody tr {
        border-bottom: 1px solid #000;
    }

    #attendent_form {
        margin-left: 0;
    }

    #attendent_form_second_layer {
        margin-left: 7.5vw;
        right: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        min-width: 85vw;
    }

    #attendent_form_third_layer {
        margin-left: 0;
    }
</style>

<script>
    function day_click() {
        if (document.getElementById("pills-day").className != "tab-pane fade show active") {
            document.getElementById("pills-day").className = "tab-pane fade show active";
            document.getElementById("pills-week").className = "tab-pane fade";
            document.getElementById("pills-month").className = "tab-pane fade";
        }
    }
    function week_click() {
        if (document.getElementById("pills-week").className != "tab-pane fade show active") {
            document.getElementById("pills-day").className = "tab-pane fade";
            document.getElementById("pills-week").className = "tab-pane fade show active";
            document.getElementById("pills-month").className = "tab-pane fade";
        }
    }
    function month_click() {
        if (document.getElementById("pills-month").className != "tab-pane fade show active") {
            document.getElementById("pills-day").className = "tab-pane fade";
            document.getElementById("pills-week").className = "tab-pane fade";
            document.getElementById("pills-month").className = "tab-pane fade show active";
        }
    }
    //function search_click() {
    //    var a = $("div tr td div input");
    //    for (var c = 0; c < a.length; c++) {
    //        if (a[c].id != "SAVED") {
    //            a[c].checked = false;
    //        }
    //    }
    //}
    //function list_click() {
    //    var a = $("div[id=pills-contact1] tr td div input");
    //    for (var c = 0; c < a.length; c++) {
    //        if (a[c].id != "SAVED") {
    //            a[c].checked = false;
    //        }
    //    }
    //}
    //function floor_click() {
    //    var a = $("div[id=pills-profile1] tr td div input");
    //    for (var c = 0; c < a.length; c++) {
    //        if (a[c].id != "SAVED") {
    //            a[c].checked = false;
    //        }
    //    }
    //}
    function list_select_all() {
        var a = $("div[id=pills-profile1] tr td div input");
        for (var c = 0; c < a.length; c=c+6) {
            a[c].checked = true;
        } 
    }
    function floor_select_all() {
        var a = $("div[id=pills-contact1] tr td div input");
        for (var c = 0; c < a.length; c=c+6) {
            a[c].checked = true;
        }
    }
    function list_savebutton()
    {

        var savestring = "";
        var mealselect = document.getElementById("select_meal_index").className;
        var dateselect = document.getElementById("lblCalendarMsg").innerHTML;

        var a = $("div[id=pills-profile1] tr td div input");
        for (var c = 0; c < a.length; c++) {
            if (a[c].checked == true) {
                savestring = savestring + a[c].name + "," + a[c].value + ",";
            }
        }
        $.post("/Home/saveButton_Dining", { arr: savestring, whichmeal: mealselect, datesel: dateselect}, function (data) {
            if (data == 1)
                alert("Saved Successfully");
            else
                alert("Saved failed");
        });
    }
    function floor_savebutton() {
        var savestring = "";
        var mealselect = document.getElementById("select_meal_index").className;
        var dateselect = document.getElementById("lblCalendarMsg").innerHTML;

        var a = $("div[id=pills-contact1] tr td div input");
        for (var c = 0; c < a.length; c++) {
            if (a[c].checked == true) {
                var g = String(a[c].name);
                var nameg = g.substring(0, g.length - 1);
                savestring = savestring + nameg + "," + a[c].value + ",";
                

            }
        }
        $.post("/Home/saveButton_Dining", { arr: savestring, whichmeal: mealselect, datesel: dateselect }, function (data) {
            if (data == 1)
                alert("Saved Successfully");
            else
                alert("Saved failed");
        });
    }

    function open_form1() {
        var node_tbody = document.getElementById("show_list")
        while (node_tbody.hasChildNodes())
            node_tbody.removeChild(node_tbody.lastChild);
        var aa = $("div tr td div input");
        for (var cc = 0; cc < aa.length; cc++) {
            if (aa[cc].checked == true) {
                aa[cc].checked = false;
            }
        }
        var a = document.getElementById("select_meal_index");
        a.className = "1";
        getdata();
        
        
    }
    function open_form2() {
        var node_tbody = document.getElementById("show_list")
        while (node_tbody.hasChildNodes())
            node_tbody.removeChild(node_tbody.lastChild);
        var aa = $("div tr td div input");
        for (var cc = 0; cc < aa.length; cc++) {
            if (aa[cc].checked == true) {
                aa[cc].checked = false;
            }
        }
        var a = document.getElementById("select_meal_index");
        a.className = "2";
        getdata();
    }
    function open_form3() {
        var node_tbody = document.getElementById("show_list")
        while (node_tbody.hasChildNodes())
            node_tbody.removeChild(node_tbody.lastChild);
        var aa = $("div tr td div input");
        for (var cc = 0; cc < aa.length; cc++) {
            if (aa[cc].checked == true) {
                aa[cc].checked = false;
            }
        }
        var a = document.getElementById("select_meal_index");
        a.className = "3";
        getdata();
    }

    function getdata() {
        var mealselect = document.getElementById("select_meal_index").className;
        var dateselect = document.getElementById("lblCalendarMsg").innerHTML;
        $.get("/Home/Getting_Dining", { whichmeal: mealselect, datesel: dateselect }, function (data) {
            var a = String(data).split(";");
            for (var c = 0; c < a.length; c++) {
                var cplus = c + 1;
                for (var b = 0; b < a[c].split(",").length; b++) {
                    if (a[c].split(",")[b] != "") {
                        var d = $("input[name=" + a[c].split(",")[b] + "][value=option" +cplus+"]");
                        d[0].checked = true;
                        var e = $("input[name=\"" + a[c].split(",")[b] + "+\"][value=option" + cplus + "]");
                        e[0].checked = true;
                    }
                }
            }
        });
        $.get("/Home/View_List", { whichmeal: mealselect, datesel: dateselect }, function (data) {
            var a = String(data).split(";");
            var view = $("#show_list");
            for (var c = 0; c < a.length; c++) {
                var cplus = c + 1;
                for (var b = 0; b < a[c].split(",").length; b++) {
                    if (a[c].split(",")[b] != "") {
                        if (c == 0)
                            view.append("<tr><td>" + a[c].split(",")[b] + "<\/td><td>Taken<\/td><td><div class=\"form-check form-check-inline\"><i class=\"fa fa-file-text-o\"><\/i><\/div><\/td><\/tr>");
                        if (c == 1)
                            view.append("<tr><td>" + a[c].split(",")[b] + "<\/td><td>Refused<\/td><td><div class=\"form-check form-check-inline\"><i class=\"fa fa-file-text-o\"><\/i><\/div><\/td><\/tr>");
                        if (c == 2)
                            view.append("<tr><td>" + a[c].split(",")[b] + "<\/td><td>Hospital<\/td><td><div class=\"form-check form-check-inline\"><i class=\"fa fa-file-text-o\"><\/i><\/div><\/td><\/tr>");
                        if (c == 3)
                            view.append("<tr><td>" + a[c].split(",")[b] + "<\/td><td>Waiver<\/td><td><div class=\"form-check form-check-inline\"><i class=\"fa fa-file-text-o\"><\/i><\/div><\/td><\/tr>");
                        if (c == 4)
                            view.append("<tr><td>" + a[c].split(",")[b] + "<\/td><td>Away<\/td><td><div class=\"form-check form-check-inline\"><i class=\"fa fa-file-text-o\"><\/i><\/div><\/td><\/tr>");
                        if (c == 5)
                            view.append("<tr><td>" + a[c].split(",")[b] + "<\/td><td>Tray Complimentary<\/td><td><div class=\"form-check form-check-inline\"><i class=\"fa fa-file-text-o\"><\/i><\/div><\/td><\/tr>");

                    }
                }
            }
        });
    }

    function previousday() {
        var monthNames = [
            "January", "February", "March",
            "April", "May", "June", "July",
            "August", "September", "October",
            "November", "December"
        ];
        var a = document.getElementById("lblCalendarMsg").innerHTML;
        var b = new Date(a);
        b.setDate(b.getDate() - 1);
        document.getElementById("lblCalendarMsg").innerHTML = monthNames[b.getMonth()] + " " + b.getDate() + ", " + b.getFullYear();

        var dateselect = document.getElementById("lblCalendarMsg").innerHTML;
        if (window.location.href.toString().includes("datesel")) {
            var indexequal = window.location.href.toString().indexOf("=");
            var newstring = window.location.href.toString().substring(0, indexequal+1);
            window.location.href = newstring + dateselect;
        }
        else
            window.location.href = window.location.href + "?datesel=" + dateselect;

    }

    function nextday() {
        var monthNames = [
            "January", "February", "March",
            "April", "May", "June", "July",
            "August", "September", "October",
            "November", "December"
        ];
        var a = document.getElementById("lblCalendarMsg").innerHTML;
        var b = new Date(a);
        b.setDate(b.getDate() + 1);
        document.getElementById("lblCalendarMsg").innerHTML = monthNames[b.getMonth()] + " " + b.getDate() + ", " + b.getFullYear();

        var dateselect = document.getElementById("lblCalendarMsg").innerHTML;
        if (window.location.href.toString().includes("datesel")) {
            var indexequal = window.location.href.toString().indexOf("=");
            var newstring = window.location.href.toString().substring(0, indexequal + 1);
            window.location.href = newstring + dateselect;
        }
        else
            window.location.href = window.location.href + "?datesel=" + dateselect;
    }


</script>

<!-- START PAGE-CONTAINER -->
<div class="page-container">

    @RenderPage("~/Views/Shared/_NavBar.cshtml")

    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <!-- START JUMBOTRON -->
            <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                <div class="container-fluid container-fixed-lg">
                    <!-- <div class="inner"> -->
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <h3>Dining Attendance</h3>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <div style="height: 60px;"></div>

            <div class="container-fluid container-fixed-lg" id="main_page">
                <!-- <div class="inner"> -->
                <div class="card">
                    <div class="card-block">
                        <div class="form-tabs mt-4">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true" onclick="day_click()">Day</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false" onclick="week_click()">Week</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false" onclick="month_click()">Month</a>
                                </li>

                                <li class="Prevbtn" style="margin-left:5vw;"><a href="#" onclick="previousday()"><img id="imgPrevbtn" src="~/Content/pages/img/previous.png" alt="" /></a> </li>
                                <li class="clear_bg"><label id="lblCalendarMsg" style="font-weight:bolder;font-size:1vw;margin-top:0.7vw">@TempData["datechoose"].ToString()</label></li>
                                <li class="Nextbtn"><a href="#" onclick="nextday()"><img id="imgNextbtn" src="~/Content/pages/img/next.png" alt="" /></a></li>

                            </ul>
                            <div class="tab-content" id="pills-tabContent" >
                                <div class="tab-pane fade show active" id="pills-day" role="tabpanel" aria-labelledby="pills-home-tab">

                                    <div id="select_meal_index" class=""></div>

                                    <table class="table table-bordered">
                                        <thead class="bg-primary">
                                            <tr>
                                                <th class="text-white text-center">S.No</th>
                                                <th class="text-white text-center">Description</th>
                                                <th class="text-white text-center">Attendance</th>
                                                <th class="text-white text-center" colspan="2">Attendees</th>
                                            </tr>
                                            <tr>
                                                <th class="text-white text-center"></th>
                                                <th class="text-white text-center"></th>
                                                <th class="text-white text-center"></th>
                                                <th class="text-white text-center">Male</th>
                                                <th class="text-white text-center">Female</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    Breakfast
                                                </td>
                                                <td>

                                                    <a data-toggle="modal" data-target="#attendent_form" onclick="open_form1()">
                                                        <i class="fa fa-file-text-o"></i>
                                                    </a>
                                                </td>
                                                <td>
                                                    @TempData["Brekfast_M_No"].ToString()
                                                </td>
                                                <td>
                                                    @TempData["Brekfast_F_No"].ToString()
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    2
                                                </td>
                                                <td>
                                                    Lunch
                                                </td>
                                                <td>
                                                    <a data-toggle="modal" data-target="#attendent_form" onclick="open_form2()">
                                                        <i class="fa fa-file-text-o"></i>
                                                    </a>

                                                </td>
                                                <td>
                                                    @TempData["Lunch_M_No"].ToString()
                                                </td>
                                                <td>
                                                    @TempData["Lunch_F_No"].ToString()
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    3
                                                </td>
                                                <td>
                                                    Dinner
                                                </td>
                                                <td>

                                                    <a data-toggle="modal" data-target="#attendent_form" onclick="open_form3()">
                                                        <i class="fa fa-file-text-o"></i>
                                                    </a>
                                                </td>
                                                <td>
                                                    @TempData["Dinner_M_No"].ToString()
                                                </td>
                                                <td>
                                                    @TempData["Dinner_F_No"].ToString()
                                                </td>
                                            </tr>



                                        </tbody>
                                    </table>

                                </div>
                                <div class="tab-pane fade" id="pills-week" role="tabpanel" aria-labelledby="pills-profile-tab">

                                    <table class="table table-bordered">
                                        <thead class="bg-primary">
                                            <tr>
                                                <th class="text-white text-center">
                                                    Sunday <br>
                                                    @DateTime.Parse(TempData["Sunday"].ToString()).ToString("MM/dd/yyyy")
                                                </th>
                                                <th class="text-white text-center">
                                                    Monday <br>
                                                    @DateTime.Parse(TempData["Sunday"].ToString()).AddDays(1).ToString("MM/dd/yyyy")
                                                </th>
                                                <th class="text-white text-center">
                                                    Tuesday <br>
                                                    @DateTime.Parse(TempData["Sunday"].ToString()).AddDays(2).ToString("MM/dd/yyyy")
                                                </th>
                                                <th class="text-white text-center">
                                                    Wednesday <br>
                                                    @DateTime.Parse(TempData["Sunday"].ToString()).AddDays(3).ToString("MM/dd/yyyy")
                                                </th>
                                                <th class="text-white text-center">
                                                    Thursday <br>
                                                    @DateTime.Parse(TempData["Sunday"].ToString()).AddDays(4).ToString("MM/dd/yyyy")
                                                </th>
                                                <th class="text-white text-center">
                                                    Friday <br>
                                                    @DateTime.Parse(TempData["Sunday"].ToString()).AddDays(5).ToString("MM/dd/yyyy")
                                                </th>
                                                <th class="text-white text-center">
                                                    Satursday <br>
                                                    @DateTime.Parse(TempData["Sunday"].ToString()).AddDays(6).ToString("MM/dd/yyyy")
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    Breakfast
                                                </td>
                                                <td>Breakfast</td>
                                                <td>Breakfast</td>
                                                <td>Breakfast</td>
                                                <td>Breakfast</td>
                                                <td>Breakfast</td>
                                                <td>Breakfast</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Lunch
                                                </td>
                                                <td>Lunch</td>
                                                <td>Lunch</td>
                                                <td>Lunch</td>
                                                <td>Lunch</td>
                                                <td>Lunch</td>
                                                <td>Lunch</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Dinner
                                                </td>
                                                <td>Dinner</td>
                                                <td>Dinner</td>
                                                <td>Dinner</td>
                                                <td>Dinner</td>
                                                <td>Dinner</td>
                                                <td>Dinner</td>
                                            </tr>



                                        </tbody>
                                    </table>

                                </div>
                                <div class="tab-pane fade" id="pills-month" role="tabpanel" aria-labelledby="pills-contact-tab">
                                    <table class="table table-bordered">
                                        <thead class="bg-primary">
                                            <tr>
                                                <th class="text-white text-center">
                                                    Sunday
                                                </th>
                                                <th class="text-white text-center">
                                                    Monday
                                                </th>
                                                <th class="text-white text-center">
                                                    Tuesday
                                                </th>
                                                <th class="text-white text-center">
                                                    Wednesday
                                                </th>
                                                <th class="text-white text-center">
                                                    Thursday
                                                </th>
                                                <th class="text-white text-center">
                                                    Friday
                                                </th>
                                                <th class="text-white text-center">
                                                    Friday
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
            </div>
        </div>
        <!-- END JUMBOTRON -->

        <div style="height: 60px;"></div>

        <!-- START CONTAINER FLUID -->
        <!-- END CONTAINER FLUID -->
    </div>
    <!-- END PAGE CONTENT -->
    <!-- New Resident Modal -->
    <div class="modal" id="attendent_form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-xlg" role="document" id="attendent_form_second_layer">
            <div class="modal-content" id="attendent_form_third_layer">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Attendance</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-tabs mt-4">
                        <div class="row">
                            <div class="col-md-5">
                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home1" role="tab" aria-controls="pills-home" aria-selected="true" onclick="search_click()">Search View</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile1" role="tab" aria-controls="pills-profile" aria-selected="false" onclick="list_click()">List View</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact1" role="tab" aria-controls="pills-contact" aria-selected="false" onclick="floor_click()">Floor View</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-7">
                                <a href="" style="font-size: 14px">
                                    Legend: T-Taken R-Refused H-Hospital W-Waiver A-Away TC-Tray Complimentary
                                </a>

                            </div>
                        </div>

                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home1" role="tabpanel" aria-labelledby="pills-home-tab">

                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group row">
                                            <label class="col-md-12 col-form-label" style="margin-left:10vw">Resident Name / Suite # :</label>
                                            <div class="col-md-12" style="margin-left:10vw">
                                                <input type="text" class="form-control" id="searchresidents3" onchange="change_searchresidents3()">
                                            </div>
                                        </div>

                                        <div class="searchBox p-1" id="searchBoxfor3" style="margin-left:10vw">
                                            <div class="list-group searchboxresult2">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <br><br>
                                            <div class="row">
                                                <div class="col-md-12 pads" style="margin-left:10vw">
                                                    <div class="form-check form-check-inline movesp">
                                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                        <label class="form-check-label">Taken</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                        <label class="form-check-label">Refused</label>
                                                    </div>
                                                    <div class="form-check form-check-inline movesp">
                                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                        <label class="form-check-label">Waiver</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                        <label class="form-check-label">Tray Complimentary</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <br>
                                        <button class="btn btn-lg btn-danger">ADD</button>
                                    </div>




                                    <div class="" style="border:1px solid #000;margin-left:15vw">
                                        <table class="attend" style="min-width:50vw">
                                            <tbody id="show_list">
                                                <tr>
                                                    <td width="33%">AAAAAA</td>
                                                    <td width="33%">TAKEN</td>
                                                    <td width="33%">
                                                        <div class="form-check form-check-inline">
                                                            <i class="fa fa-file-text-o"></i>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>




                                    <div class="col-md-12 text-center">
                                        <br><br><br><br><br><br>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="">SAVE</button>
                                        <button type="button" class="btn btn-secondary">CLEAR</button>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="pills-profile1" role="tabpanel" aria-labelledby="pills-profile-tab">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h6>Resident List   <a href="#" onclick="list_select_all()">Select All</a></h6>
                                    </div>
                                    <div class="col-md-6" style="border: 1px solid #000;">
                                        <table class="attend">
                                            <tbody>
                                                @{
                                                    for(int i= 0; i<Model.LIST_RESIDENT.Count; i=i+2)
                                                    {
                                                        var a = Model.LIST_RESIDENT[i];
                                                        <tr>
                                                            <td style="max-width:10vw">@a.FirstName @a.LastName</td>
                                                            <td>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="radio" name=@a.ID id="inlineRadio2" value="option1">
                                                                    <label class="form-check-label">T</label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="radio" name=@a.ID id="inlineRadio2" value="option2">
                                                                    <label class="form-check-label">R</label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="radio" name=@a.ID id="inlineRadio2" value="option3">
                                                                    <label class="form-check-label">H</label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="radio" name=@a.ID id="inlineRadio2" value="option4">
                                                                    <label class="form-check-label">W</label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="radio" name=@a.ID id="inlineRadio2" value="option5">
                                                                    <label class="form-check-label">A</label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="radio" name=@a.ID id="inlineRadio2" value="option6">
                                                                    <label class="form-check-label">TC</label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check form-check-inline">
                                                                    <i class="fa fa-file-text-o"></i>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                    }
                                }
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="col-md-6" style="border: 1px solid #000">
                                        <table class="attend">
                                            <tbody>
                                                @for(int i= 1; i<Model.LIST_RESIDENT.Count; i=i+2)
                                                    {
                                                        var a = Model.LIST_RESIDENT[i];
                                                        <tr>
                                                            <td style="max-width:10vw">@a.FirstName @a.LastName</td>
                                                            <td>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="radio" name=@a.ID id="inlineRadio2" value="option1">
                                                                    <label class="form-check-label">T</label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="radio" name=@a.ID id="inlineRadio2" value="option2">
                                                                    <label class="form-check-label">R</label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="radio" name=@a.ID id="inlineRadio2" value="option3">
                                                                    <label class="form-check-label">H</label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="radio" name=@a.ID id="inlineRadio2" value="option4">
                                                                    <label class="form-check-label">W</label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="radio" name=@a.ID id="inlineRadio2" value="option5">
                                                                    <label class="form-check-label">A</label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="radio" name=@a.ID id="inlineRadio2" value="option6">
                                                                    <label class="form-check-label">TC</label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check form-check-inline">
                                                                    <i class="fa fa-file-text-o"></i>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                    }
                                            </tbody>
                                        </table>
                                    </div>


                                    <div class="col-md-12 text-center">
                                        <br><br><br><br><br><br>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="list_savebutton()">SAVE</button>
                                        <button type="button" class="btn btn-secondary">CLEAR</button>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="pills-contact1" role="tabpanel" aria-labelledby="pills-contact-tab">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h6>Resident List   <a href="#" onclick="floor_select_all()">Select All</a></h6>
                                    </div>
                                    @{
                                    int floor = 0;
                                    foreach (var a in Model.LIST_RESIDENT)
                                    {
                                        if (a.No_of_floor > floor)
                                        {
                                            floor = a.No_of_floor;
                                        }
                                    }

                                    for (int b = 1; b <= floor; b++)
                                    {
                                            <div class="col-md-6" style="border:1px solid #000;">
                                                <table class="attend">
                                                    <tbody>
                                                        <tr>
                                                            <th colspan="7" height=50vw>@b st Floor</th>
                                                        </tr>
                                                        @foreach (var a in Model.LIST_RESIDENT)
                                {
                                    if (a.No_of_floor == b)
                                    {
                                                                <tr>
                                                                    <td>@a.FirstName @a.LastName</td>
                                                                    <td>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="radio" name=@a.ID+ id="inlineRadio2" value="option1">
                                                                            <label class="form-check-label">T</label>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="radio" name=@a.ID+ id="inlineRadio2" value="option2">
                                                                            <label class="form-check-label">R</label>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="radio" name=@a.ID+ id="inlineRadio2" value="option3">
                                                                            <label class="form-check-label">H</label>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="radio" name=@a.ID+ id="inlineRadio2" value="option4">
                                                                            <label class="form-check-label">W</label>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="radio" name=@a.ID+ id="inlineRadio2" value="option5">
                                                                            <label class="form-check-label">A</label>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="radio" name=@a.ID+ id="inlineRadio2" value="option6">
                                                                            <label class="form-check-label">TC</label>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="form-check form-check-inline">
                                                                            <i class="fa fa-file-text-o"></i>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            }
                                        }

                                        @*<div class="col-md-6" style="border: 1px solid #000">
                                            <table class="attend">
                                                <tbody>
                                                    <tr>
                                                        <td>a, a *</td>
                                                        <td>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                                <label class="form-check-label">T</label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                                <label class="form-check-label">R</label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                                <label class="form-check-label">H</label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                                <label class="form-check-label">W</label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                                <label class="form-check-label">A</label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                                <label class="form-check-label">TC</label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-check form-check-inline">
                                                                <i class="fa fa-file-text-o"></i>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>*@

                                        <div class="col-md-12 text-center">
                                            <br><br><br><br><br><br>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="floor_savebutton()">SAVE</button>
                                            <button type="button" class="btn btn-secondary">CLEAR</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer text-center">


                        </div>
                    </div>
                </div>
            </div>
        </div>

        @RenderPage("~/Views/Shared/_Footer.cshtml")

