@model QolaMVC.Models.ResidentModel
@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")


<head>
    <link href="/Content/bootstrap.css" rel="stylesheet">
    <link href="/Content/site.css" rel="stylesheet">
    <link href="/Content/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet">
    <link href="/Content/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/Content/assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet">
    <link href="/Content/assets/plugins/select2/css/select2.min.css" rel="stylesheet">
    <link href="/Content/assets/plugins/switchery/css/switchery.min.css" rel="stylesheet">
    <link href="/Content/pages/css/pages-icons.css" rel="stylesheet">
    <link href="/Content/assets/css/pages.css" rel="stylesheet">
    <link href="/Content/assets/css/datatables.css" rel="stylesheet">
    <link href="/Content/assets/css/style.css" rel="stylesheet">
    <!-- Javascript -->
</head>

    <style>


        #pills-care .ptitle {
            font-family: Times,serif;
            font-size: 15px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
        }

        #pills-care p {
            margin-bottom: 5px !important;
        }

        #pills-care .ptitle_grey {
            font-family: Times,serif;
            font-size: 15px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
            background-color: darkgrey;
            border-bottom: 1px solid black;
        }

        #pills-care .table_grey {
            font-family: Times,serif;
            font-size: 15px;
            color: rgb(0,0,0);
            font-weight: bold;
            text-decoration: none;
            background-color: darkgrey;
        }

        #pills-care .ptitle_nocolor_noborderB {
            font-family: Times,serif;
            font-size: 15px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
        }

        #pills-care .ptitle_color_noborderB {
            font-family: Times,serif;
            font-size: 15px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
            background-color: darkgrey;
        }

        .borderB {
            border-bottom: 1px solid black;
        }

        #pills-care .pcontent {
            font-family: Times,serif;
            font-size: 15px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
        }

        .square_white {
            height: 20px;
            width: 20px;
            background-color: white;
            border: 1px solid black;
        }

        .square_grey {
            height: 20px;
            width: 20px;
            background-color: darkgrey;
            border: 1px solid black;
            margin-top: 1%;
        }
        .title2 {
            color: black !important;
            font-size: 1.5em !important;
            font-family: Times,serif !important;
        }
        .title1 {
            font-weight: bold !important;
            color: black !important;
            font-size: 1.7em !important;
            font-family: Times,serif !important;
        }
    </style>

    <!-- START PAGE-CONTAINER -->
    <div class="page-container">
        @RenderPage("~/Views/Shared/_NavBar.cshtml")
        <div class="page-content-wrapper">
            <!-- START PAGE CONTENT -->
            <div class="content">
                <!-- START JUMBOTRON -->
                <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                    <div class="container-fluid container-fixed-lg">

                        <div class="row align-items-center">
                                <div style="width:74%;display:inline-block;">
                                    <h3>Emergency Resident Details Print Page</h3>
                                </div>
                                <div style="width:25%;display:inline-block;">
                                    <button class="btn btn-primary" type="button" style="margin-right:10px !important;" onclick="backfunction()">BACK</button>
                                    <button class="btn btn-danger print" id="ERD_PRINT">PRINT</button>


                                </div>
                            </div>

                    </div>
                </div>
                <!-- END JUMBOTRON -->
                <div style="height: 60px;"></div>
                <div style="margin-left:2.2vw !important;">
                </div>
                <br>
                <input type="hidden" value="ERDPP" name="" class="filename">
                <!-- START CONTAINER FLUID -->
                <div class="container-fluid container-fixed-lg">
                    <!-- BEGIN PlACE PAGE CONTENT HERE -->
                    <div class="card">
                        <div class="card-block" id="fromHTMLtestdiv">


                            <div id="pills-care">



                                <div id="page1">

                                    <div style="width:98%;">
                                        <div style="width:96%;margin-left:2%;">
                                            <div class="row" id="">
                                                <div class="col-md-3"><p class="title2">QOLA</p></div>
                                                <div class="" style="margin-left:8%;"><p class="title1">Resident Profile and Assessment / Plan of Care</p></div>


                                            </div>
                                            <div class="row">
                                                <div class="col-md-10"><p class="title2">Resident Name: @Model.FirstName, @Model.LastName</p></div>
                                                <div class=""><p class="title2">Suite #: @Model.SuiteNo</p></div>

                                            </div>

                                        </div>
                                        <div style="width:32%;margin-left:2%;display:inline-block;border:1px solid black;height:1100px;vertical-align:top;">

                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey">Personal Details</p>
                                            </div>
                                            <div class="borderB">
                                                <p><span class="ptitle">Admission Date: </span><span class="pcontent">@Model.MoveInDate.ToShortDateString()</span></p>
                                                <p><span class="ptitle">Date Of Birth: </span><span class="pcontent">@Model.BirthDate</span></p>
                                                <p><span class="ptitle">Gender: </span><span class="pcontent">@Model.Gendar</span></p>
                                                <p><span class="ptitle">Marital Status: </span><span class="pcontent">@Model.MaritalStatustext</span></p>
                                                <p><span class="ptitle">HC #: </span><span class="pcontent">@Model.MBhealthNumber</span></p>
                                            </div>
                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey">Medical History</p>
                                            </div>
                                            <div class="borderB" style="height:240px;">
                                                <textarea class="pcontent" style="width:98% !important;overflow:hidden;height:auto;border:none;">@ViewBag.careplan.MedicalHistory</textarea>
                                            </div>
                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey">Current Diagnoses</p>
                                            </div>
                                            <div class="borderB" style="height:240px;">
                                                <textarea class="pcontent" style="width:98% !important;overflow:hidden;height:auto;border:none;">@ViewBag.careplan.CurrentDiagnosis</textarea>
                                            </div>
                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey">Allergies</p>
                                            </div>
                                            @{
                                                var mediallergy = "";
                                                var foodallergy = "";
                                                if (@ViewBag.careplan.Nutrition.Allergies != null)
                                                {
                                                    foodallergy = @ViewBag.careplan.Nutrition.Allergies.ToString().Replace("||", ",").Replace("[]", "");
                                                }
                                                if (@ViewBag.careplan.Medication.Allergies != null)
                                                {
                                                    mediallergy = @ViewBag.careplan.Medication.Allergies.ToString().Replace("||", ",").Replace("[]", "");
                                                }

                                            }
                                            <div class="borderB" style="height:70px;">
                                                <p class="pcontent" style="width:98% !important;overflow:hidden;height:auto;border:none;"><b>Food:</b> <br />@foodallergy</p>
                                            </div>
                                            <div class="borderB" style="height:70px;">
                                                <p class="pcontent" style="width:98% !important;overflow:hidden;height:auto;border:none;"><b>Medical:</b> <br />@mediallergy</p>
                                            </div>

                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey">Physician</p>
                                            </div>
                                            <div class="borderB">
                                                <p><span class="ptitle">Family Physician: </span><span class="pcontent">@Model.Physician</span></p>
                                                <p><span class="ptitle">Tel #: </span><span class="pcontent">@Model.PhysicianPhone</span></p>
                                                <p><span class="ptitle">Fax #: </span><span class="pcontent">@Model.PhysicianFaxNo</span></p>
                                            </div>
                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey">Pharmacy</p>
                                            </div>
                                            <div class="">
                                                <p><span class="ptitle">Name: </span><span class="pcontent">@Model.PharmacyName</span></p>
                                                <p><span class="ptitle">Tel #: </span><span class="pcontent">@Model.PharmacePhoneNo</span></p>
                                                <p><span class="ptitle">Fax #: </span><span class="pcontent">@Model.PharmaceFaxNumber</span></p>
                                            </div>
                                        </div>
                                        <div style="width:32%;display:inline-block;border:1px solid black;height:1100px;vertical-align:top;">
                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey">Emergency Contacts</p>
                                            </div>
                                            <div class="borderB">
                                                <p><span class="ptitle">#1 Name: </span><span class="pcontent">@Model.Contract1</span></p>
                                                <p><span class="ptitle">Relationship: </span><span class="pcontent">@Model.Relationship1</span></p>
                                                @{
                                                    if (Model.POACareStatus == 'Y')
                                                    {
                                                        <p><span class="ptitle">POA Care: </span>&#9745;<span class="pcontent">Yes</span>&#9744;<span class="pcontent">No</span></p>
                                                    }
                                                    else
                                                    {
                                                        <p><span class="ptitle">POA Care: </span>&#9744;<span class="pcontent">Yes</span>&#9745;<span class="pcontent">No</span></p>
                                                    }

                                                    if (Model.POAFinanceStatus == 'Y')
                                                    {
                                                        <p><span class="ptitle">POA Finance: </span>&#9745;<span class="pcontent">Yes</span>&#9744;<span class="pcontent">No</span></p>
                                                    }
                                                    else
                                                    {
                                                        <p><span class="ptitle">POA Finance: </span>&#9744;<span class="pcontent">Yes</span>&#9745;<span class="pcontent">No</span></p>
                                                    }
                                                }
                                            </div>
                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey">Telephone Number</p>
                                            </div>
                                            <div class="borderB">
                                                <p><span class="ptitle">1°#: </span><span class="pcontent">@(Model.First_phone1)(@(Model.First_phone_type1_text))</span></p>
                                                <p><span class="ptitle">2°#: </span><span class="pcontent">@(Model.Second_phone1)(@(Model.Second_phone_type1_text))</span></p>
                                                <p><span class="ptitle">3°#: </span><span class="pcontent">@(Model.Third_phone1)(@(Model.Third_phone_type1_text))</span></p>
                                            </div>
                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey">Address</p>

                                            </div>
                                            <div class="borderB" style="height:40px;">
                                                <p><span class="pcontent">@Model.Address1</span></p>
                                            </div>
                                            <div class="borderB">
                                                <p><span class="ptitle">E-Mail: </span><span class="pcontent">@Model.Email1</span></p>
                                            </div>

                                            <div class="borderB">
                                                <p><span class="ptitle">#2 Name: </span><span class="pcontent">@Model.Contract2</span></p>
                                                <p><span class="ptitle">Relationship: </span><span class="pcontent">@Model.Relationship2</span></p>
                                                @{
                                                    if (Model.POACareType2Status == 'Y')
                                                    {
                                                        <p><span class="ptitle">POA Care: </span>&#9745;<span class="pcontent">Yes</span>&#9744;<span class="pcontent">No</span></p>
                                                    }
                                                    else
                                                    {
                                                        <p><span class="ptitle">POA Care: </span>&#9744;<span class="pcontent">Yes</span>&#9745;<span class="pcontent">No</span></p>
                                                    }

                                                    if (Model.POAFinanceType2Status == 'Y')
                                                    {
                                                        <p><span class="ptitle">POA Finance: </span>&#9745;<span class="pcontent">Yes</span>&#9744;<span class="pcontent">No</span></p>
                                                    }
                                                    else
                                                    {
                                                        <p><span class="ptitle">POA Finance: </span>&#9744;<span class="pcontent">Yes</span>&#9745;<span class="pcontent">No</span></p>
                                                    }
                                                }
                                            </div>
                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey">Telephone Number</p>
                                            </div>
                                            <div class="borderB">
                                                <p><span class="ptitle">1°#: </span><span class="pcontent">@(Model.First_phone2)(@(Model.First_phone_type2_text))</span></p>
                                                <p><span class="ptitle">2°#: </span><span class="pcontent">@(Model.Second_phone2)(@(Model.Second_phone_type2_text))</span></p>
                                                <p><span class="ptitle">3°#: </span><span class="pcontent">@(Model.Third_phone2)(@(Model.Third_phone_type2_text))</span></p>
                                            </div>
                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey">Address</p>
                                            </div>
                                            <div class="borderB" style="height:40px;">
                                                <p><span class="pcontent">@Model.Address2</span></p>
                                            </div>
                                            <div class="borderB">
                                                <p><span class="ptitle">E-Mail: </span><span class="pcontent">@Model.Email2</span></p>
                                            </div>

                                            <div class="borderB">
                                                <p><span class="ptitle">#3 Name: </span><span class="pcontent">@Model.Contract3</span></p>
                                                <p><span class="ptitle">Relationship: </span><span class="pcontent">@Model.Relationship3</span></p>
                                                @{
                                                    if (Model.POACareType3Status == 'Y')
                                                    {
                                                        <p><span class="ptitle">POA Care: </span>&#9745;<span class="pcontent">Yes</span>&#9744;<span class="pcontent">No</span></p>
                                                    }
                                                    else
                                                    {
                                                        <p><span class="ptitle">POA Care: </span>&#9744;<span class="pcontent">Yes</span>&#9745;<span class="pcontent">No</span></p>
                                                    }

                                                    if (Model.POAFinanceType3Status == 'Y')
                                                    {
                                                        <p><span class="ptitle">POA Finance: </span>&#9745;<span class="pcontent">Yes</span>&#9744;<span class="pcontent">No</span></p>
                                                    }
                                                    else
                                                    {
                                                        <p><span class="ptitle">POA Finance: </span>&#9744;<span class="pcontent">Yes</span>&#9745;<span class="pcontent">No</span></p>
                                                    }
                                                }
                                            </div>
                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey">Telephone Number</p>
                                            </div>
                                            <div class="borderB">
                                                <p><span class="ptitle">1°#: </span><span class="pcontent">@(Model.First_phone3)(@(Model.First_phone_type3_text))</span></p>
                                                <p><span class="ptitle">2°#: </span><span class="pcontent">@(Model.Second_phone3)(@(Model.Second_phone_type3_text))</span></p>
                                                <p><span class="ptitle">3°#: </span><span class="pcontent">@(Model.Third_phone3)(@(Model.Third_phone_type3_text))</span></p>
                                            </div>
                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey">Address</p>
                                            </div>
                                            <div class="borderB" style="height:40px;">
                                                <p><span class="pcontent">@Model.Address3</span></p>
                                            </div>
                                            <div class="">
                                                <p><span class="ptitle">E-Mail: </span><span class="pcontent">@Model.Email3</span></p>
                                            </div>

                                        </div>
                                        <div style="width:32%;display:inline-block;border:1px solid black;height:1100px;vertical-align:top;">
                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey" style="margin-bottom:0px !important;">Level Of Care</p>
                                            </div>
                                            <div class="borderB" style="height:120px;">
                                                @{
                                                    if (ViewBag.careplan.LevelOfCare_Full != "" && ViewBag.careplan.LevelOfCare_Full != null)
                                                    {
                                                        <div class="borderB" style="width:100%;">
                                                            <div class="text-center" style="width:10%;display:inline-block;">&#10004;</div>
                                                            <div style="display:inline-block;border-left:1px solid black;padding-left:5px;">
                                                                <p style="margin-top:3px;"><span class="pcontent">@ViewBag.careplan.LevelOfCare_Full</span></p>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey">Health Card #</p>

                                            </div>
                                            <div class="borderB" style="height:40px;">
                                                <p><span class="pcontent">@ViewBag.careplan.HealthCardNumber</span></p>
                                            </div>
                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey">Code Status</p>

                                            </div>
                                            <div class="borderB" style="height:40px;">
                                                @{
                                                    if (Model.FullCodeStatus == 'Y')
                                                    {
                                                        <p><span class="ptitle">Full Code: </span><span class="pcontent">Yes</span></p>
                                                    }
                                                    else
                                                    {
                                                        <p><span class="ptitle">Full Code: </span><span class="pcontent">No</span></p>
                                                    }
                                                }
                                            </div>

                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey" style="margin-bottom:0px !important;">Funeral Arrangements</p>
                                                


                                            </div>
                                            <div class="borderB" style="height:100px;">
                                                <p><span class="pcontent">@ViewBag.careplan.FuneralArrangements</span></p>
                                            </div>

                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey" style="margin-bottom:0px !important;">Transfers</p>
                                            </div>
                                            <div class="borderB" style="min-height:30px;">
                                                @{
                                                    if (ViewBag.careplan.Mobility.Transfers != "" && ViewBag.careplan.Mobility.Transfers != null)
                                                    {

                                                        <div class="text-center" style="width:10%;display:inline-block;">&#10004;</div>
                                                        <div style="display:inline-block;border-left:1px solid black;padding-left:5px;">
                                                            <p style="margin-top:3px;"><span class="pcontent">@ViewBag.careplan.Mobility.Transfers</span></p>
                                                        </div>

                                                    }
                                                }
                                            </div>
                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey">Mechanical Lift</p>

                                            </div>
                                            <div class="borderB" style="height:50px;">
                                                <p><span class="pcontent">@ViewBag.careplan.Mobility.Lift</span></p>
                                            </div>
                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey">Other</p>

                                            </div>
                                            <div class="borderB" style="height:50px;">
                                                <p><span class="pcontent"></span></p>
                                            </div>

                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey">Infection Diseases</p>

                                            </div>
                                            <div class="borderB">
                                                <p><span class="ptitle">M.R.S.A: </span><span class="pcontent">@ViewBag.careplan.InfectiousDiseases.MRSA</span></p>
                                            </div>
                                            <div class="borderB">
                                                <p><span class="ptitle">Diagnosed: </span><span class="pcontent">@ViewBag.careplan.InfectiousDiseases.MRSADiagnosedDate</span></p>
                                            </div>
                                            <div class="borderB">
                                                <p><span class="ptitle">Resolved: </span><span class="pcontent">@ViewBag.careplan.InfectiousDiseases.MRSAResolvedDate</span></p>
                                            </div>
                                            <div class="borderB">
                                                <p><span class="ptitle">V.R.E: </span><span class="pcontent">@ViewBag.careplan.InfectiousDiseases.VRE</span></p>
                                            </div>
                                            <div class="borderB">
                                                <p><span class="ptitle">Diagnosed: </span><span class="pcontent">@ViewBag.careplan.InfectiousDiseases.VREDiagnosedDate</span></p>
                                            </div>
                                            <div class="borderB">
                                                <p><span class="ptitle">Resolved: </span><span class="pcontent">@ViewBag.careplan.InfectiousDiseases.VREResolvedDate</span></p>
                                            </div>
                                            <div class="borderB">
                                                <p><span class="ptitle">C-Diff: </span><span class="pcontent">@ViewBag.careplan.InfectiousDiseases.CDiff</span></p>
                                            </div>
                                            <div class="borderB">
                                                <p><span class="ptitle">Diagnosed: </span><span class="pcontent">@ViewBag.careplan.InfectiousDiseases.CDiffDiagnosedDate</span></p>
                                            </div>
                                            <div class="borderB">
                                                <p><span class="ptitle">Resolved: </span><span class="pcontent">@ViewBag.careplan.InfectiousDiseases.CDiffResolvedDate</span></p>
                                            </div>
                                            <div class="borderB">
                                                <p><span class="ptitle">Other: </span><span class="pcontent">@ViewBag.careplan.InfectiousDiseases.Other</span></p>
                                            </div>
                                            <div class="borderB">
                                                <p><span class="ptitle">Diagnosed: </span><span class="pcontent">@ViewBag.careplan.InfectiousDiseases.OtherDiagnosedDate</span></p>
                                            </div>
                                            <div class="borderB">
                                                <p><span class="ptitle">Resolved: </span><span class="pcontent">@ViewBag.careplan.InfectiousDiseases.OtherResolvedDate</span></p>
                                            </div>




                                        </div>
                                    </div>

                                </div>


                            </div>


                            <br><br><br><br><br><br><br><br><br><br>

                        </div>
                    </div>
                    <input type="hidden" id="residentid" value="@ViewBag.resident.ID" />
                    <input type="hidden" id="archive" value="@TempData["archive"]" />
                    <input type="hidden" id="pass" value="@TempData["pass"]" />
                    <!-- END PLACE PAGE CONTENT HERE -->
                </div>
                <!-- END CONTAINER FLUID -->
            </div>
            <!-- END PAGE CONTENT -->

            @RenderPage("~/Views/Shared/_Footer.cshtml")

            <script>
                function backfunction() {
                    var id = $('#residentid').val();
                    var archive = $('#archive').val()
                    var pass = $('#pass').val()
                    if (archive != "YES") {
                        window.location.href = "/Home/ResidentMenu/?p_ResidentId=" + id;
                    }
                    else {
                        window.location.href = "/Home/ResidentMenu3/?p_ResidentId=" + id + "&pass=" + pass;
                    }
                }
            </script>
