@model QolaMVC.Models.HomeModel

@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")
<style>

    .menu-box:hover .menu {
        transform: scale(1.05);
        transition: all .5s;
    }

    .pointer {
        cursor: pointer;
    }



    .list-group-item div {
        display: none;
        margin-left: -36.5vw;
        position: absolute;
        z-index: 1000;
        background-image: url('../../Content/pages/img/Rmenu_arrow.png');
        background-repeat: no-repeat;
        background-position: right top;
        padding-right: 0.67vw;
        width: 35vw;
    }

    .list-group-item span {
        color: black;
    }

    .list-group-item div ul {
        list-style: none;
        float: right;
    }

        .list-group-item div ul li {
            padding: 0.5vw;
            width: 10vw;
            background-color: black;
            color: white;
            opacity: 0.7;
            float: left;
        }
</style>



<!-- START PAGE-CONTAINER -->
<div class="page-container">

    @RenderPage("~/Views/Shared/_NavBar.cshtml")
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper full-height">
        <!-- START PAGE CONTENT -->
        <div class="content full-height">
            <div class="container-fluid full-height no-padding">
                <div class="row full-height no-margin">
                    <div class="col-md-10 no-padding b-r b-grey full-height">
                        <div class="full-height placeholder">
                            <!-- START JUMBOTRON -->
                            <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                                <div class="container-fluid container-fixed-lg">
                                    <!-- <div class="inner"> -->
                                    <div class="row align-items-center">
                                        <div class="col-md-8">
                                            <h3>@Model.Name</h3>
                                        </div>
                                        <div class="col-md-2 text-right">
                                            <h4 class="text-danger bold pr-3">
                                                @Model.OccupiedSuites
                                                <small>Residents</small>
                                            </h4>
                                        </div>
                                    </div>
                                    <!-- </div> -->
                                </div>
                            </div>
                            <!-- END JUMBOTRON -->
                            <div style="height: 60px;"></div>
                            <div class="container-fluid container-fixed-lg">
                                <div class="row">
                                    <div class="col-md-6 offset-md-2 my-3 pointer">
                                        <div class="search">
                                            <div class="search-input-wrap">
                                                <div class="input-box">
                                                    <input autocomplete="off" class="searchresidents" required="" id="txtReferenceNumber" name="txtReferenceNumber" placeholder="Search Residents" type="text" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="searchBox p-1">
                                            <div class="list-group searchboxresult">

                                            </div>
                                            <!-- <a href="">

                                            <div class="row">
                                                <div class="col-md-1">

                                                </div>
                                                <div class="col-md-11 text-left">

                                                </div>
                                            </div>

                                        </a>
                                        <a href="reports/searchresult.php">

                                            <div class="row">
                                                <div class="col-md-1">
                                                    <img src="~/Content/assets/img/icons/customer-service.png" class="searchimg">
                                                </div>
                                                <div class="col-md-11 text-left">
                                                    <p class="ml-3">John<br> 1</p>
                                                </div>
                                            </div>

                                        </a>
                                        <a href="reports/searchresult.php">

                                            <div class="row">
                                                <div class="col-md-1">
                                                    <img src="~/Content/assets/img/icons/customer-service.png" class="searchimg">
                                                </div>
                                                <div class="col-md-11 text-left">
                                                    <p class="ml-3">John<br> 1</p>
                                                </div>
                                            </div>

                                        </a>
                                        <a href="reports/searchresult.php">

                                            <div class="row">
                                                <div class="col-md-1">
                                                    <img src="~/Content/assets/img/icons/customer-service.png" class="searchimg">
                                                </div>
                                                <div class="col-md-11 text-left">
                                                    <p class="ml-3">John<br> 1</p>
                                                </div>
                                            </div>

                                        </a> -->

                                        </div>
                                    </div>
                                </div>
                                <div class="row showdis">
                                    <div class="col-md-4 text-center my-4 pointer">
                                        <a href="/Home/AddNewResident/" class="menu-box">
                                            <img class="w-50 menu" src="~/Content/assets/img/icons/id-card.png" />
                                            <h5 class="menu">Add New Resident</h5>
                                        </a>
                                    </div>
                                    <div class="col-md-4 text-center my-4 pointer">
                                        <a href="/Home/btnPdf_Click_EmergencyList" class="menu-box">
                                            <img class="w-50 menu" src="~/Content/assets/img/icons/id-card (1).png" />
                                            <h5 class="menu">Emergency Resident Details</h5>
                                        </a>
                                    </div>

                                    <div class="col-md-4 text-center my-4 pointer">
                                        <a href="/HomeReports/" class="menu-box">
                                            <img class="w-50 menu" src="~/Content/assets/img/icons/search4.png" />
                                            <h5 class="menu">Reports</h5>
                                        </a>
                                    </div>

                                    <div class="col-md-4 text-center my-4 pointer">
                                        <a href="/Home/ActivityCalendar" class="menu-box">
                                            <img class="w-50 menu" src="~/Content/assets/img/icons/id-card (1).png" />
                                            <h5 class="menu">Activity/Attendance Calendar</h5>
                                        </a>
                                    </div>

                                    <div class="col-md-4 text-center my-4 pointer">
                                        <a href="/Residents/SearchResident" class="menu-box">
                                            <img class="w-50 menu" src="~/Content/assets/img/icons/search4.png" />
                                            <h5 class="menu">Suite Handler</h5>
                                        </a>
                                    </div>
                                    <div class="col-md-4 text-center my-4 pointer">
                                        <a href="/Home/DiningAttendance/" class="menu-box">
                                            <img class="w-50 menu" src="~/Content/pages/img/dining_01.png" />
                                            <h5 class="menu">Dining Attendance</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 no-padding bg-white full-height">




                        @*@{
        if (@ViewBag.User.UserType == 1)
        {*@

                        <div class="AlertBox" style="display:inline-block;margin-top:6vw;width:100%">
                            <div class="ShowAlert" show='N' id="dvShowAlert"><button type="button" class="btn btn-primary">To Do List</button></div>
                            <div class="float_box">
                                <ul class="list-group" id="to_do_list_1">
                                    <li class="list-group-item" id="DU"><a class="one" href="#" onclick="nextlayer(this)"><span class="badge">0</span>&nbsp;Dietary Update</a><div><ul id="DU_ul"><li type="Dietary Update"><a href="#" data-toggle="modal" data-target="#Dietary_Update" style="color:white" onclick="DU_click(this)"><span class="badge">0</span> Dietary Update</a></li></ul></div></li>
                                    <li class="list-group-item" id="HO"><a class="one" href="#" onclick="nextlayer(this)"><span class="badge">0</span>&nbsp;Hospitalization</a><div><ul id="HO_ul"><li type="Resident Away"><a href="#" data-toggle="modal" data-target="#Resident_Away" style="color:white" onclick="HO_click(this)"><span class="badge">0</span> Resident Away</a></li></ul></div></li>
                                    <li class="list-group-item" id="IA">
                                        <a class="one" href="#" onclick="nextlayer(this)"><span class="badge">0</span>&nbsp;Initial Assessments</a>
                                        <div>
                                            <ul id="IA_ul">
                                                <li type="Initial Activity Assessment" id="IAA"><a href="#" data-toggle="modal" data-target="#Initial_Assessment" style="color:white" onclick="IAA_click(this)"><span class="badge">0</span> Initial Activity Assessment</a></li>
                                                <li type="Initial Dietary Assessment" id="IDA"><a href="#" data-toggle="modal" data-target="#Initial_Assessment" style="color:white" onclick="IDA_click(this)"><span class="badge">0</span> Initial Dietary Assessment</a></li>
                                                <li type="Initial Fall Risk Assessment" id="IFRA"><a href="#" data-toggle="modal" data-target="#Initial_Assessment" style="color:white" onclick="IFRA_click(this)"><span class="badge">0</span> Initial Fall Risk Assessment</a></li>
                                                <li type="Initial Resident Care Assessment" id="IRCA"><a href="#" data-toggle="modal" data-target="#Initial_Assessment" style="color:white" onclick="IRCA_click(this)"><span class="badge">0</span> Initial Resident Care Assessment</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="list-group-item" id="PN">
                                        <a class="one" href="#" onclick="nextlayer(this)"><span class="badge">0</span>&nbsp;Progress Notes</a>
                                        <div>
                                            <ul id="PN_ul">
                                                <li type="Progress Notes"><a href="#" data-toggle="modal" data-target="#Progress_Note" style="color:white" onclick="PN_click(this)"><span class="badge">0</span> Progress Notes</a></li>
                                                <li type="Acknowledge Notes" id="RAA"><a href="#" data-toggle="modal" data-target="#Acknowledge_Notes" style="color:white" onclick="AN_click(this)"><span class="badge">0</span> Acknowledge Notes</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="list-group-item" id="RA">
                                        <a class="one" href="#" onclick="nextlayer(this)"><span class="badge">0</span>&nbsp;Reassessments</a>
                                        <div>
                                            <ul id="RA_ul">
                                                <li type="Acticity Assessment" id="RAA"><a href="#" data-toggle="modal" data-target="#Reassessments" style="color:white" onclick="RAA_click(this)"><span class="badge">0</span> Acticity Assessment</a></li>
                                                <li type="Dietary Assessment" id="RDA"><a href="#" data-toggle="modal" data-target="#Reassessments" style="color:white" onclick="RDA_click(this)"><span class="badge">0</span> Dietary Assessment</a></li>
                                                <li type="Fall Risk Assessment" id="RFRA"><a href="#" data-toggle="modal" data-target="#Reassessments" style="color:white" onclick="RFRA_click(this)"><span class="badge">0</span> Fall Risk Assessment</a></li>
                                                <li type="Resident Care Assessment" id="RRCA"><a href="#" data-toggle="modal" data-target="#Reassessments" style="color:white" onclick="RRCA_click(this)"><span class="badge">0</span> Resident Care Assessment</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="list-group-item" id="RI"><a class="one" href="#" onclick="nextlayer(this)"><span class="badge">0</span>&nbsp;Resident Incidents</a><div><ul id="RI_ul"><li type="Resident Fall"><a href="#" data-toggle="modal" data-target="#Resident_Incident" style="color:white" onclick="RI_click(this)"><span class="badge">0</span> Resident Fall</a></li></ul></div></li>
                                    <li class="list-group-item" id="RB"><a class="one" href="#" onclick="nextlayer(this)"><span class="badge">0</span>&nbsp;Residents Birthday</a><div><ul id="RB_ul"><li type="Birthday"><a href="#" data-toggle="modal" data-target="#Resident_Birthday" style="color:white" onclick="RB_click(this)"><span class="badge">0</span> Birthday</a></li></ul></div></li>
                                    <li class="list-group-item" id="RP"><a class="one" href="#" onclick="nextlayer(this)"><span class="badge">0</span>&nbsp;Residents Profile</a><div><ul id="RP_ul"><li type="Profile Image"><a href="#" data-toggle="modal" data-target="#Resident_Profile" style="color:white" onclick="RP_click(this)"><span class="badge">0</span> Profile Image</a></li></ul></div></li>
                                    <li class="list-group-item" id="NR"><a class="one" href="#" onclick="nextlayer(this)"><span class="badge">0</span>&nbsp;New Resident</a><div><ul id="NR_ul"><li type="New Resident"><a href="#" data-toggle="modal" data-target="#New_Resident" style="color:white" onclick="NR_click(this)"><span class="badge">0</span> New Resident</a></li></ul></div></li>
                                    <li class="list-group-item" id="SA"><a class="one" href="#" onclick="nextlayer(this)"><span class="badge">0</span>&nbsp;Suggested Activity Event</a><div><ul id="SA_ul"><li type="Suggested Activity Event"><a href="#" data-toggle="modal" data-target="#Suggested_Activity_Event" style="color:white" onclick="SA_click(this)"><span class="badge">0</span> Suggested Activity Event</a></li></ul></div></li>
                                </ul>
                            </div>
                        </div>



                        @*}
        }*@

                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#Dietary_Update">Open Modal</button>

                        <!-- Modal -->


                        <div class="modal fade" id="Dietary_Update" role="dialog" style="right:0">
                            <div class="modal-dialog" style="left:0;right:0;">

                                <!-- Modal content-->
                                <div class="modal-content" style="width:60vw;right:45%;">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Dietary Update</h4>
                                        <br>
                                    </div>
                                    <div class="modal-body">
                                        <table class="miketable table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Suite No</th>
                                                    <th>Name</th>
                                                    <th>Assessed Date</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Mark</td>
                                                    <td>Otto</td>
                                                    <td>mdo</td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary">View</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="Resident_Away" role="dialog" style="right:0">
                            <div class="modal-dialog" style="left:0;right:0;">

                                <!-- Modal content-->
                                <div class="modal-content" style="width:60vw;right:45%;">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Resident Away</h4>
                                        <br>
                                    </div>
                                    <div class="modal-body">
                                        <table class="miketable table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Suite No</th>
                                                    <th>Name</th>
                                                    <th>Gender</th>
                                                    <th>Leaving Date</th>
                                                    <th>Expected Return Date</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="Initial_Assessment" role="dialog" style="right:0">
                            <div class="modal-dialog" style="left:0;right:0;">

                                <!-- Modal content-->
                                <div class="modal-content" style="width:60vw;right:45%;">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title"></h4>
                                        <br>
                                    </div>
                                    <div class="modal-body">
                                        <table class="miketable table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Suite No</th>
                                                    <th>Name</th>
                                                    <th>Move In Date</th>
                                                    <th>Assessed Date</th>
                                                    <th>Due Date</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="Progress_Note" role="dialog" style="right:0">
                            <div class="modal-dialog" style="left:0;right:0;">

                                <!-- Modal content-->
                                <div class="modal-content" style="width:60vw;right:45%;">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Progress Note</h4>
                                        <br>
                                    </div>
                                    <div class="modal-body">
                                        <table class="miketable table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Suite No</th>
                                                    <th>Name</th>
                                                    <th>Move In Date</th>
                                                    <th>Assessed Date</th>
                                                    <th>Due Date</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="Acknowledge_Notes" role="dialog" style="right:0">
                            <div class="modal-dialog" style="left:0;right:0;">

                                <!-- Modal content-->
                                <div class="modal-content" style="width:67vw;right:50%;">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Acknowledge Note</h4>
                                        <br>
                                    </div>
                                    <div class="modal-body">
                                        <table class="miketable table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Suite No</th>
                                                    <th>Name</th>
                                                    <th>Move In Date</th>
                                                    <th>Progress Note Date</th>
                                                    <th style="width:11vw">Progress Note Tile</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="contactForm" class="modal" role="dialog" style="display:none">

                            <h3>View Progress Notes</h3>
                            <br>
                            <table id="view_table" name="" style="margin-left:3vw;">
                                <tr>
                                    <th>Name</th>
                                    <td>
                                        <input class="formBtn2" id="view_name" type="text" value="Name" disabled />
                                    </td>
                                </tr>
                                <tr>
                                    <th>Date</th>
                                    <td>
                                        <input class="formBtn2" id="view_date" type="text" value="Date" disabled />
                                    </td>
                                </tr>
                                <tr>
                                    <th>Category</th>
                                    <td>
                                        <input class="formBtn2" id="view_category" type="text" value="Category" disabled />
                                    </td>
                                </tr>
                                <tr>
                                    <th>User</th>
                                    <td>
                                        <input class="formBtn2" id="view_user" type="text" value="User" disabled />
                                    </td>
                                </tr>
                            </table>
                            <br>
                            <form action="#">
                                <textarea class="formtext" id="formtextarea" placeholder="Comment" style="height:170px;width:300px"></textarea>
                                <input class="formBtn" type="button" value="New Progress Note" onclick="ADD_PN_click()" />
                                <input class="formBtn" type="button" value="OK" onclick="PN_OK()" />
                            </form>
                        </div>

                        <div class="modal fade" id="Reassessments" role="dialog" style="right:0">
                            <div class="modal-dialog" style="left:0;right:0;">

                                <!-- Modal content-->
                                <div class="modal-content" style="width:60vw;right:45%;">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title"></h4>
                                        <br>
                                    </div>
                                    <div class="modal-body">
                                        <table class="miketable table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Suite No</th>
                                                    <th>Name</th>
                                                    <th>Move In Date</th>
                                                    <th>Assessed Date</th>
                                                    <th>Due Date</th>
                                                    <th>Due Days</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="Resident_Incident" role="dialog" style="right:0">
                            <div class="modal-dialog" style="left:0;right:0;">

                                <!-- Modal content-->
                                <div class="modal-content" style="width:100vw;right:100%;">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Resident Fall</h4>
                                        <br>
                                    </div>
                                    <div class="modal-body">
                                        <table class="miketable table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style="width:5vw;">Suite No</th>
                                                    <th style="width:5vw;">Name</th>
                                                    <th style="width:12vw;">Detail</th>
                                                    <th style="width:40vw">Note</th>
                                                    <th>Action Note</th>
                                                    <th style="width:10vw;">Acknowledge</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="Resident_Birthday" role="dialog" style="right:0">
                            <div class="modal-dialog" style="left:0;right:0;">

                                <!-- Modal content-->
                                <div class="modal-content" style="width:60vw;right:45%;">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Resident Birthday</h4>
                                        <br>
                                    </div>
                                    <div class="modal-body">
                                        <table class="miketable table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Suite No</th>
                                                    <th>Name</th>
                                                    <th>Gender</th>
                                                    <th>Age</th>
                                                    <th>Birthday Date</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="Resident_Profile" role="dialog" style="right:0">
                            <div class="modal-dialog" style="left:0;right:0;">

                                <!-- Modal content-->
                                <div class="modal-content" style="width:60vw;right:45%;">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Resident Birthday</h4>
                                        <br>
                                    </div>
                                    <div class="modal-body">
                                        <table class="miketable table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Suite No</th>
                                                    <th>Name</th>
                                                    <th>Gender</th>
                                                    <th>Birthday Date</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="New_Resident" role="dialog" style="right:0">
                            <div class="modal-dialog" style="left:0;right:0;">

                                <!-- Modal content-->
                                <div class="modal-content" style="width:60vw;right:45%;">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">New Resident</h4>
                                        <br>
                                    </div>
                                    <div class="modal-body">
                                        <table class="miketable table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Suite No</th>
                                                    <th>Name</th>
                                                    <th>Gender</th>
                                                    <th>Birthday Date</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="Suggested_Activity_Event" role="dialog" style="right:0">
                            <div class="modal-dialog" style="left:0;right:0;">

                                <!-- Modal content-->
                                <div class="modal-content" style="width:60vw;right:45%;">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Suggested Activity Event</h4>
                                        <br>
                                    </div>
                                    <div class="modal-body">
                                        <table class="miketable table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Suite No</th>
                                                    <th>Name</th>
                                                    <th>Suggested Eveny</th>
                                                    <th>Modified Date</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>





                        @*  <div style="height: 55px;"></div>
                        <div class="full-height">
                            <h2 class="px-3">To Do List</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action pointer" data-toggle="modal" data-target="#todoModal">
                Dietary Updates
                <span class="badge badge-primary badge-pill pull-right">14</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action pointer" data-toggle="modal" data-target="#todoModal">
                Hospitalization
                <span class="badge badge-primary badge-pill pull-right">3</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action pointer" data-toggle="modal" data-target="#todoModal">
                Initial Assessment
                <span class="badge badge-primary badge-pill pull-right">68</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action pointer" data-toggle="modal" data-target="#todoModal">
                Progress Notes
                <span class="badge badge-primary badge-pill pull-right">30</span>
            </li>
        </ul>
                    </div>*@


                    </div>
                </div>
            </div>


        </div>
        <!-- END PAGE CONTENT -->

        <div class="modal fade" id="todoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Dietry Update</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Suite no</th>
                                    <th>Name</th>
                                    <th>Assessed Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 1; i < 6; i++)
                                {
                                    <tr>
                                        <td class="align-middle">@i</td>
                                        <td class="align-middle">102 @i</td>
                                        <td class="align-middle">Gannesse, Kawdinski</td>
                                        <td class="align-middle">05/11/2017</td>
                                        <td>
                                            <button class="btn btn-warning btn-xs">view</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> -->
                </div>
            </div>
        </div>


        @RenderPage("~/Views/Shared/_Footer.cshtml")

        <script>

            function nextlayer(ee) {
                var li_list = ee.parentElement.parentElement.children;
                for (var ind = 0; ind < li_list.length; ind++) {
                    if (li_list[ind].firstElementChild != ee)
                        li_list[ind].lastElementChild.style.display = "none";
                }
                var next = ee.nextElementSibling;
                if (next.style.display == "block") {
                    next.style.display = "none";
                }
                else if (next.style.display == "none" || next.style.display == "") {
                    next.style.display = "block";
                }
            }

            function DU_click(ee) {
                ee.parentElement.parentElement.parentElement.style.display = "none";
                var node_tbody = $('div[id="Dietary_Update"] div div div[class="modal-body"] table tbody');
                while (node_tbody[0].hasChildNodes())
                    node_tbody[0].removeChild(node_tbody[0].lastChild);
                $.get("/Home/DU_CLICK", {}, function (data) {
                    var view = $('div[id="Dietary_Update"] div div div[class="modal-body"] table tbody');
                    for (var i = 0; i < data.length; i++) {
                        view.append(
                            "<tr name='" + data[i][1].Value + "' da='" + data[i][2].Value + "'>" +
                            "<td>" + data[i][0].Value + " <\/td>" +
                            "<td>" + data[i][3].Value + " <\/td>" +
                            "<td>" + data[i][4].Value + " " + data[i][5].Value + " <\/td>" +
                            "<td>" + data[i][6].Value + " <\/td>" +
                            "<td>" +
                            "<button type=\"button\" class=\"btn btn-primary\">View<\/button>" +
                            "<\/td>" +
                            "<\/tr>");
                    }
                });
            }

            function HO_click(ee) {
                ee.parentElement.parentElement.parentElement.style.display = "none";
                var node_tbody = $('div[id="Resident_Away"] div div div[class="modal-body"] table tbody');
                while (node_tbody[0].hasChildNodes())
                    node_tbody[0].removeChild(node_tbody[0].lastChild);
                $.get("/Home/HO_CLICK", {}, function (data) {
                    var view = $('div[id="Resident_Away"] div div div[class="modal-body"] table tbody');
                    for (var i = 0; i < data.length; i++) {
                        view.append(
                            "<tr onclick=\"window.location.href='\/Residents\/SuiteHandler2\/?p_ResidentId=" + data[i][1].Value + "'\" name='" + data[i][1].Value + "'>" +
                            "<td>" + data[i][0].Value + " <\/td>" +
                            "<td>" + data[i][2].Value + " <\/td>" +
                            "<td>" + data[i][3].Value + " " + data[i][4].Value + " <\/td>" +
                            "<td>" + data[i][5].Value + " <\/td>" +
                            "<td>" + data[i][6].Value + " <\/td>" +
                            "<td>" + data[i][7].Value + " <\/td>" +
                            "<\/tr>");
                    }
                });
            }

            function IAA_click(ee) {
                ee.parentElement.parentElement.parentElement.style.display = "none";
                var node_h = $('div[id="Initial_Assessment"] div div div[class="modal-header"] h4');
                node_h[0].innerHTML = "Initial Activity Assessment";

                var node_tbody = $('div[id="Initial_Assessment"] div div div[class="modal-body"] table tbody');
                while (node_tbody[0].hasChildNodes())
                    node_tbody[0].removeChild(node_tbody[0].lastChild);
                $.get("/Home/IAA_CLICK", {}, function (data) {
                    var view = $('div[id="Initial_Assessment"] div div div[class="modal-body"] table tbody');
                    for (var i = 0; i < data.length; i++) {
                        view.append(
                            "<tr name='" + data[i][1].Value + "'>" +
                            "<td>" + data[i][0].Value + " <\/td>" +
                            "<td>" + data[i][2].Value + " <\/td>" +
                            "<td>" + data[i][3].Value + " " + data[i][4].Value + " <\/td>" +
                            "<td>" + data[i][5].Value + " <\/td>" +
                            "<td><\/td>" +
                            "<td><\/td>" +
                            "<\/tr>");
                    }
                });
            }

            function IDA_click(ee) {
                ee.parentElement.parentElement.parentElement.style.display = "none";
                var node_h = $('div[id="Initial_Assessment"] div div div[class="modal-header"] h4');
                node_h[0].innerHTML = "Initial Dietary Assessment";

                var node_tbody = $('div[id="Initial_Assessment"] div div div[class="modal-body"] table tbody');
                while (node_tbody[0].hasChildNodes())
                    node_tbody[0].removeChild(node_tbody[0].lastChild);
                $.get("/Home/IDA_CLICK", {}, function (data) {
                    var view = $('div[id="Initial_Assessment"] div div div[class="modal-body"] table tbody');
                    for (var i = 0; i < data.length; i++) {
                        view.append(
                            "<tr name='" + data[i][1].Value + "'>" +
                            "<td>" + data[i][0].Value + " <\/td>" +
                            "<td>" + data[i][2].Value + " <\/td>" +
                            "<td>" + data[i][3].Value + " " + data[i][4].Value + " <\/td>" +
                            "<td>" + data[i][5].Value + " <\/td>" +
                            "<td><\/td>" +
                            "<td><\/td>" +
                            "<\/tr>");
                    }
                });
            }

            function IFRA_click(ee) {
                ee.parentElement.parentElement.parentElement.style.display = "none";
                var node_h = $('div[id="Initial_Assessment"] div div div[class="modal-header"] h4');
                node_h[0].innerHTML = "Initial Fall Risk Assessment";

                var node_tbody = $('div[id="Initial_Assessment"] div div div[class="modal-body"] table tbody');
                while (node_tbody[0].hasChildNodes())
                    node_tbody[0].removeChild(node_tbody[0].lastChild);
                $.get("/Home/IFRA_CLICK", {}, function (data) {
                    var view = $('div[id="Initial_Assessment"] div div div[class="modal-body"] table tbody');
                    for (var i = 0; i < data.length; i++) {
                        view.append(
                            "<tr name='" + data[i][1].Value + "'>" +
                            "<td>" + data[i][0].Value + " <\/td>" +
                            "<td>" + data[i][2].Value + " <\/td>" +
                            "<td>" + data[i][3].Value + " " + data[i][4].Value + " <\/td>" +
                            "<td>" + data[i][5].Value + " <\/td>" +
                            "<td><\/td>" +
                            "<td><\/td>" +
                            "<\/tr>");
                    }
                });
            }

            function IRCA_click(ee) {
                ee.parentElement.parentElement.parentElement.style.display = "none";
                var node_h = $('div[id="Initial_Assessment"] div div div[class="modal-header"] h4');
                node_h[0].innerHTML = "Initial Resident Care Assessment";

                var node_tbody = $('div[id="Initial_Assessment"] div div div[class="modal-body"] table tbody');
                while (node_tbody[0].hasChildNodes())
                    node_tbody[0].removeChild(node_tbody[0].lastChild);
                $.get("/Home/IFRA_CLICK", {}, function (data) {
                    var view = $('div[id="Initial_Assessment"] div div div[class="modal-body"] table tbody');
                    for (var i = 0; i < data.length; i++) {
                        view.append(
                            "<tr name='" + data[i][1].Value + "'>" +
                            "<td>" + data[i][0].Value + " <\/td>" +
                            "<td>" + data[i][2].Value + " <\/td>" +
                            "<td>" + data[i][3].Value + " " + data[i][4].Value + " <\/td>" +
                            "<td>" + data[i][5].Value + " <\/td>" +
                            "<td><\/td>" +
                            "<td><\/td>" +
                            "<\/tr>");
                    }
                });
            }

            function PN_click(ee) {

                var node_tbody = $('div[id="Progress_Note"] div div div[class="modal-body"] table tbody');
                while (node_tbody[0].hasChildNodes())
                    node_tbody[0].removeChild(node_tbody[0].lastChild);
                $.get("/Home/PN_CLICK", {}, function (data) {
                    var view = $('div[id="Progress_Note"] div div div[class="modal-body"] table tbody');
                    for (var i = 0; i < data.length; i++) {
                        view.append(
                            "<tr onclick=\"window.location.href='\/Assessments\/ProgressNotes\/?p_ResidentId=" + data[i][1].Value + "'\"   name='" + data[i][1].Value + "'>" +
                            "<td>" + data[i][0].Value + " <\/td>" +
                            "<td>" + data[i][2].Value + " <\/td>" +
                            "<td>" + data[i][3].Value + " " + data[i][4].Value + " <\/td>" +
                            "<td>" + data[i][5].Value + " <\/td>" +
                            "<td>" + data[i][6].Value + "<\/td>" +
                            "<td>" + data[i][7].Value + "<\/td>" +
                            "<\/tr>");
                    }
                });
            }

            function AN_click(ee) {

                var node_tbody = $('div[id="Acknowledge_Notes"] div div div[class="modal-body"] table tbody');
                while (node_tbody[0].hasChildNodes())
                    node_tbody[0].removeChild(node_tbody[0].lastChild);
                $.get("/Home/AN_CLICK", {}, function (data) {
                    var view = $('div[id="Acknowledge_Notes"] div div div[class="modal-body"] table tbody');
                    for (var i = 0; i < data.length; i++) {
                        view.append(
                            "<tr name='" + data[i][2].Value + "' PNid='" + data[i][1].Value + "'>" +
                            "<td>" + data[i][0].Value + " <\/td>" +
                            "<td>" + data[i][3].Value + " <\/td>" +
                            "<td>" + data[i][4].Value + " " + data[i][5].Value + " <\/td>" +
                            "<td>" + data[i][6].Value + " <\/td>" +
                            "<td>" + data[i][7].Value + "<\/td>" +
                            "<td>" + data[i][8].Value + "<\/td>" +
                            "<td>" +
                            "<button type=\"button\" class=\"btn btn-primary\" onclick=\"AN_view_click(this)\">View<\/button>" +
                            "<\/td>" +
                            "<\/tr>");
                    }
                });
            }

            function AN_view_click(ee) {

                document.getElementById("contactForm").style.display = "block";
                var trnode = ee.parentElement.parentElement;
                var PN = trnode.getAttribute('PNid');
                var resident = trnode.getAttribute('name');
                var tdnode = $('tr[pnid="' + PN + '"] td');
                var name_node = tdnode[2].innerHTML;

                $.get("/Home/AN_VIEW_CLICK", { PNid: PN, residentid: resident }, function (data) {
                    for (var i = 0; i < data.length; i++) {
                        document.getElementById("view_date").value = data[i][0].Value;
                        document.getElementById("view_category").value = data[i][1].Value;
                        document.getElementById("view_user").value = data[i][2].Value + " " + data[i][3].Value;
                        document.getElementById("formtextarea").innerHTML = data[i][4].Value;
                    }
                    document.getElementById("view_name").value = name_node;
                    document.getElementById("view_table").setAttribute('name', resident)
                });


            }

            function PN_OK() {
                document.getElementById("contactForm").style.display = "none";
                AN_click();
            }

            function ADD_PN_click() {
                var resident = document.getElementById("view_table").getAttribute("name");
                window.location.href = '\/Assessments\/ProgressNotes\/?p_ResidentId=' + resident;
            }

            function RAA_click(ee) {
                ee.parentElement.parentElement.parentElement.style.display = "none";
                var node_h = $('div[id="Reassessments"] div div div[class="modal-header"] h4');
                node_h[0].innerHTML = "Re-Activity Assessment";

                var node_tbody = $('div[id="Reassessments"] div div div[class="modal-body"] table tbody');
                while (node_tbody[0].hasChildNodes())
                    node_tbody[0].removeChild(node_tbody[0].lastChild);
                $.get("/Home/RAA_CLICK", {}, function (data) {
                    var view = $('div[id="Reassessments"] div div div[class="modal-body"] table tbody');
                    for (var i = 0; i < data.length; i++) {
                        view.append(
                            "<tr name='" + data[i][1].Value + "'>" +
                            "<td>" + data[i][0].Value + " <\/td>" +
                            "<td>" + data[i][2].Value + " <\/td>" +
                            "<td>" + data[i][3].Value + " " + data[i][4].Value + " <\/td>" +
                            "<td>" + data[i][5].Value + " <\/td>" +
                            "<td>" + data[i][6].Value + "<\/td>" +
                            "<td>" + data[i][7].Value + "<\/td>" +
                            "<td>" + data[i][8].Value + "<\/td>" +
                            "<\/tr>");
                    }
                });
            }

            function RDA_click(ee) {
                ee.parentElement.parentElement.parentElement.style.display = "none";
                var node_h = $('div[id="Reassessments"] div div div[class="modal-header"] h4');
                node_h[0].innerHTML = "Re-Dietary Assessment";

                var node_tbody = $('div[id="Reassessments"] div div div[class="modal-body"] table tbody');
                while (node_tbody[0].hasChildNodes())
                    node_tbody[0].removeChild(node_tbody[0].lastChild);
                $.get("/Home/RDA_CLICK", {}, function (data) {
                    var view = $('div[id="Reassessments"] div div div[class="modal-body"] table tbody');
                    for (var i = 0; i < data.length; i++) {
                        view.append(
                            "<tr name='" + data[i][1].Value + "'>" +
                            "<td>" + data[i][0].Value + " <\/td>" +
                            "<td>" + data[i][2].Value + " <\/td>" +
                            "<td>" + data[i][3].Value + " " + data[i][4].Value + " <\/td>" +
                            "<td>" + data[i][5].Value + " <\/td>" +
                            "<td>" + data[i][6].Value + "<\/td>" +
                            "<td>" + data[i][7].Value + "<\/td>" +
                            "<td>" + data[i][8].Value + "<\/td>" +
                            "<\/tr>");
                    }
                });
            }

            function RFRA_click(ee) {
                ee.parentElement.parentElement.parentElement.style.display = "none";
                var node_h = $('div[id="Reassessments"] div div div[class="modal-header"] h4');
                node_h[0].innerHTML = "Re-Fall Risk Assessment";

                var node_tbody = $('div[id="Reassessments"] div div div[class="modal-body"] table tbody');
                while (node_tbody[0].hasChildNodes())
                    node_tbody[0].removeChild(node_tbody[0].lastChild);
                $.get("/Home/RFRA_CLICK", {}, function (data) {
                    var view = $('div[id="Reassessments"] div div div[class="modal-body"] table tbody');
                    for (var i = 0; i < data.length; i++) {
                        view.append(
                            "<tr name='" + data[i][1].Value + "'>" +
                            "<td>" + data[i][0].Value + " <\/td>" +
                            "<td>" + data[i][2].Value + " <\/td>" +
                            "<td>" + data[i][3].Value + " " + data[i][4].Value + " <\/td>" +
                            "<td>" + data[i][5].Value + " <\/td>" +
                            "<td>" + data[i][6].Value + "<\/td>" +
                            "<td>" + data[i][7].Value + "<\/td>" +
                            "<td>" + data[i][8].Value + "<\/td>" +
                            "<\/tr>");
                    }
                });
            }

            function RRCA_click(ee) {
                ee.parentElement.parentElement.parentElement.style.display = "none";
                var node_h = $('div[id="Reassessments"] div div div[class="modal-header"] h4');
                node_h[0].innerHTML = "Re-Resident Care Assessment";

                var node_tbody = $('div[id="Reassessments"] div div div[class="modal-body"] table tbody');
                while (node_tbody[0].hasChildNodes())
                    node_tbody[0].removeChild(node_tbody[0].lastChild);
                $.get("/Home/RRCA_CLICK", {}, function (data) {
                    var view = $('div[id="Reassessments"] div div div[class="modal-body"] table tbody');
                    for (var i = 0; i < data.length; i++) {
                        view.append(
                            "<tr name='" + data[i][1].Value + "'>" +
                            "<td>" + data[i][0].Value + " <\/td>" +
                            "<td>" + data[i][2].Value + " <\/td>" +
                            "<td>" + data[i][3].Value + " " + data[i][4].Value + " <\/td>" +
                            "<td>" + data[i][5].Value + " <\/td>" +
                            "<td>" + data[i][6].Value + "<\/td>" +
                            "<td>" + data[i][7].Value + "<\/td>" +
                            "<td>" + data[i][8].Value + "<\/td>" +
                            "<\/tr>");
                    }
                });
            }

            function RI_click() {
                var node_tbody = $('div[id="Resident_Incident"] div div div[class="modal-body"] table tbody');
                while (node_tbody[0].hasChildNodes())
                    node_tbody[0].removeChild(node_tbody[0].lastChild);
                $.get("/Home/RI_CLICK", {}, function (data) {
                    var view = $('div[id="Resident_Incident"] div div div[class="modal-body"] table tbody');
                    for (var i = 0; i < data.length; i++) {
                        view.append(
                            "<tr name='" + data[i][2].Value + "' PNid='" + data[i][1].Value + "'>" +
                            "<td>" + data[i][3].Value + " <\/td>" +
                            "<td>" + data[i][4].Value + " " + data[i][5].Value + " <\/td>" +
                            "<td>Time: " + data[i][6].Value + "<br>Date: " + data[i][7].Value + "<br>" + data[i][8].Value +" <\/td>" +
                            "<td>" + data[i][9].Value + "<\/td>" +
                            "<td><textarea class=\"formtext2\">" + data[i][10].Value + "<\/textarea><\/td>" +
                            "<td>" +
                            "<button type=\"button\" class=\"btn btn-primary\" style=\"font-size:0.7vw;\" onclick=\"RI_Acknowledge_click(this)\">Acknowledge<\/button>" +
                            "<\/td>" +
                            "<\/tr>");
                    }
                });
            }

            function RI_Acknowledge_click(ee) {
                var re_id = ee.parentElement.parentElement.getAttribute("name");
                var PN_id = ee.parentElement.parentElement.getAttribute("pnid");
                var act_note = ee.parentElement.previousSibling.firstElementChild.value;
                $.post("/Home/RI_Acknowledge_CLICK", { pnid: PN_id, residentid: re_id, action: act_note}, function () {
                    var p = ee.parentNode.parentNode;
                    p.parentNode.removeChild(p);
                });
            }

            function RB_click() {
                var node_tbody = $('div[id="Resident_Birthday"] div div div[class="modal-body"] table tbody');
                while (node_tbody[0].hasChildNodes())
                    node_tbody[0].removeChild(node_tbody[0].lastChild);
                $.get("/Home/RB_CLICK", {}, function (data) {
                    var view = $('div[id="Resident_Birthday"] div div div[class="modal-body"] table tbody');
                    for (var i = 0; i < data.length; i++) {
                        view.append(
                            "<tr onclick=\"window.location.href='/Home/ResidentMenu/?p_ResidentId=" + data[i][1].Value +"'\" name='" + data[i][1].Value + "'>" +
                            "<td>" + data[i][0].Value + " <\/td>" +
                            "<td>" + data[i][2].Value + " <\/td>" +
                            "<td>" + data[i][3].Value + " " + data[i][4].Value + " <\/td>" +
                            "<td>" + data[i][5].Value + " <\/td>" +
                            "<td>" + data[i][6].Value + "<\/td>" +
                            "<td>" + data[i][7].Value + "<\/td>" +
                            "<\/tr>");
                    }
                });
            }

            function RP_click() {
                var node_tbody = $('div[id="Resident_Profile"] div div div[class="modal-body"] table tbody');
                while (node_tbody[0].hasChildNodes())
                    node_tbody[0].removeChild(node_tbody[0].lastChild);
                $.get("/Home/RP_CLICK", {}, function (data) {
                    var view = $('div[id="Resident_Profile"] div div div[class="modal-body"] table tbody');
                    for (var i = 0; i < data.length; i++) {
                        view.append(
                            "<tr onclick=\"window.location.href='/Home/ResidentMenu/?p_ResidentId=" + data[i][1].Value + "'\" name='" + data[i][1].Value + "'>" +
                            "<td>" + data[i][0].Value + " <\/td>" +
                            "<td>" + data[i][2].Value + " <\/td>" +
                            "<td>" + data[i][3].Value + " " + data[i][4].Value + " <\/td>" +
                            "<td>" + data[i][5].Value + " <\/td>" +
                            "<td>" + data[i][6].Value + "<\/td>" +
                            "<\/tr>");
                    }
                });
            }

            function NR_click() {
                var node_tbody = $('div[id="New_Resident"] div div div[class="modal-body"] table tbody');
                while (node_tbody[0].hasChildNodes())
                    node_tbody[0].removeChild(node_tbody[0].lastChild);
                $.get("/Home/NR_CLICK", {}, function (data) {
                    var view = $('div[id="New_Resident"] div div div[class="modal-body"] table tbody');
                    for (var i = 0; i < data.length; i++) {
                        view.append(
                            "<tr onclick=\"window.location.href='/Home/ResidentMenu/?p_ResidentId=" + data[i][1].Value + "'\" name='" + data[i][1].Value + "'>" +
                            "<td>" + data[i][0].Value + " <\/td>" +
                            "<td>" + data[i][2].Value + " <\/td>" +
                            "<td>" + data[i][3].Value + " " + data[i][4].Value + " <\/td>" +
                            "<td>" + data[i][5].Value + " <\/td>" +
                            "<td>" + data[i][6].Value + "<\/td>" +
                            "<\/tr>");
                    }
                });
            }

            function SA_click() {
                var node_tbody = $('div[id="Suggested_Activity_Event"] div div div[class="modal-body"] table tbody');
                while (node_tbody[0].hasChildNodes())
                    node_tbody[0].removeChild(node_tbody[0].lastChild);
                $.get("/Home/SA_CLICK", {}, function (data) {
                    var view = $('div[id="Suggested_Activity_Event"] div div div[class="modal-body"] table tbody');
                    for (var i = 0; i < data.length; i++) {
                        view.append(
                            "<tr name='" + data[i][1].Value + "'>" +
                            "<td>" + data[i][0].Value + " <\/td>" +
                            "<td>" + data[i][2].Value + " <\/td>" +
                            "<td>" + data[i][3].Value + " " + data[i][4].Value + " <\/td>" +
                            "<td>" + data[i][5].Value + " <\/td>" +
                            "<td>" + data[i][6].Value + "<\/td>" +
                            "<\/tr>");
                    }
                });
            }

        </script>

        <style>
        div[class="float_box"] ul[class="list-group"] li:hover { background-color: grey; }

        div[id="Resident_Away"] div div div[class="modal-body"] table tbody tr { cursor: pointer; }
        div[id="Resident_Away"] div div div[class="modal-body"] table tbody tr:hover { background-color: grey; }
        div[id="Dietary_Update"] div div div[class="modal-body"] table tbody tr { cursor: pointer; }
        div[id="Dietary_Update"] div div div[class="modal-body"] table tbody tr:hover { background-color: grey; }
        div[id="Initial_Assessment"] div div div[class="modal-body"] table tbody tr { cursor: pointer; }
        div[id="Initial_Assessment"] div div div[class="modal-body"] table tbody tr:hover { background-color: grey; }
        div[id="Progress_Note"] div div div[class="modal-body"] table tbody tr { cursor: pointer; }
        div[id="Progress_Note"] div div div[class="modal-body"] table tbody tr:hover { background-color: grey; }
        div[id="Acknowledge_Notes"] div div div[class="modal-body"] table tbody tr { cursor: pointer; }
        div[id="Acknowledge_Notes"] div div div[class="modal-body"] table tbody tr:hover { background-color: grey; }
        div[id="Reassessments"] div div div[class="modal-body"] table tbody tr { cursor: pointer; }
        div[id="Reassessments"] div div div[class="modal-body"] table tbody tr:hover { background-color: grey; }
        div[id="Resident_Birthday"] div div div[class="modal-body"] table tbody tr { cursor: pointer; }
        div[id="Resident_Birthday"] div div div[class="modal-body"] table tbody tr:hover { background-color: grey; }
        div[id="Resident_Profile"] div div div[class="modal-body"] table tbody tr { cursor: pointer; }
        div[id="Resident_Profile"] div div div[class="modal-body"] table tbody tr:hover { background-color: grey; }
        div[id="Suggested_Activity_Event"] div div div[class="modal-body"] table tbody tr { cursor: pointer; }
        div[id="Suggested_Activity_Event"] div div div[class="modal-body"] table tbody tr:hover { background-color: grey; }
        div[id="New_Resident"] div div div[class="modal-body"] table tbody tr { cursor: pointer; }
        div[id="New_Resident"] div div div[class="modal-body"] table tbody tr:hover { background-color: grey; }


            div div div div[class="modal-body"] {
                overflow: auto;
                overflow-x: hidden;
                max-height: 30vw;
            }

            .miketable {
                width: 100%;
                color: black;
            }

                .miketable thead th {
                    padding: 1vw;
                }

                .miketable tbody tr {
                    height: 3vw;
                }

                    .miketable tbody tr td {
                        padding: 1vw;
                    }
        </style>

        <style>
            #contactForm {
                display: none;
                border: 6px solid salmon;
                padding: 2em;
                width: 30vw;
                height:40vw;
                text-align: center;
                background: #fff;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                -webkit-transform: translate(-50%,-50%)
            }

            .formBtn, .formtext {
                margin: .8em auto;
                font-family: inherit;
                text-transform: inherit;
                font-size: inherit;
                display: block;
                padding: .4em;
            }

            .formtext {
                resize: none;
            }

            .formBtn {
                display:block;
                background: teal;
                color: #fff;
                font-weight: 100;
                font-size: 1.2em;
                border: none;
                width:15vw
                
            }
            .formtext2{
                min-height:10vw;
                min-width:10vw;
            }


        </style>

        <script>
            var someValue = @(ViewBag.User.UserType);
            if (someValue == 8) {
                $('li[class="list-group-item"]').hide();
                $('li[id="HO"]').show();
            }
            else if (someValue == 10 || someValue == 22) {
                $('li[class="list-group-item"]').hide();
                $('li[id="RB"]').show();
            }
            else if (someValue == 19) {
                $('li[class="list-group-item"]').hide();
                $('li[id="HO"]').show();
                $('li[id="RB"]').show();
                $('li[id="RP"]').show();
            }
            else if (someValue == 5) {
                $('li[class="list-group-item"]').hide();
                $('li[id="HO"]').show();
                $('li[id="RB"]').show();
            }
            else if (someValue == 11 || someValue == 12 || someValue == 20) {
                $('li[class="list-group-item"]').hide();
                $('li[id="HO"]').show();
                $('li[id="PN"]').show();
                $('li[id="RI"]').show();
                $('li[id="RB"]').show();
            }
            else if (someValue == 7) {
                $('li[id="RI"]').hide();
                $('li[id="RP"]').hide();
                $('li[id="NR"]').hide();
                $('li[id="SA"]').hide();
                $('li[id="IAA"]').hide();
                $('li[id="IFRA"]').hide();
                $('li[id="IRCA"]').hide();
                $('li[id="RAA"]').hide();
                $('li[id="RFRA"]').hide();
                $('li[id="RRCA"]').hide();
            }
            else if (someValue == 6 || someValue == 14 || someValue == 12) {
                $('li[id="DU"]').hide();
                $('li[id="RI"]').hide();
                $('li[id="NR"]').hide();
                $('li[id="IDA"]').hide();
                $('li[id="IFRA"]').hide();
                $('li[id="IRCA"]').hide();
                $('li[id="RDA"]').hide();
                $('li[id="RFRA"]').hide();
                $('li[id="RRCA"]').hide();
            }
            else if (someValue == 4 || someValue == 15 || someValue == 16 || someValue == 17 || someValue == 18) {
                $('li[id="DU"]').hide();
                $('li[id="RP"]').hide();
                $('li[id="NR"]').hide();
                $('li[id="SA"]').hide();
                $('li[id="IDA"]').hide();
                $('li[id="IAA"]').hide();
                $('li[id="RDA"]').hide();
                $('li[id="RAA"]').hide();
            }
            else if (someValue == 1 || someValue == 2 || someValue == 3 || someValue == 9 || someValue == 13) {
                $('li[class="list-group-item"]').show();
            }
            else {
                $('li[class="list-group-item"]').hide();
            }
        </script>

