@model QolaMVC.Models.HomeModel

@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")
<style>

    .menu-box:hover .menu {
        transform: scale(1.05);
        transition: all .5s;
    }

    .pointer {
        cursor: pointer;
    }



    .list-group-item div {
        display:none;
        margin-left: -36.5vw;
        position: absolute;
        z-index: 1000;
        background-image: url('../../Content/pages/img/Rmenu_arrow.png');
        background-repeat: no-repeat;
        background-position: right top;
        padding-right: 0.67vw;
        width: 35vw;
    }

    .list-group-item span {
        color: black;
    }

    .list-group-item div ul {
        list-style: none;
        float: right;
    }

        .list-group-item div ul li {
            padding: 0.5vw;
            width: 10vw;
            background-color: black;
            color: white;
            opacity: 0.7;
            float: left;
        }
</style>

<!-- START PAGE-CONTAINER -->
<div class="page-container">

    @RenderPage("~/Views/Shared/_NavBar.cshtml")
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper full-height">
        <!-- START PAGE CONTENT -->
        <div class="content full-height">
            <div class="container-fluid full-height no-padding">
                <div class="row full-height no-margin">
                    <div class="col-md-10 no-padding b-r b-grey full-height">
                        <div class="full-height placeholder">
                            <!-- START JUMBOTRON -->
                            <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                                <div class="container-fluid container-fixed-lg">
                                    <!-- <div class="inner"> -->
                                    <div class="row align-items-center">
                                        <div class="col-md-8">
                                            <h3>@Model.Name</h3>
                                        </div>
                                        <div class="col-md-2 text-right">
                                            <h4 class="text-danger bold pr-3">
                                                @Model.OccupiedSuites
                                                <small>Residents</small>
                                            </h4>
                                        </div>
                                    </div>
                                    <!-- </div> -->
                                </div>
                            </div>
                            <!-- END JUMBOTRON -->
                            <div style="height: 60px;"></div>
                            <div class="container-fluid container-fixed-lg">
                                <div class="row">
                                    <div class="col-md-6 offset-md-2 my-3 pointer">
                                        <div class="search">
                                            <div class="search-input-wrap">
                                                <div class="input-box">
                                                    <input autocomplete="off" class="searchresidents" required="" id="txtReferenceNumber" name="txtReferenceNumber" placeholder="Search Residents" type="text" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="searchBox p-1">
                                            <div class="list-group searchboxresult">

                                            </div>
                                            <!-- <a href="">

                                            <div class="row">
                                                <div class="col-md-1">

                                                </div>
                                                <div class="col-md-11 text-left">

                                                </div>
                                            </div>

                                        </a>
                                        <a href="reports/searchresult.php">

                                            <div class="row">
                                                <div class="col-md-1">
                                                    <img src="~/Content/assets/img/icons/customer-service.png" class="searchimg">
                                                </div>
                                                <div class="col-md-11 text-left">
                                                    <p class="ml-3">John<br> 1</p>
                                                </div>
                                            </div>

                                        </a>
                                        <a href="reports/searchresult.php">

                                            <div class="row">
                                                <div class="col-md-1">
                                                    <img src="~/Content/assets/img/icons/customer-service.png" class="searchimg">
                                                </div>
                                                <div class="col-md-11 text-left">
                                                    <p class="ml-3">John<br> 1</p>
                                                </div>
                                            </div>

                                        </a>
                                        <a href="reports/searchresult.php">

                                            <div class="row">
                                                <div class="col-md-1">
                                                    <img src="~/Content/assets/img/icons/customer-service.png" class="searchimg">
                                                </div>
                                                <div class="col-md-11 text-left">
                                                    <p class="ml-3">John<br> 1</p>
                                                </div>
                                            </div>

                                        </a> -->

                                        </div>
                                    </div>
                                </div>
                                <div class="row showdis">
                                    <div class="col-md-4 text-center my-4 pointer">
                                        <a href="/Home/AddNewResident/" class="menu-box">
                                            <img class="w-50 menu" src="~/Content/assets/img/icons/id-card.png" />
                                            <h5 class="menu">Add New Resident</h5>
                                        </a>
                                    </div>
                                    <div class="col-md-4 text-center my-4 pointer">
                                        <a href="/Home/btnPdf_Click_EmergencyList" class="menu-box">
                                            <img class="w-50 menu" src="~/Content/assets/img/icons/id-card (1).png" />
                                            <h5 class="menu">Emergency Resident Details</h5>
                                        </a>
                                    </div>

                                    <div class="col-md-4 text-center my-4 pointer">
                                        <a href="/HomeReports/" class="menu-box">
                                            <img class="w-50 menu" src="~/Content/assets/img/icons/search4.png" />
                                            <h5 class="menu">Reports</h5>
                                        </a>
                                    </div>

                                    <div class="col-md-4 text-center my-4 pointer">
                                        <a href="/Home/ActivityCalendar" class="menu-box">
                                            <img class="w-50 menu" src="~/Content/assets/img/icons/id-card (1).png" />
                                            <h5 class="menu">Activity/Attendance Calendar</h5>
                                        </a>
                                    </div>

                                    <div class="col-md-4 text-center my-4 pointer">
                                        <a href="/Residents/SearchResident" class="menu-box">
                                            <img class="w-50 menu" src="~/Content/assets/img/icons/search4.png" />
                                            <h5 class="menu">Suite Handler</h5>
                                        </a>
                                    </div>
                                    <div class="col-md-4 text-center my-4 pointer">
                                        <a href="/Home/DiningAttendance/" class="menu-box">
                                            <img class="w-50 menu" src="~/Content/assets/img/icons/id-card.png" />
                                            <h5 class="menu">Dining Attendance</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 no-padding bg-white full-height">





                        <div class="AlertBox" style="display:inline-block;margin-top:6vw;width:100%">
                            <div class="ShowAlert" show='N' id="dvShowAlert"><button type="button" class="btn btn-primary">To Do List</button></div>
                            <div class="float_box">
                                <ul class="list-group" id="to_do_list_1">
                                    <li class="list-group-item"><a class="one" href="#"><span class="badge">0</span>&nbsp;Dietary Update</a><div><ul><li type="Dietary Update"><span class="badge">0</span> Dietary Update</li></ul></div></li>
                                    <li class="list-group-item"><a class="one" href="#"><span class="badge">0</span>&nbsp;Hospitalization</a><div><ul><li type="Resident Away"><span class="badge">0</span> Resident Away</li></ul></div></li>
                                    <li class="list-group-item"><a class="one" href="#"><span class="badge">0</span>&nbsp;Initial Assessments</a><div><ul><li type="Initial Activity Assessment"><span class="badge">0</span> Initial Activity Assessment</li></ul></div></li>
                                    <li class="list-group-item"><a class="one" href="#"><span class="badge">0</span>&nbsp;Progress Notes</a><div><ul><li type="Progress Notes"><span class="badge">0</span> Progress Notes</li></ul></div></li>
                                    <li class="list-group-item"><a class="one" href="#"><span class="badge">0</span>&nbsp;Reassessments</a><div><ul><li type="Dietary Assessment"><span class="badge">0</span> Dietary Assessment</li><li type="Fall Risk Assessment"><span class="badge">0</span> Fall Risk Assessment</li><li type="Resident Care Assessment"><span class="badge">0</span> Resident Care Assessment</li></ul></div></li>
                                    <li class="list-group-item"><a class="one" href="#"><span class="badge">0</span>&nbsp;Resident Incidents</a><div><ul><li type="Resident Fall"><span class="badge">0</span> Resident Fall</li></ul></div></li>
                                    <li class="list-group-item"><a class="one" href="#"><span class="badge">0</span>&nbsp;Residents Birthday</a><div><ul><li type="Birthday"><span class="badge">0</span> Birthday</li></ul></div></li>
                                    <li class="list-group-item"><a class="one" href="#"><span class="badge">0</span>&nbsp;Residents Profile</a><div><ul><li type="Profile Image"><span class="badge">0</span> Profile Image</li></ul></div></li>
                                    <li class="list-group-item"><a class="one" href="#"><span class="badge">0</span>&nbsp;New Resident</a><div><ul><li type="New Resident"><span class="badge">0</span> New Resident</li></ul></div></li>
                                    <li class="list-group-item"><a class="one" href="#"><span class="badge">0</span>&nbsp;Suggested Activity Event</a><div><ul><li type="Suggested Activity Event"><span class="badge">0</span> Suggested Activity Event</li></ul></div></li>
                                </ul>
                            </div>
                        </div>

                        











                        @*  <div style="height: 55px;"></div>
                                        <div class="full-height">
                                            <h2 class="px-3">To Do List</h2>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action pointer" data-toggle="modal" data-target="#todoModal">
                                Dietary Updates
                                <span class="badge badge-primary badge-pill pull-right">14</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action pointer" data-toggle="modal" data-target="#todoModal">
                                Hospitalization
                                <span class="badge badge-primary badge-pill pull-right">3</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action pointer" data-toggle="modal" data-target="#todoModal">
                                Initial Assessment
                                <span class="badge badge-primary badge-pill pull-right">68</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action pointer" data-toggle="modal" data-target="#todoModal">
                                Progress Notes
                                <span class="badge badge-primary badge-pill pull-right">30</span>
                            </li>
                        </ul>
                                    </div>*@


                    </div>
                </div>
            </div>


        </div>
        <!-- END PAGE CONTENT -->

        <div class="modal fade" id="todoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Dietry Update</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Suite no</th>
                                    <th>Name</th>
                                    <th>Assessed Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 1; i < 6; i++)
                                {
                                    <tr>
                                        <td class="align-middle">@i</td>
                                        <td class="align-middle">102 @i</td>
                                        <td class="align-middle">Gannesse, Kawdinski</td>
                                        <td class="align-middle">05/11/2017</td>
                                        <td>
                                            <button class="btn btn-warning btn-xs">view</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> -->
                </div>
            </div>
        </div>


        @RenderPage("~/Views/Shared/_Footer.cshtml")

        <script>
            $("#to_do_list_1").on("click", "a.one", function (event) {

                if (this.nextSibling.style.display == "block") {
                    this.nextSibling.style.display = "none";
                }
                else if (this.nextSibling.style.display == "none" || this.nextSibling.style.display == "") {
                    this.nextSibling.style.display = "block";
                }
                
            });
        </script>
