@model QolaMVC.Models.ResidentModel
@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")

<style>


    #pills-care .ptitle {
        font-family: Times,serif;
        font-size: 15px;
        color: rgb(0,0,0);
        font-weight: bold;
        font-style: normal;
        text-decoration: none;
    }

    #pills-care p {
        margin-bottom: 5px !important;
    }

    #pills-care .ptitle_grey {
        font-family: Times,serif;
        font-size: 15px;
        color: rgb(0,0,0);
        font-weight: bold;
        font-style: normal;
        text-decoration: none;
        background-color: darkgrey;
        border-bottom: 2px solid black;
    }

    #pills-care .ptitle_nocolor_noborderB {
        font-family: Times,serif;
        font-size: 15px;
        color: rgb(0,0,0);
        font-weight: bold;
        font-style: normal;
        text-decoration: none;
    }

    #pills-care .ptitle_color_noborderB {
        font-family: Times,serif;
        font-size: 15px;
        color: rgb(0,0,0);
        font-weight: bold;
        font-style: normal;
        text-decoration: none;
        background-color: darkgrey;
    }

    .borderB {
        border-bottom: 2px solid black;
    }

    #pills-care .pcontent {
        font-family: Times,serif;
        font-size: 15px;
        color: rgb(0,0,0);
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
    }
</style>

<!-- START PAGE-CONTAINER -->
<div class="page-container">
    @RenderPage("~/Views/Shared/_NavBar.cshtml")
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <!-- START JUMBOTRON -->
            <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                <div class="container-fluid container-fixed-lg">
                    <!-- <div class="inner"> -->
                    <div class="row align-items-center">
                        <div class="col-md-10">
                            <h3>QOLAFIED PRINT PAGE</h3>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-danger" id="EA_PRINT" style="float:right;">PRINT</button>
                            <button class="btn btn-danger" type="button" style="float:right;margin-right:10px !important;" onclick="backfunction()">BACK</button>

                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <!-- END JUMBOTRON -->
            <div style="height: 60px;"></div>
            <div style="margin-left:2.2vw !important;">
            </div>
            <br>
            <input type="hidden" value="exerciseactivityreport" name="" class="filename">
            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg" id="fromHTMLtestdiv">
                <!-- BEGIN PlACE PAGE CONTENT HERE -->
                <div class="card">
                    <div class="card-block">

                        <div id="pills-care">

                            <div id="frontpage">
                                <div style="width:98%;">
                                    <div style="width:91%;margin-left:5%;height:1100px;border:1px solid black">
                                        <div style="margin-left:38%;margin-top:20%;">
                                            <img src="~/Content/assets/img/qola_logo3.png" style="width:300px;height:200px"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div id="page1">

                                <div style="width:98%;">
                                    <div style="width:30%;margin-left:5%;display:inline-block;border:2px solid black;height:1100px;vertical-align:top;">
                                        <div class="text-center" style="width:100%;">
                                            <p class="ptitle_grey">Personal Details</p>
                                        </div>
                                        <div class="borderB">
                                            <p><span class="ptitle">Admission Date: </span><span class="pcontent">@Model.MoveInDate.ToShortDateString()</span></p>
                                            <p><span class="ptitle">Date Of Birth: </span><span class="pcontent">@Model.BirthDate</span></p>
                                            <p><span class="ptitle">Gender: </span><span class="pcontent">@Model.Gendar</span></p>
                                            <p><span class="ptitle">Marital Status: </span><span class="pcontent">@Model.MaritalStatustext</span></p>
                                            <p><span class="ptitle">HC #: </span><span class="pcontent">@Model.MBhealthNumber</span></p>
                                        </div>
                                        <div class="text-center" style="width:100%;">
                                            <p class="ptitle_grey">Medical History</p>
                                        </div>
                                        <div class="borderB" style="height:240px;">
                                            <textarea class="pcontent" style="width:98% !important;overflow:hidden;height:auto;border:none;">@Model.HealthHistory</textarea>
                                        </div>
                                        <div class="text-center" style="width:100%;">
                                            <p class="ptitle_grey">Current Diagnoses</p>
                                        </div>
                                        <div class="borderB" style="height:240px;">
                                            <textarea class="pcontent" style="width:98% !important;overflow:hidden;height:auto;border:none;">@Model.CurrentDiagnoses</textarea>
                                        </div>
                                        <div class="text-center" style="width:100%;">
                                            <p class="ptitle_grey">Allergies</p>
                                        </div>
                                        <div class="borderB" style="height:140px;">
                                            <textarea class="pcontent" style="width:98% !important;overflow:hidden;height:auto;border:none;">@Model.Alergies</textarea>
                                        </div>
                                        <div class="text-center" style="width:100%;">
                                            <p class="ptitle_grey">Physician</p>
                                        </div>
                                        <div class="borderB">
                                            <p><span class="ptitle">Family Physician: </span><span class="pcontent">@Model.Physician</span></p>
                                            <p><span class="ptitle">Tel #: </span><span class="pcontent">@Model.PhysicianPhone</span></p>
                                            <p><span class="ptitle">Fax #: </span><span class="pcontent">@Model.PhysicianFaxNo</span></p>
                                        </div>
                                        <div class="text-center" style="width:100%;">
                                            <p class="ptitle_grey">Pharmacy</p>
                                        </div>
                                        <div class="">
                                            <p><span class="ptitle">Name: </span><span class="pcontent">@Model.PharmacyName</span></p>
                                            <p><span class="ptitle">Tel #: </span><span class="pcontent">@Model.PharmacePhoneNo</span></p>
                                            <p><span class="ptitle">Fax #: </span><span class="pcontent">@Model.PharmaceFaxNumber</span></p>
                                        </div>
                                    </div>
                                    <div style="width:30%;display:inline-block;border:2px solid black;height:1100px;vertical-align:top;">
                                        <div class="text-center" style="width:100%;">
                                            <p class="ptitle_grey">Emergency Contacts</p>
                                        </div>
                                        <div class="borderB">
                                            <p><span class="ptitle">#1 Name: </span><span class="pcontent">@Model.Contract1</span></p>
                                            <p><span class="ptitle">Relationship: </span><span class="pcontent">@Model.Relationship1</span></p>
                                            @{
                                                if (Model.POACareStatus == 'Y')
                                                {
                                                    <p><span class="ptitle">POA Care: </span><input type="checkbox" checked /><span class="pcontent">Yes</span><input type="checkbox" /><span class="pcontent">No</span></p>
                                                }
                                                else
                                                {
                                                    <p><span class="ptitle">POA Care: </span><input type="checkbox" /><span class="pcontent">Yes</span><input type="checkbox" checked /><span class="pcontent">No</span></p>
                                                }

                                                if (Model.POAFinanceStatus == 'Y')
                                                {
                                                    <p><span class="ptitle">POA Finance: </span><input type="checkbox" checked /><span class="pcontent">Yes</span><input type="checkbox" /><span class="pcontent">No</span></p>
                                                }
                                                else
                                                {
                                                    <p><span class="ptitle">POA Finance: </span><input type="checkbox" /><span class="pcontent">Yes</span><input type="checkbox" checked /><span class="pcontent">No</span></p>
                                                }
                                            }
                                        </div>
                                        <div class="text-center" style="width:100%;">
                                            <p class="ptitle_grey">Telephone Number</p>
                                        </div>
                                        <div class="borderB">
                                            <p><span class="ptitle">1°#: </span><span class="pcontent">@(Model.First_phone1)(@(Model.First_phone_type1))</span></p>
                                            <p><span class="ptitle">2°#: </span><span class="pcontent">@(Model.Second_phone1)(@(Model.Second_phone_type1))</span></p>
                                            <p><span class="ptitle">3°#: </span><span class="pcontent">@(Model.Third_phone1)(@(Model.Third_phone_type1))</span></p>
                                        </div>
                                        <div class="text-center" style="width:100%;">
                                            <p class="ptitle_grey">Address</p>

                                        </div>
                                        <div class="borderB" style="height:40px;">
                                            <p><span class="pcontent">@Model.Address1</span></p>
                                        </div>
                                        <div class="borderB">
                                            <p><span class="ptitle">E-Mail: </span><span class="pcontent">@Model.Email1</span></p>
                                        </div>

                                        <div class="borderB">
                                            <p><span class="ptitle">#2 Name: </span><span class="pcontent">@Model.Contract2</span></p>
                                            <p><span class="ptitle">Relationship: </span><span class="pcontent">@Model.Relationship2</span></p>
                                            @{
                                                if (Model.POACareType2Status == 'Y')
                                                {
                                                    <p><span class="ptitle">POA Care: </span><input type="checkbox" checked /><span class="pcontent">Yes</span><input type="checkbox" /><span class="pcontent">No</span></p>
                                                }
                                                else
                                                {
                                                    <p><span class="ptitle">POA Care: </span><input type="checkbox" /><span class="pcontent">Yes</span><input type="checkbox" checked /><span class="pcontent">No</span></p>
                                                }

                                                if (Model.POAFinanceType2Status == 'Y')
                                                {
                                                    <p><span class="ptitle">POA Finance: </span><input type="checkbox" checked /><span class="pcontent">Yes</span><input type="checkbox" /><span class="pcontent">No</span></p>
                                                }
                                                else
                                                {
                                                    <p><span class="ptitle">POA Finance: </span><input type="checkbox" /><span class="pcontent">Yes</span><input type="checkbox" checked /><span class="pcontent">No</span></p>
                                                }
                                            }
                                        </div>
                                        <div class="text-center" style="width:100%;">
                                            <p class="ptitle_grey">Telephone Number</p>
                                        </div>
                                        <div class="borderB">
                                            <p><span class="ptitle">1°#: </span><span class="pcontent">@(Model.First_phone2)(@(Model.First_phone_type2))</span></p>
                                            <p><span class="ptitle">2°#: </span><span class="pcontent">@(Model.Second_phone2)(@(Model.Second_phone_type2))</span></p>
                                            <p><span class="ptitle">3°#: </span><span class="pcontent">@(Model.Third_phone2)(@(Model.Third_phone_type2))</span></p>
                                        </div>
                                        <div class="text-center" style="width:100%;">
                                            <p class="ptitle_grey">Address</p>
                                        </div>
                                        <div class="borderB" style="height:40px;">
                                            <p><span class="pcontent">@Model.Address2</span></p>
                                        </div>
                                        <div class="borderB">
                                            <p><span class="ptitle">E-Mail: </span><span class="pcontent">@Model.Email2</span></p>
                                        </div>

                                        <div class="borderB">
                                            <p><span class="ptitle">#3 Name: </span><span class="pcontent">@Model.Contract3</span></p>
                                            <p><span class="ptitle">Relationship: </span><span class="pcontent">@Model.Relationship3</span></p>
                                            @{
                                                if (Model.POACareType3Status == 'Y')
                                                {
                                                    <p><span class="ptitle">POA Care: </span><input type="checkbox" checked /><span class="pcontent">Yes</span><input type="checkbox" /><span class="pcontent">No</span></p>
                                                }
                                                else
                                                {
                                                    <p><span class="ptitle">POA Care: </span><input type="checkbox" /><span class="pcontent">Yes</span><input type="checkbox" checked /><span class="pcontent">No</span></p>
                                                }

                                                if (Model.POAFinanceType3Status == 'Y')
                                                {
                                                    <p><span class="ptitle">POA Finance: </span><input type="checkbox" checked /><span class="pcontent">Yes</span><input type="checkbox" /><span class="pcontent">No</span></p>
                                                }
                                                else
                                                {
                                                    <p><span class="ptitle">POA Finance: </span><input type="checkbox" /><span class="pcontent">Yes</span><input type="checkbox" checked /><span class="pcontent">No</span></p>
                                                }
                                            }
                                        </div>
                                        <div class="text-center" style="width:100%;">
                                            <p class="ptitle_grey">Telephone Number</p>
                                        </div>
                                        <div class="borderB">
                                            <p><span class="ptitle">1°#: </span><span class="pcontent">@(Model.First_phone3)(@(Model.First_phone_type3))</span></p>
                                            <p><span class="ptitle">2°#: </span><span class="pcontent">@(Model.Second_phone3)(@(Model.Second_phone_type3))</span></p>
                                            <p><span class="ptitle">3°#: </span><span class="pcontent">@(Model.Third_phone3)(@(Model.Third_phone_type3))</span></p>
                                        </div>
                                        <div class="text-center" style="width:100%;">
                                            <p class="ptitle_grey">Address</p>
                                        </div>
                                        <div class="borderB" style="height:40px;">
                                            <p><span class="pcontent">@Model.Address3</span></p>
                                        </div>
                                        <div class="">
                                            <p><span class="ptitle">E-Mail: </span><span class="pcontent">@Model.Email3</span></p>
                                        </div>

                                    </div>
                                    <div style="width:30%;display:inline-block;border:2px solid black;height:1100px;vertical-align:top;">
                                        <div class="text-center" style="width:100%;">
                                            <p class="ptitle_grey" style="margin-bottom:0px !important;">Level Of Care</p>
                                        </div>
                                        <div class="borderB" style="height:120px;">
                                            @{
                                                if (ViewBag.careplan.LevelOfCare_Full != "" && ViewBag.careplan.LevelOfCare_Full != null)
                                                {
                                                    <div class="borderB" style="width:100%;">
                                                        <div class="text-center" style="width:10%;display:inline-block;">&#10004;</div>
                                                        <div style="display:inline-block;border-left:2px solid black;padding-left:5px;">
                                                            <p style="margin-top:3px;"><span class="pcontent">@ViewBag.careplan.LevelOfCare_Full</span></p>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                        <div class="text-center" style="width:100%;">
                                            <p class="ptitle_grey">Religion</p>

                                        </div>
                                        <div class="borderB" style="height:40px;">
                                            <p><span class="pcontent">@Model.ReligiousAffiliation</span></p>
                                        </div>
                                        <div class="text-center" style="width:100%;">
                                            <p class="ptitle_grey">Code Status</p>

                                        </div>
                                        <div class="borderB" style="height:40px;">
                                            @{
                                                if (Model.FullCodeStatus == 'Y')
                                                {
                                                    <p><span class="ptitle">Full Code: </span><span class="pcontent">Yes</span></p>
                                                }
                                                else
                                                {
                                                    <p><span class="ptitle">Full Code: </span><span class="pcontent">No</span></p>
                                                }
                                            }
                                        </div>

                                        <div class="text-center" style="width:100%;">
                                            <p class="ptitle_grey" style="margin-bottom:0px !important;border-bottom:none !important;">Cultural Preferences / Customary Routines /</p>
                                            <p class="ptitle_grey">Traditions</p>


                                        </div>
                                        <div class="borderB" style="height:100px;">
                                            <p><span class="pcontent">@Model.CulturalPreferences</span></p>
                                        </div>

                                        <div class="text-center" style="width:100%;">
                                            <p class="ptitle_grey" style="margin-bottom:0px !important;">Transfers</p>
                                        </div>
                                        <div class="borderB" style="min-height:30px;">
                                            @{
                                                if (ViewBag.careplan.Mobility.Transfers != "" && ViewBag.careplan.Mobility.Transfers != null)
                                                {

                                                    <div class="text-center" style="width:10%;display:inline-block;">&#10004;</div>
                                                    <div style="display:inline-block;border-left:2px solid black;padding-left:5px;">
                                                        <p style="margin-top:3px;"><span class="pcontent">@ViewBag.careplan.Mobility.Transfers</span></p>
                                                    </div>

                                                }
                                            }
                                        </div>
                                        <div class="text-center" style="width:100%;">
                                            <p class="ptitle_grey">Mechanical Lift</p>

                                        </div>
                                        <div class="borderB" style="height:50px;">
                                            <p><span class="pcontent">@ViewBag.careplan.Mobility.Lift</span></p>
                                        </div>
                                        <div class="text-center" style="width:100%;">
                                            <p class="ptitle_grey">Other</p>

                                        </div>
                                        <div class="borderB" style="height:50px;">
                                            <p><span class="pcontent"></span></p>
                                        </div>

                                        <div class="text-center" style="width:100%;">
                                            <p class="ptitle_grey">Infection Diseases</p>

                                        </div>
                                        <div class="borderB">
                                            <p><span class="ptitle">M.R.S.A: </span><span class="pcontent">@ViewBag.careplan.InfectiousDiseases.MRSA</span></p>
                                        </div>
                                        <div class="borderB">
                                            <p><span class="ptitle">Diagnosed: </span><span class="pcontent">@ViewBag.careplan.InfectiousDiseases.MRSADiagnosedDate</span></p>
                                        </div>
                                        <div class="borderB">
                                            <p><span class="ptitle">Resolved: </span><span class="pcontent">@ViewBag.careplan.InfectiousDiseases.MRSAResolvedDate</span></p>
                                        </div>
                                        <div class="borderB">
                                            <p><span class="ptitle">V.R.E: </span><span class="pcontent">@ViewBag.careplan.InfectiousDiseases.VRE</span></p>
                                        </div>
                                        <div class="borderB">
                                            <p><span class="ptitle">Diagnosed: </span><span class="pcontent">@ViewBag.careplan.InfectiousDiseases.VREDiagnosedDate</span></p>
                                        </div>
                                        <div class="borderB">
                                            <p><span class="ptitle">Resolved: </span><span class="pcontent">@ViewBag.careplan.InfectiousDiseases.VREResolvedDate</span></p>
                                        </div>
                                        <div class="borderB">
                                            <p><span class="ptitle">C-Diff: </span><span class="pcontent">@ViewBag.careplan.InfectiousDiseases.CDiff</span></p>
                                        </div>
                                        <div class="borderB">
                                            <p><span class="ptitle">Diagnosed: </span><span class="pcontent">@ViewBag.careplan.InfectiousDiseases.CDiffDiagnosedDate</span></p>
                                        </div>
                                        <div class="borderB">
                                            <p><span class="ptitle">Resolved: </span><span class="pcontent">@ViewBag.careplan.InfectiousDiseases.CDiffResolvedDate</span></p>
                                        </div>
                                        <div class="borderB">
                                            <p><span class="ptitle">Other: </span><span class="pcontent">@ViewBag.careplan.InfectiousDiseases.Other</span></p>
                                        </div>
                                        <div class="borderB">
                                            <p><span class="ptitle">Diagnosed: </span><span class="pcontent">@ViewBag.careplan.InfectiousDiseases.OtherDiagnosedDate</span></p>
                                        </div>
                                        <div class="borderB">
                                            <p><span class="ptitle">Resolved: </span><span class="pcontent">@ViewBag.careplan.InfectiousDiseases.OtherResolvedDate</span></p>
                                        </div>




                                    </div>
                                </div>

                            </div>

                            <hr>

                            <div id="page2">
                                <div style="width:98%;">
                                    <div style="width:91%;margin-left:5%;border:2px solid black;padding:5px;">
                                        <div style="width:33%;display:inline-block;border:2px solid black;height:150px;vertical-align:top;">
                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey">Assessment Type</p>
                                            </div>
                                            <div class="" style="height:40px;">
                                                <p><span class="pcontent">@ViewBag.careplan.Assessed_Full</span></p>
                                            </div>
                                        </div>

                                        <div style="width:33%;display:inline-block;border:2px solid black;height:150px;vertical-align:top;">
                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey">Vital Signs</p>
                                            </div>
                                            <div class="borderB">
                                                <p><span class="ptitle">BP: </span><span class="pcontent">@(ViewBag.careplan.VitalSigns.BPSystolic)/@(ViewBag.careplan.VitalSigns.BPDiastolic)</span></p>
                                            </div>
                                            <div class="borderB">
                                                <p><span class="ptitle">Pulse: </span><span class="pcontent">@ViewBag.careplan.VitalSigns.Pulse</span></p>
                                            </div>
                                            <div class="borderB">
                                                <p><span class="ptitle">Weight (lbs): </span><span class="pcontent">@ViewBag.careplan.VitalSigns.Weight</span></p>
                                            </div>
                                            <div class="">
                                                <p><span class="ptitle">Height: </span><span class="pcontent">@(ViewBag.careplan.VitalSigns.HeightFeet)'@(ViewBag.careplan.VitalSigns.HeightInches)"</span></p>
                                            </div>
                                        </div>

                                        <div style="width:33%;display:inline-block;border:2px solid black;height:150px;vertical-align:top;">
                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey">Allergies</p>
                                            </div>
                                            <div class="">
                                                @{
                                                    for (var a = 0; a < @ViewBag.careplan.Medication.Allergies.ToString().Split(new string[] { " || " }, StringSplitOptions.None).Length; a = a + 2)
                                                    {
                                                        <p><span class="pcontent">@ViewBag.careplan.Medication.Allergies.ToString().Split(new string[] { " || " }, StringSplitOptions.None)[a]</span></p>
                                                    }
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div style="width:98%;">
                                    <div style="width:91%;margin-left:5%;border-left:2px solid black;border-right:2px solid black;height:25px;">
                                        <div class="text-center" style="width:100%;">
                                            <p class="ptitle_color_noborderB" style="margin-bottom:0px !important;height:25px;">Personal Hygiene</p>
                                        </div>
                                    </div>
                                </div>

                                <div style="width:98%;">
                                    <div style="width:91%;margin-left:5%;border:2px solid black;padding:5px;">
                                        <div style="width:33%;display:inline-block;border:2px solid black;height:200px;vertical-align:top;">
                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey" style="margin-bottom:0px !important;">AM Care</p>
                                            </div>
                                            <div class="borderB">
                                                <p><span class="ptitle">AM Care: </span><span class="pcontent">@ViewBag.careplan.VitalSigns.BPSystolic</span></p>
                                            </div>
                                            <div class="borderB">
                                                <p><span class="ptitle">Assisted by: </span><span class="pcontent">@ViewBag.careplan.VitalSigns.Pulse</span></p>
                                            </div>
                                            <div class="borderB">
                                                <p><span class="ptitle">Agency name: </span><span class="pcontent">@ViewBag.careplan.VitalSigns.Weight</span></p>
                                            </div>
                                            <div class="">
                                                <p><span class="ptitle">Preferred Time: </span><span class="pcontent">@ViewBag.careplan.VitalSigns.HeightFeet</span></p>
                                            </div>
                                        </div>

                                        <div style="width:33%;display:inline-block;border:2px solid black;height:200px;vertical-align:top;">
                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey" style="margin-bottom:0px !important;">PM Care</p>
                                            </div>
                                            <div class="borderB">
                                                <p><span class="ptitle">PM Care: </span><span class="pcontent">@ViewBag.careplan.VitalSigns.BPSystolic</span></p>
                                            </div>
                                            <div class="borderB">
                                                <p><span class="ptitle">Assisted by: </span><span class="pcontent">@ViewBag.careplan.VitalSigns.Pulse</span></p>
                                            </div>
                                            <div class="borderB">
                                                <p><span class="ptitle">Agency name: </span><span class="pcontent">@ViewBag.careplan.VitalSigns.Weight</span></p>
                                            </div>
                                            <div class="">
                                                <p><span class="ptitle">Preferred Time: </span><span class="pcontent">@ViewBag.careplan.VitalSigns.HeightFeet</span></p>
                                            </div>
                                        </div>

                                        <div style="width:33%;display:inline-block;border:2px solid black;height:200px;vertical-align:top;">
                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey" style="margin-bottom:0px !important;">Bathing</p>
                                            </div>
                                            <div class="borderB">
                                                <p><span class="ptitle">Bathing: </span><span class="pcontent">@ViewBag.careplan.VitalSigns.BPSystolic</span></p>
                                            </div>
                                            <div class="borderB">
                                                <p><span class="ptitle">Assisted by: </span><span class="pcontent">@ViewBag.careplan.VitalSigns.Pulse</span></p>
                                            </div>
                                            <div class="borderB">
                                                <p><span class="ptitle">Agency name: </span><span class="pcontent">@ViewBag.careplan.VitalSigns.Weight</span></p>
                                            </div>
                                            <div class="borderB">
                                                <p><span class="ptitle">Preferred Time: </span><span class="pcontent">@ViewBag.careplan.VitalSigns.Weight</span></p>
                                            </div>
                                            <div class="borderB">
                                                <p><span class="ptitle">Preferred Day(s):: </span><span class="pcontent">@ViewBag.careplan.VitalSigns.Weight</span></p>
                                            </div>
                                            <div class="">
                                                <p><span class="ptitle">Preferred Type: </span><span class="pcontent">@ViewBag.careplan.VitalSigns.HeightFeet</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div style="width:98%;">
                                    <div style="width:91%;margin-left:5%;border-left:2px solid black;border-right:2px solid black;">
                                        <div class="text-center" style="width:100%;">
                                            <p class="ptitle_grey">Assistance with</p>
                                        </div>

                                        <div class="borderB" style="width:100%;">
                                            <p><span class="ptitle">Dressing: </span><span class="pcontent"></span></p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p><span class="pcontent"></span></p>
                                        </div>

                                        <div class="borderB" style="width:100%;">
                                            <p><span class="ptitle">Oral Hygiene: </span><span class="pcontent"></span></p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p><span class="pcontent"></span></p>
                                        </div>

                                        <div class="borderB" style="width:100%;">
                                            <p><span class="ptitle">Shaving: </span><span class="pcontent"></span></p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p><span class="pcontent"></span></p>
                                        </div>

                                        <div class="borderB" style="width:100%;">
                                            <p><span class="ptitle">Foot Care: </span><span class="pcontent"></span></p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p><span class="pcontent"></span></p>
                                        </div>

                                        <div class="borderB" style="width:100%;">
                                            <p><span class="ptitle">Nail Care: </span><span class="pcontent"></span></p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p><span class="pcontent"></span></p>
                                        </div>

                                        <div class="text-center" style="width:100%;">
                                            <p class="ptitle_grey">Mobility</p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p><span class="pcontent"></span></p>
                                        </div>
                                        <div class="ptitle_grey" style="width:100%;height:25px;">
                                            <div class="" style="width:70%;display:inline-block;border-right:2px solid black;">
                                                <p class="ptitle_nocolor_noborderB">Transfers</p>
                                            </div>
                                            <div class="" style="width:29%;display:inline-block;">
                                                <p class="ptitle_nocolor_noborderB">Mechanical Lift</p>
                                            </div>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <div class="" style="width:70%;display:inline-block;border-right:2px solid black;height:25px;">
                                                <p class="pcontent"></p>
                                            </div>
                                            <div class="" style="width:29%;display:inline-block;height:25px;">
                                                <p class="pcontent"></p>
                                            </div>
                                        </div>
                                        <div class="ptitle_grey" style="width:100%;display:inline-block;">
                                            <p class="ptitle_nocolor_noborderB">Walker</p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p><span class="pcontent"></span></p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p><span class="ptitle">Type: </span><span class="pcontent"></span></p>
                                        </div>

                                        <div class="ptitle_grey" style="width:100%;display:inline-block;">
                                            <p class="ptitle_nocolor_noborderB">Wheelchair</p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p><span class="pcontent"></span></p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p><span class="ptitle">Type: </span><span class="pcontent"></span></p>
                                        </div>

                                        <div class="ptitle_grey" style="width:100%;display:inline-block;">
                                            <p class="ptitle_nocolor_noborderB">Cane</p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p><span class="pcontent"></span></p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p><span class="ptitle">Type: </span><span class="pcontent"></span></p>
                                        </div>

                                        <div class="ptitle_grey" style="width:100%;display:inline-block;">
                                            <p class="ptitle_nocolor_noborderB">Scooter</p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p><span class="pcontent"></span></p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p><span class="ptitle">Type: </span><span class="pcontent"></span></p>
                                        </div>

                                        <div class="borderB" style="width:100%;height:25px;">
                                            <div class="" style="width:70%;display:inline-block;border-right:2px solid black;height:25px;">
                                                <p><span class="ptitle">PT: </span><span class="pcontent"></span></p>
                                            </div>
                                            <div class="" style="width:29%;display:inline-block;height:25px;">
                                                <p><span class="ptitle">Frequency/Agency: </span><span class="pcontent"></span></p>
                                            </div>
                                        </div>

                                        <div class="borderB" style="width:100%;height:25px;">
                                            <div class="" style="width:70%;display:inline-block;border-right:2px solid black;height:25px;">
                                                <p><span class="ptitle">OT: </span><span class="pcontent"></span></p>
                                            </div>
                                            <div class="" style="width:29%;display:inline-block;height:25px;">
                                                <p><span class="ptitle">Frequency/Agency: </span><span class="pcontent"></span></p>
                                            </div>
                                        </div>

                                        <div class="text-center" style="width:100%;">
                                            <p class="ptitle_grey" style="margin-bottom:0px !important;">Safety/ PASD's</p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <div class="" style="width:32%;display:inline-block;border-right:2px solid black;height:25px;">
                                                <p><span class="pcontent"></span></p>
                                            </div>
                                            <div class="" style="width:33%;display:inline-block;border-right:2px solid black;height:25px;vertical-align:top;">
                                                <p><span class="ptitle">Others: </span><span class="pcontent"></span></p>
                                            </div>
                                            <div class="" style="width:33%;display:inline-block;height:25px;vertical-align:top;">
                                                <p><span class="ptitle">Rails: </span><span class="pcontent"></span></p>
                                            </div>
                                        </div>

                                        <div class="borderB" style="width:100%;height:25px;">
                                            <div class="text-center" style="width:27%;display:inline-block;border-right:2px solid black;height:25px;">
                                                <p class="ptitle" style="height:23px;background-color:darkgrey;margin-bottom:0px !important;">Escorting To And From Meals</p>
                                            </div>
                                            <div class="" style="width:24%;display:inline-block;border-right:2px solid black;height:25px;">
                                                <p><span class="ptitle">Breakfast: </span><span class="pcontent"></span></p>
                                            </div>
                                            <div class="" style="width:24%;display:inline-block;border-right:2px solid black;height:25px;">
                                                <p><span class="ptitle">Lunch: </span><span class="pcontent"></span></p>
                                            </div>
                                            <div class="" style="display:inline-block;height:25px;">
                                                <p><span class="ptitle">Dinner: </span><span class="pcontent"></span></p>
                                            </div>
                                        </div>
                                        <div class="ptitle_grey" style="width:100%;height:25px;">
                                            <div class="text-center" style="width:69%;display:inline-block;border-right:2px solid black;">
                                                <p class="ptitle_nocolor_noborderB">Behaviour</p>
                                            </div>
                                            <div class="" style="width:30%;display:inline-block;">
                                                <p class="ptitle_nocolor_noborderB">Cognitive function</p>
                                            </div>
                                        </div>

                                        <div class="borderB" style="width:100%;height:50px;">


                                            <div class="text-center" style="width:69%;display:inline-block;height:50px;vertical-align:top;border-right:2px solid black;">
                                                <div class="" style="width:45%;display:inline-block;border-right:2px solid black;height:50px;float:left;">
                                                    <p><span class="pcontent"></span></p>
                                                </div>
                                                <div class="" style="width:9%;display:inline-block;border-right:2px solid black;height:50px;vertical-align:top;">
                                                    &#10004;
                                                </div>
                                                <div class="" style="width:44%;display:inline-block;height:50px;vertical-align:top;">
                                                    <p><span class="pcontent"></span></p>
                                                </div>
                                            </div>
                                            <div class="" style="width:30%;display:inline-block;height:50px;vertical-align:top;">
                                                <div class="text-center ptitle_grey" style="width:103.3%;display:block;height:25px;margin-left:-1.2%;">
                                                    <p class="ptitle_nocolor_noborderB">Cognitive function</p>
                                                </div>
                                                <div style="width:103.3%;display:block;height:25px;margin-left:-1.2%;">
                                                    <div class="">
                                                        <p style="margin-bottom:0px !important;display:inline-block;width:90%;"><span class="pcontent"></span></p><p style="margin-bottom:0px !important;display:inline-block;border-left:2px solid black;"><span>&#10004;</span></p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="" style="width:100%;">
                                            <div class="" style="width:69%;display:inline-block;height:170px;border:none !important;">
                                                <div style="width:100%;border:2px solid black;border-top:none !important;border-left:none !important;padding:5px;height:85px;">

                                                    <div style="width:49%;display:inline-block;border:2px solid black;height:70px;vertical-align:top;">
                                                        <div class="text-center" style="width:100%;">
                                                            <p class="ptitle_grey" style="margin-bottom:0px !important;">Risk of Harm to Self (or Others)</p>
                                                        </div>
                                                        <div class="">
                                                            <p style="margin-bottom:0px !important;display:inline-block;width:90%;height:44px;"><span class="pcontent"></span></p><p style="margin-bottom:0px !important;display:inline-block;border-left:2px solid black;height:44px;vertical-align:top;"><span>&#10004;</span></p>
                                                        </div>
                                                    </div>

                                                    <div style="width:49%;display:inline-block;border:2px solid black;height:70px;vertical-align:top;">
                                                        <div class="text-center" style="width:100%;">
                                                            <p class="ptitle_grey" style="margin-bottom:0px !important;">Smoker</p>
                                                        </div>
                                                        <div class="">
                                                            <p style="margin-bottom:0px !important;display:inline-block;width:90%;height:44px;"><span class="pcontent"></span></p><p style="margin-bottom:0px !important;display:inline-block;border-left:2px solid black;height:44px;vertical-align:top;"><span>&#10004;</span></p>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div style="width:100%;border:2px solid black;border-top:none !important;border-left:none !important;padding:5px;height:85px;">

                                                    <div style="width:49%;display:inline-block;border:2px solid black;height:70px;vertical-align:top;">
                                                        <div class="text-center" style="width:100%;">
                                                            <p class="ptitle_grey" style="margin-bottom:0px !important;">Cognitive Status</p>
                                                        </div>
                                                        <div class="">
                                                            <p style="margin-bottom:0px !important;display:inline-block;width:90%;height:44px;"><span class="pcontent"></span></p><p style="margin-bottom:0px !important;display:inline-block;border-left:2px solid black;height:44px;vertical-align:top;"><span>&#10004;</span></p>
                                                        </div>
                                                    </div>

                                                    <div style="width:49%;display:inline-block;border:2px solid black;height:70px;vertical-align:top;">
                                                        <div class="text-center" style="width:100%;">
                                                            <p class="ptitle_grey" style="margin-bottom:0px !important;">Risk of Wandering</p>
                                                        </div>
                                                        <div class="">
                                                            <p style="margin-bottom:0px !important;display:inline-block;width:90%;height:44px;"><span class="pcontent"></span></p><p style="margin-bottom:0px !important;display:inline-block;border-left:2px solid black;height:44px;vertical-align:top;"><span>&#10004;</span></p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="" style="width:30%;display:inline-block;height:170px;vertical-align:top;">
                                                <div class="text-center ptitle_grey" style="width:103.3%;display:block;height:25px;margin-left:-1.2%;">
                                                    <p class="ptitle_nocolor_noborderB">Cognitive function</p>
                                                </div>
                                                <div style="width:103.3%;display:block;height:25px;margin-left:-1.2%;">
                                                    <div class="borderB">
                                                        <p style="margin-bottom:0px !important;display:inline-block;width:90%;"><span class="pcontent"></span></p><p style="margin-bottom:0px !important;display:inline-block;border-left:2px solid black;"><span>&#10004;</span></p>
                                                    </div>
                                                </div>
                                                <div style="width:103.3%;display:block;height:25px;margin-left:-1.2%;">
                                                    <div class="borderB">
                                                        <p style="margin-bottom:0px !important;display:inline-block;width:90%;"><span class="pcontent"></span></p><p style="margin-bottom:0px !important;display:inline-block;border-left:2px solid black;"><span>&#10004;</span></p>
                                                    </div>
                                                </div>
                                                <div style="width:103.3%;display:block;height:25px;margin-left:-1.2%;">
                                                    <div class="borderB">
                                                        <p style="margin-bottom:0px !important;display:inline-block;width:90%;"><span class="pcontent"></span></p><p style="margin-bottom:0px !important;display:inline-block;border-left:2px solid black;"><span>&#10004;</span></p>
                                                    </div>
                                                </div>
                                                <div style="width:103.3%;display:block;height:70px;margin-left:-1.2%;">
                                                    <div class="borderB" style="height:70px;">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div id="page3">
                                <div style="width:98%;">
                                    <div style="width:91%;margin-left:5%;border-left:2px solid black;border-right:2px solid black;height:25px;">
                                        <div class="text-center" style="width:100%;border-top:2px solid black;">
                                            <p class="ptitle_color_noborderB" style="margin-bottom:0px !important;height:25px;">Nutrition</p>
                                        </div>
                                    </div>
                                </div>

                                <div style="width:98%;">
                                    <div style="width:91%;margin-left:5%;border:2px solid black;padding:5px;">
                                        <div style="width:33%;display:inline-block;border:2px solid black;height:200px;vertical-align:top;">
                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey" style="margin-bottom:0px !important;">Nutritional Status</p>
                                            </div>
                                            <div class="borderB" style="height:25px;">
                                                <p><span class="pcontent"></span></p>
                                            </div>
                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey" style="margin-bottom:0px !important;">Risk</p>
                                            </div>
                                            <div class="borderB" style="height:25px;">
                                                <p><span class="pcontent"></span></p>
                                            </div>
                                            <div class="borderB" style="height:25px;">
                                                <p><span class="ptitle">Assistive Devices: </span><span class="pcontent"></span></p>
                                            </div>
                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey" style="margin-bottom:0px !important;">Texture</p>
                                            </div>
                                            <div class="" style="height:25px;">
                                                <p><span class="pcontent"></span></p>
                                            </div>
                                        </div>

                                        <div style="width:33%;display:inline-block;border:2px solid black;height:200px;vertical-align:top;">
                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey" style="margin-bottom:0px !important;">Diet</p>
                                            </div>
                                            <div class="">
                                                <p><span class="pcontent"></span></p>
                                            </div>
                                        </div>

                                        <div style="width:33%;display:inline-block;border:2px solid black;height:200px;vertical-align:top;">
                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey" style="margin-bottom:0px !important;">Allergies/Sensitivities</p>
                                            </div>
                                            <div class="borderB" style="height:50px;">
                                                <p><span class="pcontent"></span></p>
                                            </div>
                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey" style="margin-bottom:0px !important;">Appetite</p>
                                            </div>
                                            <div class="" style="height:50px;">
                                                <p><span class="pcontent"></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div style="width:98%;">
                                    <div style="width:91%;margin-left:5%;border-left:2px solid black;border-right:2px solid black;">
                                        <div class="ptitle_grey" style="width:100%;display:inline-block;">
                                            <p class="ptitle_nocolor_noborderB">Meals</p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p><span class="ptitle">Breakfast: </span><span class="pcontent"></span></p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p><span class="ptitle">Lunch: </span><span class="pcontent"></span></p>
                                        </div>
                                        <div class="" style="width:100%;height:25px;">
                                            <p><span class="ptitle">Supper: </span><span class="pcontent"></span></p>
                                        </div>
                                    </div>
                                </div>

                                <div style="width:98%;">
                                    <div style="width:91%;margin-left:5%;border-left:2px solid black;border-right:2px solid black;height:25px;">
                                        <div class="text-center" style="width:100%;border-top:2px solid black;">
                                            <p class="ptitle_color_noborderB" style="margin-bottom:0px !important;height:25px;">Elimination</p>
                                        </div>
                                    </div>
                                </div>

                                <div style="width:98%;">
                                    <div style="width:91%;margin-left:5%;border:2px solid black;padding:5px;">
                                        <div style="width:33%;display:inline-block;border:2px solid black;height:100px;vertical-align:top;">
                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey" style="margin-bottom:0px !important;">Bladder</p>
                                            </div>
                                            <div class="">
                                                <p style="margin-bottom:0px !important;display:inline-block;width:90%;height:74px;"><span class="pcontent"></span></p><p style="margin-bottom:0px !important;display:inline-block;border-left:2px solid black;height:74px;vertical-align:top;"><span>&#10004;</span></p>
                                            </div>

                                        </div>

                                        <div style="width:33%;display:inline-block;border:2px solid black;height:100px;vertical-align:top;">
                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey" style="margin-bottom:0px !important;">Bowel</p>
                                            </div>
                                            <div class="">
                                                <p style="margin-bottom:0px !important;display:inline-block;width:90%;height:74px;"><span class="pcontent"></span></p><p style="margin-bottom:0px !important;display:inline-block;border-left:2px solid black;height:74px;vertical-align:top;"><span>&#10004;</span></p>
                                            </div>

                                        </div>

                                        <div style="width:33%;display:inline-block;border:2px solid black;height:100px;vertical-align:top;">
                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey" style="margin-bottom:0px !important;">Continence Products</p>
                                            </div>
                                            <div class="borderB" style="height:25px;">
                                                <p><span class="ptitle">Name/Code:</span><span class="pcontent"></span></p>
                                            </div>
                                            <div class="borderB" style="height:25px;">
                                                <p><span class="ptitle">Continence Products:</span><span class="pcontent"></span></p>
                                            </div>
                                            <div class="" style="height:25px;">
                                                <p><span class="ptitle">Supplier:</span><span class="pcontent"></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div style="width:98%;">
                                    <div style="width:91%;margin-left:5%;border-left:2px solid black;border-right:2px solid black;">

                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p><span class="ptitle">Continence Assessment Completed by: </span><span class="pcontent"></span></p>
                                        </div>
                                        <div class="ptitle_grey text-center" style="width:100%;display:inline-block;">
                                            <p class="ptitle_nocolor_noborderB">Toileting</p>
                                        </div>

                                        <div class="borderB" style="width:100%;height:90px;">
                                            <div style="width:33%;display:inline-block;border-right:2px solid black;padding:5px;vertical-align:top;height:87px;"><div style="border:2px solid black;height:75px;">AAAAAA</div></div>
                                            <div style="width:33%;display:inline-block;border-right:2px solid black;height:87px;">
                                                <div class="borderB" style="height:25px;margin-left:-1%;">
                                                    <p><span class="pcontent"></span></p>
                                                </div>
                                                <div class="borderB" style="height:25px;margin-left:-1%;">
                                                    <p><span class="pcontent"></span></p>
                                                </div>
                                                <div class="" style="height:25px;margin-left:-1%;">
                                                    <p><span class="pcontent"></span></p>
                                                </div>
                                            </div>
                                            <div style="width:32%;display:inline-block;height:87px;">
                                                <div class="borderB" style="height:25px;width:105%;margin-left:-1.5%;">
                                                    <p><span class="pcontent"></span></p>
                                                </div>
                                                <div class="borderB" style="height:25px;width:105%;margin-left:-1.5%;">
                                                    <p><span class="pcontent"></span></p>
                                                </div>
                                                <div class="" style="height:25px;width:105%;margin-left:-1.5%;">
                                                    <p><span class="pcontent"></span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div style="width:98%;">
                                    <div style="width:91%;margin-left:5%;border-left:2px solid black;border-right:2px solid black;">
                                        <div class="ptitle_grey text-center" style="width:100%;display:inline-block;">
                                            <p class="ptitle_nocolor_noborderB">Medication</p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p><span class="ptitle">Administration: </span><span class="pcontent"></span></p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p><span class="ptitle">Completed By: </span><span class="pcontent"></span></p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p><span class="ptitle">Pharmacy: </span><span class="pcontent"></span></p>
                                        </div>
                                        <div class="ptitle_grey text-center" style="width:100%;display:inline-block;border-bottom:none !important;">
                                            <p class="ptitle_nocolor_noborderB">Sensory Abilities</p>
                                        </div>
                                    </div>
                                </div>

                                <div style="width:98%;">
                                    <div style="width:91%;margin-left:5%;border:2px solid black;padding:5px;">
                                        <div style="width:33%;display:inline-block;border:2px solid black;height:100px;vertical-align:top;">
                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey" style="margin-bottom:0px !important;">Vision</p>
                                            </div>
                                            <div class="">
                                                <p><span class="pcontent"></span></p>
                                            </div>

                                        </div>

                                        <div style="width:33%;display:inline-block;border:2px solid black;height:100px;vertical-align:top;">
                                            <div class="text-center" style="width:100%;">
                                                <p class="ptitle_grey" style="margin-bottom:0px !important;">Hearing</p>
                                            </div>
                                            <div class="">
                                                <p><span class="pcontent"></span></p>
                                            </div>
                                        </div>

                                        <div style="width:33%;display:inline-block;border:2px solid black;height:100px;vertical-align:top;">
                                        </div>
                                    </div>
                                </div>

                                <div style="width:98%;">
                                    <div style="width:91%;margin-left:5%;border-left:2px solid black;border-right:2px solid black;">
                                        <div class="ptitle_grey text-center" style="width:100%;display:inline-block;">
                                            <p class="ptitle_nocolor_noborderB">Communication/Speech</p>
                                        </div>
                                    </div>
                                </div>

                                <div style="width:98%;">
                                    <div style="width:91%;margin-left:5%;border:2px solid black;border-top:none !important;padding:5px;">
                                        <div style="width:33%;display:inline-block;border:2px solid black;height:75px;vertical-align:top;">
                                            <div class="borderB" style="width:100%;">
                                                <p><span class="ptitle">Language</span><span class="pcontent"></span></p>
                                            </div>
                                            <div class="">
                                                <p><span class="ptitle">Spoken:</span><span class="pcontent"></span></p>
                                            </div>

                                        </div>

                                        <div style="width:33%;display:inline-block;border:2px solid black;height:75px;vertical-align:top;">
                                            <div class="">
                                                <p style="margin-bottom:0px !important;display:inline-block;width:90%;height:74px;"><span class="pcontent"></span></p><p style="margin-bottom:0px !important;display:inline-block;border-left:2px solid black;height:74px;vertical-align:top;"><span>&#10004;</span></p>
                                            </div>

                                        </div>

                                        <div style="width:33%;display:inline-block;border:2px solid black;height:75px;vertical-align:top;">
                                            <div class="" style="height:75px;">
                                                <p><span class="ptitle">Other:</span><span class="pcontent"></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div style="width:98%;">
                                    <div style="width:91%;margin-left:5%;border-left:2px solid black;border-right:2px solid black;">
                                        <div class="ptitle_grey text-center" style="width:100%;display:inline-block;">
                                            <p class="ptitle_nocolor_noborderB">Wound care</p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p><span class="ptitle">Wound care: </span><span class="pcontent"></span></p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p><span class="ptitle">Assisted by: </span><span class="pcontent"></span></p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p><span class="ptitle">Agency name: </span><span class="pcontent"></span></p>
                                        </div>
                                        <div class="ptitle_grey text-center" style="width:100%;display:inline-block;">
                                            <p class="ptitle">Skin Care</p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p><span class="ptitle">Skin Care: </span><span class="pcontent"></span></p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p><span class="ptitle">Special Treatements: </span><span class="pcontent"></span></p>
                                        </div>
                                        <div class="ptitle_grey text-center" style="width:100%;display:inline-block;">
                                            <p class="ptitle_nocolor_noborderB">Special Needs</p>
                                        </div>
                                    </div>
                                </div>

                                <div style="width:98%;">
                                    <div style="width:91%;margin-left:5%;border:2px solid black;border-top:none !important;padding:5px;">
                                        <div style="width:50%;display:inline-block;border:2px solid black;height:115px;vertical-align:top;">
                                            <div class="ptitle_grey" style="width:100%;display:block;">
                                                <p class="ptitle" style="margin-bottom:0px !important;">O2-Oxygen</p>
                                            </div>
                                            <div class="borderB" style="width:100%;">
                                                <p><span class="ptitle">O2-Oxygen: </span><span class="pcontent"></span></p>
                                            </div>
                                            <div class="borderB" style="width:100%;">
                                                <p><span class="ptitle">Supplier:</span><span class="pcontent"></span></p>
                                            </div>
                                            <div class="" style="width:100%;">
                                                <p><span class="ptitle">Rate (L/min): </span><span class="pcontent"></span></p>
                                            </div>

                                        </div>

                                        <div style="width:49%;display:inline-block;border:2px solid black;height:115px;vertical-align:top;">
                                            <div class="" style="height:100px;">
                                                <p><span class="ptitle">Other:</span><span class="pcontent"></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div style="width:98%;">
                                    <div style="width:91%;margin-left:5%;border:2px solid black;border-top:none !important;padding:5px;">
                                        <div style="width:50%;display:inline-block;border:2px solid black;height:90px;vertical-align:top;">
                                            <div class="ptitle_grey" style="width:100%;display:block;">
                                                <p class="ptitle" style="margin-bottom:0px !important;">CPAP</p>
                                            </div>
                                            <div class="borderB" style="width:100%;">
                                                <p><span class="ptitle">CPAP: </span><span class="pcontent"></span></p>
                                            </div>
                                            <div class="" style="width:100%;">
                                                <p><span class="ptitle">Supplier:</span><span class="pcontent"></span></p>
                                            </div>

                                        </div>

                                        <div style="width:49%;display:inline-block;border:2px solid black;height:90px;vertical-align:top;">
                                            <div class="" style="height:75px;">
                                                <p><span class="ptitle">Other:</span><span class="pcontent"></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div style="width:98%;">
                                    <div style="width:91%;margin-left:5%;border-left:2px solid black;border-right:2px solid black;">
                                        <div class="ptitle_grey text-center" style="width:100%;display:inline-block;">
                                            <p class="ptitle_nocolor_noborderB">Special Equipment</p>
                                        </div>
                                        <div class="ptitle_grey text-center" style="width:100%;display:inline-block;">
                                            <p class="ptitle_nocolor_noborderB">Special Equipment</p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p style="margin-bottom:0px !important;display:inline-block;width:90%;height:25px;"><span class="pcontent"></span></p><p style="margin-bottom:0px !important;display:inline-block;border-left:2px solid black;height:25px;vertical-align:top;"><span>&#10004;</span></p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p><span class="ptitle">Other: </span><span class="pcontent"></span></p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p><span class="ptitle">Details: </span><span class="pcontent"></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div id="page4">

                                <div style="width:98%;">
                                    <div style="width:91%;margin-left:5%;border-left:2px solid black;border-right:2px solid black;border-top:2px solid black;">
                                        <div class="ptitle_grey text-center" style="width:100%;display:inline-block;">
                                            <p class="ptitle_nocolor_noborderB">Family/Support</p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p><span class="ptitle">Resident Family meeting to be arranged: </span><span class="pcontent"></span></p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p><span class="ptitle">Family Involvement: </span><span class="pcontent"></span></p>
                                        </div>
                                    </div>
                                </div>

                                <div style="width:98%;">
                                    <div style="width:91%;margin-left:5%;border-left:2px solid black;border-right:2px solid black;">
                                        <div class="ptitle_grey text-center" style="width:100%;display:inline-block;">
                                            <p class="ptitle_nocolor_noborderB">Immunization</p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p class="pcontent" style="margin-bottom:0px !important;display:inline-block;width:70%;height:25px;">Mantoux / TB<span class="pcontent"></span></p><p style="margin-bottom:0px !important;display:inline-block;border-left:2px solid black;height:25px;vertical-align:top;"><span></span></p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p class="pcontent" style="margin-bottom:0px !important;display:inline-block;width:70%;height:25px;">Chest X-Ray<span class="pcontent"></span></p><p style="margin-bottom:0px !important;display:inline-block;border-left:2px solid black;height:25px;vertical-align:top;"><span></span></p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p class="pcontent" style="margin-bottom:0px !important;display:inline-block;width:70%;height:25px;">Pneumonia<span class="pcontent"></span></p><p style="margin-bottom:0px !important;display:inline-block;border-left:2px solid black;height:25px;vertical-align:top;"><span></span></p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p class="pcontent" style="margin-bottom:0px !important;display:inline-block;width:70%;height:25px;">Flu Vaccine<span class="pcontent"></span></p><p style="margin-bottom:0px !important;display:inline-block;border-left:2px solid black;height:25px;vertical-align:top;"><span></span></p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p class="pcontent" style="margin-bottom:0px !important;display:inline-block;width:70%;height:25px;">Tetanus<span class="pcontent"></span></p><p style="margin-bottom:0px !important;display:inline-block;border-left:2px solid black;height:25px;vertical-align:top;"><span></span></p>
                                        </div>

                                        <div class="ptitle_grey text-center" style="width:100%;display:inline-block;">
                                            <p class="ptitle_nocolor_noborderB">Infectious Diseases</p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p class="ptitle" style="margin-bottom:0px !important;display:inline-block;width:33%;height:25px;">M.R.S.A:<span class="pcontent"></span></p>
                                            <p class="ptitle" style="margin-bottom:0px !important;display:inline-block;width:33%;border-left:2px solid black;height:25px;vertical-align:top;">Diagnosed:<span class="pcontent"></span></p>
                                            <p class="ptitle" style="margin-bottom:0px !important;display:inline-block;border-left:2px solid black;height:25px;vertical-align:top;">Resolved:<span class="pcontent"></span></p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p class="ptitle" style="margin-bottom:0px !important;display:inline-block;width:33%;height:25px;">V.R.E:<span class="pcontent"></span></p>
                                            <p class="ptitle" style="margin-bottom:0px !important;display:inline-block;width:33%;border-left:2px solid black;height:25px;vertical-align:top;">Diagnosed:<span class="pcontent"></span></p>
                                            <p class="ptitle" style="margin-bottom:0px !important;display:inline-block;border-left:2px solid black;height:25px;vertical-align:top;">Resolved:<span class="pcontent"></span></p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p class="ptitle" style="margin-bottom:0px !important;display:inline-block;width:33%;height:25px;">C-Diff:<span class="pcontent"></span></p>
                                            <p class="ptitle" style="margin-bottom:0px !important;display:inline-block;width:33%;border-left:2px solid black;height:25px;vertical-align:top;">Diagnosed:<span class="pcontent"></span></p>
                                            <p class="ptitle" style="margin-bottom:0px !important;display:inline-block;border-left:2px solid black;height:25px;vertical-align:top;">Resolved:<span class="pcontent"></span></p>
                                        </div>
                                        <div class="borderB" style="width:100%;height:25px;">
                                            <p class="ptitle" style="margin-bottom:0px !important;display:inline-block;width:33%;height:25px;">Other:<span class="pcontent"></span></p>
                                            <p class="ptitle" style="margin-bottom:0px !important;display:inline-block;width:33%;border-left:2px solid black;height:25px;vertical-align:top;">Diagnosed:<span class="pcontent"></span></p>
                                            <p class="ptitle" style="margin-bottom:0px !important;display:inline-block;border-left:2px solid black;height:25px;vertical-align:top;">Resolved:<span class="pcontent"></span></p>
                                        </div>
                                    </div>
                                </div>


                            </div>




                        </div>




                    </div>
                </div>
                <input type="hidden" id="residentid" value="@ViewBag.resident.ID"/>
                <!-- END PLACE PAGE CONTENT HERE -->
            </div>
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->

        @RenderPage("~/Views/Shared/_Footer.cshtml")

        <script>
            function backfunction() {
                var id = $('#residentid').val();
                window.location.href = "/Home/ResidentMenu/?p_ResidentId=" + id;
            }
        </script>
